In [1]:
import pandas as pd
import numpy as np

In [2]:
# Creating links to sources

alaska = "Resources/UnitedStates_Alaska2016.csv"
california = "Resources/California2016.csv"
hawaii = "Resources/Hawaii2016.csv"
oregon = "Resources/Oregon2016.csv"
washington = "Resources/Washington2016.csv"

In [3]:
alaska_pd = pd.read_csv(alaska)
california_pd = pd.read_csv(california)
hawaii_pd = pd.read_csv(hawaii)
oregon_pd = pd.read_csv(oregon)
washington_pd = pd.read_csv(washington)

In [4]:
# Cleaning United States data for Alaska

is_alaska_pd =  alaska_pd['State']=='Alaska, USA'
alaska_clean_pd = alaska_pd[is_alaska_pd]

alaska_clean_pd

,Cleanup ID,Zone,State,Country,GPS,Cleanup Type,Cleanup Date,Group Name,Adults,Children,...,Other Trash (Clean Swell),Condoms,Diapers,Syringes,Tampons/Tampon Applicators,Personal Hygiene (Clean Swell),Foam Pieces,Glass Pieces,Plastic Pieces,Total Items Collected
3777,7933,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.638946699244, -151.47880554199","Land (beach, shoreline and inland)",2016-10-01,CACS Coast Walk,2.0,0.0,...,0,0,0,0,0,0,11,0,7,89.0
3790,7979,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.79925267314, -151.84478759766","Land (beach, shoreline and inland)",2016-10-08,CACS Coast Walk,3.0,0.0,...,0,0,0,0,0,0,1,0,5,42.0
3791,7980,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.664966343958, -151.69200897217","Land (beach, shoreline and inland)",2016-09-18,CACS Coast Walk,1.0,0.0,...,0,0,0,0,0,0,4,0,13,44.0
3793,7982,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.675455223183, -151.40310287476","Land (beach, shoreline and inland)",2016-09-09,CACS Coast Walk,4.0,0.0,...,0,0,0,0,0,0,14,14,21,169.0
3795,7984,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.680048492087, -151.38679504395","Land (beach, shoreline and inland)",2016-09-09,CACS Coast Walk,1.0,0.0,...,0,0,0,0,0,0,10,6,15,87.0
3796,7985,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.680048492087, -151.38679504395","Land (beach, shoreline and inland)",2016-09-13,CACS Coast Walk,4.0,0.0,...,0,0,0,0,0,0,4,8,6,82.0
3798,7987,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.805124026366, -151.06922149658","Land (beach, shoreline and inland)",2016-10-12,CACS Coast Walk,2.0,0.0,...,0,0,0,0,6,0,0,0,1,205.0
3823,8045,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.70932660706, -151.27555847168","Land (beach, shoreline and inland)",2016-09-15,CACS Coast Walk,2.0,0.0,...,0,0,0,0,0,0,0,0,0,0.0
3824,8046,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.638599634294, -151.20414733887","Land (beach, shoreline and inland)",2016-09-23,CACS Coast Walk,13.0,0.0,...,0,0,0,0,1,0,622,7,52,839.0
3825,8048,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.465663719702, -151.53099060059","Watercraft (powerboat, sailboat, kayak or canoe)",2016-09-28,CACS Coast Walk,1.0,0.0,...,0,0,0,0,0,0,0,0,0,1.0
3826,8050,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.675368551681, -151.71569824219","Land (beach, shoreline and inland)",2016-09-09,CACS Coast Walk,2.0,0.0,...,0,0,0,0,0,0,0,0,0,1.0
3827,8051,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.615511759082, -151.44953727722","Land (beach, shoreline and inland)",2016-09-17,CACS Coast Walk,4.0,0.0,...,0,0,0,0,0,0,15,0,4,132.0
3828,8053,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.657596160272, -151.67106628418","Land (beach, shoreline and inland)",2016-10-06,CACS Coast Walk,1.0,0.0,...,0,0,0,0,0,0,0,0,0,1.0
3829,8054,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.602050976581, -151.41280174255","Land (beach, shoreline and inland)",2016-10-07,CACS Coast Walk,1.0,0.0,...,0,1,0,0,0,0,10,10,11,201.0
3841,8079,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.773078044618, -151.86727523804","Land (beach, shoreline and inland)",2016-09-13,CACS Coast Walk,39.0,0.0,...,0,0,0,1,1,0,36,6,83,451.0
3843,8081,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.608738619936, -151.43820762634","Land (beach, shoreline and inland)",2016-09-17,CACS Coast Walk,5.0,2.0,...,0,0,0,0,0,0,67,6,122,1844.0
3844,8082,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.699108161515, -151.11059188843","Land (beach, shoreline and inland)",2016-09-24,CACS Coast Walk,10.0,0.0,...,0,0,0,0,0,0,70,0,32,171.0
3845,8083,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.635042011627, -151.49708747864","Land (beach, shoreline and inland)",2016-09-26,CACS Coast Walk,6.0,15.0,...,0,0,0,0,0,0,69,7,67,614.0
3847,8085,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.633122040309, -151.49876117706","Land (beach, shoreline and inland)",2016-11-04,CACS Coast Walk,5.0,18.0,...,0,0,0,0,1,0,51,45,204,618.0
3848,8086,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.632384395012, -151.49785995483","Land (beach, shoreline and inland)",2016-09-26,CACS Coast Walk,5.0,15.0,...,0,0,3,0,0,0,37,84,94,540.0
3852,8090,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.602061834223, -151.41172885895","Land (beach, shoreline and inland)",2016-09-22,CACS Coast Walk,9.0,22.0,...,0,0,0,0,0,0,54,7,97,472.0
3860,8098,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.609976122295, -151.44361495972","Land (beach, shoreline and inland)",2016-09-20,CACS Coast Walk,8.0,20.0,...,0,0,0,0,0,0,25,17,15,366.0
3862,8100,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.599792510741, -151.41220092773","Land (beach, shoreline and inland)",2016-09-21,CACS Coast Walk,8.0,23.0,...,0,0,0,0,0,0,72,8,72,369.0
3867,8105,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.578698934365, -151.29684448242","Land (beach, shoreline and inland)",2016-10-04,CACS Coast Walk,23.0,0.0,...,0,0,0,0,0,0,161,23,15,245.0
4673,13200,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.639467289941, -151.55570983887","Land (beach, shoreline and inland)",2016-10-04,CACS Coast Walk,3.0,26.0,...,0,0,1,0,0,0,0,8,38,311.0
4675,13203,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.632178285341, -151.49648666382","Land (beach, shoreline and inland)",2016-11-30,CACS Coast Walk,3.0,26.0,...,0,2,0,0,0,0,11,10,15,489.0
4676,13204,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.602311559029, -151.41426086426","Land (beach, shoreline and inland)",2016-10-04,CACS Coast Walk,3.0,26.0,...,0,0,0,0,0,0,227,91,307,1254.0
4678,13207,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.608391242661, -151.43692016602","Land (beach, shoreline and inland)",2016-10-04,CACS Coast Walk,3.0,26.0,...,0,1,2,1,1,0,139,38,303,1084.0
4679,13209,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.603093294252, -151.42541885376","Land (beach, shoreline and inland)",2016-10-04,CACS Coast Walk,3.0,26.0,...,0,0,2,0,0,0,110,72,305,2998.0
5635,15384,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.634261019594, -151.52858734131","Land (beach, shoreline and inland)",2016-09-24,CACS Coast Walk,1.0,0.0,...,0,0,0,0,0,0,17,0,0,64.0

In [5]:
WC_states = [alaska_clean_pd, california_pd, hawaii_pd, oregon_pd, washington_pd]
WC = pd.concat(WC_states)
WC.head()

,Cleanup ID,Zone,State,Country,GPS,Cleanup Type,Cleanup Date,Group Name,Adults,Children,...,Other Trash (Clean Swell),Condoms,Diapers,Syringes,Tampons/Tampon Applicators,Personal Hygiene (Clean Swell),Foam Pieces,Glass Pieces,Plastic Pieces,Total Items Collected
3777,7933,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.638946699244, -151.47880554199","Land (beach, shoreline and inland)",2016-10-01,CACS Coast Walk,2.0,0.0,...,0,0,0,0,0,0,11,0,7,89.0
3790,7979,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.79925267314, -151.84478759766","Land (beach, shoreline and inland)",2016-10-08,CACS Coast Walk,3.0,0.0,...,0,0,0,0,0,0,1,0,5,42.0
3791,7980,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.664966343958, -151.69200897217","Land (beach, shoreline and inland)",2016-09-18,CACS Coast Walk,1.0,0.0,...,0,0,0,0,0,0,4,0,13,44.0
3793,7982,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.675455223183, -151.40310287476","Land (beach, shoreline and inland)",2016-09-09,CACS Coast Walk,4.0,0.0,...,0,0,0,0,0,0,14,14,21,169.0
3795,7984,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.680048492087, -151.38679504395","Land (beach, shoreline and inland)",2016-09-09,CACS Coast Walk,1.0,0.0,...,0,0,0,0,0,0,10,6,15,87.0

In [6]:
WC_edit = WC.drop(columns=['Cleanup ID', 'Zone', 'Country', 'Cleanup Date', 'Group Name', 'Adults', 'Children', 'People'])
WC_edit

,State,GPS,Cleanup Type,Pounds,Miles,# of bags,Cigarette Butts,"Food Wrappers (candy, chips, etc.)",Take Out/Away Containers (Plastic),Take Out/Away Containers (Foam),...,Other Trash (Clean Swell),Condoms,Diapers,Syringes,Tampons/Tampon Applicators,Personal Hygiene (Clean Swell),Foam Pieces,Glass Pieces,Plastic Pieces,Total Items Collected
3777,"Alaska, USA","59.638946699244, -151.47880554199","Land (beach, shoreline and inland)",150.00,4.0000,4.0,2,7,0,0,...,0,0,0,0,0,0,11,0,7,89.0
3790,"Alaska, USA","59.79925267314, -151.84478759766","Land (beach, shoreline and inland)",15.00,1.0000,1.0,4,2,0,0,...,0,0,0,0,0,0,1,0,5,42.0
3791,"Alaska, USA","59.664966343958, -151.69200897217","Land (beach, shoreline and inland)",7.00,2.0000,1.0,0,0,0,0,...,0,0,0,0,0,0,4,0,13,44.0
3793,"Alaska, USA","59.675455223183, -151.40310287476","Land (beach, shoreline and inland)",60.00,2.5000,6.0,0,3,2,0,...,0,0,0,0,0,0,14,14,21,169.0
3795,"Alaska, USA","59.680048492087, -151.38679504395","Land (beach, shoreline and inland)",30.00,1.6000,3.0,0,3,0,0,...,0,0,0,0,0,0,10,6,15,87.0
3796,"Alaska, USA","59.680048492087, -151.38679504395","Land (beach, shoreline and inland)",30.00,0.9000,3.0,0,0,2,0,...,0,0,0,0,0,0,4,8,6,82.0
3798,"Alaska, USA","59.805124026366, -151.06922149658","Land (beach, shoreline and inland)",15.00,0.5000,2.0,0,16,2,0,...,0,0,0,0,6,0,0,0,1,205.0
3823,"Alaska, USA","59.70932660706, -151.27555847168","Land (beach, shoreline and inland)",10.00,1.0000,1.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
3824,"Alaska, USA","59.638599634294, -151.20414733887","Land (beach, shoreline and inland)",40.00,1.0000,4.0,5,23,0,1,...,0,0,0,0,1,0,622,7,52,839.0
3825,"Alaska, USA","59.465663719702, -151.53099060059","Watercraft (powerboat, sailboat, kayak or canoe)",0.00,1.0000,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
3826,"Alaska, USA","59.675368551681, -151.71569824219","Land (beach, shoreline and inland)",10.00,3.0000,1.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
3827,"Alaska, USA","59.615511759082, -151.44953727722","Land (beach, shoreline and inland)",24.00,1.5000,3.0,0,5,1,0,...,0,0,0,0,0,0,15,0,4,132.0
3828,"Alaska, USA","59.657596160272, -151.67106628418","Land (beach, shoreline and inland)",5.00,3.0000,1.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
3829,"Alaska, USA","59.602050976581, -151.41280174255","Land (beach, shoreline and inland)",5.00,0.5000,1.0,36,27,4,1,...,0,1,0,0,0,0,10,10,11,201.0
3841,"Alaska, USA","59.773078044618, -151.86727523804","Land (beach, shoreline and inland)",99.80,0.8000,8.0,54,11,0,4,...,0,0,0,1,1,0,36,6,83,451.0
3843,"Alaska, USA","59.608738619936, -151.43820762634","Land (beach, shoreline and inland)",9.00,1.1200,2.0,499,99,0,0,...,0,0,0,0,0,0,67,6,122,1844.0
3844,"Alaska, USA","59.699108161515, -151.11059188843","Land (beach, shoreline and inland)",118.40,1.0000,6.0,3,0,13,1,...,0,0,0,0,0,0,70,0,32,171.0
3845,"Alaska, USA","59.635042011627, -151.49708747864","Land (beach, shoreline and inland)",38.20,0.5000,4.0,364,15,0,0,...,0,0,0,0,0,0,69,7,67,614.0
3847,"Alaska, USA","59.633122040309, -151.49876117706","Land (beach, shoreline and inland)",107.30,0.5000,4.0,25,23,8,2,...,0,0,0,0,1,0,51,45,204,618.0
3848,"Alaska, USA","59.632384395012, -151.49785995483","Land (beach, shoreline and inland)",30.25,0.5000,6.0,118,40,3,1,...,0,0,3,0,0,0,37,84,94,540.0
3852,"Alaska, USA","59.602061834223, -151.41172885895","Land (beach, shoreline and inland)",54.00,0.5000,4.0,43,48,4,2,...,0,0,0,0,0,0,54,7,97,472.0
3860,"Alaska, USA","59.609976122295, -151.44361495972","Land (beach, shoreline and inland)",111.50,0.5000,5.0,59,24,2,0,...,0,0,0,0,0,0,25,17,15,366.0
3862,"Alaska, USA","59.599792510741, -151.41220092773","Land (beach, shoreline and inland)",103.90,0.5000,3.0,43,51,0,1,...,0,0,0,0,0,0,72,8,72,369.0
3867,"Alaska, USA","59.578698934365, -151.29684448242","Land (beach, shoreline and inland)",33.20,0.5000,2.0,1,7,1,0,...,0,0,0,0,0,0,161,23,15,245.0
4673,"Alaska, USA","59.639467289941, -151.55570983887","Land (beach, shoreline and inland)",115.80,1.0000,7.0,83,41,2,4,...,0,0,1,0,0,0,0,8,38,311.0
4675,"Alaska, USA","59.632178285341, -151.49648666382","Land (beach, shoreline and inland)",115.80,1.0000,7.0,180,58,19,1,...,0,2,0,0,0,0,11,10,15,489.0
4676,"Alaska, USA","59.602311559029, -151.41426086426","Land (beach, shoreline and inland)",115.80,1.0000,7.0,136,171,2,0,...,0,0,0,0,0,0,227,91,307,1254.0
4678,"Alaska, USA","59.608391242661, -151.43692016602","Land (beach, shoreline and inland)",115.80,1.0000,7.0,97,48,8,1,...,0,1,2,1,1,0,139,38,303,1084.0
4679,"Alaska, USA","59.603093294252, -151.42541885376","Land (beach, shoreline and inland)",115.80,1.0000,7.0,1115,423,4,9,...,0,0,2,0,0,0,110,72,305,2998.0
5635,"Alaska, USA","59.634261019594, -151.52858734131","Land (beach, shoreline and inland)",10.00,1.5000,1.0,1,0,0,2,...,0,0,0,0,0,0,17,0,0,64.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,"Washington, USA","47.693284521639, -122.4062025547","Land (beach, shoreline and inland)",6.00,0.5000,1.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,40.0
99,"Washington, USA","48.13513418738, -122.36865162849","Land (beach, shoreline and inland)",24.00,0.5000,2.0,16,7,0,0,...,0,0,1,0,0,0,14,1,12,121.0
100,"Washington, USA","47.880462763372, -122.33325719833","Land (beach, shoreline and inland)",76.00,0.2500,0.0,83,43,7,9,...,0,0,0,0,0,0,41,38,28,512.0
101,"Washington, USA","47.362665098325, -122.21719264984","Land (beach, shoreline and inland)",122.00,0.2500,0.0,92,13,1,1,...,0,1,0,0,0,0,0,70,23,408.0
102,"Washington, USA","47.006099956629, -122.88572788239","Land (beach, shoreline and inland)",46.10,3.0000,2.0,212,29,3,0,...,0,0,2,0,0,0,0,4,59,626.0
103,"Washington, USA","48.120271346203, -122.75196075439","Land (beach, shoreline and inland)",169.00,10.0000,0.0,13,21,6,0,...,0,0,0,0,19,0,106,29,523,921.0
104,"Washington, USA","47.260169937633, -122.43782579899","Land (beach, shoreline and inland)",8.00,0.5000,2.0,10,0,10,0,...,0,0,0,0,0,0,0,0,0,55.0
105,"Washington, USA","47.378517014827, -122.4048614502","Land (beach, shoreline and inland)",15.00,0.5700,1.0,0,0,0,0,...,0,0,0,0,0,0,39,0,0,74.0
106,"Washington, USA","48.321058950176, -122.70325183868","Land (beach, shoreline and inland)",20.00,0.5680,1.0,66,4,0,0,...,0,0,0,0,2,0,35,1,13,178.0
107,"Washington, USA","48.320153825889, -122.84070968628","Land (beach, shoreline and inland)",5.00,1.5000,1.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2.0
108,"Washington, USA","48.124318903378, -122.92799949646","Land (beach, shoreline and inland)",50.00,1.2000,1.0,0,5,0,0,...,0,0,0,0,0,0,0,0,0,47.0
109,"Washington, USA","47.70111, -122.53109","Land (beach, shoreline and inland)",0.20,0.0000,0.0,0,0,0,0,...,2,0,0,0,0,0,0,0,5,8.0
110,"Washington, USA","47.127247635429, -122.69668579102","Land (beach, shoreline and inland)",5.00,0.3800,1.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2.0
111,"Washington, USA","48.564474950791, -122.72219896317","Land (beach, shoreline and inland)",30.00,0.7600,1.0,0,0,0,0,...,0,0,0,0,0,0,4,1,13,53.0
112,"Washington, USA","47.691573391066, -122.40455903113","Land (beach, shoreline and inland)",54.00,0.2500,3.0,1159,98,0,0,...,0,0,0,0,0,0,0,80,0,1671.0
113,"Washington, USA","47.60481, -122.33175","Land (beach, shoreline and inland)",0.09,0.0174,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2.0
114,"Washington, USA","47.615768419113, -122.49858856201","Land (beach, shoreline and inland)",75.00,1.5000,3.0,0,50,10,5,...,0,0,0,0,0,0,0,0,0,367.0
115,"Washington, USA","47.6408729323, -122.5023651123","Land (beach, shoreline and inland)",90.00,0.2500,2.0,2,5,3,2,...,0,0,0,0,0,0,115,1,7,172.0
116,"Washington, USA","47.601996308474, -122.57446289062","Land (beach, shoreline and inland)",30.00,0.5000,1.0,0,4,0,0,...,0,0,0,0,0,0,0,0,6,27.0
117,"Washington, USA","47.697516190511, -122.53944396973","Land (beach, shoreline and inland)",30.00,0.2500,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,20.0
118,"Washington, USA","47.573283112482, -122.50648498535","Land (beach, shoreline and inland)",50.00,1.0000,3.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,50.0
119,"Washington, USA","47.690294705558, -122.56562232971","Land (beach, shoreline and inland)",16000.00,2.0000,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,300.0
120,"Washington, USA","47.155037484628, -122.67538905144","Land (beach, shoreline and inland)",5.00,0.4000,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5.0
121,"Washington, USA","47.40542302284, -122.43974089622","Land (beach, shoreline and inland)",200.00,0.1000,10.0,0,180,1,0,...,0,0,0,0,0,0,24,0,10,1586.0
122,"Washington, USA","48.281807814302, -122.544465065","Land (beach, shoreline and inland)",10.00,1.5000,0.0,0,18,0,0,...,0,0,0,0,1,0,22,2,84,229.0
123,"Washington, USA","47.067410694628, -122.89736330509","Land (beach, shoreline and inland)",10.00,0.2500,0.0,10,130,0,0,...,0,0,0,0,3,0,6,40,0,495.0
124,"Washington, USA","46.813321772191, -124.10378336906","Land (beach, shoreline and inland)",610.00,4.0000,61.0,10,105,18,8,...,0,1,2,0,1,0,54,17,104,1176.0
125,"Washington, USA","46.348838327398, -124.06595349312","Land (beach, shoreline and inland)",1700.00,10.5600,170.0,80,54,16,10,...,0,1,5,0,5,0,123,260,315,1959.0
126,"Washington, USA","46.739293269038, -117.17365264893","Land (beach, shoreline and inland)",29.00,2.0000,3.0,17,148,0,0,...,0,0,0,0,1,0,40,1,451,1288.0
127,NaN,NaN,NaN,NaN,NaN,NaN,13553,5479,326,104,...,671,26,47,25,61,44,7903,4378,11662,NaN

In [7]:
WC_renamed = WC_edit.rename(columns = {"Food Wrappers (candy, chips, etc.)" : "Food Wrappers", 
                                       "Take Out/Away Containers (Plastic)" : "Food Containers (Plastic)", 
                                       "Take Out/Away Containers (Foam)" : "Food Containers (Foam)", 
                                       "Fishing Buoys, Pots & Traps" : "Fishing Tools", "Fishing Net & Pieces" : "Fishing Nets", 
                                       "Fishing Line (1 yard/meter = 1 piece)" : "Fishing Lines", "Rope (1 yard/meter = 1 piece)" : "Rope", 
                                       "Fishing Gear (Clean Swell)" : "Fishing Gear", "Other Plastic Bottles (oil, bleach, etc.)" : "Other Plastic Bottles", 
                                       "Tobacco Packaging/Wrap" : "Tobacco Packs", "Other Packaging (Clean Swell)" : "Other Packaging", 
                                       "Other Trash (Clean Swell)" : "Other Trash", "Personal Hygiene (Clean Swell)" : "Hygiene"})
WC_renamed

,State,GPS,Cleanup Type,Pounds,Miles,# of bags,Cigarette Butts,Food Wrappers,Food Containers (Plastic),Food Containers (Foam),...,Other Trash,Condoms,Diapers,Syringes,Tampons/Tampon Applicators,Hygiene,Foam Pieces,Glass Pieces,Plastic Pieces,Total Items Collected
3777,"Alaska, USA","59.638946699244, -151.47880554199","Land (beach, shoreline and inland)",150.00,4.0000,4.0,2,7,0,0,...,0,0,0,0,0,0,11,0,7,89.0
3790,"Alaska, USA","59.79925267314, -151.84478759766","Land (beach, shoreline and inland)",15.00,1.0000,1.0,4,2,0,0,...,0,0,0,0,0,0,1,0,5,42.0
3791,"Alaska, USA","59.664966343958, -151.69200897217","Land (beach, shoreline and inland)",7.00,2.0000,1.0,0,0,0,0,...,0,0,0,0,0,0,4,0,13,44.0
3793,"Alaska, USA","59.675455223183, -151.40310287476","Land (beach, shoreline and inland)",60.00,2.5000,6.0,0,3,2,0,...,0,0,0,0,0,0,14,14,21,169.0
3795,"Alaska, USA","59.680048492087, -151.38679504395","Land (beach, shoreline and inland)",30.00,1.6000,3.0,0,3,0,0,...,0,0,0,0,0,0,10,6,15,87.0
3796,"Alaska, USA","59.680048492087, -151.38679504395","Land (beach, shoreline and inland)",30.00,0.9000,3.0,0,0,2,0,...,0,0,0,0,0,0,4,8,6,82.0
3798,"Alaska, USA","59.805124026366, -151.06922149658","Land (beach, shoreline and inland)",15.00,0.5000,2.0,0,16,2,0,...,0,0,0,0,6,0,0,0,1,205.0
3823,"Alaska, USA","59.70932660706, -151.27555847168","Land (beach, shoreline and inland)",10.00,1.0000,1.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
3824,"Alaska, USA","59.638599634294, -151.20414733887","Land (beach, shoreline and inland)",40.00,1.0000,4.0,5,23,0,1,...,0,0,0,0,1,0,622,7,52,839.0
3825,"Alaska, USA","59.465663719702, -151.53099060059","Watercraft (powerboat, sailboat, kayak or canoe)",0.00,1.0000,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
3826,"Alaska, USA","59.675368551681, -151.71569824219","Land (beach, shoreline and inland)",10.00,3.0000,1.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
3827,"Alaska, USA","59.615511759082, -151.44953727722","Land (beach, shoreline and inland)",24.00,1.5000,3.0,0,5,1,0,...,0,0,0,0,0,0,15,0,4,132.0
3828,"Alaska, USA","59.657596160272, -151.67106628418","Land (beach, shoreline and inland)",5.00,3.0000,1.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
3829,"Alaska, USA","59.602050976581, -151.41280174255","Land (beach, shoreline and inland)",5.00,0.5000,1.0,36,27,4,1,...,0,1,0,0,0,0,10,10,11,201.0
3841,"Alaska, USA","59.773078044618, -151.86727523804","Land (beach, shoreline and inland)",99.80,0.8000,8.0,54,11,0,4,...,0,0,0,1,1,0,36,6,83,451.0
3843,"Alaska, USA","59.608738619936, -151.43820762634","Land (beach, shoreline and inland)",9.00,1.1200,2.0,499,99,0,0,...,0,0,0,0,0,0,67,6,122,1844.0
3844,"Alaska, USA","59.699108161515, -151.11059188843","Land (beach, shoreline and inland)",118.40,1.0000,6.0,3,0,13,1,...,0,0,0,0,0,0,70,0,32,171.0
3845,"Alaska, USA","59.635042011627, -151.49708747864","Land (beach, shoreline and inland)",38.20,0.5000,4.0,364,15,0,0,...,0,0,0,0,0,0,69,7,67,614.0
3847,"Alaska, USA","59.633122040309, -151.49876117706","Land (beach, shoreline and inland)",107.30,0.5000,4.0,25,23,8,2,...,0,0,0,0,1,0,51,45,204,618.0
3848,"Alaska, USA","59.632384395012, -151.49785995483","Land (beach, shoreline and inland)",30.25,0.5000,6.0,118,40,3,1,...,0,0,3,0,0,0,37,84,94,540.0
3852,"Alaska, USA","59.602061834223, -151.41172885895","Land (beach, shoreline and inland)",54.00,0.5000,4.0,43,48,4,2,...,0,0,0,0,0,0,54,7,97,472.0
3860,"Alaska, USA","59.609976122295, -151.44361495972","Land (beach, shoreline and inland)",111.50,0.5000,5.0,59,24,2,0,...,0,0,0,0,0,0,25,17,15,366.0
3862,"Alaska, USA","59.599792510741, -151.41220092773","Land (beach, shoreline and inland)",103.90,0.5000,3.0,43,51,0,1,...,0,0,0,0,0,0,72,8,72,369.0
3867,"Alaska, USA","59.578698934365, -151.29684448242","Land (beach, shoreline and inland)",33.20,0.5000,2.0,1,7,1,0,...,0,0,0,0,0,0,161,23,15,245.0
4673,"Alaska, USA","59.639467289941, -151.55570983887","Land (beach, shoreline and inland)",115.80,1.0000,7.0,83,41,2,4,...,0,0,1,0,0,0,0,8,38,311.0
4675,"Alaska, USA","59.632178285341, -151.49648666382","Land (beach, shoreline and inland)",115.80,1.0000,7.0,180,58,19,1,...,0,2,0,0,0,0,11,10,15,489.0
4676,"Alaska, USA","59.602311559029, -151.41426086426","Land (beach, shoreline and inland)",115.80,1.0000,7.0,136,171,2,0,...,0,0,0,0,0,0,227,91,307,1254.0
4678,"Alaska, USA","59.608391242661, -151.43692016602","Land (beach, shoreline and inland)",115.80,1.0000,7.0,97,48,8,1,...,0,1,2,1,1,0,139,38,303,1084.0
4679,"Alaska, USA","59.603093294252, -151.42541885376","Land (beach, shoreline and inland)",115.80,1.0000,7.0,1115,423,4,9,...,0,0,2,0,0,0,110,72,305,2998.0
5635,"Alaska, USA","59.634261019594, -151.52858734131","Land (beach, shoreline and inland)",10.00,1.5000,1.0,1,0,0,2,...,0,0,0,0,0,0,17,0,0,64.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,"Washington, USA","47.693284521639, -122.4062025547","Land (beach, shoreline and inland)",6.00,0.5000,1.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,40.0
99,"Washington, USA","48.13513418738, -122.36865162849","Land (beach, shoreline and inland)",24.00,0.5000,2.0,16,7,0,0,...,0,0,1,0,0,0,14,1,12,121.0
100,"Washington, USA","47.880462763372, -122.33325719833","Land (beach, shoreline and inland)",76.00,0.2500,0.0,83,43,7,9,...,0,0,0,0,0,0,41,38,28,512.0
101,"Washington, USA","47.362665098325, -122.21719264984","Land (beach, shoreline and inland)",122.00,0.2500,0.0,92,13,1,1,...,0,1,0,0,0,0,0,70,23,408.0
102,"Washington, USA","47.006099956629, -122.88572788239","Land (beach, shoreline and inland)",46.10,3.0000,2.0,212,29,3,0,...,0,0,2,0,0,0,0,4,59,626.0
103,"Washington, USA","48.120271346203, -122.75196075439","Land (beach, shoreline and inland)",169.00,10.0000,0.0,13,21,6,0,...,0,0,0,0,19,0,106,29,523,921.0
104,"Washington, USA","47.260169937633, -122.43782579899","Land (beach, shoreline and inland)",8.00,0.5000,2.0,10,0,10,0,...,0,0,0,0,0,0,0,0,0,55.0
105,"Washington, USA","47.378517014827, -122.4048614502","Land (beach, shoreline and inland)",15.00,0.5700,1.0,0,0,0,0,...,0,0,0,0,0,0,39,0,0,74.0
106,"Washington, USA","48.321058950176, -122.70325183868","Land (beach, shoreline and inland)",20.00,0.5680,1.0,66,4,0,0,...,0,0,0,0,2,0,35,1,13,178.0
107,"Washington, USA","48.320153825889, -122.84070968628","Land (beach, shoreline and inland)",5.00,1.5000,1.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2.0
108,"Washington, USA","48.124318903378, -122.92799949646","Land (beach, shoreline and inland)",50.00,1.2000,1.0,0,5,0,0,...,0,0,0,0,0,0,0,0,0,47.0
109,"Washington, USA","47.70111, -122.53109","Land (beach, shoreline and inland)",0.20,0.0000,0.0,0,0,0,0,...,2,0,0,0,0,0,0,0,5,8.0
110,"Washington, USA","47.127247635429, -122.69668579102","Land (beach, shoreline and inland)",5.00,0.3800,1.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2.0
111,"Washington, USA","48.564474950791, -122.72219896317","Land (beach, shoreline and inland)",30.00,0.7600,1.0,0,0,0,0,...,0,0,0,0,0,0,4,1,13,53.0
112,"Washington, USA","47.691573391066, -122.40455903113","Land (beach, shoreline and inland)",54.00,0.2500,3.0,1159,98,0,0,...,0,0,0,0,0,0,0,80,0,1671.0
113,"Washington, USA","47.60481, -122.33175","Land (beach, shoreline and inland)",0.09,0.0174,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2.0
114,"Washington, USA","47.615768419113, -122.49858856201","Land (beach, shoreline and inland)",75.00,1.5000,3.0,0,50,10,5,...,0,0,0,0,0,0,0,0,0,367.0
115,"Washington, USA","47.6408729323, -122.5023651123","Land (beach, shoreline and inland)",90.00,0.2500,2.0,2,5,3,2,...,0,0,0,0,0,0,115,1,7,172.0
116,"Washington, USA","47.601996308474, -122.57446289062","Land (beach, shoreline and inland)",30.00,0.5000,1.0,0,4,0,0,...,0,0,0,0,0,0,0,0,6,27.0
117,"Washington, USA","47.697516190511, -122.53944396973","Land (beach, shoreline and inland)",30.00,0.2500,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,20.0
118,"Washington, USA","47.573283112482, -122.50648498535","Land (beach, shoreline and inland)",50.00,1.0000,3.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,50.0
119,"Washington, USA","47.690294705558, -122.56562232971","Land (beach, shoreline and inland)",16000.00,2.0000,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,300.0
120,"Washington, USA","47.155037484628, -122.67538905144","Land (beach, shoreline and inland)",5.00,0.4000,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5.0
121,"Washington, USA","47.40542302284, -122.43974089622","Land (beach, shoreline and inland)",200.00,0.1000,10.0,0,180,1,0,...,0,0,0,0,0,0,24,0,10,1586.0
122,"Washington, USA","48.281807814302, -122.544465065","Land (beach, shoreline and inland)",10.00,1.5000,0.0,0,18,0,0,...,0,0,0,0,1,0,22,2,84,229.0
123,"Washington, USA","47.067410694628, -122.89736330509","Land (beach, shoreline and inland)",10.00,0.2500,0.0,10,130,0,0,...,0,0,0,0,3,0,6,40,0,495.0
124,"Washington, USA","46.813321772191, -124.10378336906","Land (beach, shoreline and inland)",610.00,4.0000,61.0,10,105,18,8,...,0,1,2,0,1,0,54,17,104,1176.0
125,"Washington, USA","46.348838327398, -124.06595349312","Land (beach, shoreline and inland)",1700.00,10.5600,170.0,80,54,16,10,...,0,1,5,0,5,0,123,260,315,1959.0
126,"Washington, USA","46.739293269038, -117.17365264893","Land (beach, shoreline and inland)",29.00,2.0000,3.0,17,148,0,0,...,0,0,0,0,1,0,40,1,451,1288.0
127,NaN,NaN,NaN,NaN,NaN,NaN,13553,5479,326,104,...,671,26,47,25,61,44,7903,4378,11662,NaN

In [8]:
# Group all our plastic items and then call them into a data frame together based by State
plastic_group = WC_renamed[["State", "Food Containers (Plastic)", "Bottle Caps (Plastic)", "Lids (Plastic)", "Straws, Stirrers",
                                          "Beverage Bottles (Plastic)", "Grocery Bags (Plastic)", "Other Plastic Bags",
                                          "Cups, Plates (Plastic)", "6-Pack Holders", "Other Plastic Bottles", "Condoms", "Plastic Pieces"]]
plastic_group.head()

,State,Food Containers (Plastic),Bottle Caps (Plastic),Lids (Plastic),"Straws, Stirrers",Beverage Bottles (Plastic),Grocery Bags (Plastic),Other Plastic Bags,"Cups, Plates (Plastic)",6-Pack Holders,Other Plastic Bottles,Condoms,Plastic Pieces
3777,"Alaska, USA",0,0,1,0,4,4,1,0,0,0,0,7
3790,"Alaska, USA",0,0,5,0,3,0,0,0,0,2,0,5
3791,"Alaska, USA",0,1,0,0,13,0,0,2,0,0,0,13
3793,"Alaska, USA",2,2,2,0,2,8,5,1,0,1,0,21
3795,"Alaska, USA",0,0,1,0,0,3,2,0,0,0,0,15

In [9]:
plastic_grouping = plastic_group.groupby(["State"])
WC_plastic_count = plastic_grouping.sum()
WC_plastic_count.head()

,Food Containers (Plastic),Bottle Caps (Plastic),Lids (Plastic),"Straws, Stirrers",Beverage Bottles (Plastic),Grocery Bags (Plastic),Other Plastic Bags,"Cups, Plates (Plastic)",6-Pack Holders,Other Plastic Bottles,Condoms,Plastic Pieces
State,,,,,,,,,,,,
"Alaska, USA",77,215,102,238,231,130,254,110,7,34,4,1904
"California, USA",11300,44188,11736,20748,18855,14254,13226,8638,830,1767,890,136316
"Hawaii, USA",1435,6596,1400,1682,2076,958,1525,1026,107,428,27,22586
"Oregon, USA",345,996,504,558,563,349,191,117,54,37,12,2959
"Washington, USA",326,1934,566,903,1363,568,709,253,37,64,26,11662

In [10]:
# Create a Subtotal Column for Plastics collected in the data frame
WC_plastic_count["Plastic Waste"]  = WC_plastic_count.sum(axis=1)
WC_plastic_count

,Food Containers (Plastic),Bottle Caps (Plastic),Lids (Plastic),"Straws, Stirrers",Beverage Bottles (Plastic),Grocery Bags (Plastic),Other Plastic Bags,"Cups, Plates (Plastic)",6-Pack Holders,Other Plastic Bottles,Condoms,Plastic Pieces,Plastic Waste
State,,,,,,,,,,,,,
"Alaska, USA",77,215,102,238,231,130,254,110,7,34,4,1904,3306
"California, USA",11300,44188,11736,20748,18855,14254,13226,8638,830,1767,890,136316,282748
"Hawaii, USA",1435,6596,1400,1682,2076,958,1525,1026,107,428,27,22586,39846
"Oregon, USA",345,996,504,558,563,349,191,117,54,37,12,2959,6685
"Washington, USA",326,1934,566,903,1363,568,709,253,37,64,26,11662,18411

In [11]:
# Before grouping all the foam together, call forward all foam items
WC_group = WC_renamed[["State", "Food Containers (Foam)", "Cups, Plates (Foam)", "Other Plastic/Foam Packaging", "Foam Pieces"]]
WC_group

,State,Food Containers (Foam),"Cups, Plates (Foam)",Other Plastic/Foam Packaging,Foam Pieces
3777,"Alaska, USA",0,0,5,11
3790,"Alaska, USA",0,0,7,1
3791,"Alaska, USA",0,0,0,4
3793,"Alaska, USA",0,0,2,14
3795,"Alaska, USA",0,0,0,10
3796,"Alaska, USA",0,0,2,4
3798,"Alaska, USA",0,0,1,0
3823,"Alaska, USA",0,0,0,0
3824,"Alaska, USA",1,0,15,622
3825,"Alaska, USA",0,0,0,0
3826,"Alaska, USA",0,0,0,0
3827,"Alaska, USA",0,1,20,15
3828,"Alaska, USA",0,0,0,0
3829,"Alaska, USA",1,1,7,10
3841,"Alaska, USA",4,1,6,36
3843,"Alaska, USA",0,1,12,67
3844,"Alaska, USA",1,3,15,70
3845,"Alaska, USA",0,1,11,69
3847,"Alaska, USA",2,3,14,51
3848,"Alaska, USA",1,0,2,37
3852,"Alaska, USA",2,2,11,54
3860,"Alaska, USA",0,3,9,25
3862,"Alaska, USA",1,5,9,72
3867,"Alaska, USA",0,1,1,161
4673,"Alaska, USA",4,2,29,0
4675,"Alaska, USA",1,1,19,11
4676,"Alaska, USA",0,0,30,227
4678,"Alaska, USA",1,8,18,139
4679,"Alaska, USA",9,4,29,110
5635,"Alaska, USA",2,1,0,17
...,...,...,...,...,...
98,"Washington, USA",0,0,0,0
99,"Washington, USA",0,0,28,14
100,"Washington, USA",9,1,21,41
101,"Washington, USA",1,1,3,0
102,"Washington, USA",0,0,6,0
103,"Washington, USA",0,0,10,106
104,"Washington, USA",0,0,0,0
105,"Washington, USA",0,1,2,39
106,"Washington, USA",0,0,8,35
107,"Washington, USA",0,0,0,0
108,"Washington, USA",0,0,8,0
109,"Washington, USA",0,0,0,0
110,"Washington, USA",0,0,0,0
111,"Washington, USA",0,0,3,4
112,"Washington, USA",0,3,0,0
113,"Washington, USA",0,0,0,0
114,"Washington, USA",5,0,5,0
115,"Washington, USA",2,1,0,115
116,"Washington, USA",0,0,0,0
117,"Washington, USA",0,0,0,0
118,"Washington, USA",0,0,0,0
119,"Washington, USA",0,0,0,0
120,"Washington, USA",0,0,0,0
121,"Washington, USA",0,0,1112,24
122,"Washington, USA",0,1,1,22
123,"Washington, USA",0,0,20,6
124,"Washington, USA",8,14,21,54
125,"Washington, USA",10,10,20,123
126,"Washington, USA",0,10,256,40
127,NaN,104,102,2671,7903

In [12]:
# Grouping foam pieces together
foam_group = WC_group.groupby(["State"])
WC_foam_counts = foam_group.sum()
WC_foam_counts

,Food Containers (Foam),"Cups, Plates (Foam)",Other Plastic/Foam Packaging,Foam Pieces
State,,,,
"Alaska, USA",30,38,274,1837
"California, USA",6528,4243,14819,69747
"Hawaii, USA",754,463,3801,5228
"Oregon, USA",229,54,334,2159
"Washington, USA",104,102,2671,7903

In [13]:
# Create a Subtotal Column for Foam Items collected in the data frame
WC_foam_counts["Foam Waste"]  = WC_foam_counts.sum(axis=1)
WC_foam_counts

,Food Containers (Foam),"Cups, Plates (Foam)",Other Plastic/Foam Packaging,Foam Pieces,Foam Waste
State,,,,,
"Alaska, USA",30,38,274,1837,2179
"California, USA",6528,4243,14819,69747,95337
"Hawaii, USA",754,463,3801,5228,10246
"Oregon, USA",229,54,334,2159,2776
"Washington, USA",104,102,2671,7903,10780

In [14]:
# Repeating the same process, now we'll group the fishing 
WC_fishing = WC_renamed[["State", "Fishing Tools", "Fishing Nets", "Fishing Lines", "Fishing Gear", "Rope"]]
WC_fishing

,State,Fishing Tools,Fishing Nets,Fishing Lines,Fishing Gear,Rope
3777,"Alaska, USA",5,1,4,0,1
3790,"Alaska, USA",1,1,1,0,1
3791,"Alaska, USA",3,0,6,0,0
3793,"Alaska, USA",1,0,45,0,0
3795,"Alaska, USA",1,0,25,0,0
3796,"Alaska, USA",0,0,0,0,20
3798,"Alaska, USA",0,0,0,0,1
3823,"Alaska, USA",0,0,0,0,0
3824,"Alaska, USA",1,0,0,0,6
3825,"Alaska, USA",0,0,0,0,0
3826,"Alaska, USA",0,0,0,0,0
3827,"Alaska, USA",5,1,4,0,3
3828,"Alaska, USA",0,0,0,0,0
3829,"Alaska, USA",0,2,7,0,0
3841,"Alaska, USA",2,4,12,0,10
3843,"Alaska, USA",0,0,957,0,5
3844,"Alaska, USA",1,0,0,0,9
3845,"Alaska, USA",0,2,1,0,7
3847,"Alaska, USA",2,2,0,0,11
3848,"Alaska, USA",0,1,1,0,4
3852,"Alaska, USA",3,3,17,0,19
3860,"Alaska, USA",9,8,48,0,9
3862,"Alaska, USA",1,3,16,0,3
3867,"Alaska, USA",0,0,0,0,2
4673,"Alaska, USA",0,0,1,0,5
4675,"Alaska, USA",0,1,5,0,2
4676,"Alaska, USA",0,9,5,0,15
4678,"Alaska, USA",5,1,87,0,8
4679,"Alaska, USA",2,20,2,0,7
5635,"Alaska, USA",0,0,0,0,6
...,...,...,...,...,...,...
98,"Washington, USA",0,0,0,0,0
99,"Washington, USA",0,0,3,0,0
100,"Washington, USA",1,4,4,0,0
101,"Washington, USA",0,0,10,0,1
102,"Washington, USA",0,0,0,0,0
103,"Washington, USA",1,2,9,0,5
104,"Washington, USA",0,0,0,0,0
105,"Washington, USA",0,0,0,0,0
106,"Washington, USA",0,0,0,0,0
107,"Washington, USA",1,0,0,0,0
108,"Washington, USA",6,5,0,0,8
109,"Washington, USA",0,0,0,0,0
110,"Washington, USA",0,0,0,0,0
111,"Washington, USA",2,0,0,0,5
112,"Washington, USA",0,0,0,0,0
113,"Washington, USA",0,0,0,0,0
114,"Washington, USA",0,0,0,0,3
115,"Washington, USA",1,2,1,0,5
116,"Washington, USA",1,0,0,0,2
117,"Washington, USA",0,3,0,0,15
118,"Washington, USA",0,1,0,0,2
119,"Washington, USA",0,0,0,0,0
120,"Washington, USA",0,1,0,0,0
121,"Washington, USA",2,29,0,0,20
122,"Washington, USA",0,0,0,0,3
123,"Washington, USA",0,5,0,0,0
124,"Washington, USA",7,34,3,0,33
125,"Washington, USA",4,29,154,0,68
126,"Washington, USA",0,0,4,0,4
127,NaN,99,186,345,97,487

In [15]:
# Grouping Foam Pieces together
fishing_group = WC_fishing.groupby(["State"])
WC_fishing_counts = fishing_group.sum()
WC_fishing_counts

,Fishing Tools,Fishing Nets,Fishing Lines,Fishing Gear,Rope
State,,,,,
"Alaska, USA",42,59,1244,0,154
"California, USA",736,1271,4887,1250,2079
"Hawaii, USA",605,1405,1698,265,2528
"Oregon, USA",44,74,93,13,190
"Washington, USA",99,186,345,97,487

In [16]:
# Create a Subtotal Column for Plastics collected in the data frame
WC_fishing_counts["Fisherman's Waste"]  = WC_fishing_counts.sum(axis=1)
WC_fishing_counts

,Fishing Tools,Fishing Nets,Fishing Lines,Fishing Gear,Rope,Fisherman's Waste
State,,,,,,
"Alaska, USA",42,59,1244,0,154,1499
"California, USA",736,1271,4887,1250,2079,10223
"Hawaii, USA",605,1405,1698,265,2528,6501
"Oregon, USA",44,74,93,13,190,414
"Washington, USA",99,186,345,97,487,1214

In [17]:
# Same process with Misc
random_mess = WC_renamed[["State", "Strapping Bands", "Other Packaging", "Other Trash", "Fireworks", 
                          "Appliances (refrigerators, washers, etc.)", "# of bags", "Construction Materials", "Tires", 
                          "Toys", "Diapers", "Syringes", "Tampons/Tampon Applicators", "Hygiene", "Glass Pieces"]]
random_mess

,State,Strapping Bands,Other Packaging,Other Trash,Fireworks,"Appliances (refrigerators, washers, etc.)",# of bags,Construction Materials,Tires,Toys,Diapers,Syringes,Tampons/Tampon Applicators,Hygiene,Glass Pieces
3777,"Alaska, USA",1,0,0,1,0,4.0,9,5,0,0,0,0,0,0
3790,"Alaska, USA",0,0,0,0,0,1.0,0,0,0,0,0,0,0,0
3791,"Alaska, USA",0,0,0,0,0,1.0,0,0,0,0,0,0,0,0
3793,"Alaska, USA",2,0,0,0,0,6.0,2,0,0,0,0,0,0,14
3795,"Alaska, USA",1,0,0,0,0,3.0,2,0,0,0,0,0,0,6
3796,"Alaska, USA",1,0,0,0,0,3.0,0,0,0,0,0,0,0,8
3798,"Alaska, USA",0,0,0,0,0,2.0,0,0,0,0,0,6,0,0
3823,"Alaska, USA",0,0,0,0,0,1.0,0,0,0,0,0,0,0,0
3824,"Alaska, USA",1,0,0,0,0,4.0,69,0,0,0,0,1,0,7
3825,"Alaska, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
3826,"Alaska, USA",0,0,0,0,0,1.0,0,1,0,0,0,0,0,0
3827,"Alaska, USA",1,0,0,0,0,3.0,8,1,1,0,0,0,0,0
3828,"Alaska, USA",0,0,0,0,0,1.0,0,0,0,0,0,0,0,0
3829,"Alaska, USA",4,0,0,1,0,1.0,17,0,0,0,0,0,0,10
3841,"Alaska, USA",1,0,0,1,0,8.0,35,0,0,0,1,1,0,6
3843,"Alaska, USA",9,0,0,0,1,2.0,1,0,0,0,0,0,0,6
3844,"Alaska, USA",3,0,0,0,0,6.0,6,0,3,0,0,0,0,0
3845,"Alaska, USA",1,0,0,0,0,4.0,15,0,0,0,0,0,0,7
3847,"Alaska, USA",8,0,0,1,2,4.0,16,0,0,0,0,1,0,45
3848,"Alaska, USA",7,0,0,0,0,6.0,43,0,0,3,0,0,0,84
3852,"Alaska, USA",3,0,0,0,0,4.0,58,0,0,0,0,0,0,7
3860,"Alaska, USA",1,0,0,0,0,5.0,40,3,0,0,0,0,0,17
3862,"Alaska, USA",3,0,0,0,0,3.0,23,0,1,0,0,0,0,8
3867,"Alaska, USA",1,0,0,0,0,2.0,18,0,0,0,0,0,0,23
4673,"Alaska, USA",0,0,0,0,0,7.0,8,0,0,1,0,0,0,8
4675,"Alaska, USA",3,0,0,1,0,7.0,4,0,0,0,0,0,0,10
4676,"Alaska, USA",10,0,0,0,0,7.0,47,0,0,0,0,0,0,91
4678,"Alaska, USA",9,0,0,0,0,7.0,62,1,0,2,1,1,0,38
4679,"Alaska, USA",5,0,0,0,0,7.0,394,0,0,2,0,0,0,72
5635,"Alaska, USA",0,0,0,1,0,1.0,13,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,"Washington, USA",0,0,0,10,0,1.0,0,0,0,0,0,0,0,0
99,"Washington, USA",0,0,0,6,0,2.0,0,0,0,1,0,0,0,1
100,"Washington, USA",4,0,0,0,0,0.0,5,0,0,0,0,0,0,38
101,"Washington, USA",0,0,0,7,0,0.0,1,1,1,0,0,0,0,70
102,"Washington, USA",0,0,0,0,0,2.0,7,0,0,2,0,0,0,4
103,"Washington, USA",17,0,0,4,7,0.0,8,0,0,0,0,19,0,29
104,"Washington, USA",0,0,0,0,0,2.0,0,0,0,0,0,0,0,0
105,"Washington, USA",0,0,0,0,0,1.0,2,0,0,0,0,0,0,0
106,"Washington, USA",1,0,0,0,0,1.0,20,0,0,0,0,2,0,1
107,"Washington, USA",0,0,0,0,0,1.0,0,0,0,0,0,0,0,0
108,"Washington, USA",0,0,0,0,0,1.0,1,3,0,0,0,0,0,0
109,"Washington, USA",0,0,2,0,0,0.0,0,0,0,0,0,0,0,0
110,"Washington, USA",0,0,0,0,0,1.0,1,0,0,0,0,0,0,0
111,"Washington, USA",0,0,0,0,0,1.0,14,0,0,0,0,0,0,1
112,"Washington, USA",0,0,0,0,0,3.0,0,0,0,0,0,0,0,80
113,"Washington, USA",0,1,0,0,0,0.0,0,0,0,0,0,0,0,0
114,"Washington, USA",0,0,0,1,0,3.0,20,1,0,0,0,0,0,0
115,"Washington, USA",0,0,0,0,0,2.0,0,5,0,0,0,0,0,1
116,"Washington, USA",0,0,0,0,0,1.0,0,1,0,0,0,0,0,0
117,"Washington, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
118,"Washington, USA",0,0,0,0,0,3.0,36,1,0,0,0,0,0,0
119,"Washington, USA",0,0,0,0,0,0.0,300,0,0,0,0,0,0,0
120,"Washington, USA",0,0,0,0,0,0.0,1,0,0,0,0,0,0,0
121,"Washington, USA",0,0,0,0,0,10.0,56,0,0,0,0,0,0,0
122,"Washington, USA",4,0,0,30,0,0.0,0,0,0,0,0,1,0,2
123,"Washington, USA",0,0,0,0,0,0.0,0,3,0,0,0,3,0,40
124,"Washington, USA",5,0,0,100,0,61.0,17,5,0,2,0,1,0,17
125,"Washington, USA",14,0,0,301,0,170.0,9,6,1,5,0,5,0,260
126,"Washington, USA",15,0,0,0,2,3.0,29,0,102,0,0,1,0,1
127,NaN,464,95,671,624,27,NaN,962,60,195,47,25,61,44,4378

In [18]:
random_trash = random_mess.groupby(["State"])
WC_misc_waste = random_trash.sum()
WC_misc_waste

,Strapping Bands,Other Packaging,Other Trash,Fireworks,"Appliances (refrigerators, washers, etc.)",# of bags,Construction Materials,Tires,Toys,Diapers,Syringes,Tampons/Tampon Applicators,Hygiene,Glass Pieces
State,,,,,,,,,,,,,,
"Alaska, USA",75,0,0,6,3,111.0,890,11,5,8,2,10,0,467
"California, USA",3504,2518,14627,1395,474,6439.0,6946,619,1238,582,1124,1324,1393,40597
"Hawaii, USA",578,139,236,289,75,789.0,1028,90,43,65,52,76,45,9321
"Oregon, USA",64,21,29,120,0,47.0,256,153,13,10,31,16,2,571
"Washington, USA",464,95,671,624,27,490.0,962,60,195,47,25,61,44,4378

In [19]:
# Create a Subtotal Column for Miscellaneous items collected in the data frame
WC_misc_waste["Miscellaneous Waste Items"] = WC_misc_waste.sum(axis=1)
WC_misc_waste

,Strapping Bands,Other Packaging,Other Trash,Fireworks,"Appliances (refrigerators, washers, etc.)",# of bags,Construction Materials,Tires,Toys,Diapers,Syringes,Tampons/Tampon Applicators,Hygiene,Glass Pieces,Miscellaneous Waste Items
State,,,,,,,,,,,,,,,
"Alaska, USA",75,0,0,6,3,111.0,890,11,5,8,2,10,0,467,1588.0
"California, USA",3504,2518,14627,1395,474,6439.0,6946,619,1238,582,1124,1324,1393,40597,82780.0
"Hawaii, USA",578,139,236,289,75,789.0,1028,90,43,65,52,76,45,9321,12826.0
"Oregon, USA",64,21,29,120,0,47.0,256,153,13,10,31,16,2,571,1333.0
"Washington, USA",464,95,671,624,27,490.0,962,60,195,47,25,61,44,4378,8143.0

In [20]:
WC_smoking_waste = WC_renamed[["State", "Cigarette Butts", "Tobacco Packs", "Cigar Tips", "Cigarette Lighters", ]]
WC_smoking_waste

,State,Cigarette Butts,Tobacco Packs,Cigar Tips,Cigarette Lighters
3777,"Alaska, USA",2,0,0,0
3790,"Alaska, USA",4,0,0,0
3791,"Alaska, USA",0,0,0,0
3793,"Alaska, USA",0,0,0,0
3795,"Alaska, USA",0,0,0,0
3796,"Alaska, USA",0,0,0,0
3798,"Alaska, USA",0,0,0,0
3823,"Alaska, USA",0,0,0,0
3824,"Alaska, USA",5,0,0,0
3825,"Alaska, USA",0,0,0,0
3826,"Alaska, USA",0,0,0,0
3827,"Alaska, USA",0,0,0,0
3828,"Alaska, USA",1,0,0,0
3829,"Alaska, USA",36,1,0,3
3841,"Alaska, USA",54,4,20,2
3843,"Alaska, USA",499,4,3,0
3844,"Alaska, USA",3,0,0,1
3845,"Alaska, USA",364,0,1,0
3847,"Alaska, USA",25,0,1,0
3848,"Alaska, USA",118,2,2,0
3852,"Alaska, USA",43,11,0,1
3860,"Alaska, USA",59,3,5,0
3862,"Alaska, USA",43,0,1,2
3867,"Alaska, USA",1,0,0,0
4673,"Alaska, USA",83,0,0,0
4675,"Alaska, USA",180,4,1,0
4676,"Alaska, USA",136,0,16,2
4678,"Alaska, USA",97,0,22,2
4679,"Alaska, USA",1115,3,3,0
5635,"Alaska, USA",1,0,0,0
...,...,...,...,...,...
98,"Washington, USA",0,0,0,0
99,"Washington, USA",16,1,0,0
100,"Washington, USA",83,4,0,0
101,"Washington, USA",92,0,0,0
102,"Washington, USA",212,6,0,2
103,"Washington, USA",13,4,1,1
104,"Washington, USA",10,0,0,0
105,"Washington, USA",0,0,0,2
106,"Washington, USA",66,0,0,1
107,"Washington, USA",0,0,0,0
108,"Washington, USA",0,0,0,0
109,"Washington, USA",0,0,0,0
110,"Washington, USA",0,0,0,0
111,"Washington, USA",0,0,0,0
112,"Washington, USA",1159,6,0,2
113,"Washington, USA",0,0,0,0
114,"Washington, USA",0,10,0,0
115,"Washington, USA",2,1,0,0
116,"Washington, USA",0,0,0,0
117,"Washington, USA",0,0,0,0
118,"Washington, USA",0,0,0,0
119,"Washington, USA",0,0,0,0
120,"Washington, USA",0,0,0,0
121,"Washington, USA",0,1,0,3
122,"Washington, USA",0,2,1,1
123,"Washington, USA",10,6,0,0
124,"Washington, USA",10,11,0,4
125,"Washington, USA",80,40,2,1
126,"Washington, USA",17,10,0,0
127,NaN,13553,365,168,64

In [21]:
smoking_waste_group = WC_smoking_waste.groupby(["State"])
WC_smoking_waste_counts = smoking_waste_group.sum()
WC_smoking_waste_counts

,Cigarette Butts,Tobacco Packs,Cigar Tips,Cigarette Lighters
State,,,,
"Alaska, USA",2869,32,75,13
"California, USA",199116,4967,4968,1545
"Hawaii, USA",28822,593,313,169
"Oregon, USA",5996,267,49,43
"Washington, USA",13553,365,168,64

In [22]:
# Create a Subtotal Column for Plastics collected in the data frame
WC_smoking_waste_counts["Smoking Waste Items"]  = WC_smoking_waste_counts.sum(axis=1)
WC_smoking_waste_counts

,Cigarette Butts,Tobacco Packs,Cigar Tips,Cigarette Lighters,Smoking Waste Items
State,,,,,
"Alaska, USA",2869,32,75,13,2989
"California, USA",199116,4967,4968,1545,210596
"Hawaii, USA",28822,593,313,169,29897
"Oregon, USA",5996,267,49,43,6355
"Washington, USA",13553,365,168,64,14150

In [23]:
food_mess = WC_renamed[["State", "Food Wrappers", "Forks, Knives, Spoons", "Bottle Caps (Metal)", "Beverage Cans", 
                        "Paper Bags", "Cups, Plates (Paper)"]]
food_mess

,State,Food Wrappers,"Forks, Knives, Spoons",Bottle Caps (Metal),Beverage Cans,Paper Bags,"Cups, Plates (Paper)"
3777,"Alaska, USA",7,0,0,16,0,2
3790,"Alaska, USA",2,0,0,7,0,0
3791,"Alaska, USA",0,0,0,2,0,0
3793,"Alaska, USA",3,0,3,33,0,0
3795,"Alaska, USA",3,0,2,16,0,0
3796,"Alaska, USA",0,0,1,17,0,0
3798,"Alaska, USA",16,2,27,84,0,0
3823,"Alaska, USA",0,0,0,0,0,0
3824,"Alaska, USA",23,1,1,5,0,1
3825,"Alaska, USA",0,0,0,0,0,0
3826,"Alaska, USA",0,0,0,0,0,0
3827,"Alaska, USA",5,0,0,16,0,1
3828,"Alaska, USA",0,0,0,0,0,0
3829,"Alaska, USA",27,1,0,6,5,5
3841,"Alaska, USA",11,2,10,52,2,6
3843,"Alaska, USA",99,2,8,6,1,2
3844,"Alaska, USA",0,0,0,5,0,0
3845,"Alaska, USA",15,2,2,7,5,2
3847,"Alaska, USA",23,4,22,17,17,3
3848,"Alaska, USA",40,6,23,14,6,5
3852,"Alaska, USA",48,1,8,13,5,1
3860,"Alaska, USA",24,0,19,4,0,1
3862,"Alaska, USA",51,2,8,8,2,0
3867,"Alaska, USA",7,0,0,2,0,0
4673,"Alaska, USA",41,0,7,12,8,5
4675,"Alaska, USA",58,2,16,22,8,17
4676,"Alaska, USA",171,8,29,20,5,10
4678,"Alaska, USA",48,1,12,36,19,33
4679,"Alaska, USA",423,15,19,31,103,30
5635,"Alaska, USA",0,0,0,7,0,0
...,...,...,...,...,...,...,...
98,"Washington, USA",0,0,10,10,0,0
99,"Washington, USA",7,1,0,2,0,0
100,"Washington, USA",43,2,25,60,1,12
101,"Washington, USA",13,1,60,12,1,1
102,"Washington, USA",29,1,17,109,0,2
103,"Washington, USA",21,2,10,31,7,1
104,"Washington, USA",0,0,0,0,0,20
105,"Washington, USA",0,0,0,4,0,0
106,"Washington, USA",4,1,0,2,0,0
107,"Washington, USA",0,0,0,0,0,0
108,"Washington, USA",5,0,0,0,0,0
109,"Washington, USA",0,0,0,0,0,0
110,"Washington, USA",0,0,0,0,0,0
111,"Washington, USA",0,0,0,4,2,0
112,"Washington, USA",98,4,176,22,0,0
113,"Washington, USA",0,0,0,0,0,0
114,"Washington, USA",50,0,30,75,2,0
115,"Washington, USA",5,0,1,4,0,0
116,"Washington, USA",4,0,0,1,0,0
117,"Washington, USA",0,0,0,0,0,0
118,"Washington, USA",0,0,0,3,0,0
119,"Washington, USA",0,0,0,0,0,0
120,"Washington, USA",0,0,0,0,0,0
121,"Washington, USA",180,0,7,8,2,1
122,"Washington, USA",18,2,1,4,0,0
123,"Washington, USA",130,3,7,50,0,1
124,"Washington, USA",105,6,10,86,3,8
125,"Washington, USA",54,17,11,47,10,23
126,"Washington, USA",148,3,2,29,0,10
127,NaN,5479,274,1539,1774,180,289

In [24]:
food_waste = food_mess.groupby(["State"])
WC_misc_food_waste = food_waste.sum()
WC_misc_food_waste

,Food Wrappers,"Forks, Knives, Spoons",Bottle Caps (Metal),Beverage Cans,Paper Bags,"Cups, Plates (Paper)"
State,,,,,,
"Alaska, USA",1145,49,217,458,186,124
"California, USA",83050,8109,15397,12122,8201,7354
"Hawaii, USA",7418,1259,5013,1446,880,729
"Oregon, USA",2154,224,656,532,65,80
"Washington, USA",5479,274,1539,1774,180,289

In [25]:
# Create a Subtotal Column for Plastics collected in the data frame
WC_misc_food_waste["Misc Food Waste Items"]  = WC_misc_food_waste.sum(axis=1)
WC_misc_food_waste

,Food Wrappers,"Forks, Knives, Spoons",Bottle Caps (Metal),Beverage Cans,Paper Bags,"Cups, Plates (Paper)",Misc Food Waste Items
State,,,,,,,
"Alaska, USA",1145,49,217,458,186,124,2179
"California, USA",83050,8109,15397,12122,8201,7354,134233
"Hawaii, USA",7418,1259,5013,1446,880,729,16745
"Oregon, USA",2154,224,656,532,65,80,3711
"Washington, USA",5479,274,1539,1774,180,289,9535

In [26]:
# Merge
WC_plastic_foam = pd.merge(WC_plastic_count, WC_foam_counts, on="State", how="left")
WC_fishing_smoking = pd.merge(WC_fishing_counts, WC_smoking_waste_counts, on="State", how="left")
WC_miscfood_misc = pd.merge(WC_misc_food_waste, WC_misc_waste, on="State", how="left")
WC_four = pd.merge(WC_plastic_foam, WC_fishing_smoking, on="State", how="left")
WC_total = pd.merge(WC_four, WC_miscfood_misc, on="State", how="left")
WC_grand_total = WC_total.drop(columns = ["Food Containers (Plastic)", "Bottle Caps (Plastic)", "Lids (Plastic)", 
                                                   "Straws, Stirrers", "Beverage Bottles (Plastic)", "Grocery Bags (Plastic)", "Other Plastic Bags", 
                                                  "Cups, Plates (Plastic)", "6-Pack Holders", "Other Plastic Bottles", "Condoms", "Plastic Pieces", 
                                                   "Food Containers (Foam)", "Cups, Plates (Foam)", "Other Plastic/Foam Packaging", "Foam Pieces", 
                                                   "Fishing Tools", "Fishing Nets", "Fishing Lines", "Fishing Gear", "Rope", "Cigarette Butts", 
                                                   "Tobacco Packs", "Cigar Tips", "Cigarette Lighters", "Food Wrappers", "Forks, Knives, Spoons", 
                                                   "Bottle Caps (Metal)", "Beverage Cans", "Paper Bags", "Cups, Plates (Paper)", "Strapping Bands", 
                                                   "Other Packaging", "Other Trash", "Fireworks", "Appliances (refrigerators, washers, etc.)", 
                                                   "# of bags", "Construction Materials", "Tires", "Toys", "Diapers", "Syringes", 
                                                   "Tampons/Tampon Applicators", "Hygiene", "Glass Pieces"])
WC_grand_total

,Plastic Waste,Foam Waste,Fisherman's Waste,Smoking Waste Items,Misc Food Waste Items,Miscellaneous Waste Items
State,,,,,,
"Alaska, USA",3306,2179,1499,2989,2179,1588.0
"California, USA",282748,95337,10223,210596,134233,82780.0
"Hawaii, USA",39846,10246,6501,29897,16745,12826.0
"Oregon, USA",6685,2776,414,6355,3711,1333.0
"Washington, USA",18411,10780,1214,14150,9535,8143.0

In [27]:
# Saving West Coast Data to CSV
WC_grand_total.to_csv("Resources/2017_WC_Litter.csv", index=True)

In [28]:
East_Coast_Waste = "Resources/2017_EC_Litter.csv"
West_Coast_Waste = "Resources/2017_WC_Litter.csv"

In [29]:
East_Coast_Waste = pd.read_csv(East_Coast_Waste)
West_Coast_Waste = pd.read_csv(West_Coast_Waste)

In [30]:
East_Coast_Waste.head()

,State,Plastic Waste,Foam Waste,Fisherman's Waste,Smoking Waste Items,Misc Food Waste Items,Miscellaneous Waste Items
0,"Alabama, USA",40114,14084,2479,31878,24598,8793.0
1,"Connecticut, USA",2744,464,142,1577,1302,660.0
2,"Delaware, USA",23069,3849,1379,15102,9803,3159.0
3,"Florida, USA",402730,103749,22196,247842,137299,63700.0
4,"Georgia, USA",14567,792,5372,34377,9930,6625.0

In [31]:
West_Coast_Waste.head()

,State,Plastic Waste,Foam Waste,Fisherman's Waste,Smoking Waste Items,Misc Food Waste Items,Miscellaneous Waste Items
0,"Alaska, USA",3306,2179,1499,2989,2179,1588.0
1,"California, USA",282748,95337,10223,210596,134233,82780.0
2,"Hawaii, USA",39846,10246,6501,29897,16745,12826.0
3,"Oregon, USA",6685,2776,414,6355,3711,1333.0
4,"Washington, USA",18411,10780,1214,14150,9535,8143.0

In [32]:
# Working on Merging both EC & WC Data
East_West_Litter = pd.concat([West_Coast_Waste, East_Coast_Waste], axis=0, join="outer")
East_West_Litter

,State,Plastic Waste,Foam Waste,Fisherman's Waste,Smoking Waste Items,Misc Food Waste Items,Miscellaneous Waste Items
0,"Alaska, USA",3306,2179,1499,2989,2179,1588.0
1,"California, USA",282748,95337,10223,210596,134233,82780.0
2,"Hawaii, USA",39846,10246,6501,29897,16745,12826.0
3,"Oregon, USA",6685,2776,414,6355,3711,1333.0
4,"Washington, USA",18411,10780,1214,14150,9535,8143.0
0,"Alabama, USA",40114,14084,2479,31878,24598,8793.0
1,"Connecticut, USA",2744,464,142,1577,1302,660.0
2,"Delaware, USA",23069,3849,1379,15102,9803,3159.0
3,"Florida, USA",402730,103749,22196,247842,137299,63700.0
4,"Georgia, USA",14567,792,5372,34377,9930,6625.0
5,"Louisiana, USA",19629,2995,366,5819,7787,4771.0
6,"Maine, USA",17692,7824,4858,27734,8350,5288.0
7,"Maryland, USA",32236,19065,2683,7925,10252,4940.0
8,"Massachusetts, USA",47586,11491,7291,46409,21633,14639.0
9,"Mississippi, USA",44969,11887,1851,31659,22577,12628.0
10,"New Hampshire, USA",8377,3737,2145,26095,3468,2996.0
11,"New Jersey, USA",47315,10842,1064,10834,18695,5546.0
12,"New York, USA",114679,26859,6304,57291,57984,31029.0
13,"North Carolina, USA",27309,7362,1134,46079,14008,7832.0
14,"Rhode Island, USA",46394,10619,3901,49311,23290,15213.0
15,"South Carolina, USA",35983,12980,2718,37472,16898,14144.0
16,"Texas, USA",121683,22985,8736,71838,25745,12363.0
17,"Virginia, USA",63238,15828,2016,41464,28114,17773.0

In [33]:
Combo_Data = [West_Coast_Waste, East_Coast_Waste]

In [34]:
East_West_Litter = pd.concat(Combo_Data, keys=['West Coast', 'East Coast']).reset_index()
East_West_Litter

,level_0,level_1,State,Plastic Waste,Foam Waste,Fisherman's Waste,Smoking Waste Items,Misc Food Waste Items,Miscellaneous Waste Items
0,West Coast,0,"Alaska, USA",3306,2179,1499,2989,2179,1588.0
1,West Coast,1,"California, USA",282748,95337,10223,210596,134233,82780.0
2,West Coast,2,"Hawaii, USA",39846,10246,6501,29897,16745,12826.0
3,West Coast,3,"Oregon, USA",6685,2776,414,6355,3711,1333.0
4,West Coast,4,"Washington, USA",18411,10780,1214,14150,9535,8143.0
5,East Coast,0,"Alabama, USA",40114,14084,2479,31878,24598,8793.0
6,East Coast,1,"Connecticut, USA",2744,464,142,1577,1302,660.0
7,East Coast,2,"Delaware, USA",23069,3849,1379,15102,9803,3159.0
8,East Coast,3,"Florida, USA",402730,103749,22196,247842,137299,63700.0
9,East Coast,4,"Georgia, USA",14567,792,5372,34377,9930,6625.0
10,East Coast,5,"Louisiana, USA",19629,2995,366,5819,7787,4771.0
11,East Coast,6,"Maine, USA",17692,7824,4858,27734,8350,5288.0
12,East Coast,7,"Maryland, USA",32236,19065,2683,7925,10252,4940.0
13,East Coast,8,"Massachusetts, USA",47586,11491,7291,46409,21633,14639.0
14,East Coast,9,"Mississippi, USA",44969,11887,1851,31659,22577,12628.0
15,East Coast,10,"New Hampshire, USA",8377,3737,2145,26095,3468,2996.0
16,East Coast,11,"New Jersey, USA",47315,10842,1064,10834,18695,5546.0
17,East Coast,12,"New York, USA",114679,26859,6304,57291,57984,31029.0
18,East Coast,13,"North Carolina, USA",27309,7362,1134,46079,14008,7832.0
19,East Coast,14,"Rhode Island, USA",46394,10619,3901,49311,23290,15213.0
20,East Coast,15,"South Carolina, USA",35983,12980,2718,37472,16898,14144.0
21,East Coast,16,"Texas, USA",121683,22985,8736,71838,25745,12363.0
22,East Coast,17,"Virginia, USA",63238,15828,2016,41464,28114,17773.0

In [35]:
East_West_Litter = East_West_Litter.drop(columns=['level_1'])
East_West_Litter

,level_0,State,Plastic Waste,Foam Waste,Fisherman's Waste,Smoking Waste Items,Misc Food Waste Items,Miscellaneous Waste Items
0,West Coast,"Alaska, USA",3306,2179,1499,2989,2179,1588.0
1,West Coast,"California, USA",282748,95337,10223,210596,134233,82780.0
2,West Coast,"Hawaii, USA",39846,10246,6501,29897,16745,12826.0
3,West Coast,"Oregon, USA",6685,2776,414,6355,3711,1333.0
4,West Coast,"Washington, USA",18411,10780,1214,14150,9535,8143.0
5,East Coast,"Alabama, USA",40114,14084,2479,31878,24598,8793.0
6,East Coast,"Connecticut, USA",2744,464,142,1577,1302,660.0
7,East Coast,"Delaware, USA",23069,3849,1379,15102,9803,3159.0
8,East Coast,"Florida, USA",402730,103749,22196,247842,137299,63700.0
9,East Coast,"Georgia, USA",14567,792,5372,34377,9930,6625.0
10,East Coast,"Louisiana, USA",19629,2995,366,5819,7787,4771.0
11,East Coast,"Maine, USA",17692,7824,4858,27734,8350,5288.0
12,East Coast,"Maryland, USA",32236,19065,2683,7925,10252,4940.0
13,East Coast,"Massachusetts, USA",47586,11491,7291,46409,21633,14639.0
14,East Coast,"Mississippi, USA",44969,11887,1851,31659,22577,12628.0
15,East Coast,"New Hampshire, USA",8377,3737,2145,26095,3468,2996.0
16,East Coast,"New Jersey, USA",47315,10842,1064,10834,18695,5546.0
17,East Coast,"New York, USA",114679,26859,6304,57291,57984,31029.0
18,East Coast,"North Carolina, USA",27309,7362,1134,46079,14008,7832.0
19,East Coast,"Rhode Island, USA",46394,10619,3901,49311,23290,15213.0
20,East Coast,"South Carolina, USA",35983,12980,2718,37472,16898,14144.0
21,East Coast,"Texas, USA",121683,22985,8736,71838,25745,12363.0
22,East Coast,"Virginia, USA",63238,15828,2016,41464,28114,17773.0

In [36]:
# Rename 
East_West_Litter_fin = East_West_Litter.rename(columns = {"level_0" : "Coast"})
East_West_Litter_fin

,Coast,State,Plastic Waste,Foam Waste,Fisherman's Waste,Smoking Waste Items,Misc Food Waste Items,Miscellaneous Waste Items
0,West Coast,"Alaska, USA",3306,2179,1499,2989,2179,1588.0
1,West Coast,"California, USA",282748,95337,10223,210596,134233,82780.0
2,West Coast,"Hawaii, USA",39846,10246,6501,29897,16745,12826.0
3,West Coast,"Oregon, USA",6685,2776,414,6355,3711,1333.0
4,West Coast,"Washington, USA",18411,10780,1214,14150,9535,8143.0
5,East Coast,"Alabama, USA",40114,14084,2479,31878,24598,8793.0
6,East Coast,"Connecticut, USA",2744,464,142,1577,1302,660.0
7,East Coast,"Delaware, USA",23069,3849,1379,15102,9803,3159.0
8,East Coast,"Florida, USA",402730,103749,22196,247842,137299,63700.0
9,East Coast,"Georgia, USA",14567,792,5372,34377,9930,6625.0
10,East Coast,"Louisiana, USA",19629,2995,366,5819,7787,4771.0
11,East Coast,"Maine, USA",17692,7824,4858,27734,8350,5288.0
12,East Coast,"Maryland, USA",32236,19065,2683,7925,10252,4940.0
13,East Coast,"Massachusetts, USA",47586,11491,7291,46409,21633,14639.0
14,East Coast,"Mississippi, USA",44969,11887,1851,31659,22577,12628.0
15,East Coast,"New Hampshire, USA",8377,3737,2145,26095,3468,2996.0
16,East Coast,"New Jersey, USA",47315,10842,1064,10834,18695,5546.0
17,East Coast,"New York, USA",114679,26859,6304,57291,57984,31029.0
18,East Coast,"North Carolina, USA",27309,7362,1134,46079,14008,7832.0
19,East Coast,"Rhode Island, USA",46394,10619,3901,49311,23290,15213.0
20,East Coast,"South Carolina, USA",35983,12980,2718,37472,16898,14144.0
21,East Coast,"Texas, USA",121683,22985,8736,71838,25745,12363.0
22,East Coast,"Virginia, USA",63238,15828,2016,41464,28114,17773.0

In [38]:
# Saving Overall Data together
East_West_Litter_fin.to_csv("2016_Bicoastal_Litter.csv", index=True)