In [1]:
import pandas as pd

In [2]:
# Set up path to all the summary files. 

# East coast states 
maine = "Resources/Maine2016.csv"
new_hampshire = "Resources/NewHampshire2016.csv"
massachusetts = "Resources/Massachusetts2016.csv"
rhode_island = "Resources/RhodeIsland2016.csv"
connecticut = "Resources/Connecticut2016.csv"
new_jersey = "Resources/NewJersey2016.csv"
new_york = "Resources/NewYork2016.csv"
delaware = "Resources/Delaware2016.csv"
maryland = "Resources/Maryland2016.csv"
virginia = "Resources/Virginia2016.csv"
north_carolina = "Resources/NorthCarolina2016.csv"
south_carolina = "Resources/SouthCarolina2016.csv"
georgia = "Resources/Georgia2016.csv"
florida = "Resources/Florida2016.csv"
# Gulf states
alabama = "Resources/Alabama2016.csv"
mississippi = "Resources/Mississippi2016.csv"
louisiana = "Resources/Louisiana2016.csv"
texas = "Resources/Texas2016.csv"

In [3]:
# Read all the summary files. 

# East coast States
maine_pd = pd.read_csv(maine)
new_hampshire_pd = pd.read_csv(new_hampshire)
massachusetts_pd = pd.read_csv(massachusetts)
rhode_island_pd = pd.read_csv(rhode_island)
connecticut_pd = pd.read_csv(connecticut)
new_jersey_pd = pd.read_csv(new_jersey)
new_york_pd = pd.read_csv(new_york)
delaware_pd = pd.read_csv(delaware)
maryland_pd = pd.read_csv(maryland)
virginia_pd = pd.read_csv(virginia)
north_carolina_pd = pd.read_csv(north_carolina)
south_carolina_pd = pd.read_csv(south_carolina)
georgia_pd = pd.read_csv(georgia)
florida_pd = pd.read_csv(florida)
# Gulf states
alabama_pd = pd.read_csv(alabama)
mississippi_pd = pd.read_csv(mississippi)
louisiana_pd = pd.read_csv(louisiana)
texas_pd = pd.read_csv(texas)

In [4]:
# Combine all dataframes into one file.

east_states = [maine_pd, new_hampshire_pd, massachusetts_pd, rhode_island_pd, connecticut_pd, new_jersey_pd, 
               new_york_pd, delaware_pd, maryland_pd, virginia_pd, north_carolina_pd, south_carolina_pd, 
               georgia_pd, florida_pd, alabama_pd, mississippi_pd, louisiana_pd, texas_pd]
east_coast = pd.concat(east_states)
east_coast.head()

,Cleanup ID,Zone,State,Country,GPS,Cleanup Type,Cleanup Date,Group Name,Adults,Children,...,Other Trash (Clean Swell),Condoms,Diapers,Syringes,Tampons/Tampon Applicators,Personal Hygiene (Clean Swell),Foam Pieces,Glass Pieces,Plastic Pieces,Total Items Collected
0,2653,"Hancock County, ME, USA","Maine, USA",United States,"44.45079, -68.47371","Land (beach, shoreline and inland)",2016-06-26,NaN,1.0,0.0,...,12,0,0,0,0,1,0,0,7,40.0
1,2680,"Hancock County, ME, USA","Maine, USA",United States,"44.45079, -68.47371","Land (beach, shoreline and inland)",2016-06-26,NaN,1.0,0.0,...,12,0,0,0,0,1,0,0,7,40.0
2,4259,"Hancock County, ME, USA","Maine, USA",United States,"44.453266264778, -68.301486968994","Land (beach, shoreline and inland)",2016-09-17,Just Me,1.0,0.0,...,0,0,0,0,0,0,9,2,19,102.0
3,5168,"Lincoln County, ME, USA","Maine, USA",United States,"43.90714, -69.59231","Land (beach, shoreline and inland)",2016-09-17,NaN,3.0,0.0,...,7,0,0,0,0,3,0,0,7,154.0
4,5742,"Hancock County, ME, USA","Maine, USA",United States,"44.453204996919, -68.478384017944","Land (beach, shoreline and inland)",2016-09-17,MERI,20.0,6.0,...,0,0,0,1,3,0,483,6,726,1960.0

In [5]:
# Delete unnecessary columns

EC_dropped = east_coast.drop(columns = ['Cleanup ID', 'Zone', 'Country', 'Cleanup Date', 
                                                'Group Name', 'Adults', 'Children', 'People'])
EC_dropped.head()

,State,GPS,Cleanup Type,Pounds,Miles,# of bags,Cigarette Butts,"Food Wrappers (candy, chips, etc.)",Take Out/Away Containers (Plastic),Take Out/Away Containers (Foam),...,Other Trash (Clean Swell),Condoms,Diapers,Syringes,Tampons/Tampon Applicators,Personal Hygiene (Clean Swell),Foam Pieces,Glass Pieces,Plastic Pieces,Total Items Collected
0,"Maine, USA","44.45079, -68.47371","Land (beach, shoreline and inland)",8.71,5.7884,0.0,0,1,0,0,...,12,0,0,0,0,1,0,0,7,40.0
1,"Maine, USA","44.45079, -68.47371","Land (beach, shoreline and inland)",8.71,5.7884,0.0,0,1,0,0,...,12,0,0,0,0,1,0,0,7,40.0
2,"Maine, USA","44.453266264778, -68.301486968994","Land (beach, shoreline and inland)",30.00,0.9000,2.0,3,9,0,3,...,0,0,0,0,0,0,9,2,19,102.0
3,"Maine, USA","43.90714, -69.59231","Land (beach, shoreline and inland)",2.63,0.0463,0.0,100,3,0,2,...,7,0,0,0,0,3,0,0,7,154.0
4,"Maine, USA","44.453204996919, -68.478384017944","Land (beach, shoreline and inland)",110.00,0.7500,6.0,4,91,6,21,...,0,0,0,1,3,0,483,6,726,1960.0

In [6]:
# Rename long column names to simpler forms

EC_named = EC_dropped.rename(columns = {"Food Wrappers (candy, chips, etc.)" : "Food Wrappers", "Take Out/Away Containers (Plastic)" : "Food Containers (Plastic)",
                                                          "Take Out/Away Containers (Foam)" : "Food Containers (Foam)", "Fishing Buoys, Pots & Traps" : "Fishing Tools", 
                                                          "Fishing Net & Pieces" : "Fishing Nets", "Fishing Line (1 yard/meter = 1 piece)" : "Fishing Lines", 
                                                          "Rope (1 yard/meter = 1 piece)" : "Rope", "Fishing Gear (Clean Swell)" : "Fishing Gear", 
                                                          "Other Plastic Bottles (oil, bleach, etc.)" : "Other Plastic Bottles", "Tobacco Packaging/Wrap" : "Tobacco Packs",
                                                          "Other Packaging (Clean Swell)" : "Other Packaging", "Other Trash (Clean Swell)" : "Other Trash", 
                                                          "Personal Hygiene (Clean Swell)" : "Hygiene"})
EC_named.head()

,State,GPS,Cleanup Type,Pounds,Miles,# of bags,Cigarette Butts,Food Wrappers,Food Containers (Plastic),Food Containers (Foam),...,Other Trash,Condoms,Diapers,Syringes,Tampons/Tampon Applicators,Hygiene,Foam Pieces,Glass Pieces,Plastic Pieces,Total Items Collected
0,"Maine, USA","44.45079, -68.47371","Land (beach, shoreline and inland)",8.71,5.7884,0.0,0,1,0,0,...,12,0,0,0,0,1,0,0,7,40.0
1,"Maine, USA","44.45079, -68.47371","Land (beach, shoreline and inland)",8.71,5.7884,0.0,0,1,0,0,...,12,0,0,0,0,1,0,0,7,40.0
2,"Maine, USA","44.453266264778, -68.301486968994","Land (beach, shoreline and inland)",30.00,0.9000,2.0,3,9,0,3,...,0,0,0,0,0,0,9,2,19,102.0
3,"Maine, USA","43.90714, -69.59231","Land (beach, shoreline and inland)",2.63,0.0463,0.0,100,3,0,2,...,7,0,0,0,0,3,0,0,7,154.0
4,"Maine, USA","44.453204996919, -68.478384017944","Land (beach, shoreline and inland)",110.00,0.7500,6.0,4,91,6,21,...,0,0,0,1,3,0,483,6,726,1960.0

In [7]:
# Group plastic columns

EC_plastics = EC_named[["State", "Food Containers (Plastic)", "Bottle Caps (Plastic)", "Lids (Plastic)", "Straws, Stirrers", 
                                          "Beverage Bottles (Plastic)", "Grocery Bags (Plastic)", "Other Plastic Bags", 
                                          "Cups, Plates (Plastic)", "6-Pack Holders", "Other Plastic Bottles", 
                                          "Condoms", "Plastic Pieces"]]
EC_plastics.head()

,State,Food Containers (Plastic),Bottle Caps (Plastic),Lids (Plastic),"Straws, Stirrers",Beverage Bottles (Plastic),Grocery Bags (Plastic),Other Plastic Bags,"Cups, Plates (Plastic)",6-Pack Holders,Other Plastic Bottles,Condoms,Plastic Pieces
0,"Maine, USA",0,4,1,0,0,0,0,0,0,0,0,7
1,"Maine, USA",0,4,1,0,0,0,0,0,0,0,0,7
2,"Maine, USA",0,4,5,0,32,0,0,0,0,3,0,19
3,"Maine, USA",0,0,2,20,1,7,0,0,0,0,0,7
4,"Maine, USA",6,88,23,12,66,3,48,7,3,10,0,726

In [8]:
# Group Plastic pollution by state

EC_plastic_group = EC_plastics.groupby(["State"])
EC_plastic_count = EC_plastic_group.sum()
EC_plastic_count

,Food Containers (Plastic),Bottle Caps (Plastic),Lids (Plastic),"Straws, Stirrers",Beverage Bottles (Plastic),Grocery Bags (Plastic),Other Plastic Bags,"Cups, Plates (Plastic)",6-Pack Holders,Other Plastic Bottles,Condoms,Plastic Pieces
State,,,,,,,,,,,,
"Alabama, USA",1959,6751,2567,4040,8507,2735,1975,1497,318,839,112,8814
"Connecticut, USA",117,371,89,238,214,197,133,124,1,9,5,1246
"Delaware, USA",642,5644,1035,1859,3139,1014,1653,690,89,227,40,7037
"Florida, USA",12305,78956,25196,32388,55637,20987,12978,11995,3628,3001,842,144817
"Georgia, USA",2,85,12,2294,10493,15,48,6,569,879,108,56
"Louisiana, USA",607,4491,1205,2091,3304,818,535,581,42,133,46,5776
"Maine, USA",506,1883,691,1319,2519,721,1416,515,68,573,79,7402
"Maryland, USA",772,3378,953,2764,5704,2603,1738,681,84,236,87,13236
"Massachusetts, USA",1214,7757,2040,4197,7321,1941,3151,1752,189,427,240,17357
"Mississippi, USA",2008,6923,4013,5395,4313,4691,2001,1594,80,828,106,13017
"New Hampshire, USA",146,1218,208,483,659,165,456,276,6,52,16,4692
"New Jersey, USA",1260,9311,2938,4955,9741,2550,2216,2079,162,925,132,11046
"New York, USA",4315,25820,4467,11590,13278,8094,8410,4861,549,2740,566,29989
"North Carolina, USA",971,5577,1433,2259,4215,1948,1034,830,160,315,35,8532
"Rhode Island, USA",1273,8088,2255,4800,7539,2365,3508,2083,170,429,196,13688
"South Carolina, USA",1170,9140,1460,2390,6282,2050,1470,1583,197,354,117,9770
"Texas, USA",2396,33042,6830,8148,12201,4639,2996,2156,374,1107,221,47573
"Virginia, USA",2698,7577,2767,3937,15831,7962,5778,2417,156,619,63,13433

In [9]:
# Group by foam columns

EC_foam_group = EC_named[["State", "Food Containers (Foam)", "Cups, Plates (Foam)", 
                                            "Other Plastic/Foam Packaging", "Foam Pieces"]]
EC_foam_group

,State,Food Containers (Foam),"Cups, Plates (Foam)",Other Plastic/Foam Packaging,Foam Pieces
0,"Maine, USA",0,0,0,0
1,"Maine, USA",0,0,0,0
2,"Maine, USA",3,0,0,9
3,"Maine, USA",2,0,0,0
4,"Maine, USA",21,10,73,483
5,"Maine, USA",0,0,0,0
6,"Maine, USA",0,0,0,0
7,"Maine, USA",1,6,12,17
8,"Maine, USA",0,0,2,10
9,"Maine, USA",3,5,43,114
10,"Maine, USA",0,0,0,0
11,"Maine, USA",0,0,0,0
12,"Maine, USA",0,0,7,3
13,"Maine, USA",0,0,34,37
14,"Maine, USA",3,0,0,0
15,"Maine, USA",3,2,8,11
16,"Maine, USA",0,0,0,0
17,"Maine, USA",0,16,20,30
18,"Maine, USA",0,4,3,4
19,"Maine, USA",4,6,38,300
20,"Maine, USA",5,7,38,53
21,"Maine, USA",1,0,0,3
22,"Maine, USA",20,41,62,61
23,"Maine, USA",6,20,37,70
24,"Maine, USA",2,6,5,69
25,"Maine, USA",10,0,11,0
26,"Maine, USA",1,0,12,0
27,"Maine, USA",12,6,64,0
28,"Maine, USA",5,3,7,6
29,"Maine, USA",3,0,0,0
...,...,...,...,...,...
74,"Texas, USA",5,0,0,0
75,"Texas, USA",1,0,0,0
76,"Texas, USA",6,0,0,0
77,"Texas, USA",1,0,0,0
78,"Texas, USA",3,0,0,0
79,"Texas, USA",1,0,0,0
80,"Texas, USA",0,0,0,0
81,"Texas, USA",1,0,0,0
82,"Texas, USA",9,0,0,0
83,"Texas, USA",2,0,0,0
84,"Texas, USA",2,0,0,0
85,"Texas, USA",2,0,0,0
86,"Texas, USA",2,0,0,0
87,"Texas, USA",9,0,0,0
88,"Texas, USA",11,0,0,0
89,"Texas, USA",2,0,0,0
90,"Texas, USA",3,0,0,0
91,"Texas, USA",2,0,0,0
92,"Texas, USA",4,0,0,0
93,"Texas, USA",2,0,0,0
94,"Texas, USA",1,0,0,0
95,"Texas, USA",0,0,0,0
96,"Texas, USA",0,0,0,0
97,"Texas, USA",0,0,0,0
98,"Texas, USA",0,0,0,0
99,"Texas, USA",0,0,0,0
100,"Texas, USA",25,28,117,81
101,"Texas, USA",0,0,0,0
102,"Texas, USA",0,0,0,0
103,NaN,1825,2642,2892,15626

In [10]:
# Group Foam pollution by state 

EC_foam_group = EC_foam_group.groupby(["State"])
EC_foam_counts = EC_foam_group.sum()
EC_foam_counts

,Food Containers (Foam),"Cups, Plates (Foam)",Other Plastic/Foam Packaging,Foam Pieces
State,,,,
"Alabama, USA",2581,3054,1656,6793
"Connecticut, USA",61,12,131,260
"Delaware, USA",339,328,1364,1818
"Florida, USA",12256,10637,15180,65676
"Georgia, USA",2,0,402,388
"Louisiana, USA",439,598,310,1648
"Maine, USA",313,513,2005,4993
"Maryland, USA",1007,820,1755,15483
"Massachusetts, USA",601,1272,2997,6621
"Mississippi, USA",1998,1813,2972,5104
"New Hampshire, USA",90,176,955,2516
"New Jersey, USA",1091,1574,1202,6975
"New York, USA",2581,3632,6190,14456
"North Carolina, USA",924,1119,902,4417
"Rhode Island, USA",1303,1487,2650,5179
"South Carolina, USA",1248,2033,1698,8001
"Texas, USA",1825,2642,2892,15626
"Virginia, USA",2715,2838,3196,7079

In [11]:
# Group by fishing tools trash

EC_fishing = EC_named[["State", "Fishing Tools", "Fishing Nets", "Fishing Lines", "Fishing Gear", "Rope"]]
EC_fishing

,State,Fishing Tools,Fishing Nets,Fishing Lines,Fishing Gear,Rope
0,"Maine, USA",0,0,0,13,0
1,"Maine, USA",0,0,0,13,0
2,"Maine, USA",0,1,3,0,2
3,"Maine, USA",0,0,0,0,0
4,"Maine, USA",31,32,1,0,103
5,"Maine, USA",0,0,0,13,0
6,"Maine, USA",0,0,0,0,0
7,"Maine, USA",2,0,0,0,73
8,"Maine, USA",0,2,1,0,45
9,"Maine, USA",10,6,1,0,84
10,"Maine, USA",0,0,0,0,2
11,"Maine, USA",1,0,3,0,0
12,"Maine, USA",3,4,0,0,33
13,"Maine, USA",5,0,0,0,6
14,"Maine, USA",24,0,0,0,8
15,"Maine, USA",18,10,22,0,16
16,"Maine, USA",0,0,0,0,0
17,"Maine, USA",5,13,18,0,14
18,"Maine, USA",0,0,0,0,1
19,"Maine, USA",6,35,0,0,83
20,"Maine, USA",2,0,4,0,2
21,"Maine, USA",0,0,0,0,6
22,"Maine, USA",12,2,10,0,71
23,"Maine, USA",2,2,7,0,0
24,"Maine, USA",26,7,0,0,111
25,"Maine, USA",1,7,25,0,3
26,"Maine, USA",9,31,0,0,10
27,"Maine, USA",3,3,0,0,1
28,"Maine, USA",0,0,0,0,0
29,"Maine, USA",0,0,1,0,0
...,...,...,...,...,...,...
74,"Texas, USA",0,0,0,14,0
75,"Texas, USA",0,0,0,13,0
76,"Texas, USA",0,0,0,10,0
77,"Texas, USA",0,0,0,14,0
78,"Texas, USA",0,0,0,0,0
79,"Texas, USA",0,0,0,6,0
80,"Texas, USA",0,0,0,10,0
81,"Texas, USA",0,0,0,14,0
82,"Texas, USA",0,0,0,17,0
83,"Texas, USA",0,0,0,14,0
84,"Texas, USA",0,0,0,14,0
85,"Texas, USA",0,0,0,4,0
86,"Texas, USA",0,0,0,10,0
87,"Texas, USA",0,0,0,11,0
88,"Texas, USA",0,0,0,15,0
89,"Texas, USA",0,0,0,10,0
90,"Texas, USA",0,0,0,17,0
91,"Texas, USA",0,0,0,32,0
92,"Texas, USA",0,0,0,16,0
93,"Texas, USA",0,0,0,15,0
94,"Texas, USA",0,0,0,17,0
95,"Texas, USA",0,0,0,30,0
96,"Texas, USA",0,0,0,1,0
97,"Texas, USA",0,0,0,4,0
98,"Texas, USA",0,0,0,1,0
99,"Texas, USA",0,0,0,0,0
100,"Texas, USA",13,49,79,0,196
101,"Texas, USA",16,10,0,0,0
102,"Texas, USA",0,0,0,8,0
103,NaN,544,1180,2679,658,3675

In [12]:
# Group fishing tools trash by state

EC_fishing_group = EC_fishing.groupby(["State"])
EC_fishing_counts = EC_fishing_group.sum()
EC_fishing_counts

,Fishing Tools,Fishing Nets,Fishing Lines,Fishing Gear,Rope
State,,,,,
"Alabama, USA",371,413,1193,30,472
"Connecticut, USA",9,23,36,45,29
"Delaware, USA",193,271,395,1,519
"Florida, USA",2742,2570,9623,2635,4626
"Georgia, USA",134,124,4271,2,841
"Louisiana, USA",27,54,64,95,126
"Maine, USA",1075,730,555,39,2459
"Maryland, USA",171,942,1200,175,195
"Massachusetts, USA",1072,1687,639,652,3241
"Mississippi, USA",181,291,976,0,403
"New Hampshire, USA",473,430,143,0,1099
"New Jersey, USA",197,155,248,15,449
"New York, USA",491,826,3326,32,1629
"North Carolina, USA",85,171,353,305,220
"Rhode Island, USA",426,561,1436,68,1410
"South Carolina, USA",189,260,1623,120,526
"Texas, USA",544,1180,2679,658,3675
"Virginia, USA",219,322,654,243,578

In [13]:
# Group by smoking waste

EC_smoking_waste = EC_named[["State", "Cigarette Butts", "Tobacco Packs", 
                                               "Cigar Tips", "Cigarette Lighters"]]
EC_smoking_waste

,State,Cigarette Butts,Tobacco Packs,Cigar Tips,Cigarette Lighters
0,"Maine, USA",0,0,0,0
1,"Maine, USA",0,0,0,0
2,"Maine, USA",3,0,0,0
3,"Maine, USA",100,0,0,0
4,"Maine, USA",4,7,5,8
5,"Maine, USA",0,0,0,0
6,"Maine, USA",0,0,0,0
7,"Maine, USA",0,0,0,0
8,"Maine, USA",0,0,0,0
9,"Maine, USA",1,0,0,0
10,"Maine, USA",0,0,0,0
11,"Maine, USA",0,0,0,0
12,"Maine, USA",6,0,0,0
13,"Maine, USA",0,0,0,0
14,"Maine, USA",0,1,0,0
15,"Maine, USA",9,0,0,0
16,"Maine, USA",0,0,0,0
17,"Maine, USA",10,2,1,1
18,"Maine, USA",0,0,0,0
19,"Maine, USA",100,1,10,2
20,"Maine, USA",1011,2,78,1
21,"Maine, USA",115,0,0,1
22,"Maine, USA",240,124,0,2
23,"Maine, USA",3522,10,8,17
24,"Maine, USA",63,1,1,2
25,"Maine, USA",776,49,10,3
26,"Maine, USA",0,1,0,0
27,"Maine, USA",240,8,0,4
28,"Maine, USA",322,2,4,1
29,"Maine, USA",0,0,0,0
...,...,...,...,...,...
74,"Texas, USA",11,0,0,0
75,"Texas, USA",22,0,0,0
76,"Texas, USA",21,0,0,0
77,"Texas, USA",18,0,0,0
78,"Texas, USA",3,0,0,0
79,"Texas, USA",9,0,0,0
80,"Texas, USA",2,0,0,0
81,"Texas, USA",8,0,0,0
82,"Texas, USA",4,0,0,0
83,"Texas, USA",8,0,0,0
84,"Texas, USA",21,0,0,0
85,"Texas, USA",43,0,0,0
86,"Texas, USA",40,0,0,0
87,"Texas, USA",16,0,0,0
88,"Texas, USA",19,0,0,0
89,"Texas, USA",4,0,0,0
90,"Texas, USA",3,0,0,0
91,"Texas, USA",1,0,0,0
92,"Texas, USA",20,0,0,0
93,"Texas, USA",3,0,0,0
94,"Texas, USA",8,0,0,0
95,"Texas, USA",15,0,0,0
96,"Texas, USA",2,0,0,0
97,"Texas, USA",5,0,0,0
98,"Texas, USA",2,0,0,0
99,"Texas, USA",1,0,0,0
100,"Texas, USA",109,6,39,44
101,"Texas, USA",0,0,0,0
102,"Texas, USA",0,0,0,0
103,NaN,67555,778,2723,782

In [14]:
# Group smoking waste by state

EC_smoking_waste_group = EC_smoking_waste.groupby(["State"])
EC_smoking_waste_counts = EC_smoking_waste_group.sum()
EC_smoking_waste_counts

,Cigarette Butts,Tobacco Packs,Cigar Tips,Cigarette Lighters
State,,,,
"Alabama, USA",26933,2451,2027,467
"Connecticut, USA",1500,6,40,31
"Delaware, USA",13727,456,736,183
"Florida, USA",228385,6752,10176,2529
"Georgia, USA",30740,2258,1071,308
"Louisiana, USA",5032,467,193,127
"Maine, USA",26563,589,438,144
"Maryland, USA",6721,555,485,164
"Massachusetts, USA",44625,725,616,443
"Mississippi, USA",27916,1489,1868,386
"New Hampshire, USA",25706,104,230,55
"New Jersey, USA",7625,1422,1382,405
"New York, USA",50273,2681,3460,877
"North Carolina, USA",44429,806,540,304
"Rhode Island, USA",46694,1141,1145,331
"South Carolina, USA",35204,775,1121,372
"Texas, USA",67555,778,2723,782
"Virginia, USA",38981,1153,1034,296

In [15]:
# Group by food miscellaneous

EC_food_mess = EC_named[["State", "Food Wrappers", "Forks, Knives, Spoons", "Bottle Caps (Metal)", 
                                   "Beverage Cans", "Paper Bags", "Cups, Plates (Paper)"]]
EC_food_mess

,State,Food Wrappers,"Forks, Knives, Spoons",Bottle Caps (Metal),Beverage Cans,Paper Bags,"Cups, Plates (Paper)"
0,"Maine, USA",1,0,0,0,0,0
1,"Maine, USA",1,0,0,0,0,0
2,"Maine, USA",9,0,0,6,0,0
3,"Maine, USA",3,0,0,0,0,0
4,"Maine, USA",91,1,1,3,5,2
5,"Maine, USA",1,0,0,0,0,0
6,"Maine, USA",4,0,0,1,0,0
7,"Maine, USA",2,0,0,9,0,0
8,"Maine, USA",2,0,1,2,0,0
9,"Maine, USA",6,4,2,18,1,2
10,"Maine, USA",0,0,0,0,0,0
11,"Maine, USA",0,0,0,0,0,0
12,"Maine, USA",8,0,0,5,0,4
13,"Maine, USA",1,0,0,0,0,0
14,"Maine, USA",6,0,0,0,0,0
15,"Maine, USA",29,0,0,48,0,6
16,"Maine, USA",0,0,0,1,0,0
17,"Maine, USA",9,2,6,20,9,10
18,"Maine, USA",5,0,0,19,0,6
19,"Maine, USA",87,0,13,3,3,3
20,"Maine, USA",106,11,22,18,31,14
21,"Maine, USA",12,0,0,3,0,0
22,"Maine, USA",142,5,59,57,7,24
23,"Maine, USA",217,11,19,27,72,45
24,"Maine, USA",18,0,0,13,3,2
25,"Maine, USA",128,25,0,31,0,6
26,"Maine, USA",17,3,20,7,0,7
27,"Maine, USA",62,5,1,19,2,14
28,"Maine, USA",155,12,21,67,10,15
29,"Maine, USA",4,0,0,3,0,0
...,...,...,...,...,...,...,...
74,"Texas, USA",5,5,0,10,0,0
75,"Texas, USA",12,3,0,23,0,0
76,"Texas, USA",8,9,0,15,0,0
77,"Texas, USA",7,6,0,10,0,0
78,"Texas, USA",5,3,0,1,0,0
79,"Texas, USA",5,10,0,4,0,0
80,"Texas, USA",3,3,0,7,0,0
81,"Texas, USA",4,2,0,0,0,0
82,"Texas, USA",5,12,0,8,0,0
83,"Texas, USA",7,8,0,8,0,0
84,"Texas, USA",20,9,0,11,0,0
85,"Texas, USA",8,3,0,6,0,0
86,"Texas, USA",4,3,0,9,0,0
87,"Texas, USA",12,7,0,12,0,0
88,"Texas, USA",21,14,0,19,0,0
89,"Texas, USA",14,5,0,11,0,0
90,"Texas, USA",3,4,0,5,0,0
91,"Texas, USA",15,5,0,18,0,0
92,"Texas, USA",2,15,0,8,0,0
93,"Texas, USA",7,4,0,9,0,0
94,"Texas, USA",13,3,0,6,0,0
95,"Texas, USA",10,8,0,20,0,0
96,"Texas, USA",0,0,0,0,0,0
97,"Texas, USA",4,0,0,2,0,0
98,"Texas, USA",3,0,0,2,0,0
99,"Texas, USA",0,0,0,0,0,0
100,"Texas, USA",83,196,19,160,19,30
101,"Texas, USA",0,0,0,1,0,0
102,"Texas, USA",0,0,0,0,0,0
103,NaN,8921,4912,5572,3893,1052,1395

In [16]:
# Group food miscellaneous by state

EC_food_waste = EC_food_mess.groupby(["State"])
EC_misc_food_waste = EC_food_waste.sum()
EC_misc_food_waste

,Food Wrappers,"Forks, Knives, Spoons",Bottle Caps (Metal),Beverage Cans,Paper Bags,"Cups, Plates (Paper)"
State,,,,,,
"Alabama, USA",10723,1084,2787,7705,870,1429
"Connecticut, USA",884,60,75,198,50,35
"Delaware, USA",4902,645,646,2249,571,790
"Florida, USA",58481,11810,24436,30736,5415,6421
"Georgia, USA",64,2,2,9046,815,1
"Louisiana, USA",3373,434,1022,2281,215,462
"Maine, USA",4513,343,927,1460,604,503
"Maryland, USA",4468,508,1978,2368,236,694
"Massachusetts, USA",11593,1247,2311,4172,907,1403
"Mississippi, USA",8590,1030,3263,4379,2389,2926
"New Hampshire, USA",1717,123,367,801,197,263
"New Jersey, USA",9709,1347,1630,3987,524,1498
"New York, USA",21662,4309,18822,7504,2467,3220
"North Carolina, USA",7723,715,1189,3197,498,686
"Rhode Island, USA",10740,1239,4067,4596,1097,1551
"South Carolina, USA",7010,1001,1638,6237,454,558
"Texas, USA",8921,4912,5572,3893,1052,1395
"Virginia, USA",15477,1304,1311,7934,896,1192

In [17]:
# Group by miscellaneous

EC_random_mess = EC_named[["State", "Strapping Bands", "Other Packaging", "Other Trash", 
                                     "Fireworks", "Appliances (refrigerators, washers, etc.)", "# of bags",
                                     "Construction Materials", "Tires", "Toys", "Diapers", "Syringes", 
                                     "Tampons/Tampon Applicators", "Hygiene", "Glass Pieces"]]
EC_random_mess

,State,Strapping Bands,Other Packaging,Other Trash,Fireworks,"Appliances (refrigerators, washers, etc.)",# of bags,Construction Materials,Tires,Toys,Diapers,Syringes,Tampons/Tampon Applicators,Hygiene,Glass Pieces
0,"Maine, USA",0,1,12,0,0,0.0,0,0,0,0,0,0,1,0
1,"Maine, USA",0,1,12,0,0,0.0,0,0,0,0,0,0,1,0
2,"Maine, USA",0,0,0,0,0,2.0,0,0,0,0,0,0,0,2
3,"Maine, USA",0,1,7,0,0,0.0,0,0,0,0,0,0,3,0
4,"Maine, USA",49,0,0,0,0,6.0,7,0,4,0,1,3,0,6
5,"Maine, USA",0,1,12,0,0,0.0,0,0,0,0,0,0,1,0
6,"Maine, USA",0,0,3,0,0,0.0,0,0,0,0,0,0,0,0
7,"Maine, USA",18,0,0,3,0,3.0,0,0,0,1,0,0,0,10
8,"Maine, USA",0,0,0,0,0,3.0,0,1,0,0,0,0,0,3
9,"Maine, USA",64,0,0,4,0,12.0,5,0,0,0,0,4,0,7
10,"Maine, USA",0,0,0,0,0,1.0,1,0,0,0,0,0,0,0
11,"Maine, USA",0,0,0,0,0,3.0,2,0,0,0,0,0,0,0
12,"Maine, USA",4,0,0,1,0,2.0,0,1,0,0,0,0,0,75
13,"Maine, USA",1,0,0,0,0,1.0,0,0,0,0,0,0,0,0
14,"Maine, USA",0,0,0,0,0,1.0,0,0,4,0,0,0,0,0
15,"Maine, USA",24,0,0,0,0,5.0,9,0,0,0,0,1,0,0
16,"Maine, USA",0,0,0,0,0,1.0,0,0,0,0,0,0,0,0
17,"Maine, USA",14,0,0,0,1,13.0,10,2,0,0,0,1,0,44
18,"Maine, USA",0,0,0,0,0,2.0,2,0,0,0,0,0,0,0
19,"Maine, USA",7,0,0,0,0,3.0,27,0,0,1,0,0,0,16
20,"Maine, USA",11,0,0,41,1,10.0,4,0,0,2,0,4,0,5
21,"Maine, USA",2,0,0,2,0,0.0,0,0,0,0,0,0,0,5
22,"Maine, USA",23,0,0,7,0,17.0,17,1,0,5,1,9,0,38
23,"Maine, USA",9,0,0,0,0,0.0,8,0,0,1,0,3,0,214
24,"Maine, USA",10,0,0,0,0,15.0,3,1,0,0,0,0,0,1
25,"Maine, USA",124,0,0,15,0,5.0,0,0,0,2,1,0,0,0
26,"Maine, USA",0,0,0,0,0,7.0,0,0,0,0,0,4,0,12
27,"Maine, USA",0,0,0,0,0,11.0,0,0,0,4,0,1,0,0
28,"Maine, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,13
29,"Maine, USA",0,0,0,0,0,3.0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,"Texas, USA",0,7,11,0,0,0.0,0,0,5,0,0,0,0,0
75,"Texas, USA",0,15,28,0,0,0.0,0,0,2,0,0,0,1,0
76,"Texas, USA",0,9,23,0,0,0.0,0,0,4,0,0,0,0,0
77,"Texas, USA",0,18,16,0,0,0.0,0,0,5,0,0,0,0,0
78,"Texas, USA",0,30,26,0,0,0.0,0,0,0,0,0,0,0,0
79,"Texas, USA",0,30,37,0,0,0.0,0,0,1,0,0,0,1,0
80,"Texas, USA",0,9,17,0,0,0.0,0,0,3,0,0,0,1,0
81,"Texas, USA",0,6,15,0,0,0.0,0,0,2,0,0,0,0,0
82,"Texas, USA",0,4,2,0,0,0.0,0,0,1,0,0,0,1,0
83,"Texas, USA",0,14,12,0,0,0.0,0,0,1,0,0,0,1,0
84,"Texas, USA",0,14,20,0,0,0.0,0,0,4,0,0,0,1,0
85,"Texas, USA",0,5,11,0,0,0.0,0,0,3,0,0,0,0,0
86,"Texas, USA",0,9,23,0,0,0.0,0,0,3,0,0,0,0,0
87,"Texas, USA",0,12,21,0,0,0.0,0,0,1,0,0,0,0,0
88,"Texas, USA",0,17,37,0,0,0.0,0,0,3,0,0,0,14,0
89,"Texas, USA",0,8,29,0,0,0.0,0,0,7,0,0,0,3,0
90,"Texas, USA",0,14,47,0,0,0.0,0,0,2,0,0,0,5,0
91,"Texas, USA",0,10,31,0,0,0.0,0,0,4,0,0,0,5,0
92,"Texas, USA",0,6,22,0,0,0.0,0,0,5,0,0,0,4,0
93,"Texas, USA",0,9,17,0,0,0.0,0,0,4,0,0,0,5,0
94,"Texas, USA",0,9,39,0,0,0.0,0,0,1,0,0,0,4,0
95,"Texas, USA",0,12,36,0,0,0.0,0,0,2,0,0,0,1,0
96,"Texas, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
97,"Texas, USA",0,2,3,0,0,0.0,0,0,0,0,0,0,1,0
98,"Texas, USA",0,1,3,0,0,0.0,0,0,0,0,0,0,0,0
99,"Texas, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
100,"Texas, USA",68,0,0,24,3,184.0,23,19,0,5,12,12,0,52
101,"Texas, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
102,"Texas, USA",0,1,0,0,0,0.0,0,0,0,0,0,0,0,0
103,NaN,927,463,1036,451,113,NaN,1242,146,175,211,149,153,107,5470

In [18]:
# Group miscellaneous by state

EC_random_trash = EC_random_mess.groupby(["State"])
EC_misc_waste = EC_random_trash.sum()
EC_misc_waste

,Strapping Bands,Other Packaging,Other Trash,Fireworks,"Appliances (refrigerators, washers, etc.)",# of bags,Construction Materials,Tires,Toys,Diapers,Syringes,Tampons/Tampon Applicators,Hygiene,Glass Pieces
State,,,,,,,,,,,,,,
"Alabama, USA",681,33,216,291,35,1736.0,1206,221,18,166,40,140,9,4001
"Connecticut, USA",20,77,156,48,1,30.0,42,1,40,0,0,2,33,210
"Delaware, USA",340,0,4,336,25,646.0,778,54,15,44,13,158,0,746
"Florida, USA",2682,4312,16303,1119,282,13828.0,6630,504,1842,569,596,750,1772,12511
"Georgia, USA",191,2,13,0,79,3679.0,1461,845,5,285,19,36,2,8
"Louisiana, USA",113,529,1399,21,3,508.0,171,21,45,37,19,31,115,1759
"Maine, USA",1581,4,46,534,16,499.0,685,56,9,52,45,117,6,1638
"Maryland, USA",93,153,412,162,28,820.0,194,577,166,45,179,67,113,1931
"Massachusetts, USA",1166,62,651,613,45,1201.0,1074,90,82,166,130,436,64,8859
"Mississippi, USA",316,0,0,2027,16,2286.0,1729,462,22,85,66,60,0,5559
"New Hampshire, USA",412,0,0,191,5,199.0,378,61,2,19,7,22,0,1700
"New Jersey, USA",367,8,29,22,15,507.0,782,79,547,130,111,600,4,2345
"New York, USA",1249,89,178,2327,70,4060.0,3094,188,65,586,309,1700,57,17057
"North Carolina, USA",222,570,2110,543,4,849.0,774,475,749,96,19,47,393,981
"Rhode Island, USA",546,37,259,385,22,950.0,1195,93,54,198,80,379,5,11010
"South Carolina, USA",290,24,208,478,22,3660.0,1247,2072,59,103,50,285,6,5640
"Texas, USA",927,463,1036,451,113,1720.0,1242,146,175,211,149,153,107,5470
"Virginia, USA",829,504,2830,164,24,5186.0,1845,1609,243,133,22,73,233,4078

In [19]:
# Sum plastic columns into new column

EC_plastic_count["Plastic Waste"] = EC_plastic_count.sum(axis=1)
EC_plastic_count

,Food Containers (Plastic),Bottle Caps (Plastic),Lids (Plastic),"Straws, Stirrers",Beverage Bottles (Plastic),Grocery Bags (Plastic),Other Plastic Bags,"Cups, Plates (Plastic)",6-Pack Holders,Other Plastic Bottles,Condoms,Plastic Pieces,Plastic Waste
State,,,,,,,,,,,,,
"Alabama, USA",1959,6751,2567,4040,8507,2735,1975,1497,318,839,112,8814,40114
"Connecticut, USA",117,371,89,238,214,197,133,124,1,9,5,1246,2744
"Delaware, USA",642,5644,1035,1859,3139,1014,1653,690,89,227,40,7037,23069
"Florida, USA",12305,78956,25196,32388,55637,20987,12978,11995,3628,3001,842,144817,402730
"Georgia, USA",2,85,12,2294,10493,15,48,6,569,879,108,56,14567
"Louisiana, USA",607,4491,1205,2091,3304,818,535,581,42,133,46,5776,19629
"Maine, USA",506,1883,691,1319,2519,721,1416,515,68,573,79,7402,17692
"Maryland, USA",772,3378,953,2764,5704,2603,1738,681,84,236,87,13236,32236
"Massachusetts, USA",1214,7757,2040,4197,7321,1941,3151,1752,189,427,240,17357,47586
"Mississippi, USA",2008,6923,4013,5395,4313,4691,2001,1594,80,828,106,13017,44969
"New Hampshire, USA",146,1218,208,483,659,165,456,276,6,52,16,4692,8377
"New Jersey, USA",1260,9311,2938,4955,9741,2550,2216,2079,162,925,132,11046,47315
"New York, USA",4315,25820,4467,11590,13278,8094,8410,4861,549,2740,566,29989,114679
"North Carolina, USA",971,5577,1433,2259,4215,1948,1034,830,160,315,35,8532,27309
"Rhode Island, USA",1273,8088,2255,4800,7539,2365,3508,2083,170,429,196,13688,46394
"South Carolina, USA",1170,9140,1460,2390,6282,2050,1470,1583,197,354,117,9770,35983
"Texas, USA",2396,33042,6830,8148,12201,4639,2996,2156,374,1107,221,47573,121683
"Virginia, USA",2698,7577,2767,3937,15831,7962,5778,2417,156,619,63,13433,63238

In [20]:
# Sum foam columns into new column

EC_foam_counts["Foam Waste"] = EC_foam_counts.sum(axis=1)
EC_foam_counts

,Food Containers (Foam),"Cups, Plates (Foam)",Other Plastic/Foam Packaging,Foam Pieces,Foam Waste
State,,,,,
"Alabama, USA",2581,3054,1656,6793,14084
"Connecticut, USA",61,12,131,260,464
"Delaware, USA",339,328,1364,1818,3849
"Florida, USA",12256,10637,15180,65676,103749
"Georgia, USA",2,0,402,388,792
"Louisiana, USA",439,598,310,1648,2995
"Maine, USA",313,513,2005,4993,7824
"Maryland, USA",1007,820,1755,15483,19065
"Massachusetts, USA",601,1272,2997,6621,11491
"Mississippi, USA",1998,1813,2972,5104,11887
"New Hampshire, USA",90,176,955,2516,3737
"New Jersey, USA",1091,1574,1202,6975,10842
"New York, USA",2581,3632,6190,14456,26859
"North Carolina, USA",924,1119,902,4417,7362
"Rhode Island, USA",1303,1487,2650,5179,10619
"South Carolina, USA",1248,2033,1698,8001,12980
"Texas, USA",1825,2642,2892,15626,22985
"Virginia, USA",2715,2838,3196,7079,15828

In [21]:
# Sum fishing gear columns into new column

EC_fishing_counts["Fisherman's Waste"] = EC_fishing_counts.sum(axis=1)
EC_fishing_counts

,Fishing Tools,Fishing Nets,Fishing Lines,Fishing Gear,Rope,Fisherman's Waste
State,,,,,,
"Alabama, USA",371,413,1193,30,472,2479
"Connecticut, USA",9,23,36,45,29,142
"Delaware, USA",193,271,395,1,519,1379
"Florida, USA",2742,2570,9623,2635,4626,22196
"Georgia, USA",134,124,4271,2,841,5372
"Louisiana, USA",27,54,64,95,126,366
"Maine, USA",1075,730,555,39,2459,4858
"Maryland, USA",171,942,1200,175,195,2683
"Massachusetts, USA",1072,1687,639,652,3241,7291
"Mississippi, USA",181,291,976,0,403,1851
"New Hampshire, USA",473,430,143,0,1099,2145
"New Jersey, USA",197,155,248,15,449,1064
"New York, USA",491,826,3326,32,1629,6304
"North Carolina, USA",85,171,353,305,220,1134
"Rhode Island, USA",426,561,1436,68,1410,3901
"South Carolina, USA",189,260,1623,120,526,2718
"Texas, USA",544,1180,2679,658,3675,8736
"Virginia, USA",219,322,654,243,578,2016

In [22]:
# Sum smoking waste columns into new column

EC_smoking_waste_counts["Smoking Waste Items"] = EC_smoking_waste_counts.sum(axis=1)
EC_smoking_waste_counts

,Cigarette Butts,Tobacco Packs,Cigar Tips,Cigarette Lighters,Smoking Waste Items
State,,,,,
"Alabama, USA",26933,2451,2027,467,31878
"Connecticut, USA",1500,6,40,31,1577
"Delaware, USA",13727,456,736,183,15102
"Florida, USA",228385,6752,10176,2529,247842
"Georgia, USA",30740,2258,1071,308,34377
"Louisiana, USA",5032,467,193,127,5819
"Maine, USA",26563,589,438,144,27734
"Maryland, USA",6721,555,485,164,7925
"Massachusetts, USA",44625,725,616,443,46409
"Mississippi, USA",27916,1489,1868,386,31659
"New Hampshire, USA",25706,104,230,55,26095
"New Jersey, USA",7625,1422,1382,405,10834
"New York, USA",50273,2681,3460,877,57291
"North Carolina, USA",44429,806,540,304,46079
"Rhode Island, USA",46694,1141,1145,331,49311
"South Carolina, USA",35204,775,1121,372,37472
"Texas, USA",67555,778,2723,782,71838
"Virginia, USA",38981,1153,1034,296,41464

In [23]:
# Sum food misc columns into new column

EC_misc_food_waste["Misc Food Waste Items"] = EC_misc_food_waste.sum(axis=1)
EC_misc_food_waste

,Food Wrappers,"Forks, Knives, Spoons",Bottle Caps (Metal),Beverage Cans,Paper Bags,"Cups, Plates (Paper)",Misc Food Waste Items
State,,,,,,,
"Alabama, USA",10723,1084,2787,7705,870,1429,24598
"Connecticut, USA",884,60,75,198,50,35,1302
"Delaware, USA",4902,645,646,2249,571,790,9803
"Florida, USA",58481,11810,24436,30736,5415,6421,137299
"Georgia, USA",64,2,2,9046,815,1,9930
"Louisiana, USA",3373,434,1022,2281,215,462,7787
"Maine, USA",4513,343,927,1460,604,503,8350
"Maryland, USA",4468,508,1978,2368,236,694,10252
"Massachusetts, USA",11593,1247,2311,4172,907,1403,21633
"Mississippi, USA",8590,1030,3263,4379,2389,2926,22577
"New Hampshire, USA",1717,123,367,801,197,263,3468
"New Jersey, USA",9709,1347,1630,3987,524,1498,18695
"New York, USA",21662,4309,18822,7504,2467,3220,57984
"North Carolina, USA",7723,715,1189,3197,498,686,14008
"Rhode Island, USA",10740,1239,4067,4596,1097,1551,23290
"South Carolina, USA",7010,1001,1638,6237,454,558,16898
"Texas, USA",8921,4912,5572,3893,1052,1395,25745
"Virginia, USA",15477,1304,1311,7934,896,1192,28114

In [24]:
# Sum misc columns into new column

EC_misc_waste["Miscellaneous Waste Items"] = EC_misc_waste.sum(axis=1)
EC_misc_waste

,Strapping Bands,Other Packaging,Other Trash,Fireworks,"Appliances (refrigerators, washers, etc.)",# of bags,Construction Materials,Tires,Toys,Diapers,Syringes,Tampons/Tampon Applicators,Hygiene,Glass Pieces,Miscellaneous Waste Items
State,,,,,,,,,,,,,,,
"Alabama, USA",681,33,216,291,35,1736.0,1206,221,18,166,40,140,9,4001,8793.0
"Connecticut, USA",20,77,156,48,1,30.0,42,1,40,0,0,2,33,210,660.0
"Delaware, USA",340,0,4,336,25,646.0,778,54,15,44,13,158,0,746,3159.0
"Florida, USA",2682,4312,16303,1119,282,13828.0,6630,504,1842,569,596,750,1772,12511,63700.0
"Georgia, USA",191,2,13,0,79,3679.0,1461,845,5,285,19,36,2,8,6625.0
"Louisiana, USA",113,529,1399,21,3,508.0,171,21,45,37,19,31,115,1759,4771.0
"Maine, USA",1581,4,46,534,16,499.0,685,56,9,52,45,117,6,1638,5288.0
"Maryland, USA",93,153,412,162,28,820.0,194,577,166,45,179,67,113,1931,4940.0
"Massachusetts, USA",1166,62,651,613,45,1201.0,1074,90,82,166,130,436,64,8859,14639.0
"Mississippi, USA",316,0,0,2027,16,2286.0,1729,462,22,85,66,60,0,5559,12628.0
"New Hampshire, USA",412,0,0,191,5,199.0,378,61,2,19,7,22,0,1700,2996.0
"New Jersey, USA",367,8,29,22,15,507.0,782,79,547,130,111,600,4,2345,5546.0
"New York, USA",1249,89,178,2327,70,4060.0,3094,188,65,586,309,1700,57,17057,31029.0
"North Carolina, USA",222,570,2110,543,4,849.0,774,475,749,96,19,47,393,981,7832.0
"Rhode Island, USA",546,37,259,385,22,950.0,1195,93,54,198,80,379,5,11010,15213.0
"South Carolina, USA",290,24,208,478,22,3660.0,1247,2072,59,103,50,285,6,5640,14144.0
"Texas, USA",927,463,1036,451,113,1720.0,1242,146,175,211,149,153,107,5470,12363.0
"Virginia, USA",829,504,2830,164,24,5186.0,1845,1609,243,133,22,73,233,4078,17773.0

In [25]:
# Merge all dataframes then delete unnecessary columns

EC_plastic_foam = pd.merge(EC_plastic_count, EC_foam_counts, on="State", how="left")
EC_fishing_smoking = pd.merge(EC_fishing_counts, EC_smoking_waste_counts, on="State", how="left")
EC_miscfood_misc = pd.merge(EC_misc_food_waste, EC_misc_waste, on="State", how="left")
EC_four = pd.merge(EC_plastic_foam, EC_fishing_smoking, on="State", how="left")
EC_total = pd.merge(EC_four, EC_miscfood_misc, on="State", how="left")

EC_grand_total = EC_total.drop(columns = ["Food Containers (Plastic)", "Bottle Caps (Plastic)", "Lids (Plastic)", 
                                                   "Straws, Stirrers", "Beverage Bottles (Plastic)", "Grocery Bags (Plastic)", "Other Plastic Bags", 
                                                  "Cups, Plates (Plastic)", "6-Pack Holders", "Other Plastic Bottles", "Condoms", "Plastic Pieces", 
                                                   "Food Containers (Foam)", "Cups, Plates (Foam)", "Other Plastic/Foam Packaging", "Foam Pieces", 
                                                   "Fishing Tools", "Fishing Nets", "Fishing Lines", "Fishing Gear", "Rope", "Cigarette Butts", 
                                                   "Tobacco Packs", "Cigar Tips", "Cigarette Lighters", "Food Wrappers", "Forks, Knives, Spoons", 
                                                   "Bottle Caps (Metal)", "Beverage Cans", "Paper Bags", "Cups, Plates (Paper)", "Strapping Bands", 
                                                   "Other Packaging", "Other Trash", "Fireworks", "Appliances (refrigerators, washers, etc.)", 
                                                   "# of bags", "Construction Materials", "Tires", "Toys", "Diapers", "Syringes", 
                                                   "Tampons/Tampon Applicators", "Hygiene", "Glass Pieces"])

EC_grand_total

,Plastic Waste,Foam Waste,Fisherman's Waste,Smoking Waste Items,Misc Food Waste Items,Miscellaneous Waste Items
State,,,,,,
"Alabama, USA",40114,14084,2479,31878,24598,8793.0
"Connecticut, USA",2744,464,142,1577,1302,660.0
"Delaware, USA",23069,3849,1379,15102,9803,3159.0
"Florida, USA",402730,103749,22196,247842,137299,63700.0
"Georgia, USA",14567,792,5372,34377,9930,6625.0
"Louisiana, USA",19629,2995,366,5819,7787,4771.0
"Maine, USA",17692,7824,4858,27734,8350,5288.0
"Maryland, USA",32236,19065,2683,7925,10252,4940.0
"Massachusetts, USA",47586,11491,7291,46409,21633,14639.0
"Mississippi, USA",44969,11887,1851,31659,22577,12628.0
"New Hampshire, USA",8377,3737,2145,26095,3468,2996.0
"New Jersey, USA",47315,10842,1064,10834,18695,5546.0
"New York, USA",114679,26859,6304,57291,57984,31029.0
"North Carolina, USA",27309,7362,1134,46079,14008,7832.0
"Rhode Island, USA",46394,10619,3901,49311,23290,15213.0
"South Carolina, USA",35983,12980,2718,37472,16898,14144.0
"Texas, USA",121683,22985,8736,71838,25745,12363.0
"Virginia, USA",63238,15828,2016,41464,28114,17773.0

In [26]:
# Saving new data table to CSV
EC_grand_total.to_csv("Resources/2016_EC_Litter.csv", index=True)