In [1]:
# Import the necessary libraries
import pandas as pd
import gmplot
import gmaps
import gmaps.datasets
# For improved table display in the notebook
#from IPython.display import display

gmaps.configure(api_key = API)

In [2]:
# Link all data sources

bicoastal = "Coastal_Litter/2018_Coastal_Litter/2018_Bicoastal_Litter.csv"
# East coast states 
maine = "Coastal_Litter/2018_Coastal_Litter/Resources/Maine2018.csv"
new_hampshire = "Coastal_Litter/2018_Coastal_Litter/Resources/NewHampshire2018.csv"
massachusetts = "Coastal_Litter/2018_Coastal_Litter/Resources/Massachusetts2018.csv"
rhode_island = "Coastal_Litter/2018_Coastal_Litter/Resources/RhodeIsland2018.csv"
connecticut = "Coastal_Litter/2018_Coastal_Litter/Resources/Connecticut2018.csv"
new_jersey = "Coastal_Litter/2018_Coastal_Litter/Resources/NewJersey2018.csv"
new_york = "Coastal_Litter/2018_Coastal_Litter/Resources/NewYork2018.csv"
delaware = "Coastal_Litter/2018_Coastal_Litter/Resources/Delaware2018.csv"
maryland = "Coastal_Litter/2018_Coastal_Litter/Resources/Maryland2018.csv"
virginia = "Coastal_Litter/2018_Coastal_Litter/Resources/Virginia2018.csv"
north_carolina = "Coastal_Litter/2018_Coastal_Litter/Resources/NorthCarolina2018.csv"
south_carolina = "Coastal_Litter/2018_Coastal_Litter/Resources/SouthCarolina2018.csv"
georgia = "Coastal_Litter/2018_Coastal_Litter/Resources/Georgia2018.csv"
florida = "Coastal_Litter/2018_Coastal_Litter/Resources/Florida2018.csv"
# Gulf states
alabama = "Coastal_Litter/2018_Coastal_Litter/Resources/Alabama2018.csv"
mississippi = "Coastal_Litter/2018_Coastal_Litter/Resources/Mississippi2018.csv"
louisiana = "Coastal_Litter/2018_Coastal_Litter/Resources/Louisianna2018.csv"
texas = "Coastal_Litter/2018_Coastal_Litter/Resources/Texas2018.csv"
# West coast states
alaska = "Coastal_Litter/2018_Coastal_Litter/Resources/Alaska2018.csv"
california = "Coastal_Litter/2018_Coastal_Litter/Resources/California2018.csv"
hawaii = "Coastal_Litter/2018_Coastal_Litter/Resources/Hawaii2018.csv"
oregon = "Coastal_Litter/2018_Coastal_Litter/Resources/Oregon2018.csv"
washington = "Coastal_Litter/2018_Coastal_Litter/Resources/Washington2018.csv"

In [3]:
# Read all dataframes

bicoastal_pd = pd.read_csv(bicoastal)
# East coast States
maine_pd = pd.read_csv(maine)
new_hampshire_pd = pd.read_csv(new_hampshire)
massachusetts_pd = pd.read_csv(massachusetts)
rhode_island_pd = pd.read_csv(rhode_island)
connecticut_pd = pd.read_csv(connecticut)
new_jersey_pd = pd.read_csv(new_jersey)
new_york_pd = pd.read_csv(new_york)
delaware_pd = pd.read_csv(delaware)
maryland_pd = pd.read_csv(maryland)
virginia_pd = pd.read_csv(virginia)
north_carolina_pd = pd.read_csv(north_carolina)
south_carolina_pd = pd.read_csv(south_carolina)
georgia_pd = pd.read_csv(georgia)
florida_pd = pd.read_csv(florida)
# Gulf states
alabama_pd = pd.read_csv(alabama)
mississippi_pd = pd.read_csv(mississippi)
louisiana_pd = pd.read_csv(louisiana)
texas_pd = pd.read_csv(texas)
# West coast states
alaska_pd = pd.read_csv(alaska)
california_pd = pd.read_csv(california)
hawaii_pd = pd.read_csv(hawaii)
oregon_pd = pd.read_csv(oregon)
washington_pd = pd.read_csv(washington)

In [4]:
# Combine state dataframes

states = [maine_pd, new_hampshire_pd, massachusetts_pd, rhode_island_pd, connecticut_pd, new_jersey_pd, 
               new_york_pd, delaware_pd, maryland_pd, virginia_pd, north_carolina_pd, south_carolina_pd, 
               georgia_pd, florida_pd, alabama_pd, mississippi_pd, louisiana_pd, texas_pd, alaska_pd, 
               california_pd, hawaii_pd, oregon_pd, washington_pd]
all_states = pd.concat(states)
all_states.head(1)

,Cleanup ID,Zone,State,Country,GPS,Cleanup Type,Cleanup Date,Group Name,Adults,Children,...,Other Trash (Clean Swell),Condoms,Diapers,Syringes,Tampons/Tampon Applicators,Personal Hygiene (Clean Swell),Foam Pieces,Glass Pieces,Plastic Pieces,Total Items Collected
0,35878,"Cumberland County, ME, USA","Maine, USA",United States,"43.66723, -70.27604","Land (beach, shoreline and inland)",2018-03-31,GAEE,10.0,0.0,...,0,0,0,0,0,0,0,0,0,0.0

In [5]:
# Insert separate logitude and latitude columns
all_states.insert(5, "Latitude", "0")
all_states.insert(6, "Long", "0")

# Separate GPS data into respective longitude or latitude column
all_states[['Latitude','Long']] = maine_pd.GPS.str.split(",",expand=True,)

In [6]:
# Isolate GPS, Longitude, and Latitude

ll_states = all_states[['State', 'GPS', 'Latitude', 'Long']]
ll_states.head(1)

        State                  GPS  Latitude        Long
0  Maine, USA  43.66723, -70.27604  43.66723   -70.27604

In [7]:
all_states_combine = pd.merge(
    ll_states, bicoastal_pd, how="left", on=["State"])

# Remove rows missing data
all_states_combine = all_states_combine.dropna()

# Visualize
all_states_combine.head()

,State,GPS,Latitude,Long,Unnamed: 0,Coast,Plastic Waste,Foam Waste,Fisherman's Waste,Smoking Waste Items,Misc Food Waste Items,Miscellaneous Waste Items
0,"Maine, USA","43.66723, -70.27604",43.66723,-70.27604,11.0,East Coast,14552.0,7291.0,3809.0,22590.0,5735.0,5135.0
1,"Maine, USA","43.66721, -70.27596",43.66721,-70.27596,11.0,East Coast,14552.0,7291.0,3809.0,22590.0,5735.0,5135.0
2,"Maine, USA","43.66783, -70.27517",43.66783,-70.27517,11.0,East Coast,14552.0,7291.0,3809.0,22590.0,5735.0,5135.0
3,"Maine, USA","43.66722, -70.27604",43.66722,-70.27604,11.0,East Coast,14552.0,7291.0,3809.0,22590.0,5735.0,5135.0
4,"Maine, USA","43.66735, -70.27523",43.66735,-70.27523,11.0,East Coast,14552.0,7291.0,3809.0,22590.0,5735.0,5135.0

In [8]:
#bicoastal_pd.loc[:,'Total'] = bicoastal_pd.sum(axis=1)
#bicoastal_pd.head()

all_states_combine.loc[:,'Total'] = all_states_combine.sum(axis=1)
all_states_combine.head()

,State,GPS,Latitude,Long,Unnamed: 0,Coast,Plastic Waste,Foam Waste,Fisherman's Waste,Smoking Waste Items,Misc Food Waste Items,Miscellaneous Waste Items,Total
0,"Maine, USA","43.66723, -70.27604",43.66723,-70.27604,11.0,East Coast,14552.0,7291.0,3809.0,22590.0,5735.0,5135.0,59123.0
1,"Maine, USA","43.66721, -70.27596",43.66721,-70.27596,11.0,East Coast,14552.0,7291.0,3809.0,22590.0,5735.0,5135.0,59123.0
2,"Maine, USA","43.66783, -70.27517",43.66783,-70.27517,11.0,East Coast,14552.0,7291.0,3809.0,22590.0,5735.0,5135.0,59123.0
3,"Maine, USA","43.66722, -70.27604",43.66722,-70.27604,11.0,East Coast,14552.0,7291.0,3809.0,22590.0,5735.0,5135.0,59123.0
4,"Maine, USA","43.66735, -70.27523",43.66735,-70.27523,11.0,East Coast,14552.0,7291.0,3809.0,22590.0,5735.0,5135.0,59123.0

In [12]:
locations = all_states[["Latitude", "Long"]].astype(float)

# Convert Poverty Rate to float and store
# HINT: be sure to handle NaN values
locations = all_states.dropna()
litter = all_states_combine["Total"].astype(float)

In [13]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=None, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

ValueError: too many values to unpack (expected 3)

In [ ]:
#gmaps.figure

In [ ]:
#m = gmaps.Map()
#m.add_layer(gmaps.WeightedHeatmap(data = ll_states))
#m

In [ ]:
# Store latitude and longitude
#latitudes = all_states["Latitude"]
#longitudes = all_states["Long"]

# Creating the location we would like to initialize the focus on. 
# Parameters: Lattitude, Longitude, Zoom
#gmap = gmplot.GoogleMapPlotter(37.0902, 95.7129, 100)

# Overlay our datapoints onto the map
#gmap.heatmap(latitudes, longitudes)

# Generate the heatmap into an HTML file
#gmap.draw("2018heatmap.html")  #("my_heatmap.html")

In [ ]:
#fig = gmaps.figure(map_type='HYBRID')
#heatmap_layer = gmaps.heatmap_layer(ll_states)
#fig.add_layer(heatmap_layer)
#fig

In [ ]:
#new_york_coordinates = (40.75, -74.00)
#gmaps.figure(center=new_york_coordinates, zoom_level=12)