In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
from pprint import pprint
import json

In [6]:
# Read in the east coast GDP CSV
csv_file = pd.read_csv('Resources/GDP_East.csv', thousands=',')
east_data = pd.DataFrame(csv_file)
east_data
#east_data.columns = ['State', '2014', '2015', '2016', '2017', '2018']

                            ,2014,2015,2016,2017,2018
0   AL,"194,211.0","200,402.7","203,829.8","210,36...
1   MS,"104,146.0","105,883.4","107,096.6","110,22...
2   ME,"55,795.4","57,525.7","59,753.9","62,040.3"...
3   NY,"1,427,495.2","1,487,754.1","1,539,555.2","...
4   VA,"463,477.6","484,216.6","493,877.9","509,37...
5   LA,"238,679.5","234,299.1","227,226.7","239,20...
6   MA,"473,279.0","502,858.0","519,407.6","540,78...
7   MD,"352,046.7","367,096.5","384,889.1","394,25...
8   FL,"839,484.1","895,146.2","938,774.2","985,66...
9   GA,"485,816.7","513,565.6","539,525.1","566,47...
10  TX,"1,572,818.4","1,568,457.0","1,565,632.2","...
11  NC,"475,994.6","503,628.8","519,122.1","538,40...
12  SC,"191,938.2","203,920.9","212,987.4","223,11...
13  NH,"72,340.1","76,033.3","78,477.9","80,900.2"...
14  NJ,"546,686.5","569,679.5","582,427.5","595,32...
15  CT,"248,865.2","260,072.6","263,696.4","268,31...
16  DE,"66,891.0","70,969.4","69,549.7","70,774.8"...
17  RI,"54,427.3","56,759.4","57,693.9","58,506.3"...

In [ ]:
# Summary East v West coast bar plot

labels = ['2014', '2015', '2016', '2017', '2018']

x = np.arange(len(labels))  # the label locations
width = 0.35  # the width of the bars

fig, ax = plt.subplots()
rects1 = ax.bar(x - width/2, sums_df['East Coast'], width, label='East Coast')
rects2 = ax.bar(x + width/2, sums_df['West Coast'], width, label='West Coast')

# Add some text for labels, title and custom x-axis tick labels, etc.
ax.set_ylabel('Total GDP in Millions of USD')
ax.set_title('Summary of GDP on Each Coast by Year')
ax.set_xticks(x)
ax.set_xticklabels(labels)
ax.legend()
plt.show()