In [1]:
#Add dependencies
import pandas as pd
import numpy as np

In [2]:
#Pull in data from the state's EPA files on the laws and regulations per state
ak_df = pd.read_csv('Resources/AK_SUPP_INTEREST_FILE.CSV') # Alaska
ca_df = pd.read_csv('Resources/CA_SUPP_INTEREST_FILE.CSV') # California
hi_df = pd.read_csv('Resources/HI_SUPP_INTEREST_FILE.CSV') # Hawaii
or_df = pd.read_csv('Resources/OR_SUPP_INTEREST_FILE.CSV') # Oregon
wa_df = pd.read_csv('Resources/WA_SUPP_INTEREST_FILE.CSV') # Washington

In [5]:
#Pull the relevant columns for each state 
ak_df = ak_df.reindex(['INTEREST_TYPE', 'SUP_INTEREST_TYPE', 'START_YEAR'], axis = 'columns')
ca_df = ca_df.reindex(['INTEREST_TYPE', 'SUP_INTEREST_TYPE', 'START_YEAR'], axis = 'columns')
hi_df = hi_df.reindex(['INTEREST_TYPE', 'SUP_INTEREST_TYPE', 'START_YEAR'], axis = 'columns')
or_df = or_df.reindex(['INTEREST_TYPE', 'SUP_INTEREST_TYPE', 'START_YEAR'], axis = 'columns')
wa_df = wa_df.reindex(['INTEREST_TYPE', 'SUP_INTEREST_TYPE', 'START_YEAR'], axis = 'columns')

,INTEREST_TYPE,SUP_INTEREST_TYPE,START_DATE,START_YEAR
0,STATE MASTER,HAZARDOUS WASTE PROGRAM,NaN,1900
1,STATE MASTER,TRI REPORTER,29-JUN-0009 00:00:00,2009
2,FORMAL ENFORCEMENT ACTION,FORMAL ENFORCEMENT ACTION,9/29/2000,2000
3,STATE MASTER,SUPERFUND,06-MAY-0005 00:00:00,2005
4,STATE MASTER,LEAKING STORAGE TANK,14-DEC-0006 00:00:00,2006

In [6]:
#Add state column
ak_df.insert(0,'STATE','AK')
ca_df.insert(0,'STATE','CA')
hi_df.insert(0,'STATE','HI')
or_df.insert(0,'STATE','OR')
wa_df.insert(0,'STATE','WA')

In [9]:
#Append data frames
west_coast_df = ak_df.append(ca_df, ignore_index = True)
west_coast_df = west_coast_df.append(hi_df, ignore_index = True)
west_coast_df = west_coast_df.append(or_df, ignore_index = True)
west_coast_df = west_coast_df.append(wa_df, ignore_index = True)
west_coast_df.head()

,STATE,INTEREST_TYPE,SUP_INTEREST_TYPE,START_DATE,START_YEAR
0,CA,STATE MASTER,TRI REPORTER,29-JUN-0009 00:00:00,2009.0
1,CA,FORMAL ENFORCEMENT ACTION,FORMAL ENFORCEMENT ACTION,9/29/2000,2000.0
2,CA,STATE MASTER,SUPERFUND,06-MAY-0005 00:00:00,2005.0
3,CA,STATE MASTER,LEAKING STORAGE TANK,14-DEC-0006 00:00:00,2006.0
4,CA,FORMAL ENFORCEMENT ACTION,FORMAL ENFORCEMENT ACTION,9/26/2000,2000.0

In [7]:
#Drop the rows missing values
west_coast_df = west_coast_df.dropna()

#Drop the rows that pertain to 'Air Pollution'
west_coast_df = west_coast_df[~west_coast_df['INTEREST_TYPE'].str.contains('AIR')]
west_coast_df = west_coast_df[~west_coast_df['SUP_INTEREST_TYPE'].str.contains('AIR|REMEDIATION|FUNDING')]

#Remove spaces from all columns
west_coast_df.columns = west_coast_df.columns.str.replace(' ', '')

#Remove decimals in dataframes
pd.set_option('precision', 0)

In [26]:
#Pull the counts of laws/regulations by State and Year
state_count_df = pd.DataFrame(west_coast_df.groupby(['STATE','START_YEAR']).count())
state_count_df = state_count_df.reset_index()

#Filter out only the years 2014 - 2018
state_count_df = state_count_df.loc[state_count_df['START_YEAR'].astype(str).str.contains('2014|2015|2016|2017|2018')]
pd.to_csv('')

   STATE  START_YEAR  INTEREST_TYPE  SUP_INTEREST_TYPE  START_DATE
41    CA      2014.0          25901              25901       25901
42    CA      2015.0          12465              12465       12465
43    CA      2016.0            160                160         160
44    CA      2017.0            246                246         246
45    CA      2018.0            507                507         507

In [12]:
#Pull the counts of laws/regulations by year for the entire coast
coast_count_df = pd.DataFrame(west_coast_df.groupby(['START_YEAR']).count())
coast_count_df = coast_count_df.reset_index()

#Filter out only the years 2014 - 2018
coast_count_df = coast_count_df.loc[coast_count_df['START_YEAR'].astype(str).str.contains('2014|2015|2016|2017|2018')]

START_YEAR           5
STATE                5
INTEREST_TYPE        5
SUP_INTEREST_TYPE    5
START_DATE           5
dtype: int64