In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
from pprint import pprint
import json

In [2]:
#List in all necessary data files 
Bicoastal_Litter = "https://media.githubusercontent.com/media/deirdrebclark/Project1/master/output_data/Bicoastal_Litter.csv"
Bicoastal_Litter = pd.read_csv(Bicoastal_Litter)

In [32]:
#Prepare GDP West files
GDP_West = "https://media.githubusercontent.com/media/deirdrebclark/Project1/master/output_data/GDP_West.csv"
GDP_West = pd.read_csv(GDP_West)
GDP_West.columns=['State','2014','2015','2016','2017','2018']
GDP_West

  State         2014         2015         2016         2017         2018
0    AK     55,523.4     50,641.6     49,363.4     51,803.1     54,734.1
1    CA  2,395,162.3  2,553,772.2  2,657,797.6  2,819,110.7  2,997,732.8
2    HI     77,854.3     82,710.0     85,843.8     89,428.9     93,797.9
3    OR    188,880.2    203,158.9    215,050.4    226,618.9    239,782.8
4    WA    442,201.3    470,329.3    491,358.2    524,814.6    565,831.0

In [28]:
gdp_sum_west=GDP_West.sum
gdp_sum_west

<bound method DataFrame.sum of   State         2014         2015         2016         2017         2018
0    AK     55,523.4     50,641.6     49,363.4     51,803.1     54,734.1
1    CA  2,395,162.3  2,553,772.2  2,657,797.6  2,819,110.7  2,997,732.8
2    HI     77,854.3     82,710.0     85,843.8     89,428.9     93,797.9
3    OR    188,880.2    203,158.9    215,050.4    226,618.9    239,782.8
4    WA    442,201.3    470,329.3    491,358.2    524,814.6    565,831.0>

In [6]:
#Prepare GDP East files 
GDP_East = "https://media.githubusercontent.com/media/deirdrebclark/Project1/master/output_data/GDP_East.csv"
GDP_East = pd.read_csv(GDP_East)
GDP_East.columns=['State','2014','2015','2016','2017','2018']
GDP_East

   State         2014         2015         2016         2017         2018
0     AL    194,211.0    200,402.7    203,829.8    210,364.4    221,735.5
1     MS    104,146.0    105,883.4    107,096.6    110,223.4    114,834.2
2     ME     55,795.4     57,525.7     59,753.9     62,040.3     64,856.0
3     NY  1,427,495.2  1,487,754.1  1,539,555.2  1,604,133.6  1,668,866.2
4     VA    463,477.6    484,216.6    493,877.9    509,372.8    532,892.5
5     LA    238,679.5    234,299.1    227,226.7    239,204.3    257,287.8
6     MA    473,279.0    502,858.0    519,407.6    540,786.0    569,488.0
7     MD    352,046.7    367,096.5    384,889.1    394,258.6    412,584.2
8     FL    839,484.1    895,146.2    938,774.2    985,665.4  1,039,236.4
9     GA    485,816.7    513,565.6    539,525.1    566,473.6    592,153.4
10    TX  1,572,818.4  1,568,457.0  1,565,632.2  1,665,631.8  1,802,511.2
11    NC    475,994.6    503,628.8    519,122.1    538,401.6    563,690.5
12    SC    191,938.2    203,920.9    212,987.4    223,111.1    233,929.9
13    NH     72,340.1     76,033.3     78,477.9     80,900.2     84,463.9
14    NJ    546,686.5    569,679.5    582,427.5    595,324.5    622,002.8
15    CT    248,865.2    260,072.6    263,696.4    268,310.5    275,726.9
16    DE     66,891.0     70,969.4     69,549.7     70,774.8     73,481.3
17    RI     54,427.3     56,759.4     57,693.9     58,506.3     60,587.6

In [8]:
#Prepare West Coast population files
west_pop = "https://media.githubusercontent.com/media/deirdrebclark/Project1/master/output_data/west_pop.csv"
west_pop = pd.read_csv(west_pop)
west_pop.columns=['Year','Alaska','California','Hawaii','Oregon','Washington']
west_pop

   Year   Alaska  California     Hawaii     Oregon Washington
0  2014  736,732  38,802,500  1,419,561  3,970,239  7,061,530
1  2015  738,432  39,144,818  1,431,603  4,028,977  7,170,351
2  2016  736,855  38,654,206  1,413,673  3,982,267  7,073,146
3  2017  738,565  38,982,847  1,421,658  4,025,127  7,169,967
4  2018  738,516  39,148,760  1,422,029  4,081,943  7,294,336

In [24]:
#Prepare East Coast population files 
east_pop = "https://media.githubusercontent.com/media/deirdrebclark/Project1/master/output_data/east_pop.csv"
east_pop = pd.read_csv(east_pop)
new_east=east_pop.rename(columns={'Unnamed: 0':'Year'})
new_east

,Year,Alabama,Connecticut,Delaware,Florida,Georgia,Louisiana,Maine,Maryland,Massachusetts,Mississippi,New Hampshire,New Jersey,New York,North Carolina,Rhode Island,South Carolina,Texas,Virginia
0,2014,"4,849,377","3,596,677","935,614","19,893,297","10,097,343","4,649,676","1,330,089","5,976,407","6,745,408","2,994,079","1,326,813","8,938,175","19,746,227","9,943,964","1,055,173","4,832,482","26,956,958","8,326,289"
1,2015,"4,858,979","3,590,886","945,934","20,271,272","10,214,860","4,670,724","1,329,328","6,006,401","6,794,422","2,992,333","1,330,608","8,958,013","19,795,791","10,042,802","1,056,298","4,896,146","27,469,114","8,382,993"
2,2016,"4,863,300","3,576,452","952,065","20,612,439","10,310,371","4,681,666","1,331,479","6,016,447","6,811,779","2,988,726","1,334,795","8,944,469","19,745,289","10,146,788","1,056,426","4,961,119","27,862,596","8,411,808"
3,2017,"4,874,747","3,588,184","961,939","20,984,400","10,429,379","4,684,333","1,335,907","6,052,177","6,859,819","2,984,100","1,342,795","9,005,644","19,849,399","10,273,419","1,059,639","5,024,369","28,304,596","8,470,020"
4,2018,"4,887,871","3,572,665","967,171","21,299,325","10,519,475","4,659,978","1,338,404","6,042,718","6,902,149","2,986,530","1,356,458","8,908,520","19,542,209","10,383,620","1,057,315","5,084,127","28,701,845","8,517,685"

In [22]:
#Prepare total population data
total_pop = "https://media.githubusercontent.com/media/deirdrebclark/Project1/master/output_data/total_pop.csv"
total_pop = pd.read_csv(total_pop)
new_total=total_pop.rename(columns={'Unnamed: 0':'Year'})
new_total

   Year West Coast Population East Coast Population
0  2014            51,990,562           142,194,048
1  2015            52,514,181           143,606,904
2  2016            51,860,147           144,608,014
3  2017            52,338,164           146,084,866
4  2018            52,685,584           146,728,065

In [ ]:
new_total.sum