In [1]:
import pandas as pd

In [2]:
# Creating links to sources

alaska = "Resources/Alaska2018.csv"
california = "Resources/California2018.csv"
hawaii = "Resources/Hawaii2018.csv"
oregon = "Resources/Oregon2018.csv"
washington = "Resources/Washington2018.csv"

In [3]:
alaska_pd = pd.read_csv(alaska)
california_pd = pd.read_csv(california)
hawaii_pd = pd.read_csv(hawaii)
oregon_pd = pd.read_csv(oregon)
washington_pd = pd.read_csv(washington)

In [4]:
WC_states = [alaska_pd, california_pd, hawaii_pd, oregon_pd, washington_pd]
WC = pd.concat(WC_states)
WC.head()

,Cleanup ID,Zone,State,Country,GPS,Cleanup Type,Cleanup Date,Group Name,Adults,Children,...,Other Trash (Clean Swell),Condoms,Diapers,Syringes,Tampons/Tampon Applicators,Personal Hygiene (Clean Swell),Foam Pieces,Glass Pieces,Plastic Pieces,Total Items Collected
0,35174,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.639804104837, -151.51624679362","Land (beach, shoreline and inland)",2018-03-11,Zone 1,1.0,0.0,...,0,0,0,0,0,0,0,0,0,1.0
1,37617,"Sitka, AK, USA","Alaska, USA",United States,"57.058656606678, -135.32409667969","Land (beach, shoreline and inland)",2018-05-14,Alaskan Brewing Co. and Sitka Sound Science Ce...,23.0,4.0,...,0,1,1,0,0,0,211,124,177,2463.0
2,37644,"Aleutians West, AK, USA","Alaska, USA",United States,"57.12851, -170.2719","Land (beach, shoreline and inland)",2018-05-15,St. Paul Island School (Grade 4),9.0,0.0,...,128,0,0,0,0,0,0,0,11,205.0
3,40636,"Haines, AK, USA","Alaska, USA",United States,"59.17264, -135.3908","Land (beach, shoreline and inland)",2018-08-01,NaN,1.0,0.0,...,0,0,0,0,0,0,0,0,0,1.0
4,40639,"Haines, AK, USA","Alaska, USA",United States,"59.20778, -135.36361","Land (beach, shoreline and inland)",2018-08-01,NaN,1.0,0.0,...,5,0,0,0,0,1,0,0,0,23.0

In [5]:
WC_edit = WC.drop(columns=['Cleanup ID', 'Zone', 'Country', 'Cleanup Date', 'Group Name', 'Adults', 'Children', 'People'])
WC_edit

,State,GPS,Cleanup Type,Pounds,Miles,# of bags,Cigarette Butts,"Food Wrappers (candy, chips, etc.)",Take Out/Away Containers (Plastic),Take Out/Away Containers (Foam),...,Other Trash (Clean Swell),Condoms,Diapers,Syringes,Tampons/Tampon Applicators,Personal Hygiene (Clean Swell),Foam Pieces,Glass Pieces,Plastic Pieces,Total Items Collected
0,"Alaska, USA","59.639804104837, -151.51624679362","Land (beach, shoreline and inland)",23.00,0.500000,3.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
1,"Alaska, USA","57.058656606678, -135.32409667969","Land (beach, shoreline and inland)",500.00,10.000000,0.0,329,212,24,20,...,0,1,1,0,0,0,211,124,177,2463.0
2,"Alaska, USA","57.12851, -170.2719","Land (beach, shoreline and inland)",35.07,0.099000,0.0,0,0,0,1,...,128,0,0,0,0,0,0,0,11,205.0
3,"Alaska, USA","59.17264, -135.3908","Land (beach, shoreline and inland)",0.51,0.000000,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
4,"Alaska, USA","59.20778, -135.36361","Land (beach, shoreline and inland)",5.00,0.315400,0.0,0,5,0,0,...,5,0,0,0,0,1,0,0,0,23.0
5,"Alaska, USA","59.20935, -135.37024","Land (beach, shoreline and inland)",0.17,0.000000,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2.0
6,"Alaska, USA","59.20935, -135.37024","Land (beach, shoreline and inland)",0.17,0.000000,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2.0
7,"Alaska, USA","58.3973, -134.5871","Land (beach, shoreline and inland)",0.12,0.804000,0.0,0,4,0,0,...,0,0,0,0,0,0,0,0,0,4.0
8,"Alaska, USA","59.27215, -135.44062","Land (beach, shoreline and inland)",0.24,0.000000,0.0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,2.0
9,"Alaska, USA","61.06854, -146.08452","Land (beach, shoreline and inland)",0.15,3.030600,0.0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,2.0
10,"Alaska, USA","61.12679, -146.26196","Land (beach, shoreline and inland)",1.02,1.022700,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2.0
11,"Alaska, USA","61.12791, -146.33235","Land (beach, shoreline and inland)",0.75,0.667300,0.0,0,6,0,0,...,0,0,0,0,0,0,0,0,0,10.0
12,"Alaska, USA","60.77619, -148.71667","Land (beach, shoreline and inland)",4.74,0.432800,0.0,2,4,0,0,...,21,0,0,0,0,1,0,0,37,79.0
13,"Alaska, USA","60.77695, -148.70369","Land (beach, shoreline and inland)",45.00,0.448200,0.0,0,3,0,0,...,5,0,0,0,0,0,0,0,0,10.0
14,"Alaska, USA","60.16166, -149.44938","Land (beach, shoreline and inland)",0.15,0.000000,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5.0
15,"Alaska, USA","60.04682, -149.44178","Land (beach, shoreline and inland)",0.12,0.000000,0.0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1.0
16,"Alaska, USA","60.3979, -151.29592","Land (beach, shoreline and inland)",2.23,0.894700,0.0,2,2,0,0,...,6,0,0,0,0,0,0,0,2,24.0
17,"Alaska, USA","60.38983, -151.29695","Land (beach, shoreline and inland)",0.01,0.000000,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2.0
18,"Alaska, USA","59.63966, -151.54806","Land (beach, shoreline and inland)",0.01,0.294300,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2.0
19,"Alaska, USA","61.20241, -149.87825","Land (beach, shoreline and inland)",1.25,68.043100,0.0,0,0,0,0,...,3,0,0,0,0,0,0,0,0,8.0
20,"Alaska, USA","63.33647, -142.98625","Land (beach, shoreline and inland)",2.00,0.104800,0.0,0,0,0,0,...,3,0,0,0,0,0,0,0,0,8.0
21,"Alaska, USA","55.47254, -133.13337","Land (beach, shoreline and inland)",0.00,0.021600,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
22,"Alaska, USA","59.561368861099, -151.3558952433","Land (beach, shoreline and inland)",55.56,2.500000,2.0,0,1,1,0,...,0,0,0,0,0,0,5,0,1,57.0
23,"Alaska, USA","59.609083032121, -151.43821095055","Land (beach, shoreline and inland)",25.13,0.500000,1.0,272,94,5,3,...,0,0,0,0,0,0,28,18,129,1263.0
24,"Alaska, USA","58.2727, -134.38711","Land (beach, shoreline and inland)",8.72,2.742900,0.0,25,12,0,1,...,23,0,0,0,0,0,0,0,32,137.0
25,"Alaska, USA","58.29991, -134.42291","Land (beach, shoreline and inland)",7.72,1.151300,0.0,31,6,7,6,...,2,0,0,0,0,1,0,0,13,141.0
26,"Alaska, USA","59.621206800058, -151.45455596731","Land (beach, shoreline and inland)",138.50,1.000000,7.0,259,123,6,1,...,0,1,0,0,0,0,66,37,143,1180.0
27,"Alaska, USA","59.637203053871, -151.54071820031","Land (beach, shoreline and inland)",70.20,1.000000,8.0,76,87,11,0,...,0,0,0,0,1,0,43,105,121,723.0
28,"Alaska, USA","59.667877440419, -151.43411038688","Land (beach, shoreline and inland)",128.25,1.300000,4.0,0,4,0,0,...,0,0,0,0,0,0,33,13,16,165.0
29,"Alaska, USA","59.595625904966, -151.27267637948","Land (beach, shoreline and inland)",25.20,2.000000,3.0,3,9,0,3,...,0,0,0,0,0,0,80,2,10,169.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425,"Washington, USA","47.24791, -122.54986","Land (beach, shoreline and inland)",1.59,0.013500,0.0,27,3,0,0,...,5,0,0,0,0,0,0,0,5,44.0
426,"Washington, USA","47.40721, -122.33088","Land (beach, shoreline and inland)",1.03,0.000000,0.0,1,3,1,1,...,3,0,0,0,0,0,0,0,7,27.0
427,"Washington, USA","48.894600613373, -122.78401470453","Land (beach, shoreline and inland)",15.00,0.400000,1.0,0,5,0,0,...,0,0,0,0,0,0,59,0,9,123.0
428,"Washington, USA","47.34630935026, -122.47140710984","Land (beach, shoreline and inland)",15.00,0.500000,0.0,0,6,0,1,...,0,0,0,0,0,0,5,0,6,100.0
429,"Washington, USA","48.228585454884, -122.76932694091","Land (beach, shoreline and inland)",5.00,0.200000,1.0,0,3,0,0,...,0,0,0,0,0,0,33,0,0,70.0
430,"Washington, USA","47.388112898579, -122.37403395956","Land (beach, shoreline and inland)",25.00,0.200000,1.0,0,13,0,0,...,0,0,0,0,1,0,10,0,12,143.0
431,"Washington, USA","47.40723, -122.3309","Land (beach, shoreline and inland)",1.04,0.000000,0.0,0,2,0,2,...,2,0,0,0,0,0,0,0,2,13.0
432,"Washington, USA","47.40722, -122.33076","Land (beach, shoreline and inland)",0.44,0.000000,0.0,5,0,3,0,...,0,0,0,0,0,0,0,0,13,25.0
433,"Washington, USA","47.68834, -122.38867","Land (beach, shoreline and inland)",0.18,0.033400,0.0,2,2,1,0,...,0,0,0,0,0,0,0,0,5,11.0
434,"Washington, USA","47.478627365378, -122.36149462379","Land (beach, shoreline and inland)",178.00,3.000000,23.0,422,204,2,0,...,0,1,3,0,2,0,210,23,282,1546.0
435,"Washington, USA","47.68829, -122.38879","Land (beach, shoreline and inland)",0.80,0.010000,0.0,2,6,5,0,...,0,0,0,0,0,1,0,0,8,29.0
436,"Washington, USA","47.69338, -122.40402","Land (beach, shoreline and inland)",0.63,0.050700,0.0,13,3,2,3,...,0,0,0,0,0,1,0,0,6,42.0
437,"Washington, USA","47.40719, -122.33088","Land (beach, shoreline and inland)",4.02,0.000000,0.0,3,0,3,0,...,2,0,0,0,0,1,0,0,10,41.0
438,"Washington, USA","47.40721, -122.33082","Land (beach, shoreline and inland)",7.51,0.000000,0.0,3,3,4,0,...,4,0,0,0,0,0,0,0,57,119.0
439,"Washington, USA","47.69457, -122.40465","Land (beach, shoreline and inland)",0.72,0.157700,0.0,25,2,0,0,...,3,0,0,0,0,0,0,0,4,42.0
440,"Washington, USA","47.69112, -122.40354","Land (beach, shoreline and inland)",0.43,0.012800,0.0,4,4,0,0,...,2,0,0,0,0,0,0,0,4,15.0
441,"Washington, USA","47.68835, -122.38836","Land (beach, shoreline and inland)",1.61,0.008100,0.0,8,1,0,0,...,7,0,0,0,0,0,0,0,6,45.0
442,"Washington, USA","47.45645, -122.34114","Land (beach, shoreline and inland)",2.76,0.019700,0.0,0,2,1,0,...,8,0,0,0,0,0,0,0,4,22.0
443,"Washington, USA","47.69485, -122.40435","Land (beach, shoreline and inland)",0.45,0.289100,0.0,3,1,2,0,...,0,0,0,0,0,0,0,0,3,22.0
444,"Washington, USA","47.40728, -122.33079","Land (beach, shoreline and inland)",20.64,0.000000,0.0,5,0,2,3,...,120,0,0,0,0,3,0,0,75,236.0
445,"Washington, USA","47.40715, -122.33077","Land (beach, shoreline and inland)",1.63,0.002800,0.0,2,0,3,0,...,0,0,0,0,0,0,0,0,30,45.0
446,"Washington, USA","47.68944, -122.40293","Land (beach, shoreline and inland)",5.24,0.033900,0.0,10,19,0,0,...,7,0,0,0,0,12,0,0,34,140.0
447,"Washington, USA","47.37309, -122.29906","Land (beach, shoreline and inland)",7.42,0.003500,0.0,40,0,1,4,...,19,0,0,0,0,1,0,0,75,154.0
448,"Washington, USA","47.4073, -122.33087","Land (beach, shoreline and inland)",1.43,0.000000,0.0,3,3,0,0,...,10,0,0,0,0,0,0,0,5,25.0
449,"Washington, USA","47.70072, -122.37729","Land (beach, shoreline and inland)",0.37,0.038600,0.0,20,7,0,0,...,0,0,0,0,0,1,0,0,0,29.0
450,"Washington, USA","47.58867644, -122.3799276",Underwater,6.60,0.277885,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,10,13.0
451,"Washington, USA","47.38604168212, -122.37633958277","Land (beach, shoreline and inland)",15.00,0.100000,1.0,0,3,0,3,...,0,0,0,0,0,0,140,0,12,248.0
452,"Washington, USA","46.732951026216, -117.1806041161","Land (beach, shoreline and inland)",40.00,2.000000,15.0,382,155,11,2,...,0,2,0,0,1,0,180,13,625,2057.0
453,"Washington, USA","47.10056, -122.72883","Land (beach, shoreline and inland)",58.00,0.007200,0.0,6,4,14,2,...,8,0,0,0,0,0,0,0,9,104.0
454,NaN,NaN,NaN,NaN,NaN,NaN,18975,6748,818,462,...,4180,21,19,42,89,325,11775,2106,14510,NaN

In [6]:
WC_renamed = WC_edit.rename(columns = {"Food Wrappers (candy, chips, etc.)" : "Food Wrappers", 
                                       "Take Out/Away Containers (Plastic)" : "Food Containers (Plastic)", 
                                       "Take Out/Away Containers (Foam)" : "Food Containers (Foam)", 
                                       "Fishing Buoys, Pots & Traps" : "Fishing Tools", "Fishing Net & Pieces" : "Fishing Nets", 
                                       "Fishing Line (1 yard/meter = 1 piece)" : "Fishing Lines", "Rope (1 yard/meter = 1 piece)" : "Rope", 
                                       "Fishing Gear (Clean Swell)" : "Fishing Gear", "Other Plastic Bottles (oil, bleach, etc.)" : "Other Plastic Bottles", 
                                       "Tobacco Packaging/Wrap" : "Tobacco Packs", "Other Packaging (Clean Swell)" : "Other Packaging", 
                                       "Other Trash (Clean Swell)" : "Other Trash", "Personal Hygiene (Clean Swell)" : "Hygiene"})
WC_renamed

,State,GPS,Cleanup Type,Pounds,Miles,# of bags,Cigarette Butts,Food Wrappers,Food Containers (Plastic),Food Containers (Foam),...,Other Trash,Condoms,Diapers,Syringes,Tampons/Tampon Applicators,Hygiene,Foam Pieces,Glass Pieces,Plastic Pieces,Total Items Collected
0,"Alaska, USA","59.639804104837, -151.51624679362","Land (beach, shoreline and inland)",23.00,0.500000,3.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
1,"Alaska, USA","57.058656606678, -135.32409667969","Land (beach, shoreline and inland)",500.00,10.000000,0.0,329,212,24,20,...,0,1,1,0,0,0,211,124,177,2463.0
2,"Alaska, USA","57.12851, -170.2719","Land (beach, shoreline and inland)",35.07,0.099000,0.0,0,0,0,1,...,128,0,0,0,0,0,0,0,11,205.0
3,"Alaska, USA","59.17264, -135.3908","Land (beach, shoreline and inland)",0.51,0.000000,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
4,"Alaska, USA","59.20778, -135.36361","Land (beach, shoreline and inland)",5.00,0.315400,0.0,0,5,0,0,...,5,0,0,0,0,1,0,0,0,23.0
5,"Alaska, USA","59.20935, -135.37024","Land (beach, shoreline and inland)",0.17,0.000000,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2.0
6,"Alaska, USA","59.20935, -135.37024","Land (beach, shoreline and inland)",0.17,0.000000,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2.0
7,"Alaska, USA","58.3973, -134.5871","Land (beach, shoreline and inland)",0.12,0.804000,0.0,0,4,0,0,...,0,0,0,0,0,0,0,0,0,4.0
8,"Alaska, USA","59.27215, -135.44062","Land (beach, shoreline and inland)",0.24,0.000000,0.0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,2.0
9,"Alaska, USA","61.06854, -146.08452","Land (beach, shoreline and inland)",0.15,3.030600,0.0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,2.0
10,"Alaska, USA","61.12679, -146.26196","Land (beach, shoreline and inland)",1.02,1.022700,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2.0
11,"Alaska, USA","61.12791, -146.33235","Land (beach, shoreline and inland)",0.75,0.667300,0.0,0,6,0,0,...,0,0,0,0,0,0,0,0,0,10.0
12,"Alaska, USA","60.77619, -148.71667","Land (beach, shoreline and inland)",4.74,0.432800,0.0,2,4,0,0,...,21,0,0,0,0,1,0,0,37,79.0
13,"Alaska, USA","60.77695, -148.70369","Land (beach, shoreline and inland)",45.00,0.448200,0.0,0,3,0,0,...,5,0,0,0,0,0,0,0,0,10.0
14,"Alaska, USA","60.16166, -149.44938","Land (beach, shoreline and inland)",0.15,0.000000,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5.0
15,"Alaska, USA","60.04682, -149.44178","Land (beach, shoreline and inland)",0.12,0.000000,0.0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1.0
16,"Alaska, USA","60.3979, -151.29592","Land (beach, shoreline and inland)",2.23,0.894700,0.0,2,2,0,0,...,6,0,0,0,0,0,0,0,2,24.0
17,"Alaska, USA","60.38983, -151.29695","Land (beach, shoreline and inland)",0.01,0.000000,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2.0
18,"Alaska, USA","59.63966, -151.54806","Land (beach, shoreline and inland)",0.01,0.294300,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2.0
19,"Alaska, USA","61.20241, -149.87825","Land (beach, shoreline and inland)",1.25,68.043100,0.0,0,0,0,0,...,3,0,0,0,0,0,0,0,0,8.0
20,"Alaska, USA","63.33647, -142.98625","Land (beach, shoreline and inland)",2.00,0.104800,0.0,0,0,0,0,...,3,0,0,0,0,0,0,0,0,8.0
21,"Alaska, USA","55.47254, -133.13337","Land (beach, shoreline and inland)",0.00,0.021600,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
22,"Alaska, USA","59.561368861099, -151.3558952433","Land (beach, shoreline and inland)",55.56,2.500000,2.0,0,1,1,0,...,0,0,0,0,0,0,5,0,1,57.0
23,"Alaska, USA","59.609083032121, -151.43821095055","Land (beach, shoreline and inland)",25.13,0.500000,1.0,272,94,5,3,...,0,0,0,0,0,0,28,18,129,1263.0
24,"Alaska, USA","58.2727, -134.38711","Land (beach, shoreline and inland)",8.72,2.742900,0.0,25,12,0,1,...,23,0,0,0,0,0,0,0,32,137.0
25,"Alaska, USA","58.29991, -134.42291","Land (beach, shoreline and inland)",7.72,1.151300,0.0,31,6,7,6,...,2,0,0,0,0,1,0,0,13,141.0
26,"Alaska, USA","59.621206800058, -151.45455596731","Land (beach, shoreline and inland)",138.50,1.000000,7.0,259,123,6,1,...,0,1,0,0,0,0,66,37,143,1180.0
27,"Alaska, USA","59.637203053871, -151.54071820031","Land (beach, shoreline and inland)",70.20,1.000000,8.0,76,87,11,0,...,0,0,0,0,1,0,43,105,121,723.0
28,"Alaska, USA","59.667877440419, -151.43411038688","Land (beach, shoreline and inland)",128.25,1.300000,4.0,0,4,0,0,...,0,0,0,0,0,0,33,13,16,165.0
29,"Alaska, USA","59.595625904966, -151.27267637948","Land (beach, shoreline and inland)",25.20,2.000000,3.0,3,9,0,3,...,0,0,0,0,0,0,80,2,10,169.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425,"Washington, USA","47.24791, -122.54986","Land (beach, shoreline and inland)",1.59,0.013500,0.0,27,3,0,0,...,5,0,0,0,0,0,0,0,5,44.0
426,"Washington, USA","47.40721, -122.33088","Land (beach, shoreline and inland)",1.03,0.000000,0.0,1,3,1,1,...,3,0,0,0,0,0,0,0,7,27.0
427,"Washington, USA","48.894600613373, -122.78401470453","Land (beach, shoreline and inland)",15.00,0.400000,1.0,0,5,0,0,...,0,0,0,0,0,0,59,0,9,123.0
428,"Washington, USA","47.34630935026, -122.47140710984","Land (beach, shoreline and inland)",15.00,0.500000,0.0,0,6,0,1,...,0,0,0,0,0,0,5,0,6,100.0
429,"Washington, USA","48.228585454884, -122.76932694091","Land (beach, shoreline and inland)",5.00,0.200000,1.0,0,3,0,0,...,0,0,0,0,0,0,33,0,0,70.0
430,"Washington, USA","47.388112898579, -122.37403395956","Land (beach, shoreline and inland)",25.00,0.200000,1.0,0,13,0,0,...,0,0,0,0,1,0,10,0,12,143.0
431,"Washington, USA","47.40723, -122.3309","Land (beach, shoreline and inland)",1.04,0.000000,0.0,0,2,0,2,...,2,0,0,0,0,0,0,0,2,13.0
432,"Washington, USA","47.40722, -122.33076","Land (beach, shoreline and inland)",0.44,0.000000,0.0,5,0,3,0,...,0,0,0,0,0,0,0,0,13,25.0
433,"Washington, USA","47.68834, -122.38867","Land (beach, shoreline and inland)",0.18,0.033400,0.0,2,2,1,0,...,0,0,0,0,0,0,0,0,5,11.0
434,"Washington, USA","47.478627365378, -122.36149462379","Land (beach, shoreline and inland)",178.00,3.000000,23.0,422,204,2,0,...,0,1,3,0,2,0,210,23,282,1546.0
435,"Washington, USA","47.68829, -122.38879","Land (beach, shoreline and inland)",0.80,0.010000,0.0,2,6,5,0,...,0,0,0,0,0,1,0,0,8,29.0
436,"Washington, USA","47.69338, -122.40402","Land (beach, shoreline and inland)",0.63,0.050700,0.0,13,3,2,3,...,0,0,0,0,0,1,0,0,6,42.0
437,"Washington, USA","47.40719, -122.33088","Land (beach, shoreline and inland)",4.02,0.000000,0.0,3,0,3,0,...,2,0,0,0,0,1,0,0,10,41.0
438,"Washington, USA","47.40721, -122.33082","Land (beach, shoreline and inland)",7.51,0.000000,0.0,3,3,4,0,...,4,0,0,0,0,0,0,0,57,119.0
439,"Washington, USA","47.69457, -122.40465","Land (beach, shoreline and inland)",0.72,0.157700,0.0,25,2,0,0,...,3,0,0,0,0,0,0,0,4,42.0
440,"Washington, USA","47.69112, -122.40354","Land (beach, shoreline and inland)",0.43,0.012800,0.0,4,4,0,0,...,2,0,0,0,0,0,0,0,4,15.0
441,"Washington, USA","47.68835, -122.38836","Land (beach, shoreline and inland)",1.61,0.008100,0.0,8,1,0,0,...,7,0,0,0,0,0,0,0,6,45.0
442,"Washington, USA","47.45645, -122.34114","Land (beach, shoreline and inland)",2.76,0.019700,0.0,0,2,1,0,...,8,0,0,0,0,0,0,0,4,22.0
443,"Washington, USA","47.69485, -122.40435","Land (beach, shoreline and inland)",0.45,0.289100,0.0,3,1,2,0,...,0,0,0,0,0,0,0,0,3,22.0
444,"Washington, USA","47.40728, -122.33079","Land (beach, shoreline and inland)",20.64,0.000000,0.0,5,0,2,3,...,120,0,0,0,0,3,0,0,75,236.0
445,"Washington, USA","47.40715, -122.33077","Land (beach, shoreline and inland)",1.63,0.002800,0.0,2,0,3,0,...,0,0,0,0,0,0,0,0,30,45.0
446,"Washington, USA","47.68944, -122.40293","Land (beach, shoreline and inland)",5.24,0.033900,0.0,10,19,0,0,...,7,0,0,0,0,12,0,0,34,140.0
447,"Washington, USA","47.37309, -122.29906","Land (beach, shoreline and inland)",7.42,0.003500,0.0,40,0,1,4,...,19,0,0,0,0,1,0,0,75,154.0
448,"Washington, USA","47.4073, -122.33087","Land (beach, shoreline and inland)",1.43,0.000000,0.0,3,3,0,0,...,10,0,0,0,0,0,0,0,5,25.0
449,"Washington, USA","47.70072, -122.37729","Land (beach, shoreline and inland)",0.37,0.038600,0.0,20,7,0,0,...,0,0,0,0,0,1,0,0,0,29.0
450,"Washington, USA","47.58867644, -122.3799276",Underwater,6.60,0.277885,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,10,13.0
451,"Washington, USA","47.38604168212, -122.37633958277","Land (beach, shoreline and inland)",15.00,0.100000,1.0,0,3,0,3,...,0,0,0,0,0,0,140,0,12,248.0
452,"Washington, USA","46.732951026216, -117.1806041161","Land (beach, shoreline and inland)",40.00,2.000000,15.0,382,155,11,2,...,0,2,0,0,1,0,180,13,625,2057.0
453,"Washington, USA","47.10056, -122.72883","Land (beach, shoreline and inland)",58.00,0.007200,0.0,6,4,14,2,...,8,0,0,0,0,0,0,0,9,104.0
454,NaN,NaN,NaN,NaN,NaN,NaN,18975,6748,818,462,...,4180,21,19,42,89,325,11775,2106,14510,NaN

In [7]:
# Group all our plastic items and then call them into a data frame together based by State
plastic_group = WC_renamed[["State", "Food Containers (Plastic)", "Bottle Caps (Plastic)", "Lids (Plastic)", "Straws, Stirrers",
                                          "Beverage Bottles (Plastic)", "Grocery Bags (Plastic)", "Other Plastic Bags",
                                          "Cups, Plates (Plastic)", "6-Pack Holders", "Other Plastic Bottles", "Condoms", "Plastic Pieces"]]
plastic_group.head()

,State,Food Containers (Plastic),Bottle Caps (Plastic),Lids (Plastic),"Straws, Stirrers",Beverage Bottles (Plastic),Grocery Bags (Plastic),Other Plastic Bags,"Cups, Plates (Plastic)",6-Pack Holders,Other Plastic Bottles,Condoms,Plastic Pieces
0,"Alaska, USA",0,0,0,0,0,0,0,0,0,0,0,0
1,"Alaska, USA",24,94,66,48,146,62,28,74,6,9,1,177
2,"Alaska, USA",0,0,8,0,7,12,0,0,0,0,0,11
3,"Alaska, USA",0,0,0,0,0,0,0,0,0,0,0,0
4,"Alaska, USA",0,1,0,0,1,6,0,0,0,0,0,0

In [8]:
plastic_grouping = plastic_group.groupby(["State"])
WC_plastic_count = plastic_grouping.sum()
WC_plastic_count.head()

,Food Containers (Plastic),Bottle Caps (Plastic),Lids (Plastic),"Straws, Stirrers",Beverage Bottles (Plastic),Grocery Bags (Plastic),Other Plastic Bags,"Cups, Plates (Plastic)",6-Pack Holders,Other Plastic Bottles,Condoms,Plastic Pieces
State,,,,,,,,,,,,
"Alaska, USA",102,428,181,143,401,230,186,135,14,48,15,1683
"California, USA",12870,45321,14485,27146,22822,19597,9995,12589,549,1465,603,162222
"Hawaii, USA",774,3465,810,1420,1333,1149,984,664,47,179,24,20277
"Oregon, USA",708,2129,831,741,904,580,551,239,74,105,37,14564
"Washington, USA",818,2719,890,1340,3129,964,1057,498,112,124,21,14510

In [9]:
# Create a Subtotal Column for Plastics collected in the data frame
WC_plastic_count["Plastic Waste"]  = WC_plastic_count.sum(axis=1)
WC_plastic_count

,Food Containers (Plastic),Bottle Caps (Plastic),Lids (Plastic),"Straws, Stirrers",Beverage Bottles (Plastic),Grocery Bags (Plastic),Other Plastic Bags,"Cups, Plates (Plastic)",6-Pack Holders,Other Plastic Bottles,Condoms,Plastic Pieces,Plastic Waste
State,,,,,,,,,,,,,
"Alaska, USA",102,428,181,143,401,230,186,135,14,48,15,1683,3566
"California, USA",12870,45321,14485,27146,22822,19597,9995,12589,549,1465,603,162222,329664
"Hawaii, USA",774,3465,810,1420,1333,1149,984,664,47,179,24,20277,31126
"Oregon, USA",708,2129,831,741,904,580,551,239,74,105,37,14564,21463
"Washington, USA",818,2719,890,1340,3129,964,1057,498,112,124,21,14510,26182

In [10]:
# Before grouping all the foam together, call forward all foam items
WC_group = WC_renamed[["State", "Food Containers (Foam)", "Cups, Plates (Foam)", "Other Plastic/Foam Packaging", "Foam Pieces"]]
WC_group

,State,Food Containers (Foam),"Cups, Plates (Foam)",Other Plastic/Foam Packaging,Foam Pieces
0,"Alaska, USA",0,0,0,0
1,"Alaska, USA",20,21,83,211
2,"Alaska, USA",1,0,0,0
3,"Alaska, USA",0,0,0,0
4,"Alaska, USA",0,0,0,0
5,"Alaska, USA",0,0,0,0
6,"Alaska, USA",0,0,0,0
7,"Alaska, USA",0,0,0,0
8,"Alaska, USA",0,0,0,0
9,"Alaska, USA",0,0,0,0
10,"Alaska, USA",0,0,0,0
11,"Alaska, USA",0,0,0,0
12,"Alaska, USA",0,0,0,0
13,"Alaska, USA",0,0,0,0
14,"Alaska, USA",0,0,0,0
15,"Alaska, USA",0,0,0,0
16,"Alaska, USA",0,0,0,0
17,"Alaska, USA",0,0,0,0
18,"Alaska, USA",0,0,0,0
19,"Alaska, USA",0,0,0,0
20,"Alaska, USA",0,0,0,0
21,"Alaska, USA",0,0,0,0
22,"Alaska, USA",0,0,3,5
23,"Alaska, USA",3,1,25,28
24,"Alaska, USA",1,0,0,0
25,"Alaska, USA",6,0,0,0
26,"Alaska, USA",1,1,10,66
27,"Alaska, USA",0,7,8,43
28,"Alaska, USA",0,0,3,33
29,"Alaska, USA",3,0,0,80
...,...,...,...,...,...
425,"Washington, USA",0,0,0,0
426,"Washington, USA",1,0,0,0
427,"Washington, USA",0,1,0,59
428,"Washington, USA",1,0,25,5
429,"Washington, USA",0,0,28,33
430,"Washington, USA",0,3,43,10
431,"Washington, USA",2,0,0,0
432,"Washington, USA",0,0,0,0
433,"Washington, USA",0,0,0,0
434,"Washington, USA",0,9,75,210
435,"Washington, USA",0,0,0,0
436,"Washington, USA",3,0,0,0
437,"Washington, USA",0,0,0,0
438,"Washington, USA",0,0,0,0
439,"Washington, USA",0,0,0,0
440,"Washington, USA",0,0,0,0
441,"Washington, USA",0,0,0,0
442,"Washington, USA",0,0,0,0
443,"Washington, USA",0,0,0,0
444,"Washington, USA",3,0,0,0
445,"Washington, USA",0,0,0,0
446,"Washington, USA",0,0,0,0
447,"Washington, USA",4,0,0,0
448,"Washington, USA",0,0,0,0
449,"Washington, USA",0,0,0,0
450,"Washington, USA",0,0,0,0
451,"Washington, USA",3,7,43,140
452,"Washington, USA",2,10,100,180
453,"Washington, USA",2,0,0,0
454,NaN,462,110,1737,11775

In [11]:
# Grouping foam pieces together
foam_group = WC_group.groupby(["State"])
WC_foam_counts = foam_group.sum()
WC_foam_counts

,Food Containers (Foam),"Cups, Plates (Foam)",Other Plastic/Foam Packaging,Foam Pieces
State,,,,
"Alaska, USA",49,57,406,3536
"California, USA",7748,3056,10494,50540
"Hawaii, USA",696,421,575,6435
"Oregon, USA",503,146,707,3808
"Washington, USA",462,110,1737,11775

In [12]:
# Create a Subtotal Column for Foam Items collected in the data frame
WC_foam_counts["Foam Waste"]  = WC_foam_counts.sum(axis=1)
WC_foam_counts

,Food Containers (Foam),"Cups, Plates (Foam)",Other Plastic/Foam Packaging,Foam Pieces,Foam Waste
State,,,,,
"Alaska, USA",49,57,406,3536,4048
"California, USA",7748,3056,10494,50540,71838
"Hawaii, USA",696,421,575,6435,8127
"Oregon, USA",503,146,707,3808,5164
"Washington, USA",462,110,1737,11775,14084

In [13]:
# Repeating the same process, now we'll group the fishing 
WC_fishing = WC_renamed[["State", "Fishing Tools", "Fishing Nets", "Fishing Lines", "Fishing Gear", "Rope"]]
WC_fishing

,State,Fishing Tools,Fishing Nets,Fishing Lines,Fishing Gear,Rope
0,"Alaska, USA",0,0,0,0,0
1,"Alaska, USA",2,9,3,0,28
2,"Alaska, USA",0,0,0,34,0
3,"Alaska, USA",0,0,0,0,0
4,"Alaska, USA",0,0,0,3,0
5,"Alaska, USA",0,0,0,0,0
6,"Alaska, USA",0,0,0,0,0
7,"Alaska, USA",0,0,0,0,0
8,"Alaska, USA",0,0,0,0,0
9,"Alaska, USA",0,0,0,0,0
10,"Alaska, USA",0,0,0,0,0
11,"Alaska, USA",0,0,0,0,0
12,"Alaska, USA",0,0,0,0,0
13,"Alaska, USA",0,0,0,0,0
14,"Alaska, USA",0,0,0,0,0
15,"Alaska, USA",0,0,0,0,0
16,"Alaska, USA",0,0,0,0,0
17,"Alaska, USA",0,0,0,0,0
18,"Alaska, USA",0,0,0,0,0
19,"Alaska, USA",0,0,0,0,0
20,"Alaska, USA",0,0,0,0,0
21,"Alaska, USA",0,0,0,0,0
22,"Alaska, USA",0,0,0,0,11
23,"Alaska, USA",0,6,515,0,4
24,"Alaska, USA",0,0,0,0,0
25,"Alaska, USA",0,0,0,0,0
26,"Alaska, USA",3,4,103,0,25
27,"Alaska, USA",0,1,2,0,2
28,"Alaska, USA",19,5,2,0,15
29,"Alaska, USA",0,0,0,0,37
...,...,...,...,...,...,...
425,"Washington, USA",0,0,0,0,0
426,"Washington, USA",0,0,0,0,0
427,"Washington, USA",2,0,0,0,11
428,"Washington, USA",0,0,0,0,1
429,"Washington, USA",0,1,0,0,0
430,"Washington, USA",0,4,0,0,1
431,"Washington, USA",0,0,0,0,0
432,"Washington, USA",0,0,0,0,0
433,"Washington, USA",0,0,0,0,0
434,"Washington, USA",1,3,2,0,3
435,"Washington, USA",0,0,0,0,0
436,"Washington, USA",0,0,0,0,0
437,"Washington, USA",0,0,0,1,0
438,"Washington, USA",0,0,0,6,0
439,"Washington, USA",0,0,0,0,0
440,"Washington, USA",0,0,0,0,0
441,"Washington, USA",0,0,0,0,0
442,"Washington, USA",0,0,0,1,0
443,"Washington, USA",0,0,0,0,0
444,"Washington, USA",0,0,0,3,0
445,"Washington, USA",0,0,0,0,0
446,"Washington, USA",0,0,0,0,0
447,"Washington, USA",0,0,0,3,0
448,"Washington, USA",0,0,0,0,0
449,"Washington, USA",0,0,0,0,0
450,"Washington, USA",0,0,1,0,0
451,"Washington, USA",1,1,0,0,0
452,"Washington, USA",0,1,1,0,0
453,"Washington, USA",0,0,0,15,0
454,NaN,121,145,185,664,388

In [14]:
# Grouping Foam Pieces together
fishing_group = WC_fishing.groupby(["State"])
WC_fishing_counts = fishing_group.sum()
WC_fishing_counts

,Fishing Tools,Fishing Nets,Fishing Lines,Fishing Gear,Rope
State,,,,,
"Alaska, USA",95,77,751,37,239
"California, USA",501,1119,3918,2301,1617
"Hawaii, USA",352,438,614,2765,785
"Oregon, USA",85,250,227,192,550
"Washington, USA",121,145,185,664,388

In [15]:
# Create a Subtotal Column for Plastics collected in the data frame
WC_fishing_counts["Fisherman's Waste"]  = WC_fishing_counts.sum(axis=1)
WC_fishing_counts

,Fishing Tools,Fishing Nets,Fishing Lines,Fishing Gear,Rope,Fisherman's Waste
State,,,,,,
"Alaska, USA",95,77,751,37,239,1199
"California, USA",501,1119,3918,2301,1617,9456
"Hawaii, USA",352,438,614,2765,785,4954
"Oregon, USA",85,250,227,192,550,1304
"Washington, USA",121,145,185,664,388,1503

In [16]:
# Same process with Misc
random_mess = WC_renamed[["State", "Strapping Bands", "Other Packaging", "Other Trash", "Fireworks", 
                          "Appliances (refrigerators, washers, etc.)", "# of bags", "Construction Materials", "Tires", 
                          "Toys", "Diapers", "Syringes", "Tampons/Tampon Applicators", "Hygiene", "Glass Pieces"]]
random_mess

,State,Strapping Bands,Other Packaging,Other Trash,Fireworks,"Appliances (refrigerators, washers, etc.)",# of bags,Construction Materials,Tires,Toys,Diapers,Syringes,Tampons/Tampon Applicators,Hygiene,Glass Pieces
0,"Alaska, USA",0,0,0,0,0,3.0,0,0,0,0,0,0,0,0
1,"Alaska, USA",10,0,0,0,2,0.0,56,1,1,1,0,0,0,124
2,"Alaska, USA",0,0,128,0,0,0.0,0,0,1,0,0,0,0,0
3,"Alaska, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
4,"Alaska, USA",0,1,5,0,0,0.0,0,0,0,0,0,0,1,0
5,"Alaska, USA",0,2,0,0,0,0.0,0,0,0,0,0,0,0,0
6,"Alaska, USA",0,2,0,0,0,0.0,0,0,0,0,0,0,0,0
7,"Alaska, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
8,"Alaska, USA",0,0,2,0,0,0.0,0,0,0,0,0,0,0,0
9,"Alaska, USA",0,0,1,0,0,0.0,0,0,0,0,0,0,0,0
10,"Alaska, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
11,"Alaska, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
12,"Alaska, USA",0,6,21,0,0,0.0,0,0,2,0,0,0,1,0
13,"Alaska, USA",0,2,5,0,0,0.0,0,0,0,0,0,0,0,0
14,"Alaska, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
15,"Alaska, USA",0,0,1,0,0,0.0,0,0,0,0,0,0,0,0
16,"Alaska, USA",0,4,6,0,0,0.0,0,0,2,0,0,0,0,0
17,"Alaska, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
18,"Alaska, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
19,"Alaska, USA",0,1,3,0,0,0.0,0,0,0,0,0,0,0,0
20,"Alaska, USA",0,0,3,0,0,0.0,0,0,0,0,0,0,0,0
21,"Alaska, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
22,"Alaska, USA",0,0,0,0,0,2.0,13,0,0,0,0,0,0,0
23,"Alaska, USA",5,0,0,1,0,1.0,40,0,1,0,0,0,0,18
24,"Alaska, USA",0,1,23,0,0,0.0,0,0,0,0,0,0,0,0
25,"Alaska, USA",0,3,2,0,0,0.0,0,0,8,0,0,0,1,0
26,"Alaska, USA",20,0,0,6,0,7.0,184,1,4,0,0,0,0,37
27,"Alaska, USA",6,0,0,0,1,8.0,88,0,2,0,0,1,0,105
28,"Alaska, USA",6,0,0,0,0,4.0,8,0,0,0,0,0,0,13
29,"Alaska, USA",2,0,0,0,0,3.0,6,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425,"Washington, USA",0,2,5,0,0,0.0,0,0,0,0,0,0,0,0
426,"Washington, USA",0,0,3,0,0,0.0,0,0,0,0,0,0,0,0
427,"Washington, USA",0,0,0,1,0,1.0,4,0,0,0,0,0,0,0
428,"Washington, USA",0,0,0,0,1,0.0,5,0,0,0,0,0,0,0
429,"Washington, USA",0,0,0,0,0,1.0,3,0,0,0,0,0,0,0
430,"Washington, USA",0,0,0,0,0,1.0,12,1,2,0,0,1,0,0
431,"Washington, USA",0,0,2,0,0,0.0,0,0,0,0,0,0,0,0
432,"Washington, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
433,"Washington, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
434,"Washington, USA",2,0,0,4,0,23.0,3,0,0,3,0,2,0,23
435,"Washington, USA",0,2,0,0,0,0.0,0,0,0,0,0,0,1,0
436,"Washington, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,1,0
437,"Washington, USA",0,0,2,0,0,0.0,0,0,3,0,0,0,1,0
438,"Washington, USA",0,0,4,0,0,0.0,0,0,2,0,0,0,0,0
439,"Washington, USA",0,0,3,0,0,0.0,0,0,0,0,0,0,0,0
440,"Washington, USA",0,0,2,0,0,0.0,0,0,0,0,0,0,0,0
441,"Washington, USA",0,5,7,0,0,0.0,0,0,0,0,0,0,0,0
442,"Washington, USA",0,0,8,0,0,0.0,0,0,2,0,0,0,0,0
443,"Washington, USA",0,2,0,0,0,0.0,0,0,0,0,0,0,0,0
444,"Washington, USA",0,0,120,0,0,0.0,0,0,2,0,0,0,3,0
445,"Washington, USA",0,0,0,0,0,0.0,0,0,2,0,0,0,0,0
446,"Washington, USA",0,0,7,0,0,0.0,0,0,5,0,0,0,12,0
447,"Washington, USA",0,0,19,0,0,0.0,0,0,3,0,0,0,1,0
448,"Washington, USA",0,0,10,0,0,0.0,0,0,0,0,0,0,0,0
449,"Washington, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,1,0
450,"Washington, USA",1,0,0,0,0,0.0,0,0,0,0,0,0,0,0
451,"Washington, USA",0,0,0,0,1,1.0,5,0,1,0,0,0,0,0
452,"Washington, USA",4,0,0,2,2,15.0,76,0,7,0,0,1,0,13
453,"Washington, USA",0,4,8,0,0,0.0,0,0,0,0,0,0,0,0
454,NaN,288,552,4180,381,23,NaN,527,50,257,19,42,89,325,2106

In [17]:
random_trash = random_mess.groupby(["State"])
WC_misc_waste = random_trash.sum()
WC_misc_waste

,Strapping Bands,Other Packaging,Other Trash,Fireworks,"Appliances (refrigerators, washers, etc.)",# of bags,Construction Materials,Tires,Toys,Diapers,Syringes,Tampons/Tampon Applicators,Hygiene,Glass Pieces
State,,,,,,,,,,,,,,
"Alaska, USA",94,22,204,29,33,64.0,1506,82,25,13,18,8,3,976
"California, USA",2731,10019,38335,1165,193,4680.0,5338,1600,7534,574,412,493,4184,26879
"Hawaii, USA",258,885,2703,15,41,187.0,194,19,163,53,10,30,638,4796
"Oregon, USA",336,160,912,146,31,33.0,820,143,36,36,101,283,86,1221
"Washington, USA",288,552,4180,381,23,423.0,527,50,257,19,42,89,325,2106

In [18]:
# Create a Subtotal Column for Miscellaneous items collected in the data frame
WC_misc_waste["Miscellaneous Waste Items"] = WC_misc_waste.sum(axis=1)
WC_misc_waste

,Strapping Bands,Other Packaging,Other Trash,Fireworks,"Appliances (refrigerators, washers, etc.)",# of bags,Construction Materials,Tires,Toys,Diapers,Syringes,Tampons/Tampon Applicators,Hygiene,Glass Pieces,Miscellaneous Waste Items
State,,,,,,,,,,,,,,,
"Alaska, USA",94,22,204,29,33,64.0,1506,82,25,13,18,8,3,976,3077.0
"California, USA",2731,10019,38335,1165,193,4680.0,5338,1600,7534,574,412,493,4184,26879,104137.0
"Hawaii, USA",258,885,2703,15,41,187.0,194,19,163,53,10,30,638,4796,9992.0
"Oregon, USA",336,160,912,146,31,33.0,820,143,36,36,101,283,86,1221,4344.0
"Washington, USA",288,552,4180,381,23,423.0,527,50,257,19,42,89,325,2106,9262.0

In [19]:
WC_smoking_waste = WC_renamed[["State", "Cigarette Butts", "Tobacco Packs", "Cigar Tips", "Cigarette Lighters", ]]
WC_smoking_waste

,State,Cigarette Butts,Tobacco Packs,Cigar Tips,Cigarette Lighters
0,"Alaska, USA",1,0,0,0
1,"Alaska, USA",329,27,0,20
2,"Alaska, USA",0,0,0,0
3,"Alaska, USA",0,0,0,0
4,"Alaska, USA",0,0,0,0
5,"Alaska, USA",0,0,0,0
6,"Alaska, USA",0,0,0,0
7,"Alaska, USA",0,0,0,0
8,"Alaska, USA",0,0,0,0
9,"Alaska, USA",0,0,0,0
10,"Alaska, USA",0,0,0,0
11,"Alaska, USA",0,0,0,0
12,"Alaska, USA",2,0,0,0
13,"Alaska, USA",0,0,0,0
14,"Alaska, USA",0,0,0,0
15,"Alaska, USA",0,0,0,0
16,"Alaska, USA",2,0,0,0
17,"Alaska, USA",0,0,0,0
18,"Alaska, USA",0,0,0,0
19,"Alaska, USA",0,0,0,0
20,"Alaska, USA",0,0,0,0
21,"Alaska, USA",0,0,0,0
22,"Alaska, USA",0,0,0,0
23,"Alaska, USA",272,5,2,1
24,"Alaska, USA",25,0,0,0
25,"Alaska, USA",31,0,0,0
26,"Alaska, USA",259,6,4,0
27,"Alaska, USA",76,4,0,0
28,"Alaska, USA",0,0,0,0
29,"Alaska, USA",3,1,0,0
...,...,...,...,...,...
425,"Washington, USA",27,0,0,0
426,"Washington, USA",1,0,0,0
427,"Washington, USA",0,0,0,1
428,"Washington, USA",0,0,0,0
429,"Washington, USA",0,0,0,0
430,"Washington, USA",0,0,0,1
431,"Washington, USA",0,0,0,0
432,"Washington, USA",5,0,0,0
433,"Washington, USA",2,0,0,0
434,"Washington, USA",422,5,5,1
435,"Washington, USA",2,0,0,0
436,"Washington, USA",13,0,0,0
437,"Washington, USA",3,0,0,0
438,"Washington, USA",3,0,0,0
439,"Washington, USA",25,0,0,0
440,"Washington, USA",4,0,0,0
441,"Washington, USA",8,0,0,0
442,"Washington, USA",0,0,0,0
443,"Washington, USA",3,0,0,0
444,"Washington, USA",5,0,0,0
445,"Washington, USA",2,0,0,0
446,"Washington, USA",10,0,0,0
447,"Washington, USA",40,0,0,0
448,"Washington, USA",3,0,0,0
449,"Washington, USA",20,0,0,0
450,"Washington, USA",0,0,0,0
451,"Washington, USA",0,0,0,4
452,"Washington, USA",382,28,2,0
453,"Washington, USA",6,0,0,0
454,NaN,18975,1250,241,175

In [20]:
smoking_waste_group = WC_smoking_waste.groupby(["State"])
WC_smoking_waste_counts = smoking_waste_group.sum()
WC_smoking_waste_counts

,Cigarette Butts,Tobacco Packs,Cigar Tips,Cigarette Lighters
State,,,,
"Alaska, USA",2675,124,121,32
"California, USA",160845,2466,2610,1029
"Hawaii, USA",9528,138,104,33
"Oregon, USA",6921,189,259,77
"Washington, USA",18975,1250,241,175

In [21]:
# Create a Subtotal Column for Plastics collected in the data frame
WC_smoking_waste_counts["Smoking Waste Items"]  = WC_smoking_waste_counts.sum(axis=1)
WC_smoking_waste_counts

,Cigarette Butts,Tobacco Packs,Cigar Tips,Cigarette Lighters,Smoking Waste Items
State,,,,,
"Alaska, USA",2675,124,121,32,2952
"California, USA",160845,2466,2610,1029,166950
"Hawaii, USA",9528,138,104,33,9803
"Oregon, USA",6921,189,259,77,7446
"Washington, USA",18975,1250,241,175,20641

In [22]:
food_mess = WC_renamed[["State", "Food Wrappers", "Forks, Knives, Spoons", "Bottle Caps (Metal)", "Beverage Cans", 
                        "Paper Bags", "Cups, Plates (Paper)"]]
food_mess

,State,Food Wrappers,"Forks, Knives, Spoons",Bottle Caps (Metal),Beverage Cans,Paper Bags,"Cups, Plates (Paper)"
0,"Alaska, USA",0,0,0,0,0,0
1,"Alaska, USA",212,36,22,333,11,48
2,"Alaska, USA",0,0,0,3,0,0
3,"Alaska, USA",0,0,0,0,0,0
4,"Alaska, USA",5,0,0,0,0,0
5,"Alaska, USA",0,0,0,0,0,0
6,"Alaska, USA",0,0,0,0,0,0
7,"Alaska, USA",4,0,0,0,0,0
8,"Alaska, USA",0,0,0,0,0,0
9,"Alaska, USA",0,0,0,1,0,0
10,"Alaska, USA",0,0,0,0,0,0
11,"Alaska, USA",6,0,0,2,0,0
12,"Alaska, USA",4,0,0,0,0,0
13,"Alaska, USA",3,0,0,0,0,0
14,"Alaska, USA",0,0,0,5,0,0
15,"Alaska, USA",0,0,0,0,0,0
16,"Alaska, USA",2,0,0,2,0,0
17,"Alaska, USA",0,0,0,0,0,0
18,"Alaska, USA",0,0,0,0,0,0
19,"Alaska, USA",0,0,0,1,0,0
20,"Alaska, USA",0,0,0,2,0,0
21,"Alaska, USA",0,0,0,0,0,0
22,"Alaska, USA",1,0,0,2,0,0
23,"Alaska, USA",94,2,4,22,0,7
24,"Alaska, USA",12,0,0,4,0,0
25,"Alaska, USA",6,0,0,11,0,0
26,"Alaska, USA",123,5,42,22,2,4
27,"Alaska, USA",87,6,25,33,0,12
28,"Alaska, USA",4,1,0,10,5,0
29,"Alaska, USA",9,0,1,4,1,0
...,...,...,...,...,...,...,...
425,"Washington, USA",3,0,0,0,0,0
426,"Washington, USA",3,0,0,1,0,0
427,"Washington, USA",5,0,1,16,0,0
428,"Washington, USA",6,0,0,0,0,0
429,"Washington, USA",3,0,0,0,0,0
430,"Washington, USA",13,0,0,2,0,1
431,"Washington, USA",2,0,0,3,0,0
432,"Washington, USA",0,0,0,3,0,0
433,"Washington, USA",2,0,0,0,0,0
434,"Washington, USA",204,11,30,34,0,11
435,"Washington, USA",6,0,0,0,0,0
436,"Washington, USA",3,0,0,0,0,0
437,"Washington, USA",0,0,0,7,0,0
438,"Washington, USA",3,1,0,8,0,0
439,"Washington, USA",2,0,0,2,0,0
440,"Washington, USA",4,0,0,0,0,0
441,"Washington, USA",1,0,0,3,0,0
442,"Washington, USA",2,0,0,3,0,0
443,"Washington, USA",1,0,0,1,0,0
444,"Washington, USA",0,0,0,8,0,0
445,"Washington, USA",0,1,0,1,0,0
446,"Washington, USA",19,3,0,2,0,0
447,"Washington, USA",0,1,0,4,0,0
448,"Washington, USA",3,0,0,1,0,0
449,"Washington, USA",7,0,0,0,0,0
450,"Washington, USA",0,0,0,0,0,0
451,"Washington, USA",3,0,0,0,0,1
452,"Washington, USA",155,21,23,39,127,26
453,"Washington, USA",4,0,0,7,0,0
454,NaN,6748,583,1376,2171,372,355

In [23]:
food_waste = food_mess.groupby(["State"])
WC_misc_food_waste = food_waste.sum()
WC_misc_food_waste

,Food Wrappers,"Forks, Knives, Spoons",Bottle Caps (Metal),Beverage Cans,Paper Bags,"Cups, Plates (Paper)"
State,,,,,,
"Alaska, USA",1153,83,207,809,105,147
"California, USA",84649,9979,11594,17293,5757,5712
"Hawaii, USA",4976,889,798,854,479,199
"Oregon, USA",3223,306,810,892,335,279
"Washington, USA",6748,583,1376,2171,372,355

In [24]:
# Create a Subtotal Column for Plastics collected in the data frame
WC_misc_food_waste["Misc Food Waste Items"]  = WC_misc_food_waste.sum(axis=1)
WC_misc_food_waste

,Food Wrappers,"Forks, Knives, Spoons",Bottle Caps (Metal),Beverage Cans,Paper Bags,"Cups, Plates (Paper)",Misc Food Waste Items
State,,,,,,,
"Alaska, USA",1153,83,207,809,105,147,2504
"California, USA",84649,9979,11594,17293,5757,5712,134984
"Hawaii, USA",4976,889,798,854,479,199,8195
"Oregon, USA",3223,306,810,892,335,279,5845
"Washington, USA",6748,583,1376,2171,372,355,11605

In [25]:
# Merge
WC_plastic_foam = pd.merge(WC_plastic_count, WC_foam_counts, on="State", how="left")
WC_fishing_smoking = pd.merge(WC_fishing_counts, WC_smoking_waste_counts, on="State", how="left")
WC_miscfood_misc = pd.merge(WC_misc_food_waste, WC_misc_waste, on="State", how="left")
WC_four = pd.merge(WC_plastic_foam, WC_fishing_smoking, on="State", how="left")
WC_total = pd.merge(WC_four, WC_miscfood_misc, on="State", how="left")
WC_grand_total = WC_total.drop(columns = ["Food Containers (Plastic)", "Bottle Caps (Plastic)", "Lids (Plastic)", 
                                                   "Straws, Stirrers", "Beverage Bottles (Plastic)", "Grocery Bags (Plastic)", "Other Plastic Bags", 
                                                  "Cups, Plates (Plastic)", "6-Pack Holders", "Other Plastic Bottles", "Condoms", "Plastic Pieces", 
                                                   "Food Containers (Foam)", "Cups, Plates (Foam)", "Other Plastic/Foam Packaging", "Foam Pieces", 
                                                   "Fishing Tools", "Fishing Nets", "Fishing Lines", "Fishing Gear", "Rope", "Cigarette Butts", 
                                                   "Tobacco Packs", "Cigar Tips", "Cigarette Lighters", "Food Wrappers", "Forks, Knives, Spoons", 
                                                   "Bottle Caps (Metal)", "Beverage Cans", "Paper Bags", "Cups, Plates (Paper)", "Strapping Bands", 
                                                   "Other Packaging", "Other Trash", "Fireworks", "Appliances (refrigerators, washers, etc.)", 
                                                   "# of bags", "Construction Materials", "Tires", "Toys", "Diapers", "Syringes", 
                                                   "Tampons/Tampon Applicators", "Hygiene", "Glass Pieces"])
WC_grand_total

,Plastic Waste,Foam Waste,Fisherman's Waste,Smoking Waste Items,Misc Food Waste Items,Miscellaneous Waste Items
State,,,,,,
"Alaska, USA",3566,4048,1199,2952,2504,3077.0
"California, USA",329664,71838,9456,166950,134984,104137.0
"Hawaii, USA",31126,8127,4954,9803,8195,9992.0
"Oregon, USA",21463,5164,1304,7446,5845,4344.0
"Washington, USA",26182,14084,1503,20641,11605,9262.0

In [26]:
# Saving West Coast Data to CSV
WC_grand_total.to_csv("Resources/2018_WC_Litter.csv", index=True)

In [27]:
East_Coast_Waste = "Resources/2018_EC_Litter.csv"
West_Coast_Waste = "Resources/2018_WC_Litter.csv"

In [28]:
East_Coast_Waste = pd.read_csv(East_Coast_Waste)
West_Coast_Waste = pd.read_csv(West_Coast_Waste)

In [29]:
East_Coast_Waste.head()

,State,Plastic Waste,Foam Waste,Fisherman's Waste,Smoking Waste Items,Misc Food Waste Items,Miscellaneous Waste Items
0,"Alabama, USA",40731,12157,1838,20095,19711,7201.0
1,"Connecticut, USA",32152,127171,1882,19189,15452,5799.0
2,"Delaware, USA",28168,4762,1661,9995,6862,3629.0
3,"Florida, USA",398347,67152,15004,168563,102868,80594.0
4,"Georgia, USA",73957,20588,3379,56843,25890,45300.0

In [30]:
West_Coast_Waste.head()

,State,Plastic Waste,Foam Waste,Fisherman's Waste,Smoking Waste Items,Misc Food Waste Items,Miscellaneous Waste Items
0,"Alaska, USA",3566,4048,1199,2952,2504,3077.0
1,"California, USA",329664,71838,9456,166950,134984,104137.0
2,"Hawaii, USA",31126,8127,4954,9803,8195,9992.0
3,"Oregon, USA",21463,5164,1304,7446,5845,4344.0
4,"Washington, USA",26182,14084,1503,20641,11605,9262.0

In [31]:
# Working on Merging both EC & WC Data
East_West_Litter = pd.concat([West_Coast_Waste, East_Coast_Waste], axis=0, join="outer")
East_West_Litter

,State,Plastic Waste,Foam Waste,Fisherman's Waste,Smoking Waste Items,Misc Food Waste Items,Miscellaneous Waste Items
0,"Alaska, USA",3566,4048,1199,2952,2504,3077.0
1,"California, USA",329664,71838,9456,166950,134984,104137.0
2,"Hawaii, USA",31126,8127,4954,9803,8195,9992.0
3,"Oregon, USA",21463,5164,1304,7446,5845,4344.0
4,"Washington, USA",26182,14084,1503,20641,11605,9262.0
0,"Alabama, USA",40731,12157,1838,20095,19711,7201.0
1,"Connecticut, USA",32152,127171,1882,19189,15452,5799.0
2,"Delaware, USA",28168,4762,1661,9995,6862,3629.0
3,"Florida, USA",398347,67152,15004,168563,102868,80594.0
4,"Georgia, USA",73957,20588,3379,56843,25890,45300.0
5,"Louisiana, USA",24311,3522,1267,3275,6391,4194.0
6,"Maine, USA",14552,7291,3809,22590,5735,5135.0
7,"Maryland, USA",33904,24929,458,4851,4951,2559.0
8,"Massachusetts, USA",48104,840018,6804,28572,16989,12488.0
9,"Mississippi, USA",63595,25044,2660,63959,27631,12285.0
10,"New Hampshire, USA",7074,8294,2565,10478,2437,1768.0
11,"New Jersey, USA",94512,11714,2785,21164,28946,18059.0
12,"New York, USA",136367,43365,7286,40016,45060,41218.0
13,"North Carolina, USA",33726,8498,1584,26133,15076,10629.0
14,"Rhode Island, USA",58504,15267,5192,39400,23736,16177.0
15,"South Carolina, USA",10846,1621,924,10097,5200,4787.0
16,"Texas, USA",142967,20711,8799,38298,34826,25757.0
17,"Virginia, USA",56846,17538,1425,20235,26969,12980.0

In [32]:
Combo_Data = [West_Coast_Waste, East_Coast_Waste]

In [33]:
East_West_Litter = pd.concat(Combo_Data, keys=['West Coast', 'East Coast']).reset_index()
East_West_Litter

,level_0,level_1,State,Plastic Waste,Foam Waste,Fisherman's Waste,Smoking Waste Items,Misc Food Waste Items,Miscellaneous Waste Items
0,West Coast,0,"Alaska, USA",3566,4048,1199,2952,2504,3077.0
1,West Coast,1,"California, USA",329664,71838,9456,166950,134984,104137.0
2,West Coast,2,"Hawaii, USA",31126,8127,4954,9803,8195,9992.0
3,West Coast,3,"Oregon, USA",21463,5164,1304,7446,5845,4344.0
4,West Coast,4,"Washington, USA",26182,14084,1503,20641,11605,9262.0
5,East Coast,0,"Alabama, USA",40731,12157,1838,20095,19711,7201.0
6,East Coast,1,"Connecticut, USA",32152,127171,1882,19189,15452,5799.0
7,East Coast,2,"Delaware, USA",28168,4762,1661,9995,6862,3629.0
8,East Coast,3,"Florida, USA",398347,67152,15004,168563,102868,80594.0
9,East Coast,4,"Georgia, USA",73957,20588,3379,56843,25890,45300.0
10,East Coast,5,"Louisiana, USA",24311,3522,1267,3275,6391,4194.0
11,East Coast,6,"Maine, USA",14552,7291,3809,22590,5735,5135.0
12,East Coast,7,"Maryland, USA",33904,24929,458,4851,4951,2559.0
13,East Coast,8,"Massachusetts, USA",48104,840018,6804,28572,16989,12488.0
14,East Coast,9,"Mississippi, USA",63595,25044,2660,63959,27631,12285.0
15,East Coast,10,"New Hampshire, USA",7074,8294,2565,10478,2437,1768.0
16,East Coast,11,"New Jersey, USA",94512,11714,2785,21164,28946,18059.0
17,East Coast,12,"New York, USA",136367,43365,7286,40016,45060,41218.0
18,East Coast,13,"North Carolina, USA",33726,8498,1584,26133,15076,10629.0
19,East Coast,14,"Rhode Island, USA",58504,15267,5192,39400,23736,16177.0
20,East Coast,15,"South Carolina, USA",10846,1621,924,10097,5200,4787.0
21,East Coast,16,"Texas, USA",142967,20711,8799,38298,34826,25757.0
22,East Coast,17,"Virginia, USA",56846,17538,1425,20235,26969,12980.0

In [34]:
East_West_Litter = East_West_Litter.drop(columns=['level_1'])
East_West_Litter

,level_0,State,Plastic Waste,Foam Waste,Fisherman's Waste,Smoking Waste Items,Misc Food Waste Items,Miscellaneous Waste Items
0,West Coast,"Alaska, USA",3566,4048,1199,2952,2504,3077.0
1,West Coast,"California, USA",329664,71838,9456,166950,134984,104137.0
2,West Coast,"Hawaii, USA",31126,8127,4954,9803,8195,9992.0
3,West Coast,"Oregon, USA",21463,5164,1304,7446,5845,4344.0
4,West Coast,"Washington, USA",26182,14084,1503,20641,11605,9262.0
5,East Coast,"Alabama, USA",40731,12157,1838,20095,19711,7201.0
6,East Coast,"Connecticut, USA",32152,127171,1882,19189,15452,5799.0
7,East Coast,"Delaware, USA",28168,4762,1661,9995,6862,3629.0
8,East Coast,"Florida, USA",398347,67152,15004,168563,102868,80594.0
9,East Coast,"Georgia, USA",73957,20588,3379,56843,25890,45300.0
10,East Coast,"Louisiana, USA",24311,3522,1267,3275,6391,4194.0
11,East Coast,"Maine, USA",14552,7291,3809,22590,5735,5135.0
12,East Coast,"Maryland, USA",33904,24929,458,4851,4951,2559.0
13,East Coast,"Massachusetts, USA",48104,840018,6804,28572,16989,12488.0
14,East Coast,"Mississippi, USA",63595,25044,2660,63959,27631,12285.0
15,East Coast,"New Hampshire, USA",7074,8294,2565,10478,2437,1768.0
16,East Coast,"New Jersey, USA",94512,11714,2785,21164,28946,18059.0
17,East Coast,"New York, USA",136367,43365,7286,40016,45060,41218.0
18,East Coast,"North Carolina, USA",33726,8498,1584,26133,15076,10629.0
19,East Coast,"Rhode Island, USA",58504,15267,5192,39400,23736,16177.0
20,East Coast,"South Carolina, USA",10846,1621,924,10097,5200,4787.0
21,East Coast,"Texas, USA",142967,20711,8799,38298,34826,25757.0
22,East Coast,"Virginia, USA",56846,17538,1425,20235,26969,12980.0

In [35]:
# Rename 
East_West_Litter_fin = East_West_Litter.rename(columns = {"level_0" : "Coast"})
East_West_Litter_fin

,Coast,State,Plastic Waste,Foam Waste,Fisherman's Waste,Smoking Waste Items,Misc Food Waste Items,Miscellaneous Waste Items
0,West Coast,"Alaska, USA",3566,4048,1199,2952,2504,3077.0
1,West Coast,"California, USA",329664,71838,9456,166950,134984,104137.0
2,West Coast,"Hawaii, USA",31126,8127,4954,9803,8195,9992.0
3,West Coast,"Oregon, USA",21463,5164,1304,7446,5845,4344.0
4,West Coast,"Washington, USA",26182,14084,1503,20641,11605,9262.0
5,East Coast,"Alabama, USA",40731,12157,1838,20095,19711,7201.0
6,East Coast,"Connecticut, USA",32152,127171,1882,19189,15452,5799.0
7,East Coast,"Delaware, USA",28168,4762,1661,9995,6862,3629.0
8,East Coast,"Florida, USA",398347,67152,15004,168563,102868,80594.0
9,East Coast,"Georgia, USA",73957,20588,3379,56843,25890,45300.0
10,East Coast,"Louisiana, USA",24311,3522,1267,3275,6391,4194.0
11,East Coast,"Maine, USA",14552,7291,3809,22590,5735,5135.0
12,East Coast,"Maryland, USA",33904,24929,458,4851,4951,2559.0
13,East Coast,"Massachusetts, USA",48104,840018,6804,28572,16989,12488.0
14,East Coast,"Mississippi, USA",63595,25044,2660,63959,27631,12285.0
15,East Coast,"New Hampshire, USA",7074,8294,2565,10478,2437,1768.0
16,East Coast,"New Jersey, USA",94512,11714,2785,21164,28946,18059.0
17,East Coast,"New York, USA",136367,43365,7286,40016,45060,41218.0
18,East Coast,"North Carolina, USA",33726,8498,1584,26133,15076,10629.0
19,East Coast,"Rhode Island, USA",58504,15267,5192,39400,23736,16177.0
20,East Coast,"South Carolina, USA",10846,1621,924,10097,5200,4787.0
21,East Coast,"Texas, USA",142967,20711,8799,38298,34826,25757.0
22,East Coast,"Virginia, USA",56846,17538,1425,20235,26969,12980.0

In [36]:
# Saving Overall Data together
East_West_Litter_fin.to_csv("2018_Bicoastal_Litter.csv", index=True)