In [2]:
import pandas as pd

In [3]:
# Set up path to all the summary files. 

# East coast states 
maine = "Resources/Maine_DetailedSummary.csv"
new_hampshire = "Resources/NewHampshire_DetailedSummary.csv"
massachusetts = "Resources/Massachusetts_DetailedSummary.csv"
rhode_island = "Resources/RhodeIsland_DetailedSummary.csv"
connecticut = "Resources/Connecticut_DetailedSummary.csv"
new_jersey = "Resources/NewJersey_DetailedSummary.csv"
new_york = "Resources/NewYork_DetailedSummary.csv"
delaware = "Resources/Delaware_DetailedSummary.csv"
maryland = "Resources/Maryland_DetailedSummary.csv"
virginia = "Resources/Virginia_DetailedSummary.csv"
north_carolina = "Resources/NorthCarolina_DetailedSummary.csv"
south_carolina = "Resources/SouthCarolina_DetailedSummary.csv"
georgia = "Resources/Georgia_DetailedSummary.csv"
florida = "Resources/Florida_DetailedSummary.csv"
# Gulf states
alabama = "Resources/Alabama_DetailedSummary.csv"
mississippi = "Resources/Mississippi_DetailedSummary.csv"
louisiana = "Resources/Louisiana_DetailedSummary.csv"
texas = "Resources/Texas_DetailedSummary.csv"

In [4]:
# Read all the summary files. 

# East coast States
maine_pd = pd.read_csv(maine)
new_hampshire_pd = pd.read_csv(new_hampshire)
massachusetts_pd = pd.read_csv(massachusetts)
rhode_island_pd = pd.read_csv(rhode_island)
connecticut_pd = pd.read_csv(connecticut)
new_jersey_pd = pd.read_csv(new_jersey)
new_york_pd = pd.read_csv(new_york)
delaware_pd = pd.read_csv(delaware)
maryland_pd = pd.read_csv(maryland)
virginia_pd = pd.read_csv(virginia)
north_carolina_pd = pd.read_csv(north_carolina)
south_carolina_pd = pd.read_csv(south_carolina)
georgia_pd = pd.read_csv(georgia)
florida_pd = pd.read_csv(florida)
# Gulf states
alabama_pd = pd.read_csv(alabama)
mississippi_pd = pd.read_csv(mississippi)
louisiana_pd = pd.read_csv(louisiana)
texas_pd = pd.read_csv(texas)

In [5]:
# Combine all dataframes into one file.

east_states = [maine_pd, new_hampshire_pd, massachusetts_pd, rhode_island_pd, connecticut_pd, new_jersey_pd, 
               new_york_pd, delaware_pd, maryland_pd, virginia_pd, north_carolina_pd, south_carolina_pd, 
               georgia_pd, florida_pd, alabama_pd, mississippi_pd, louisiana_pd, texas_pd]
east_coast = pd.concat(east_states)
east_coast.head()

,Cleanup ID,Zone,State,Country,GPS,Cleanup Type,Cleanup Date,Group Name,Adults,Children,...,Other Trash (Clean Swell),Condoms,Diapers,Syringes,Tampons/Tampon Applicators,Personal Hygiene (Clean Swell),Foam Pieces,Glass Pieces,Plastic Pieces,Total Items Collected
0,2653,"Hancock County, ME, USA","Maine, USA",United States,"44.45079, -68.47371","Land (beach, shoreline and inland)",2016-06-26,NaN,1.0,0.0,...,12,0,0,0,0,1,0,0,7,40.0
1,2680,"Hancock County, ME, USA","Maine, USA",United States,"44.45079, -68.47371","Land (beach, shoreline and inland)",2016-06-26,NaN,1.0,0.0,...,12,0,0,0,0,1,0,0,7,40.0
2,4259,"Hancock County, ME, USA","Maine, USA",United States,"44.453266264778, -68.301486968994","Land (beach, shoreline and inland)",2016-09-17,Just Me,1.0,0.0,...,0,0,0,0,0,0,9,2,19,102.0
3,5168,"Lincoln County, ME, USA","Maine, USA",United States,"43.90714, -69.59231","Land (beach, shoreline and inland)",2016-09-17,NaN,3.0,0.0,...,7,0,0,0,0,3,0,0,7,154.0
4,5742,"Hancock County, ME, USA","Maine, USA",United States,"44.453204996919, -68.478384017944","Land (beach, shoreline and inland)",2016-09-17,MERI,20.0,6.0,...,0,0,0,1,3,0,483,6,726,1960.0

In [6]:
# Delete unnecessary columns

EC_dropped = east_coast.drop(columns = ['Cleanup ID', 'Zone', 'Country', 'Cleanup Date', 
                                                'Group Name', 'Adults', 'Children', 'People'])
EC_dropped.head()

,State,GPS,Cleanup Type,Pounds,Miles,# of bags,Cigarette Butts,"Food Wrappers (candy, chips, etc.)",Take Out/Away Containers (Plastic),Take Out/Away Containers (Foam),...,Other Trash (Clean Swell),Condoms,Diapers,Syringes,Tampons/Tampon Applicators,Personal Hygiene (Clean Swell),Foam Pieces,Glass Pieces,Plastic Pieces,Total Items Collected
0,"Maine, USA","44.45079, -68.47371","Land (beach, shoreline and inland)",8.71,5.7884,0.0,0,1,0,0,...,12,0,0,0,0,1,0,0,7,40.0
1,"Maine, USA","44.45079, -68.47371","Land (beach, shoreline and inland)",8.71,5.7884,0.0,0,1,0,0,...,12,0,0,0,0,1,0,0,7,40.0
2,"Maine, USA","44.453266264778, -68.301486968994","Land (beach, shoreline and inland)",30.00,0.9000,2.0,3,9,0,3,...,0,0,0,0,0,0,9,2,19,102.0
3,"Maine, USA","43.90714, -69.59231","Land (beach, shoreline and inland)",2.63,0.0463,0.0,100,3,0,2,...,7,0,0,0,0,3,0,0,7,154.0
4,"Maine, USA","44.453204996919, -68.478384017944","Land (beach, shoreline and inland)",110.00,0.7500,6.0,4,91,6,21,...,0,0,0,1,3,0,483,6,726,1960.0

In [7]:
# Rename long column names to simpler forms

EC_named = EC_dropped.rename(columns = {"Food Wrappers (candy, chips, etc.)" : "Food Wrappers", "Take Out/Away Containers (Plastic)" : "Food Containers (Plastic)",
                                                          "Take Out/Away Containers (Foam)" : "Food Containers (Foam)", "Fishing Buoys, Pots & Traps" : "Fishing Tools", 
                                                          "Fishing Net & Pieces" : "Fishing Nets", "Fishing Line (1 yard/meter = 1 piece)" : "Fishing Lines", 
                                                          "Rope (1 yard/meter = 1 piece)" : "Rope", "Fishing Gear (Clean Swell)" : "Fishing Gear", 
                                                          "Other Plastic Bottles (oil, bleach, etc.)" : "Other Plastic Bottles", "Tobacco Packaging/Wrap" : "Tobacco Packs",
                                                          "Other Packaging (Clean Swell)" : "Other Packaging", "Other Trash (Clean Swell)" : "Other Trash", 
                                                          "Personal Hygiene (Clean Swell)" : "Hygiene"})
EC_named.head()

,State,GPS,Cleanup Type,Pounds,Miles,# of bags,Cigarette Butts,Food Wrappers,Food Containers (Plastic),Food Containers (Foam),...,Other Trash,Condoms,Diapers,Syringes,Tampons/Tampon Applicators,Hygiene,Foam Pieces,Glass Pieces,Plastic Pieces,Total Items Collected
0,"Maine, USA","44.45079, -68.47371","Land (beach, shoreline and inland)",8.71,5.7884,0.0,0,1,0,0,...,12,0,0,0,0,1,0,0,7,40.0
1,"Maine, USA","44.45079, -68.47371","Land (beach, shoreline and inland)",8.71,5.7884,0.0,0,1,0,0,...,12,0,0,0,0,1,0,0,7,40.0
2,"Maine, USA","44.453266264778, -68.301486968994","Land (beach, shoreline and inland)",30.00,0.9000,2.0,3,9,0,3,...,0,0,0,0,0,0,9,2,19,102.0
3,"Maine, USA","43.90714, -69.59231","Land (beach, shoreline and inland)",2.63,0.0463,0.0,100,3,0,2,...,7,0,0,0,0,3,0,0,7,154.0
4,"Maine, USA","44.453204996919, -68.478384017944","Land (beach, shoreline and inland)",110.00,0.7500,6.0,4,91,6,21,...,0,0,0,1,3,0,483,6,726,1960.0

In [8]:
# Group plastic columns

EC_plastics = EC_named[["State", "Food Containers (Plastic)", "Bottle Caps (Plastic)", "Lids (Plastic)", "Straws, Stirrers", 
                                          "Beverage Bottles (Plastic)", "Grocery Bags (Plastic)", "Other Plastic Bags", 
                                          "Cups, Plates (Plastic)", "6-Pack Holders", "Other Plastic Bottles", 
                                          "Condoms", "Plastic Pieces"]]
EC_plastics.head()

,State,Food Containers (Plastic),Bottle Caps (Plastic),Lids (Plastic),"Straws, Stirrers",Beverage Bottles (Plastic),Grocery Bags (Plastic),Other Plastic Bags,"Cups, Plates (Plastic)",6-Pack Holders,Other Plastic Bottles,Condoms,Plastic Pieces
0,"Maine, USA",0,4,1,0,0,0,0,0,0,0,0,7
1,"Maine, USA",0,4,1,0,0,0,0,0,0,0,0,7
2,"Maine, USA",0,4,5,0,32,0,0,0,0,3,0,19
3,"Maine, USA",0,0,2,20,1,7,0,0,0,0,0,7
4,"Maine, USA",6,88,23,12,66,3,48,7,3,10,0,726

In [9]:
# Group Plastic pollution by state

EC_plastic_group = EC_plastics.groupby(["State"])
EC_plastic_count = EC_plastic_group.sum()
EC_plastic_count

,Food Containers (Plastic),Bottle Caps (Plastic),Lids (Plastic),"Straws, Stirrers",Beverage Bottles (Plastic),Grocery Bags (Plastic),Other Plastic Bags,"Cups, Plates (Plastic)",6-Pack Holders,Other Plastic Bottles,Condoms,Plastic Pieces
State,,,,,,,,,,,,
"Alabama, USA",6703,28628,9592,13800,33307,10481,6685,5568,1350,3806,333,41865
"Connecticut, USA",3953,19292,4436,9326,21595,5841,6670,4114,212,4506,338,40927
"Delaware, USA",2970,24930,4822,9212,12949,4111,5808,3151,392,1171,220,35044
"Florida, USA",57370,410724,84832,167599,178490,92935,41719,57216,6068,9007,2490,1028212
"Georgia, USA",5748,11278,5180,8367,46270,13701,6676,4758,1281,3361,886,10159
"Louisiana, USA",3252,21657,4598,7619,20153,4276,2928,3324,387,1529,184,30016
"Maine, USA",1702,5893,2025,3397,6701,2157,3875,1511,172,1309,152,30599
"Maryland, USA",3431,22875,3736,15876,31649,5819,4689,2399,239,692,164,46414
"Massachusetts, USA",15338,25085,5938,14096,40353,10419,9467,5356,507,12014,618,55471
"Mississippi, USA",12169,25156,17381,18728,50423,20011,16823,8686,1541,6524,1178,94126
"New Hampshire, USA",885,3601,646,1579,2810,862,1266,735,25,434,53,17669
"New Jersey, USA",4164,52910,8123,43266,30769,17218,10505,5799,892,4354,627,69354
"New York, USA",15583,104123,19801,56188,54829,32252,31551,20334,2128,7037,1645,185679
"North Carolina, USA",4232,20170,7650,10838,26420,10595,5372,4362,482,1944,225,42107
"Rhode Island, USA",5002,35590,8376,19589,29607,10113,14557,8122,898,1803,738,78550
"South Carolina, USA",7795,19480,4147,6960,23083,6591,4012,3720,503,992,276,45885
"Texas, USA",13493,161972,26224,41197,57103,20974,16387,11765,1732,5239,1217,210862
"Virginia, USA",9956,27464,9998,14982,62430,40381,29399,10146,648,2466,374,52896

In [10]:
# Group by foam columns

EC_foam_group = EC_named[["State", "Food Containers (Foam)", "Cups, Plates (Foam)", 
                                            "Other Plastic/Foam Packaging", "Foam Pieces"]]
EC_foam_group

,State,Food Containers (Foam),"Cups, Plates (Foam)",Other Plastic/Foam Packaging,Foam Pieces
0,"Maine, USA",0,0,0,0
1,"Maine, USA",0,0,0,0
2,"Maine, USA",3,0,0,9
3,"Maine, USA",2,0,0,0
4,"Maine, USA",21,10,73,483
5,"Maine, USA",0,0,0,0
6,"Maine, USA",0,0,0,0
7,"Maine, USA",1,6,12,17
8,"Maine, USA",0,0,2,10
9,"Maine, USA",3,5,43,114
10,"Maine, USA",0,0,0,0
11,"Maine, USA",0,0,0,0
12,"Maine, USA",0,0,7,3
13,"Maine, USA",0,0,34,37
14,"Maine, USA",3,0,0,0
15,"Maine, USA",3,2,8,11
16,"Maine, USA",0,0,0,0
17,"Maine, USA",0,16,20,30
18,"Maine, USA",0,4,3,4
19,"Maine, USA",4,6,38,300
20,"Maine, USA",5,7,38,53
21,"Maine, USA",1,0,0,3
22,"Maine, USA",20,41,62,61
23,"Maine, USA",6,20,37,70
24,"Maine, USA",2,6,5,69
25,"Maine, USA",10,0,11,0
26,"Maine, USA",1,0,12,0
27,"Maine, USA",12,6,64,0
28,"Maine, USA",5,3,7,6
29,"Maine, USA",3,0,0,0
...,...,...,...,...,...
1199,"Texas, USA",3,0,0,0
1200,"Texas, USA",0,0,0,0
1201,"Texas, USA",0,0,0,0
1202,"Texas, USA",0,0,0,0
1203,"Texas, USA",0,0,0,0
1204,"Texas, USA",0,0,0,0
1205,"Texas, USA",0,0,0,0
1206,"Texas, USA",0,0,0,0
1207,"Texas, USA",0,0,0,0
1208,"Texas, USA",0,0,0,0
1209,"Texas, USA",0,0,0,0
1210,"Texas, USA",17,0,0,0
1211,"Texas, USA",17,0,0,0
1212,"Texas, USA",17,0,0,0
1213,"Texas, USA",1,0,0,0
1214,"Texas, USA",1,0,0,0
1215,"Texas, USA",0,0,0,0
1216,"Texas, USA",0,0,0,0
1217,"Texas, USA",0,0,0,0
1218,"Texas, USA",0,0,0,0
1219,"Texas, USA",0,0,0,0
1220,"Texas, USA",0,0,0,0
1221,"Texas, USA",0,0,0,0
1222,"Texas, USA",0,0,0,0
1223,"Texas, USA",2,8,17,56
1224,"Texas, USA",0,0,0,0
1225,"Texas, USA",1,0,0,0
1226,"Texas, USA",10,0,0,100
1227,"Texas, USA",0,3,0,40
1228,NaN,11855,11667,16624,71589

In [11]:
# Group Foam pollution by state 

EC_foam_group = EC_foam_group.groupby(["State"])
EC_foam_counts = EC_foam_group.sum()
EC_foam_counts

,Food Containers (Foam),"Cups, Plates (Foam)",Other Plastic/Foam Packaging,Foam Pieces
State,,,,
"Alabama, USA",7786,9214,8006,27714
"Connecticut, USA",2600,4956,5826,1062984
"Delaware, USA",1473,1416,4980,9368
"Florida, USA",44324,23272,44410,214435
"Georgia, USA",5371,6715,9364,8116
"Louisiana, USA",2329,3229,2950,9103
"Maine, USA",1187,1469,4914,16983
"Maryland, USA",3041,4778,4442,77182
"Massachusetts, USA",4275,6229,15164,1708777
"Mississippi, USA",11767,13669,17650,53434
"New Hampshire, USA",285,924,3014,120565
"New Jersey, USA",2662,6614,7116,23694
"New York, USA",10526,13061,28312,85888
"North Carolina, USA",4603,4672,6251,18480
"Rhode Island, USA",3947,5825,13636,31672
"South Carolina, USA",3142,3743,5436,31842
"Texas, USA",11855,11667,16624,71589
"Virginia, USA",11845,12991,16107,30222

In [12]:
# Group by fishing tools trash

EC_fishing = EC_named[["State", "Fishing Tools", "Fishing Nets", "Fishing Lines", "Fishing Gear", "Rope"]]
EC_fishing

,State,Fishing Tools,Fishing Nets,Fishing Lines,Fishing Gear,Rope
0,"Maine, USA",0,0,0,13,0
1,"Maine, USA",0,0,0,13,0
2,"Maine, USA",0,1,3,0,2
3,"Maine, USA",0,0,0,0,0
4,"Maine, USA",31,32,1,0,103
5,"Maine, USA",0,0,0,13,0
6,"Maine, USA",0,0,0,0,0
7,"Maine, USA",2,0,0,0,73
8,"Maine, USA",0,2,1,0,45
9,"Maine, USA",10,6,1,0,84
10,"Maine, USA",0,0,0,0,2
11,"Maine, USA",1,0,3,0,0
12,"Maine, USA",3,4,0,0,33
13,"Maine, USA",5,0,0,0,6
14,"Maine, USA",24,0,0,0,8
15,"Maine, USA",18,10,22,0,16
16,"Maine, USA",0,0,0,0,0
17,"Maine, USA",5,13,18,0,14
18,"Maine, USA",0,0,0,0,1
19,"Maine, USA",6,35,0,0,83
20,"Maine, USA",2,0,4,0,2
21,"Maine, USA",0,0,0,0,6
22,"Maine, USA",12,2,10,0,71
23,"Maine, USA",2,2,7,0,0
24,"Maine, USA",26,7,0,0,111
25,"Maine, USA",1,7,25,0,3
26,"Maine, USA",9,31,0,0,10
27,"Maine, USA",3,3,0,0,1
28,"Maine, USA",0,0,0,0,0
29,"Maine, USA",0,0,1,0,0
...,...,...,...,...,...,...
1199,"Texas, USA",0,0,0,0,0
1200,"Texas, USA",0,0,0,2,0
1201,"Texas, USA",0,0,0,0,0
1202,"Texas, USA",0,0,0,0,0
1203,"Texas, USA",0,0,0,1,0
1204,"Texas, USA",0,0,0,1,0
1205,"Texas, USA",0,0,0,1,0
1206,"Texas, USA",0,0,0,1,0
1207,"Texas, USA",0,0,0,1,0
1208,"Texas, USA",0,0,0,1,0
1209,"Texas, USA",0,0,0,0,0
1210,"Texas, USA",0,0,0,14,0
1211,"Texas, USA",0,0,0,14,0
1212,"Texas, USA",0,0,0,14,0
1213,"Texas, USA",0,0,0,0,0
1214,"Texas, USA",0,0,0,0,0
1215,"Texas, USA",0,0,0,0,0
1216,"Texas, USA",0,0,0,0,0
1217,"Texas, USA",0,4,77,0,0
1218,"Texas, USA",0,0,0,0,0
1219,"Texas, USA",0,0,0,0,0
1220,"Texas, USA",0,0,0,1,0
1221,"Texas, USA",0,0,0,3,0
1222,"Texas, USA",0,0,0,0,0
1223,"Texas, USA",0,8,4,0,14
1224,"Texas, USA",0,0,0,1,0
1225,"Texas, USA",0,0,0,5,0
1226,"Texas, USA",12,0,1,0,5
1227,"Texas, USA",0,4,20,0,0
1228,NaN,2387,6512,13662,4860,17121

In [13]:
# Group fishing tools trash by state

EC_fishing_group = EC_fishing.groupby(["State"])
EC_fishing_counts = EC_fishing_group.sum()
EC_fishing_counts

,Fishing Tools,Fishing Nets,Fishing Lines,Fishing Gear,Rope
State,,,,,
"Alabama, USA",1369,1711,3240,142,2201
"Connecticut, USA",738,721,4440,187,1220
"Delaware, USA",643,1143,2228,272,1897
"Florida, USA",6190,8121,20154,41496,15960
"Georgia, USA",735,429,8114,88,876
"Louisiana, USA",439,911,1227,582,1968
"Maine, USA",2818,2123,1394,770,8300
"Maryland, USA",377,1558,2741,718,540
"Massachusetts, USA",2682,4177,4555,1956,9288
"Mississippi, USA",1361,2597,7655,14,4113
"New Hampshire, USA",2491,1556,688,29,3900
"New Jersey, USA",669,748,1408,595,4612
"New York, USA",2541,3380,9958,1307,7825
"North Carolina, USA",890,749,1899,1086,1433
"Rhode Island, USA",1728,2751,9701,496,6562
"South Carolina, USA",638,797,5624,551,1461
"Texas, USA",2387,6512,13662,4860,17121
"Virginia, USA",844,1052,2563,926,1841

In [14]:
# Group by smoking waste

EC_smoking_waste = EC_named[["State", "Cigarette Butts", "Tobacco Packs", 
                                               "Cigar Tips", "Cigarette Lighters"]]
EC_smoking_waste

,State,Cigarette Butts,Tobacco Packs,Cigar Tips,Cigarette Lighters
0,"Maine, USA",0,0,0,0
1,"Maine, USA",0,0,0,0
2,"Maine, USA",3,0,0,0
3,"Maine, USA",100,0,0,0
4,"Maine, USA",4,7,5,8
5,"Maine, USA",0,0,0,0
6,"Maine, USA",0,0,0,0
7,"Maine, USA",0,0,0,0
8,"Maine, USA",0,0,0,0
9,"Maine, USA",1,0,0,0
10,"Maine, USA",0,0,0,0
11,"Maine, USA",0,0,0,0
12,"Maine, USA",6,0,0,0
13,"Maine, USA",0,0,0,0
14,"Maine, USA",0,1,0,0
15,"Maine, USA",9,0,0,0
16,"Maine, USA",0,0,0,0
17,"Maine, USA",10,2,1,1
18,"Maine, USA",0,0,0,0
19,"Maine, USA",100,1,10,2
20,"Maine, USA",1011,2,78,1
21,"Maine, USA",115,0,0,1
22,"Maine, USA",240,124,0,2
23,"Maine, USA",3522,10,8,17
24,"Maine, USA",63,1,1,2
25,"Maine, USA",776,49,10,3
26,"Maine, USA",0,1,0,0
27,"Maine, USA",240,8,0,4
28,"Maine, USA",322,2,4,1
29,"Maine, USA",0,0,0,0
...,...,...,...,...,...
1199,"Texas, USA",0,0,0,0
1200,"Texas, USA",5,0,0,0
1201,"Texas, USA",35,0,0,0
1202,"Texas, USA",0,0,0,0
1203,"Texas, USA",0,0,0,0
1204,"Texas, USA",0,0,0,0
1205,"Texas, USA",0,0,0,0
1206,"Texas, USA",0,0,0,0
1207,"Texas, USA",0,0,0,0
1208,"Texas, USA",0,0,0,0
1209,"Texas, USA",0,0,0,0
1210,"Texas, USA",76,0,0,0
1211,"Texas, USA",76,0,0,0
1212,"Texas, USA",76,0,0,0
1213,"Texas, USA",10,0,0,0
1214,"Texas, USA",10,0,0,0
1215,"Texas, USA",11,0,0,0
1216,"Texas, USA",15,0,0,0
1217,"Texas, USA",0,0,0,0
1218,"Texas, USA",0,0,0,1
1219,"Texas, USA",0,0,0,0
1220,"Texas, USA",60,0,0,0
1221,"Texas, USA",26,0,0,0
1222,"Texas, USA",3,0,0,0
1223,"Texas, USA",73,0,8,6
1224,"Texas, USA",0,0,0,0
1225,"Texas, USA",50,0,0,0
1226,"Texas, USA",15,0,0,1
1227,"Texas, USA",0,0,0,0
1228,NaN,178126,4032,11361,2933

In [15]:
# Group smoking waste by state

EC_smoking_waste_group = EC_smoking_waste.groupby(["State"])
EC_smoking_waste_counts = EC_smoking_waste_group.sum()
EC_smoking_waste_counts

,Cigarette Butts,Tobacco Packs,Cigar Tips,Cigarette Lighters
State,,,,
"Alabama, USA",88396,6326,6645,1448
"Connecticut, USA",78315,1857,1895,744
"Delaware, USA",52008,1868,3445,681
"Florida, USA",815453,15213,28444,7390
"Georgia, USA",96136,6593,3525,1054
"Louisiana, USA",15502,1613,1449,741
"Maine, USA",95403,1176,1055,381
"Maryland, USA",23509,1325,4273,990
"Massachusetts, USA",106017,3034,2248,1109
"Mississippi, USA",139490,8586,12435,2136
"New Hampshire, USA",63039,308,630,151
"New Jersey, USA",54344,4028,9235,2277
"New York, USA",184796,8906,14917,3856
"North Carolina, USA",130411,3148,3236,925
"Rhode Island, USA",156771,4469,4255,1285
"South Carolina, USA",93026,1795,2767,1105
"Texas, USA",178126,4032,11361,2933
"Virginia, USA",102788,5032,5460,1297

In [16]:
# Group by food miscellaneous

EC_food_mess = EC_named[["State", "Food Wrappers", "Forks, Knives, Spoons", "Bottle Caps (Metal)", 
                                   "Beverage Cans", "Paper Bags", "Cups, Plates (Paper)"]]
EC_food_mess

,State,Food Wrappers,"Forks, Knives, Spoons",Bottle Caps (Metal),Beverage Cans,Paper Bags,"Cups, Plates (Paper)"
0,"Maine, USA",1,0,0,0,0,0
1,"Maine, USA",1,0,0,0,0,0
2,"Maine, USA",9,0,0,6,0,0
3,"Maine, USA",3,0,0,0,0,0
4,"Maine, USA",91,1,1,3,5,2
5,"Maine, USA",1,0,0,0,0,0
6,"Maine, USA",4,0,0,1,0,0
7,"Maine, USA",2,0,0,9,0,0
8,"Maine, USA",2,0,1,2,0,0
9,"Maine, USA",6,4,2,18,1,2
10,"Maine, USA",0,0,0,0,0,0
11,"Maine, USA",0,0,0,0,0,0
12,"Maine, USA",8,0,0,5,0,4
13,"Maine, USA",1,0,0,0,0,0
14,"Maine, USA",6,0,0,0,0,0
15,"Maine, USA",29,0,0,48,0,6
16,"Maine, USA",0,0,0,1,0,0
17,"Maine, USA",9,2,6,20,9,10
18,"Maine, USA",5,0,0,19,0,6
19,"Maine, USA",87,0,13,3,3,3
20,"Maine, USA",106,11,22,18,31,14
21,"Maine, USA",12,0,0,3,0,0
22,"Maine, USA",142,5,59,57,7,24
23,"Maine, USA",217,11,19,27,72,45
24,"Maine, USA",18,0,0,13,3,2
25,"Maine, USA",128,25,0,31,0,6
26,"Maine, USA",17,3,20,7,0,7
27,"Maine, USA",62,5,1,19,2,14
28,"Maine, USA",155,12,21,67,10,15
29,"Maine, USA",4,0,0,3,0,0
...,...,...,...,...,...,...,...
1199,"Texas, USA",5,0,0,2,0,0
1200,"Texas, USA",5,2,0,0,0,0
1201,"Texas, USA",17,4,0,0,0,0
1202,"Texas, USA",1,0,0,0,0,0
1203,"Texas, USA",0,0,0,1,0,0
1204,"Texas, USA",0,0,0,1,0,0
1205,"Texas, USA",0,0,0,1,0,0
1206,"Texas, USA",0,0,0,1,0,0
1207,"Texas, USA",0,0,0,1,0,0
1208,"Texas, USA",0,0,0,1,0,0
1209,"Texas, USA",2,0,0,0,0,0
1210,"Texas, USA",78,11,0,43,0,0
1211,"Texas, USA",78,11,0,43,0,0
1212,"Texas, USA",78,11,0,43,0,0
1213,"Texas, USA",2,2,0,3,0,0
1214,"Texas, USA",2,2,0,3,0,0
1215,"Texas, USA",0,0,0,0,0,0
1216,"Texas, USA",0,7,0,9,0,0
1217,"Texas, USA",0,0,0,0,0,0
1218,"Texas, USA",0,5,0,0,0,0
1219,"Texas, USA",4,0,0,3,0,0
1220,"Texas, USA",30,4,0,3,0,0
1221,"Texas, USA",2,0,0,1,0,0
1222,"Texas, USA",40,0,0,7,0,0
1223,"Texas, USA",8,5,4,4,1,2
1224,"Texas, USA",1,0,0,0,0,0
1225,"Texas, USA",50,12,0,3,0,0
1226,"Texas, USA",100,5,0,20,0,0
1227,"Texas, USA",40,9,2,30,1,0
1228,NaN,51397,18120,30897,28067,5563,6841

In [17]:
# Group food miscellaneous by state

EC_food_waste = EC_food_mess.groupby(["State"])
EC_misc_food_waste = EC_food_waste.sum()
EC_misc_food_waste

,Food Wrappers,"Forks, Knives, Spoons",Bottle Caps (Metal),Beverage Cans,Paper Bags,"Cups, Plates (Paper)"
State,,,,,,
"Alabama, USA",34513,3843,9662,27888,2904,4801
"Connecticut, USA",30462,3073,10222,10205,2524,2460
"Delaware, USA",18379,2206,3143,8233,1663,2448
"Florida, USA",230083,92752,57185,103617,15913,16903
"Georgia, USA",1453,3384,3127,32791,3557,3333
"Louisiana, USA",13115,2455,2807,8447,894,1501
"Maine, USA",15125,1022,1926,3919,1299,1558
"Maryland, USA",15749,2394,3260,6377,795,1744
"Massachusetts, USA",33536,6547,6568,25433,2230,4326
"Mississippi, USA",48999,7033,15331,25761,10764,9502
"New Hampshire, USA",5605,406,971,3846,513,685
"New Jersey, USA",54809,6543,7971,11880,2460,5582
"New York, USA",96940,16805,46628,30921,9373,12060
"North Carolina, USA",32940,4264,5835,18598,1960,2942
"Rhode Island, USA",46199,5121,14692,18082,4809,5278
"South Carolina, USA",22640,2820,3716,15588,1269,1950
"Texas, USA",51397,18120,30897,28067,5563,6841
"Virginia, USA",60568,4293,15581,29763,3349,5620

In [18]:
# Group by miscellaneous

EC_random_mess = EC_named[["State", "Strapping Bands", "Other Packaging", "Other Trash", 
                                     "Fireworks", "Appliances (refrigerators, washers, etc.)", "# of bags",
                                     "Construction Materials", "Tires", "Toys", "Diapers", "Syringes", 
                                     "Tampons/Tampon Applicators", "Hygiene", "Glass Pieces"]]
EC_random_mess

,State,Strapping Bands,Other Packaging,Other Trash,Fireworks,"Appliances (refrigerators, washers, etc.)",# of bags,Construction Materials,Tires,Toys,Diapers,Syringes,Tampons/Tampon Applicators,Hygiene,Glass Pieces
0,"Maine, USA",0,1,12,0,0,0.0,0,0,0,0,0,0,1,0
1,"Maine, USA",0,1,12,0,0,0.0,0,0,0,0,0,0,1,0
2,"Maine, USA",0,0,0,0,0,2.0,0,0,0,0,0,0,0,2
3,"Maine, USA",0,1,7,0,0,0.0,0,0,0,0,0,0,3,0
4,"Maine, USA",49,0,0,0,0,6.0,7,0,4,0,1,3,0,6
5,"Maine, USA",0,1,12,0,0,0.0,0,0,0,0,0,0,1,0
6,"Maine, USA",0,0,3,0,0,0.0,0,0,0,0,0,0,0,0
7,"Maine, USA",18,0,0,3,0,3.0,0,0,0,1,0,0,0,10
8,"Maine, USA",0,0,0,0,0,3.0,0,1,0,0,0,0,0,3
9,"Maine, USA",64,0,0,4,0,12.0,5,0,0,0,0,4,0,7
10,"Maine, USA",0,0,0,0,0,1.0,1,0,0,0,0,0,0,0
11,"Maine, USA",0,0,0,0,0,3.0,2,0,0,0,0,0,0,0
12,"Maine, USA",4,0,0,1,0,2.0,0,1,0,0,0,0,0,75
13,"Maine, USA",1,0,0,0,0,1.0,0,0,0,0,0,0,0,0
14,"Maine, USA",0,0,0,0,0,1.0,0,0,4,0,0,0,0,0
15,"Maine, USA",24,0,0,0,0,5.0,9,0,0,0,0,1,0,0
16,"Maine, USA",0,0,0,0,0,1.0,0,0,0,0,0,0,0,0
17,"Maine, USA",14,0,0,0,1,13.0,10,2,0,0,0,1,0,44
18,"Maine, USA",0,0,0,0,0,2.0,2,0,0,0,0,0,0,0
19,"Maine, USA",7,0,0,0,0,3.0,27,0,0,1,0,0,0,16
20,"Maine, USA",11,0,0,41,1,10.0,4,0,0,2,0,4,0,5
21,"Maine, USA",2,0,0,2,0,0.0,0,0,0,0,0,0,0,5
22,"Maine, USA",23,0,0,7,0,17.0,17,1,0,5,1,9,0,38
23,"Maine, USA",9,0,0,0,0,0.0,8,0,0,1,0,3,0,214
24,"Maine, USA",10,0,0,0,0,15.0,3,1,0,0,0,0,0,1
25,"Maine, USA",124,0,0,15,0,5.0,0,0,0,2,1,0,0,0
26,"Maine, USA",0,0,0,0,0,7.0,0,0,0,0,0,4,0,12
27,"Maine, USA",0,0,0,0,0,11.0,0,0,0,4,0,1,0,0
28,"Maine, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,13
29,"Maine, USA",0,0,0,0,0,3.0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1199,"Texas, USA",0,0,3,0,0,0.0,0,0,0,0,0,0,0,0
1200,"Texas, USA",0,0,10,0,0,0.0,0,0,0,0,0,0,1,0
1201,"Texas, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,2,0
1202,"Texas, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
1203,"Texas, USA",0,2,6,0,0,0.0,0,0,0,0,0,0,0,0
1204,"Texas, USA",0,2,6,0,0,0.0,0,0,0,0,0,0,0,0
1205,"Texas, USA",0,2,6,0,0,0.0,0,0,0,0,0,0,0,0
1206,"Texas, USA",0,2,6,0,0,0.0,0,0,0,0,0,0,0,0
1207,"Texas, USA",0,2,6,0,0,0.0,0,0,0,0,0,0,0,0
1208,"Texas, USA",0,2,6,0,0,0.0,0,0,0,0,0,0,0,0
1209,"Texas, USA",0,1,0,0,0,0.0,0,0,0,0,0,0,0,0
1210,"Texas, USA",0,36,18,0,0,0.0,0,0,16,0,0,0,7,0
1211,"Texas, USA",0,36,18,0,0,0.0,0,0,16,0,0,0,7,0
1212,"Texas, USA",0,36,18,0,0,0.0,0,0,16,0,0,0,7,0
1213,"Texas, USA",0,2,3,0,0,0.0,0,0,0,0,0,0,1,0
1214,"Texas, USA",0,2,3,0,0,0.0,0,0,0,0,0,0,1,0
1215,"Texas, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
1216,"Texas, USA",0,1,0,0,0,0.0,0,0,0,0,0,0,4,0
1217,"Texas, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
1218,"Texas, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
1219,"Texas, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
1220,"Texas, USA",0,0,20,0,0,0.0,0,0,2,0,0,0,13,0
1221,"Texas, USA",0,1,3,0,0,0.0,0,0,0,0,0,0,0,0
1222,"Texas, USA",0,0,65,0,0,0.0,0,0,0,0,0,0,2,0
1223,"Texas, USA",7,0,0,0,0,5.0,1,3,0,0,0,0,0,3
1224,"Texas, USA",0,1,1,0,0,0.0,0,0,0,0,0,0,0,0
1225,"Texas, USA",0,0,83,0,0,0.0,0,0,0,0,0,0,2,0
1226,"Texas, USA",0,0,0,1,0,1.0,0,2,0,0,0,0,0,100
1227,"Texas, USA",0,0,0,0,0,4.0,0,2,0,0,0,0,0,15
1228,NaN,4440,5040,15166,2963,359,NaN,9089,1609,2105,1100,671,1173,1565,29248

In [19]:
# Group miscellaneous by state

EC_random_trash = EC_random_mess.groupby(["State"])
EC_misc_waste = EC_random_trash.sum()
EC_misc_waste

,Strapping Bands,Other Packaging,Other Trash,Fireworks,"Appliances (refrigerators, washers, etc.)",# of bags,Construction Materials,Tires,Toys,Diapers,Syringes,Tampons/Tampon Applicators,Hygiene,Glass Pieces
State,,,,,,,,,,,,,,
"Alabama, USA",2752,131,720,1033,173,5898.0,7189,993,114,545,137,426,55,12725
"Connecticut, USA",1031,398,1796,710,91,2517.0,2608,336,641,310,212,499,182,10876
"Delaware, USA",1452,255,353,1072,51,2423.0,3776,225,506,165,126,947,271,4631
"Florida, USA",10344,44613,234981,4398,1005,34239.0,23359,2002,15663,2794,1735,2108,19022,41327
"Georgia, USA",904,178,3272,338,217,44820.0,5228,4934,1275,976,134,196,56,5222
"Louisiana, USA",469,1830,6246,198,40,2779.0,1463,179,257,178,155,166,427,4627
"Maine, USA",3690,530,4190,1175,41,1476.0,2078,122,164,132,199,309,475,5981
"Maryland, USA",504,1144,2856,252,35,2375.0,712,820,751,176,513,215,459,5739
"Massachusetts, USA",3392,2911,3249,1203,146,4465.0,3483,2529,515,567,750,1743,486,20118
"Mississippi, USA",2279,23,158,5958,731,5853.0,11250,2166,516,474,665,583,10,34400
"New Hampshire, USA",1628,75,193,863,50,557.0,1332,536,78,70,43,56,60,3647
"New Jersey, USA",1490,1108,3138,465,49,4561.0,2354,377,3678,679,5595,3960,545,11656
"New York, USA",5080,2412,8371,7921,465,14663.0,10818,895,1166,1929,1084,6241,1479,74323
"North Carolina, USA",1520,2449,10347,1058,440,6937.0,5901,1140,2844,409,154,239,1120,7827
"Rhode Island, USA",3107,559,2460,1572,178,4480.0,5747,381,379,755,450,1428,388,49470
"South Carolina, USA",916,1381,5396,1318,57,7377.0,5005,2433,1487,311,94,470,604,11118
"Texas, USA",4440,5040,15166,2963,359,27410.0,9089,1609,2105,1100,671,1173,1565,29248
"Virginia, USA",2541,2811,9533,331,123,16354.0,6676,2709,3126,555,89,358,833,17479

In [20]:
# Sum plastic columns into new column

EC_plastic_count["Plastic Waste Total"] = EC_plastic_count.sum(axis=1)
EC_plastic_count

,Food Containers (Plastic),Bottle Caps (Plastic),Lids (Plastic),"Straws, Stirrers",Beverage Bottles (Plastic),Grocery Bags (Plastic),Other Plastic Bags,"Cups, Plates (Plastic)",6-Pack Holders,Other Plastic Bottles,Condoms,Plastic Pieces,Plastic Waste Total
State,,,,,,,,,,,,,
"Alabama, USA",6703,28628,9592,13800,33307,10481,6685,5568,1350,3806,333,41865,162118
"Connecticut, USA",3953,19292,4436,9326,21595,5841,6670,4114,212,4506,338,40927,121210
"Delaware, USA",2970,24930,4822,9212,12949,4111,5808,3151,392,1171,220,35044,104780
"Florida, USA",57370,410724,84832,167599,178490,92935,41719,57216,6068,9007,2490,1028212,2136662
"Georgia, USA",5748,11278,5180,8367,46270,13701,6676,4758,1281,3361,886,10159,117665
"Louisiana, USA",3252,21657,4598,7619,20153,4276,2928,3324,387,1529,184,30016,99923
"Maine, USA",1702,5893,2025,3397,6701,2157,3875,1511,172,1309,152,30599,59493
"Maryland, USA",3431,22875,3736,15876,31649,5819,4689,2399,239,692,164,46414,137983
"Massachusetts, USA",15338,25085,5938,14096,40353,10419,9467,5356,507,12014,618,55471,194662
"Mississippi, USA",12169,25156,17381,18728,50423,20011,16823,8686,1541,6524,1178,94126,272746
"New Hampshire, USA",885,3601,646,1579,2810,862,1266,735,25,434,53,17669,30565
"New Jersey, USA",4164,52910,8123,43266,30769,17218,10505,5799,892,4354,627,69354,247981
"New York, USA",15583,104123,19801,56188,54829,32252,31551,20334,2128,7037,1645,185679,531150
"North Carolina, USA",4232,20170,7650,10838,26420,10595,5372,4362,482,1944,225,42107,134397
"Rhode Island, USA",5002,35590,8376,19589,29607,10113,14557,8122,898,1803,738,78550,212945
"South Carolina, USA",7795,19480,4147,6960,23083,6591,4012,3720,503,992,276,45885,123444
"Texas, USA",13493,161972,26224,41197,57103,20974,16387,11765,1732,5239,1217,210862,568165
"Virginia, USA",9956,27464,9998,14982,62430,40381,29399,10146,648,2466,374,52896,261140

In [21]:
# Sum foam columns into new column

EC_foam_counts["Foam Waste Total"] = EC_foam_counts.sum(axis=1)
EC_foam_counts

,Food Containers (Foam),"Cups, Plates (Foam)",Other Plastic/Foam Packaging,Foam Pieces,Foam Waste Total
State,,,,,
"Alabama, USA",7786,9214,8006,27714,52720
"Connecticut, USA",2600,4956,5826,1062984,1076366
"Delaware, USA",1473,1416,4980,9368,17237
"Florida, USA",44324,23272,44410,214435,326441
"Georgia, USA",5371,6715,9364,8116,29566
"Louisiana, USA",2329,3229,2950,9103,17611
"Maine, USA",1187,1469,4914,16983,24553
"Maryland, USA",3041,4778,4442,77182,89443
"Massachusetts, USA",4275,6229,15164,1708777,1734445
"Mississippi, USA",11767,13669,17650,53434,96520
"New Hampshire, USA",285,924,3014,120565,124788
"New Jersey, USA",2662,6614,7116,23694,40086
"New York, USA",10526,13061,28312,85888,137787
"North Carolina, USA",4603,4672,6251,18480,34006
"Rhode Island, USA",3947,5825,13636,31672,55080
"South Carolina, USA",3142,3743,5436,31842,44163
"Texas, USA",11855,11667,16624,71589,111735
"Virginia, USA",11845,12991,16107,30222,71165

In [22]:
# Sum fishing gear columns into new column

EC_fishing_counts["Fishing Tools Total"] = EC_fishing_counts.sum(axis=1)
EC_fishing_counts

,Fishing Tools,Fishing Nets,Fishing Lines,Fishing Gear,Rope,Fishing Tools Total
State,,,,,,
"Alabama, USA",1369,1711,3240,142,2201,8663
"Connecticut, USA",738,721,4440,187,1220,7306
"Delaware, USA",643,1143,2228,272,1897,6183
"Florida, USA",6190,8121,20154,41496,15960,91921
"Georgia, USA",735,429,8114,88,876,10242
"Louisiana, USA",439,911,1227,582,1968,5127
"Maine, USA",2818,2123,1394,770,8300,15405
"Maryland, USA",377,1558,2741,718,540,5934
"Massachusetts, USA",2682,4177,4555,1956,9288,22658
"Mississippi, USA",1361,2597,7655,14,4113,15740
"New Hampshire, USA",2491,1556,688,29,3900,8664
"New Jersey, USA",669,748,1408,595,4612,8032
"New York, USA",2541,3380,9958,1307,7825,25011
"North Carolina, USA",890,749,1899,1086,1433,6057
"Rhode Island, USA",1728,2751,9701,496,6562,21238
"South Carolina, USA",638,797,5624,551,1461,9071
"Texas, USA",2387,6512,13662,4860,17121,44542
"Virginia, USA",844,1052,2563,926,1841,7226

In [23]:
# Sum smoking waste columns into new column

EC_smoking_waste_counts["Smoking Waste Total"] = EC_smoking_waste_counts.sum(axis=1)
EC_smoking_waste_counts

,Cigarette Butts,Tobacco Packs,Cigar Tips,Cigarette Lighters,Smoking Waste Total
State,,,,,
"Alabama, USA",88396,6326,6645,1448,102815
"Connecticut, USA",78315,1857,1895,744,82811
"Delaware, USA",52008,1868,3445,681,58002
"Florida, USA",815453,15213,28444,7390,866500
"Georgia, USA",96136,6593,3525,1054,107308
"Louisiana, USA",15502,1613,1449,741,19305
"Maine, USA",95403,1176,1055,381,98015
"Maryland, USA",23509,1325,4273,990,30097
"Massachusetts, USA",106017,3034,2248,1109,112408
"Mississippi, USA",139490,8586,12435,2136,162647
"New Hampshire, USA",63039,308,630,151,64128
"New Jersey, USA",54344,4028,9235,2277,69884
"New York, USA",184796,8906,14917,3856,212475
"North Carolina, USA",130411,3148,3236,925,137720
"Rhode Island, USA",156771,4469,4255,1285,166780
"South Carolina, USA",93026,1795,2767,1105,98693
"Texas, USA",178126,4032,11361,2933,196452
"Virginia, USA",102788,5032,5460,1297,114577

In [24]:
# Sum food misc columns into new column

EC_misc_food_waste["Miscellaneous Food Waste Total"] = EC_misc_food_waste.sum(axis=1)
EC_misc_food_waste

,Food Wrappers,"Forks, Knives, Spoons",Bottle Caps (Metal),Beverage Cans,Paper Bags,"Cups, Plates (Paper)",Miscellaneous Food Waste Total
State,,,,,,,
"Alabama, USA",34513,3843,9662,27888,2904,4801,83611
"Connecticut, USA",30462,3073,10222,10205,2524,2460,58946
"Delaware, USA",18379,2206,3143,8233,1663,2448,36072
"Florida, USA",230083,92752,57185,103617,15913,16903,516453
"Georgia, USA",1453,3384,3127,32791,3557,3333,47645
"Louisiana, USA",13115,2455,2807,8447,894,1501,29219
"Maine, USA",15125,1022,1926,3919,1299,1558,24849
"Maryland, USA",15749,2394,3260,6377,795,1744,30319
"Massachusetts, USA",33536,6547,6568,25433,2230,4326,78640
"Mississippi, USA",48999,7033,15331,25761,10764,9502,117390
"New Hampshire, USA",5605,406,971,3846,513,685,12026
"New Jersey, USA",54809,6543,7971,11880,2460,5582,89245
"New York, USA",96940,16805,46628,30921,9373,12060,212727
"North Carolina, USA",32940,4264,5835,18598,1960,2942,66539
"Rhode Island, USA",46199,5121,14692,18082,4809,5278,94181
"South Carolina, USA",22640,2820,3716,15588,1269,1950,47983
"Texas, USA",51397,18120,30897,28067,5563,6841,140885
"Virginia, USA",60568,4293,15581,29763,3349,5620,119174

In [25]:
# Sum misc columns into new column

EC_misc_waste["Miscellaneous Waste Total"] = EC_misc_waste.sum(axis=1)
EC_misc_waste

,Strapping Bands,Other Packaging,Other Trash,Fireworks,"Appliances (refrigerators, washers, etc.)",# of bags,Construction Materials,Tires,Toys,Diapers,Syringes,Tampons/Tampon Applicators,Hygiene,Glass Pieces,Miscellaneous Waste Total
State,,,,,,,,,,,,,,,
"Alabama, USA",2752,131,720,1033,173,5898.0,7189,993,114,545,137,426,55,12725,32891.0
"Connecticut, USA",1031,398,1796,710,91,2517.0,2608,336,641,310,212,499,182,10876,22207.0
"Delaware, USA",1452,255,353,1072,51,2423.0,3776,225,506,165,126,947,271,4631,16253.0
"Florida, USA",10344,44613,234981,4398,1005,34239.0,23359,2002,15663,2794,1735,2108,19022,41327,437590.0
"Georgia, USA",904,178,3272,338,217,44820.0,5228,4934,1275,976,134,196,56,5222,67750.0
"Louisiana, USA",469,1830,6246,198,40,2779.0,1463,179,257,178,155,166,427,4627,19014.0
"Maine, USA",3690,530,4190,1175,41,1476.0,2078,122,164,132,199,309,475,5981,20562.0
"Maryland, USA",504,1144,2856,252,35,2375.0,712,820,751,176,513,215,459,5739,16551.0
"Massachusetts, USA",3392,2911,3249,1203,146,4465.0,3483,2529,515,567,750,1743,486,20118,45557.0
"Mississippi, USA",2279,23,158,5958,731,5853.0,11250,2166,516,474,665,583,10,34400,65066.0
"New Hampshire, USA",1628,75,193,863,50,557.0,1332,536,78,70,43,56,60,3647,9188.0
"New Jersey, USA",1490,1108,3138,465,49,4561.0,2354,377,3678,679,5595,3960,545,11656,39655.0
"New York, USA",5080,2412,8371,7921,465,14663.0,10818,895,1166,1929,1084,6241,1479,74323,136847.0
"North Carolina, USA",1520,2449,10347,1058,440,6937.0,5901,1140,2844,409,154,239,1120,7827,42385.0
"Rhode Island, USA",3107,559,2460,1572,178,4480.0,5747,381,379,755,450,1428,388,49470,71354.0
"South Carolina, USA",916,1381,5396,1318,57,7377.0,5005,2433,1487,311,94,470,604,11118,37967.0
"Texas, USA",4440,5040,15166,2963,359,27410.0,9089,1609,2105,1100,671,1173,1565,29248,101938.0
"Virginia, USA",2541,2811,9533,331,123,16354.0,6676,2709,3126,555,89,358,833,17479,63518.0

In [58]:
# Merge all dataframes then delete unnecessary columns

EC_plastic_foam = pd.merge(EC_plastic_count, EC_foam_counts, on="State", how="left")
EC_fishing_smoking = pd.merge(EC_fishing_counts, EC_smoking_waste_counts, on="State", how="left")
EC_miscfood_misc = pd.merge(EC_misc_food_waste, EC_misc_waste, on="State", how="left")
EC_four = pd.merge(EC_plastic_foam, EC_fishing_smoking, on="State", how="left")
EC_total = pd.merge(EC_four, EC_miscfood_misc, on="State", how="left")

EC_grand_total = EC_total.drop(columns = ["Food Containers (Plastic)", "Bottle Caps (Plastic)", "Lids (Plastic)", 
                                                   "Straws, Stirrers", "Beverage Bottles (Plastic)", "Grocery Bags (Plastic)", "Other Plastic Bags", 
                                                  "Cups, Plates (Plastic)", "6-Pack Holders", "Other Plastic Bottles", "Condoms", "Plastic Pieces", 
                                                   "Food Containers (Foam)", "Cups, Plates (Foam)", "Other Plastic/Foam Packaging", "Foam Pieces", 
                                                   "Fishing Tools", "Fishing Nets", "Fishing Lines", "Fishing Gear", "Rope", "Cigarette Butts", 
                                                   "Tobacco Packs", "Cigar Tips", "Cigarette Lighters", "Food Wrappers", "Forks, Knives, Spoons", 
                                                   "Bottle Caps (Metal)", "Beverage Cans", "Paper Bags", "Cups, Plates (Paper)", "Strapping Bands", 
                                                   "Other Packaging", "Other Trash", "Fireworks", "Appliances (refrigerators, washers, etc.)", 
                                                   "# of bags", "Construction Materials", "Tires", "Toys", "Diapers", "Syringes", 
                                                   "Tampons/Tampon Applicators", "Hygiene", "Glass Pieces"])

EC_grand_total

,Plastic Waste Total,Foam Waste Total,Fishing Tools Total,Smoking Waste Total,Miscellaneous Food Waste Total,Miscellaneous Waste Total
State,,,,,,
"Alabama, USA",162118,52720,8663,102815,83611,32891.0
"Connecticut, USA",121210,1076366,7306,82811,58946,22207.0
"Delaware, USA",104780,17237,6183,58002,36072,16253.0
"Florida, USA",2136662,326441,91921,866500,516453,437590.0
"Georgia, USA",117665,29566,10242,107308,47645,67750.0
"Louisiana, USA",99923,17611,5127,19305,29219,19014.0
"Maine, USA",59493,24553,15405,98015,24849,20562.0
"Maryland, USA",137983,89443,5934,30097,30319,16551.0
"Massachusetts, USA",194662,1734445,22658,112408,78640,45557.0
"Mississippi, USA",272746,96520,15740,162647,117390,65066.0
"New Hampshire, USA",30565,124788,8664,64128,12026,9188.0
"New Jersey, USA",247981,40086,8032,69884,89245,39655.0
"New York, USA",531150,137787,25011,212475,212727,136847.0
"North Carolina, USA",134397,34006,6057,137720,66539,42385.0
"Rhode Island, USA",212945,55080,21238,166780,94181,71354.0
"South Carolina, USA",123444,44163,9071,98693,47983,37967.0
"Texas, USA",568165,111735,44542,196452,140885,101938.0
"Virginia, USA",261140,71165,7226,114577,119174,63518.0

In [49]:
# Merge all columns to new grand total column

EC_all_total = EC_grand_total[["Plastic Waste Total", "Foam Waste Total", "Fishing Tools Total", 
                         "Smoking Waste Total", "Miscellaneous Food Waste Total", "Miscellaneous Waste Total"]]
EC_all_total

#EC_total["Grand Total"] = EC_all_total.sum(axis=1)
#EC_total

,Plastic Waste Total,Foam Waste Total,Fishing Tools Total,Smoking Waste Total,Miscellaneous Food Waste Total,Miscellaneous Waste Total
State,,,,,,
"Alabama, USA",162118,52720,8663,102815,83611,32891.0
"Connecticut, USA",121210,1076366,7306,82811,58946,22207.0
"Delaware, USA",104780,17237,6183,58002,36072,16253.0
"Florida, USA",2136662,326441,91921,866500,516453,437590.0
"Georgia, USA",117665,29566,10242,107308,47645,67750.0
"Louisiana, USA",99923,17611,5127,19305,29219,19014.0
"Maine, USA",59493,24553,15405,98015,24849,20562.0
"Maryland, USA",137983,89443,5934,30097,30319,16551.0
"Massachusetts, USA",194662,1734445,22658,112408,78640,45557.0
"Mississippi, USA",272746,96520,15740,162647,117390,65066.0
"New Hampshire, USA",30565,124788,8664,64128,12026,9188.0
"New Jersey, USA",247981,40086,8032,69884,89245,39655.0
"New York, USA",531150,137787,25011,212475,212727,136847.0
"North Carolina, USA",134397,34006,6057,137720,66539,42385.0
"Rhode Island, USA",212945,55080,21238,166780,94181,71354.0
"South Carolina, USA",123444,44163,9071,98693,47983,37967.0
"Texas, USA",568165,111735,44542,196452,140885,101938.0
"Virginia, USA",261140,71165,7226,114577,119174,63518.0

In [ ]:
# Columns list

plastic_column_list = list(east_coast_renamed)
plastic_column_list

In [ ]:
# remove NaNs !!
# remove nans first?? 


#make pie chart per state&coast nonpoint
#state and coast data tables
#renaming and grouping by types
#add total column 
#clean
#renames coast names to EC/WC

#look at point vs nonpoint

# complete works Fri @4