In [1]:
import pandas as pd

In [2]:
# Set up path to all the summary files. 

# East coast states 
maine = "Resources/Maine.csv"
new_hampshire = "Resources/NewHampshire2015.csv"
massachusetts = "Resources/Massachusetts2015.csv"
rhode_island = "Resources/RhodeIsland2015.csv"
connecticut = "Resources/Connecticut.csv"
new_jersey = "Resources/NewJersey.csv"
new_york = "Resources/NewYork2015.csv"
delaware = "Resources/Delaware2015.csv"
maryland = "Resources/Maryland2015.csv"
virginia = "Resources/Virginia.csv"
north_carolina = "Resources/NorthCarolina2015.csv"
south_carolina = "Resources/SouthCarolina2015.csv"
georgia = "Resources/Georgia2015.csv"
florida = "Resources/Florida2015.csv"
# Gulf states
alabama = "Resources/Alabama.csv"
mississippi = "Resources/Mississippi.csv"
louisiana = "Resources/Louisiana.csv"
texas = "Resources/Texas2015.csv"

In [3]:
# Read all the summary files. 

# East coast States
maine_pd = pd.read_csv(maine)
new_hampshire_pd = pd.read_csv(new_hampshire)
massachusetts_pd = pd.read_csv(massachusetts)
rhode_island_pd = pd.read_csv(rhode_island)
connecticut_pd = pd.read_csv(connecticut)
new_jersey_pd = pd.read_csv(new_jersey)
new_york_pd = pd.read_csv(new_york)
delaware_pd = pd.read_csv(delaware)
maryland_pd = pd.read_csv(maryland)
virginia_pd = pd.read_csv(virginia)
north_carolina_pd = pd.read_csv(north_carolina)
south_carolina_pd = pd.read_csv(south_carolina)
georgia_pd = pd.read_csv(georgia)
florida_pd = pd.read_csv(florida)
# Gulf states
alabama_pd = pd.read_csv(alabama)
mississippi_pd = pd.read_csv(mississippi)
louisiana_pd = pd.read_csv(louisiana)
texas_pd = pd.read_csv(texas)

In [4]:
# Combine all dataframes into one file.

east_states = [maine_pd, new_hampshire_pd, massachusetts_pd, rhode_island_pd, connecticut_pd, new_jersey_pd, 
               new_york_pd, delaware_pd, maryland_pd, virginia_pd, north_carolina_pd, south_carolina_pd, 
               georgia_pd, florida_pd, alabama_pd, mississippi_pd, louisiana_pd, texas_pd]
east_coast = pd.concat(east_states)
east_coast.head()

C:\Users\sach2\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,# of bags,6-Pack Holders,Adults,"Appliances (refrigerators, washers, etc.)",Balloons,Beverage Bottles (Glass),Beverage Bottles (Plastic),Beverage Cans,Bottle Caps (Metal),Bottle Caps (Plastic),...,Syringes,Take Out/Away Containers (Foam),Take Out/Away Containers (Plastic),Tampons/Tampon Applicators,Tires,Tobacco Packaging/Wrap,Total Items Collected,Toys,Unnamed: 61,Zone
0,0.0,0,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0,0.0,0
0,0.0,0,1.0,0,0,1,1,0,0,1,...,0,0,1,0,0,0,4.0,0,NaN,"Rockingham County, NH, USA"
1,NaN,0,NaN,0,0,1,1,0,0,1,...,0,0,1,0,0,0,NaN,0,NaN,NaN
0,0.0,0,2.0,0,0,2,16,0,0,1,...,0,4,2,0,0,0,57.0,0,NaN,"Essex County, MA, USA"
1,0.0,0,2.0,0,0,0,3,1,0,0,...,0,0,0,0,0,0,38.0,1,NaN,"Essex County, MA, USA"

In [5]:
# Delete unnecessary columns

EC_dropped = east_coast.drop(columns = ['Cleanup ID', 'Zone', 'Country', 'Cleanup Date', 
                                                'Group Name', 'Adults', 'Children', 'People'])
EC_dropped.head()

,# of bags,6-Pack Holders,"Appliances (refrigerators, washers, etc.)",Balloons,Beverage Bottles (Glass),Beverage Bottles (Plastic),Beverage Cans,Bottle Caps (Metal),Bottle Caps (Plastic),Cigar Tips,...,"Straws, Stirrers",Syringes,Take Out/Away Containers (Foam),Take Out/Away Containers (Plastic),Tampons/Tampon Applicators,Tires,Tobacco Packaging/Wrap,Total Items Collected,Toys,Unnamed: 61
0,0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0,0.0
0,0.0,0,0,0,1,1,0,0,1,0,...,0,0,0,1,0,0,0,4.0,0,NaN
1,NaN,0,0,0,1,1,0,0,1,0,...,0,0,0,1,0,0,0,NaN,0,NaN
0,0.0,0,0,0,2,16,0,0,1,0,...,0,0,4,2,0,0,0,57.0,0,NaN
1,0.0,0,0,0,0,3,1,0,0,0,...,0,0,0,0,0,0,0,38.0,1,NaN

In [6]:
# Rename long column names to simpler forms

EC_named = EC_dropped.rename(columns = {"Food Wrappers (candy, chips, etc.)" : "Food Wrappers", "Take Out/Away Containers (Plastic)" : "Food Containers (Plastic)",
                                                          "Take Out/Away Containers (Foam)" : "Food Containers (Foam)", "Fishing Buoys, Pots & Traps" : "Fishing Tools", 
                                                          "Fishing Net & Pieces" : "Fishing Nets", "Fishing Line (1 yard/meter = 1 piece)" : "Fishing Lines", 
                                                          "Rope (1 yard/meter = 1 piece)" : "Rope", "Fishing Gear (Clean Swell)" : "Fishing Gear", 
                                                          "Other Plastic Bottles (oil, bleach, etc.)" : "Other Plastic Bottles", "Tobacco Packaging/Wrap" : "Tobacco Packs",
                                                          "Other Packaging (Clean Swell)" : "Other Packaging", "Other Trash (Clean Swell)" : "Other Trash", 
                                                          "Personal Hygiene (Clean Swell)" : "Hygiene"})
EC_named.head()

,# of bags,6-Pack Holders,"Appliances (refrigerators, washers, etc.)",Balloons,Beverage Bottles (Glass),Beverage Bottles (Plastic),Beverage Cans,Bottle Caps (Metal),Bottle Caps (Plastic),Cigar Tips,...,"Straws, Stirrers",Syringes,Food Containers (Foam),Food Containers (Plastic),Tampons/Tampon Applicators,Tires,Tobacco Packs,Total Items Collected,Toys,Unnamed: 61
0,0.0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0,0.0
0,0.0,0,0,0,1,1,0,0,1,0,...,0,0,0,1,0,0,0,4.0,0,NaN
1,NaN,0,0,0,1,1,0,0,1,0,...,0,0,0,1,0,0,0,NaN,0,NaN
0,0.0,0,0,0,2,16,0,0,1,0,...,0,0,4,2,0,0,0,57.0,0,NaN
1,0.0,0,0,0,0,3,1,0,0,0,...,0,0,0,0,0,0,0,38.0,1,NaN

In [7]:
# Group plastic columns

EC_plastics = EC_named[["State", "Food Containers (Plastic)", "Bottle Caps (Plastic)", "Lids (Plastic)", "Straws, Stirrers", 
                                          "Beverage Bottles (Plastic)", "Grocery Bags (Plastic)", "Other Plastic Bags", 
                                          "Cups, Plates (Plastic)", "6-Pack Holders", "Other Plastic Bottles", 
                                          "Condoms", "Plastic Pieces"]]
EC_plastics.head()

,State,Food Containers (Plastic),Bottle Caps (Plastic),Lids (Plastic),"Straws, Stirrers",Beverage Bottles (Plastic),Grocery Bags (Plastic),Other Plastic Bags,"Cups, Plates (Plastic)",6-Pack Holders,Other Plastic Bottles,Condoms,Plastic Pieces
0,Maine,0,0,0,0,0,0,0,0,0,0,0,0
0,"New Hampshire, USA",1,1,0,0,1,0,0,0,0,0,0,0
1,NaN,1,1,0,0,1,0,0,0,0,0,0,0
0,"Massachusetts, USA",2,1,9,0,16,3,0,0,0,0,0,7
1,"Massachusetts, USA",0,0,4,0,3,0,0,0,0,0,0,22

In [8]:
# Group Plastic pollution by state

EC_plastic_group = EC_plastics.groupby(["State"])
EC_plastic_count = EC_plastic_group.sum()
EC_plastic_count

,Food Containers (Plastic),Bottle Caps (Plastic),Lids (Plastic),"Straws, Stirrers",Beverage Bottles (Plastic),Grocery Bags (Plastic),Other Plastic Bags,"Cups, Plates (Plastic)",6-Pack Holders,Other Plastic Bottles,Condoms,Plastic Pieces
State,,,,,,,,,,,,
Alabama,0,0,0,0,0,0,0,0,0,0,0,0
Connecticut,0,0,0,0,0,0,0,0,0,0,0,0
"Delaware, USA",0,0,0,0,0,1,0,0,0,0,0,1
"Florida, USA",316,2887,419,947,1107,444,22,8,7,53,0,4638
"Georgia, USA",3,3,0,0,1,2,0,0,0,0,0,0
Louisiana,0,0,0,0,0,0,0,0,0,0,0,0
Maine,0,0,0,0,0,0,0,0,0,0,0,0
"Maryland, USA",0,1,0,4,5,1,0,0,0,0,0,3
"Massachusetts, USA",21,14,33,11,41,19,0,0,0,0,0,331
Mississippi,0,0,0,0,0,0,0,0,0,0,0,0
"New Hampshire, USA",1,1,0,0,1,0,0,0,0,0,0,0
New Jersey,0,0,0,0,0,0,0,0,0,0,0,0
"New York, USA",0,15,5,0,8,6,0,0,0,0,0,21
"North Carolina, USA",236,791,188,355,379,310,0,100,0,0,1,1468
"Rhode Island, USA",5,19,14,11,13,22,0,0,0,0,0,54
"South Carolina, USA",63,436,76,131,189,195,0,0,0,0,0,1013
"Texas, USA",63,829,180,121,676,100,301,112,16,134,20,1379
Virginia,0,0,0,0,0,0,0,0,0,0,0,0

In [9]:
# Group by foam columns

EC_foam_group = EC_named[["State", "Food Containers (Foam)", "Cups, Plates (Foam)", 
                                            "Other Plastic/Foam Packaging", "Foam Pieces"]]
EC_foam_group

,State,Food Containers (Foam),"Cups, Plates (Foam)",Other Plastic/Foam Packaging,Foam Pieces
0,Maine,0,0,0,0
0,"New Hampshire, USA",0,0,0,0
1,NaN,0,0,0,0
0,"Massachusetts, USA",4,0,0,0
1,"Massachusetts, USA",0,0,0,0
2,"Massachusetts, USA",1,0,0,0
3,"Massachusetts, USA",0,0,0,0
4,"Massachusetts, USA",0,0,0,0
5,NaN,5,0,0,0
0,"Rhode Island, USA",0,0,0,0
1,"Rhode Island, USA",4,0,0,0
2,NaN,4,0,0,0
0,Connecticut,0,0,0,0
0,New Jersey,0,0,0,0
0,"New York, USA",0,0,0,0
1,NaN,0,0,0,0
0,"Delaware, USA",0,0,0,0
1,NaN,0,0,0,0
0,"Maryland, USA",0,0,0,0
1,"Maryland, USA",0,0,0,0
2,"Maryland, USA",0,0,0,0
3,"Maryland, USA",0,0,0,0
4,"Maryland, USA",0,0,0,0
5,NaN,0,0,0,0
0,Virginia,0,0,0,0
0,"North Carolina, USA",0,0,0,0
1,"North Carolina, USA",0,0,0,0
2,"North Carolina, USA",0,0,0,0
3,"North Carolina, USA",0,0,0,0
4,"North Carolina, USA",0,0,0,0
...,...,...,...,...,...
248,"Florida, USA",0,0,0,0
249,"Florida, USA",0,0,0,0
250,"Florida, USA",0,0,0,0
251,"Florida, USA",1,0,0,0
252,"Florida, USA",4,0,0,0
253,"Florida, USA",4,0,0,0
254,"Florida, USA",4,0,0,0
255,"Florida, USA",0,0,0,0
256,"Florida, USA",0,0,0,0
257,"Florida, USA",0,0,0,0
258,"Florida, USA",0,0,0,0
259,"Florida, USA",0,0,0,0
260,"Florida, USA",6,0,0,0
261,"Florida, USA",3,0,0,0
262,"Florida, USA",5,0,0,0
263,"Florida, USA",0,0,0,0
264,"Florida, USA",0,0,0,0
265,"Florida, USA",2,0,0,0
266,"Florida, USA",2,0,0,0
267,"Florida, USA",0,0,0,0
268,"Florida, USA",3,17,93,34
269,NaN,156,17,93,34
0,Alabama,0,0,0,0
0,Mississippi,0,0,0,0
0,Louisiana,0,0,0,0
0,"Texas, USA",0,0,0,0
1,"Texas, USA",0,0,0,0
2,"Texas, USA",1,0,0,0
3,"Texas, USA",107,156,2076,217
4,NaN,108,156,2076,217

In [10]:
# Group Foam pollution by state 

EC_foam_group = EC_foam_group.groupby(["State"])
EC_foam_counts = EC_foam_group.sum()
EC_foam_counts

,Food Containers (Foam),"Cups, Plates (Foam)",Other Plastic/Foam Packaging,Foam Pieces
State,,,,
Alabama,0,0,0,0
Connecticut,0,0,0,0
"Delaware, USA",0,0,0,0
"Florida, USA",156,17,93,34
"Georgia, USA",0,0,0,0
Louisiana,0,0,0,0
Maine,0,0,0,0
"Maryland, USA",0,0,0,0
"Massachusetts, USA",5,0,0,0
Mississippi,0,0,0,0
"New Hampshire, USA",0,0,0,0
New Jersey,0,0,0,0
"New York, USA",0,0,0,0
"North Carolina, USA",82,0,0,200
"Rhode Island, USA",4,0,0,0
"South Carolina, USA",20,0,0,0
"Texas, USA",108,156,2076,217
Virginia,0,0,0,0

In [11]:
# Group by fishing tools trash

EC_fishing = EC_named[["State", "Fishing Tools", "Fishing Nets", "Fishing Lines", "Fishing Gear", "Rope"]]
EC_fishing

,State,Fishing Tools,Fishing Nets,Fishing Lines,Fishing Gear,Rope
0,Maine,0,0,0,0,0
0,"New Hampshire, USA",0,0,0,0,0
1,NaN,0,0,0,0,0
0,"Massachusetts, USA",0,0,0,0,0
1,"Massachusetts, USA",0,0,0,0,0
2,"Massachusetts, USA",0,0,0,0,0
3,"Massachusetts, USA",0,0,0,0,0
4,"Massachusetts, USA",0,0,0,125,0
5,NaN,0,0,0,125,0
0,"Rhode Island, USA",0,0,0,5,0
1,"Rhode Island, USA",0,0,0,10,0
2,NaN,0,0,0,15,0
0,Connecticut,0,0,0,0,0
0,New Jersey,0,0,0,0,0
0,"New York, USA",0,0,0,0,0
1,NaN,0,0,0,0,0
0,"Delaware, USA",0,0,0,2,0
1,NaN,0,0,0,2,0
0,"Maryland, USA",0,0,0,0,0
1,"Maryland, USA",0,0,0,0,0
2,"Maryland, USA",0,0,0,2,0
3,"Maryland, USA",0,0,0,0,0
4,"Maryland, USA",0,0,0,0,0
5,NaN,0,0,0,2,0
0,Virginia,0,0,0,0,0
0,"North Carolina, USA",0,0,0,1,0
1,"North Carolina, USA",0,0,0,1,0
2,"North Carolina, USA",0,0,0,0,0
3,"North Carolina, USA",0,0,0,2,0
4,"North Carolina, USA",0,0,0,0,0
...,...,...,...,...,...,...
248,"Florida, USA",0,0,0,0,0
249,"Florida, USA",0,0,0,0,0
250,"Florida, USA",0,0,0,0,0
251,"Florida, USA",0,0,0,7,0
252,"Florida, USA",0,0,0,12,0
253,"Florida, USA",0,0,0,12,0
254,"Florida, USA",0,0,0,12,0
255,"Florida, USA",0,0,0,1,0
256,"Florida, USA",0,0,0,3,0
257,"Florida, USA",0,0,0,0,0
258,"Florida, USA",0,0,0,2,0
259,"Florida, USA",0,0,0,0,0
260,"Florida, USA",0,0,0,6,0
261,"Florida, USA",0,0,0,1,0
262,"Florida, USA",0,0,0,4,0
263,"Florida, USA",0,0,0,0,0
264,"Florida, USA",0,0,0,0,0
265,"Florida, USA",0,0,0,2,0
266,"Florida, USA",0,0,0,1,0
267,"Florida, USA",0,0,0,1,0
268,"Florida, USA",44,2,4,0,0
269,NaN,44,2,4,512,0
0,Alabama,0,0,0,0,0
0,Mississippi,0,0,0,0,0
0,Louisiana,0,0,0,0,0
0,"Texas, USA",0,0,0,0,0
1,"Texas, USA",0,0,0,0,0
2,"Texas, USA",0,0,0,12,0
3,"Texas, USA",18,93,366,0,286
4,NaN,18,93,366,12,286

In [12]:
# Group fishing tools trash by state

EC_fishing_group = EC_fishing.groupby(["State"])
EC_fishing_counts = EC_fishing_group.sum()
EC_fishing_counts

,Fishing Tools,Fishing Nets,Fishing Lines,Fishing Gear,Rope
State,,,,,
Alabama,0,0,0,0,0
Connecticut,0,0,0,0,0
"Delaware, USA",0,0,0,2,0
"Florida, USA",44,2,4,512,0
"Georgia, USA",0,0,0,0,0
Louisiana,0,0,0,0,0
Maine,0,0,0,0,0
"Maryland, USA",0,0,0,2,0
"Massachusetts, USA",0,0,0,125,0
Mississippi,0,0,0,0,0
"New Hampshire, USA",0,0,0,0,0
New Jersey,0,0,0,0,0
"New York, USA",0,0,0,0,0
"North Carolina, USA",0,0,45,127,67
"Rhode Island, USA",0,0,0,15,0
"South Carolina, USA",0,0,0,60,0
"Texas, USA",18,93,366,12,286
Virginia,0,0,0,0,0

In [13]:
# Group by smoking waste

EC_smoking_waste = EC_named[["State", "Cigarette Butts", "Tobacco Packs", 
                                               "Cigar Tips", "Cigarette Lighters"]]
EC_smoking_waste

,State,Cigarette Butts,Tobacco Packs,Cigar Tips,Cigarette Lighters
0,Maine,0,0,0,0
0,"New Hampshire, USA",0,0,0,0
1,NaN,0,0,0,0
0,"Massachusetts, USA",0,0,0,0
1,"Massachusetts, USA",0,0,0,0
2,"Massachusetts, USA",24,0,0,0
3,"Massachusetts, USA",3,0,0,0
4,"Massachusetts, USA",8,0,0,0
5,NaN,35,0,0,0
0,"Rhode Island, USA",1,0,0,0
1,"Rhode Island, USA",156,0,0,0
2,NaN,157,0,0,0
0,Connecticut,0,0,0,0
0,New Jersey,0,0,0,0
0,"New York, USA",0,0,0,0
1,NaN,0,0,0,0
0,"Delaware, USA",20,0,0,0
1,NaN,20,0,0,0
0,"Maryland, USA",5,0,0,0
1,"Maryland, USA",0,0,0,0
2,"Maryland, USA",0,0,0,0
3,"Maryland, USA",0,0,0,0
4,"Maryland, USA",39,0,0,0
5,NaN,44,0,0,0
0,Virginia,0,0,0,0
0,"North Carolina, USA",38,0,0,0
1,"North Carolina, USA",1,0,0,0
2,"North Carolina, USA",0,0,0,0
3,"North Carolina, USA",29,0,0,0
4,"North Carolina, USA",0,0,0,0
...,...,...,...,...,...
248,"Florida, USA",8,0,0,0
249,"Florida, USA",0,0,0,0
250,"Florida, USA",0,0,0,0
251,"Florida, USA",0,0,0,0
252,"Florida, USA",11,0,0,0
253,"Florida, USA",11,0,0,0
254,"Florida, USA",11,0,0,0
255,"Florida, USA",5,0,0,0
256,"Florida, USA",9,0,0,0
257,"Florida, USA",0,0,0,0
258,"Florida, USA",0,0,0,0
259,"Florida, USA",37,0,0,0
260,"Florida, USA",15,0,0,0
261,"Florida, USA",0,0,0,0
262,"Florida, USA",5,0,0,0
263,"Florida, USA",2,0,0,0
264,"Florida, USA",5,0,0,0
265,"Florida, USA",13,0,0,0
266,"Florida, USA",287,0,0,0
267,"Florida, USA",0,0,0,0
268,"Florida, USA",0,0,0,2
269,NaN,4564,0,0,2
0,Alabama,0,0,0,0
0,Mississippi,0,0,0,0
0,Louisiana,0,0,0,0
0,"Texas, USA",1,0,0,0
1,"Texas, USA",6,0,0,0
2,"Texas, USA",156,0,0,0
3,"Texas, USA",57,17,8,25
4,NaN,220,17,8,25

In [14]:
# Group smoking waste by state

EC_smoking_waste_group = EC_smoking_waste.groupby(["State"])
EC_smoking_waste_counts = EC_smoking_waste_group.sum()
EC_smoking_waste_counts

,Cigarette Butts,Tobacco Packs,Cigar Tips,Cigarette Lighters
State,,,,
Alabama,0,0,0,0
Connecticut,0,0,0,0
"Delaware, USA",20,0,0,0
"Florida, USA",4564,0,0,2
"Georgia, USA",0,0,0,0
Louisiana,0,0,0,0
Maine,0,0,0,0
"Maryland, USA",44,0,0,0
"Massachusetts, USA",35,0,0,0
Mississippi,0,0,0,0
"New Hampshire, USA",0,0,0,0
New Jersey,0,0,0,0
"New York, USA",0,0,0,0
"North Carolina, USA",2699,0,0,1
"Rhode Island, USA",157,0,0,0
"South Carolina, USA",391,0,0,0
"Texas, USA",220,17,8,25
Virginia,0,0,0,0

In [15]:
# Group by food miscellaneous

EC_food_mess = EC_named[["State", "Food Wrappers", "Forks, Knives, Spoons", "Bottle Caps (Metal)", 
                                   "Beverage Cans", "Paper Bags", "Cups, Plates (Paper)"]]
EC_food_mess

,State,Food Wrappers,"Forks, Knives, Spoons",Bottle Caps (Metal),Beverage Cans,Paper Bags,"Cups, Plates (Paper)"
0,Maine,0,0,0,0,0,0
0,"New Hampshire, USA",0,0,0,0,0,0
1,NaN,0,0,0,0,0,0
0,"Massachusetts, USA",8,0,0,0,0,0
1,"Massachusetts, USA",0,0,0,1,0,0
2,"Massachusetts, USA",18,0,0,0,0,0
3,"Massachusetts, USA",12,1,0,3,0,4
4,"Massachusetts, USA",41,3,0,26,0,1
5,NaN,79,4,0,30,0,5
0,"Rhode Island, USA",5,2,0,2,0,3
1,"Rhode Island, USA",20,4,0,9,0,4
2,NaN,25,6,0,11,0,7
0,Connecticut,0,0,0,0,0,0
0,New Jersey,0,0,0,0,0,0
0,"New York, USA",0,0,0,15,0,0
1,NaN,0,0,0,15,0,0
0,"Delaware, USA",2,0,0,0,0,0
1,NaN,2,0,0,0,0,0
0,"Maryland, USA",0,0,0,0,0,0
1,"Maryland, USA",0,0,0,0,0,0
2,"Maryland, USA",1,0,0,1,0,0
3,"Maryland, USA",0,0,0,0,0,0
4,"Maryland, USA",2,0,0,2,0,1
5,NaN,3,0,0,3,0,1
0,Virginia,0,0,0,0,0,0
0,"North Carolina, USA",4,0,0,0,0,0
1,"North Carolina, USA",1,0,0,0,0,0
2,"North Carolina, USA",2,0,0,0,0,0
3,"North Carolina, USA",14,0,0,7,0,6
4,"North Carolina, USA",3,0,0,0,0,0
...,...,...,...,...,...,...,...
248,"Florida, USA",4,0,0,1,0,0
249,"Florida, USA",0,0,0,0,0,0
250,"Florida, USA",0,0,0,0,0,0
251,"Florida, USA",3,0,0,0,0,0
252,"Florida, USA",11,0,0,3,0,1
253,"Florida, USA",11,0,0,3,0,1
254,"Florida, USA",11,0,0,3,0,1
255,"Florida, USA",2,1,0,3,0,0
256,"Florida, USA",10,3,0,3,0,6
257,"Florida, USA",0,2,0,0,0,0
258,"Florida, USA",46,5,0,2,0,7
259,"Florida, USA",20,4,0,5,0,3
260,"Florida, USA",26,1,0,1,0,5
261,"Florida, USA",0,1,0,0,0,3
262,"Florida, USA",0,55,0,1,0,3
263,"Florida, USA",4,2,0,1,0,13
264,"Florida, USA",1,0,0,0,0,0
265,"Florida, USA",1,0,0,0,0,3
266,"Florida, USA",46,3,0,5,0,6
267,"Florida, USA",0,5,0,2,0,5
268,"Florida, USA",15,14,4,28,7,5
269,NaN,1377,294,4,528,7,407
0,Alabama,0,0,0,0,0,0
0,Mississippi,0,0,0,0,0,0
0,Louisiana,0,0,0,0,0,0
0,"Texas, USA",0,1,0,0,0,0
1,"Texas, USA",0,0,0,0,0,0
2,"Texas, USA",55,2,0,5,0,4
3,"Texas, USA",107,52,51,235,31,58
4,NaN,162,55,51,240,31,62

In [16]:
# Group food miscellaneous by state

EC_food_waste = EC_food_mess.groupby(["State"])
EC_misc_food_waste = EC_food_waste.sum()
EC_misc_food_waste

,Food Wrappers,"Forks, Knives, Spoons",Bottle Caps (Metal),Beverage Cans,Paper Bags,"Cups, Plates (Paper)"
State,,,,,,
Alabama,0,0,0,0,0,0
Connecticut,0,0,0,0,0,0
"Delaware, USA",2,0,0,0,0,0
"Florida, USA",1377,294,4,528,7,407
"Georgia, USA",2,0,0,2,0,0
Louisiana,0,0,0,0,0,0
Maine,0,0,0,0,0,0
"Maryland, USA",3,0,0,3,0,1
"Massachusetts, USA",79,4,0,30,0,5
Mississippi,0,0,0,0,0,0
"New Hampshire, USA",0,0,0,0,0,0
New Jersey,0,0,0,0,0,0
"New York, USA",0,0,0,15,0,0
"North Carolina, USA",1194,85,0,256,0,95
"Rhode Island, USA",25,6,0,11,0,7
"South Carolina, USA",471,53,0,157,0,75
"Texas, USA",162,55,51,240,31,62
Virginia,0,0,0,0,0,0

In [17]:
# Group by miscellaneous

EC_random_mess = EC_named[["State", "Strapping Bands", "Other Packaging", "Other Trash", 
                                     "Fireworks", "Appliances (refrigerators, washers, etc.)", "# of bags",
                                     "Construction Materials", "Tires", "Toys", "Diapers", "Syringes", 
                                     "Tampons/Tampon Applicators", "Hygiene", "Glass Pieces"]]
EC_random_mess

,State,Strapping Bands,Other Packaging,Other Trash,Fireworks,"Appliances (refrigerators, washers, etc.)",# of bags,Construction Materials,Tires,Toys,Diapers,Syringes,Tampons/Tampon Applicators,Hygiene,Glass Pieces
0,Maine,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
0,"New Hampshire, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
1,NaN,0,0,0,0,0,NaN,0,0,0,0,0,0,0,0
0,"Massachusetts, USA",0,0,4,0,0,0.0,0,0,0,0,0,0,1,0
1,"Massachusetts, USA",0,0,5,0,0,0.0,0,0,1,0,0,0,2,0
2,"Massachusetts, USA",0,3,9,0,0,0.0,0,0,0,0,0,0,2,0
3,"Massachusetts, USA",0,3,7,0,0,0.0,0,0,3,0,0,0,4,0
4,"Massachusetts, USA",0,2,46,0,0,0.0,0,0,7,0,0,0,9,0
5,NaN,0,8,71,0,0,NaN,0,0,11,0,0,0,18,0
0,"Rhode Island, USA",0,4,3,0,0,0.0,0,0,4,0,0,0,2,0
1,"Rhode Island, USA",0,1,90,0,0,0.0,0,0,0,0,0,0,1,0
2,NaN,0,5,93,0,0,NaN,0,0,4,0,0,0,3,0
0,Connecticut,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
0,New Jersey,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
0,"New York, USA",0,2,2,0,0,0.0,0,0,4,0,0,0,0,0
1,NaN,0,2,2,0,0,NaN,0,0,4,0,0,0,0,0
0,"Delaware, USA",0,0,1,0,0,0.0,0,0,1,0,0,0,0,0
1,NaN,0,0,1,0,0,NaN,0,0,1,0,0,0,0,0
0,"Maryland, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
1,"Maryland, USA",0,1,0,0,0,0.0,0,0,0,0,0,0,0,0
2,"Maryland, USA",0,2,0,0,0,0.0,0,0,0,0,0,0,0,0
3,"Maryland, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
4,"Maryland, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
5,NaN,0,3,0,0,0,NaN,0,0,0,0,0,0,0,0
0,Virginia,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
0,"North Carolina, USA",0,0,1,0,0,0.0,0,0,3,0,0,0,0,0
1,"North Carolina, USA",0,0,0,0,0,0.0,0,0,1,0,0,0,0,0
2,"North Carolina, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
3,"North Carolina, USA",0,8,6,0,0,0.0,0,0,3,0,0,0,0,0
4,"North Carolina, USA",0,0,0,0,0,0.0,0,0,2,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248,"Florida, USA",0,0,0,0,0,0.0,0,0,1,0,0,0,0,0
249,"Florida, USA",0,1,0,0,0,0.0,0,0,0,0,0,0,0,0
250,"Florida, USA",0,0,1,0,0,0.0,0,0,0,0,0,0,0,0
251,"Florida, USA",0,1,8,0,0,0.0,0,0,0,0,0,0,1,0
252,"Florida, USA",0,6,19,0,0,0.0,0,0,9,0,0,0,5,0
253,"Florida, USA",0,6,19,0,0,0.0,0,0,9,0,0,0,5,0
254,"Florida, USA",0,6,19,0,0,0.0,0,0,9,0,0,0,5,0
255,"Florida, USA",0,0,1,0,0,0.0,0,0,0,0,0,0,0,0
256,"Florida, USA",0,0,0,0,0,0.0,0,0,3,0,0,0,0,0
257,"Florida, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
258,"Florida, USA",0,11,7,0,0,0.0,0,0,4,0,0,0,0,0
259,"Florida, USA",0,13,15,0,0,0.0,0,0,0,0,0,0,0,0
260,"Florida, USA",0,10,24,0,0,0.0,0,0,10,0,0,0,6,0
261,"Florida, USA",0,5,16,0,0,0.0,0,0,0,0,0,0,6,0
262,"Florida, USA",0,0,28,0,0,0.0,0,0,1,0,0,0,6,0
263,"Florida, USA",0,1,2,0,0,0.0,0,0,0,0,0,0,1,0
264,"Florida, USA",0,3,7,0,0,0.0,0,0,0,0,0,0,0,0
265,"Florida, USA",0,3,8,0,0,0.0,0,0,0,0,0,0,4,0
266,"Florida, USA",0,11,56,0,0,0.0,0,0,0,0,0,0,2,0
267,"Florida, USA",0,7,5,0,0,0.0,0,0,0,0,0,0,1,0
268,"Florida, USA",0,0,0,0,1,10.0,20,0,0,1,0,1,0,2
269,NaN,0,490,1458,0,1,NaN,20,0,610,1,0,1,217,2
0,Alabama,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
0,Mississippi,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
0,Louisiana,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
0,"Texas, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,1,0
1,"Texas, USA",0,0,0,0,0,0.0,0,0,1,0,0,0,0,0
2,"Texas, USA",0,22,153,0,0,0.0,0,0,10,0,0,0,33,0
3,"Texas, USA",21,0,0,7,7,208.0,50,5,57,4,5,5,0,361
4,NaN,21,22,153,7,7,NaN,50,5,68,4,5,5,34,361

In [18]:
# Group miscellaneous by state

EC_random_trash = EC_random_mess.groupby(["State"])
EC_misc_waste = EC_random_trash.sum()
EC_misc_waste

,Strapping Bands,Other Packaging,Other Trash,Fireworks,"Appliances (refrigerators, washers, etc.)",# of bags,Construction Materials,Tires,Toys,Diapers,Syringes,Tampons/Tampon Applicators,Hygiene,Glass Pieces
State,,,,,,,,,,,,,,
Alabama,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
Connecticut,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
"Delaware, USA",0,0,1,0,0,0.0,0,0,1,0,0,0,0,0
"Florida, USA",0,490,1458,0,1,10.0,20,0,610,1,0,1,217,2
"Georgia, USA",0,2,2,0,0,0.0,0,0,0,0,0,0,2,0
Louisiana,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
Maine,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
"Maryland, USA",0,3,0,0,0,0.0,0,0,0,0,0,0,0,0
"Massachusetts, USA",0,8,71,0,0,0.0,0,0,11,0,0,0,18,0
Mississippi,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
"New Hampshire, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
New Jersey,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
"New York, USA",0,2,2,0,0,0.0,0,0,4,0,0,0,0,0
"North Carolina, USA",0,166,877,157,0,64.0,190,0,280,2,0,0,103,8
"Rhode Island, USA",0,5,93,0,0,0.0,0,0,4,0,0,0,3,0
"South Carolina, USA",0,100,500,0,0,0.0,0,0,170,0,0,0,75,0
"Texas, USA",21,22,153,7,7,208.0,50,5,68,4,5,5,34,361
Virginia,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0

In [19]:
# Sum plastic columns into new column

EC_plastic_count["Plastic Waste"] = EC_plastic_count.sum(axis=1)
EC_plastic_count

,Food Containers (Plastic),Bottle Caps (Plastic),Lids (Plastic),"Straws, Stirrers",Beverage Bottles (Plastic),Grocery Bags (Plastic),Other Plastic Bags,"Cups, Plates (Plastic)",6-Pack Holders,Other Plastic Bottles,Condoms,Plastic Pieces,Plastic Waste
State,,,,,,,,,,,,,
Alabama,0,0,0,0,0,0,0,0,0,0,0,0,0
Connecticut,0,0,0,0,0,0,0,0,0,0,0,0,0
"Delaware, USA",0,0,0,0,0,1,0,0,0,0,0,1,2
"Florida, USA",316,2887,419,947,1107,444,22,8,7,53,0,4638,10848
"Georgia, USA",3,3,0,0,1,2,0,0,0,0,0,0,9
Louisiana,0,0,0,0,0,0,0,0,0,0,0,0,0
Maine,0,0,0,0,0,0,0,0,0,0,0,0,0
"Maryland, USA",0,1,0,4,5,1,0,0,0,0,0,3,14
"Massachusetts, USA",21,14,33,11,41,19,0,0,0,0,0,331,470
Mississippi,0,0,0,0,0,0,0,0,0,0,0,0,0
"New Hampshire, USA",1,1,0,0,1,0,0,0,0,0,0,0,3
New Jersey,0,0,0,0,0,0,0,0,0,0,0,0,0
"New York, USA",0,15,5,0,8,6,0,0,0,0,0,21,55
"North Carolina, USA",236,791,188,355,379,310,0,100,0,0,1,1468,3828
"Rhode Island, USA",5,19,14,11,13,22,0,0,0,0,0,54,138
"South Carolina, USA",63,436,76,131,189,195,0,0,0,0,0,1013,2103
"Texas, USA",63,829,180,121,676,100,301,112,16,134,20,1379,3931
Virginia,0,0,0,0,0,0,0,0,0,0,0,0,0

In [20]:
# Sum foam columns into new column

EC_foam_counts["Foam Waste"] = EC_foam_counts.sum(axis=1)
EC_foam_counts

,Food Containers (Foam),"Cups, Plates (Foam)",Other Plastic/Foam Packaging,Foam Pieces,Foam Waste
State,,,,,
Alabama,0,0,0,0,0
Connecticut,0,0,0,0,0
"Delaware, USA",0,0,0,0,0
"Florida, USA",156,17,93,34,300
"Georgia, USA",0,0,0,0,0
Louisiana,0,0,0,0,0
Maine,0,0,0,0,0
"Maryland, USA",0,0,0,0,0
"Massachusetts, USA",5,0,0,0,5
Mississippi,0,0,0,0,0
"New Hampshire, USA",0,0,0,0,0
New Jersey,0,0,0,0,0
"New York, USA",0,0,0,0,0
"North Carolina, USA",82,0,0,200,282
"Rhode Island, USA",4,0,0,0,4
"South Carolina, USA",20,0,0,0,20
"Texas, USA",108,156,2076,217,2557
Virginia,0,0,0,0,0

In [21]:
# Sum fishing gear columns into new column

EC_fishing_counts["Fisherman's Waste"] = EC_fishing_counts.sum(axis=1)
EC_fishing_counts

,Fishing Tools,Fishing Nets,Fishing Lines,Fishing Gear,Rope,Fisherman's Waste
State,,,,,,
Alabama,0,0,0,0,0,0
Connecticut,0,0,0,0,0,0
"Delaware, USA",0,0,0,2,0,2
"Florida, USA",44,2,4,512,0,562
"Georgia, USA",0,0,0,0,0,0
Louisiana,0,0,0,0,0,0
Maine,0,0,0,0,0,0
"Maryland, USA",0,0,0,2,0,2
"Massachusetts, USA",0,0,0,125,0,125
Mississippi,0,0,0,0,0,0
"New Hampshire, USA",0,0,0,0,0,0
New Jersey,0,0,0,0,0,0
"New York, USA",0,0,0,0,0,0
"North Carolina, USA",0,0,45,127,67,239
"Rhode Island, USA",0,0,0,15,0,15
"South Carolina, USA",0,0,0,60,0,60
"Texas, USA",18,93,366,12,286,775
Virginia,0,0,0,0,0,0

In [22]:
# Sum smoking waste columns into new column

EC_smoking_waste_counts["Smoking Waste Items"] = EC_smoking_waste_counts.sum(axis=1)
EC_smoking_waste_counts

,Cigarette Butts,Tobacco Packs,Cigar Tips,Cigarette Lighters,Smoking Waste Items
State,,,,,
Alabama,0,0,0,0,0
Connecticut,0,0,0,0,0
"Delaware, USA",20,0,0,0,20
"Florida, USA",4564,0,0,2,4566
"Georgia, USA",0,0,0,0,0
Louisiana,0,0,0,0,0
Maine,0,0,0,0,0
"Maryland, USA",44,0,0,0,44
"Massachusetts, USA",35,0,0,0,35
Mississippi,0,0,0,0,0
"New Hampshire, USA",0,0,0,0,0
New Jersey,0,0,0,0,0
"New York, USA",0,0,0,0,0
"North Carolina, USA",2699,0,0,1,2700
"Rhode Island, USA",157,0,0,0,157
"South Carolina, USA",391,0,0,0,391
"Texas, USA",220,17,8,25,270
Virginia,0,0,0,0,0

In [23]:
# Sum food misc columns into new column

EC_misc_food_waste["Misc Food Waste Items"] = EC_misc_food_waste.sum(axis=1)
EC_misc_food_waste

,Food Wrappers,"Forks, Knives, Spoons",Bottle Caps (Metal),Beverage Cans,Paper Bags,"Cups, Plates (Paper)",Misc Food Waste Items
State,,,,,,,
Alabama,0,0,0,0,0,0,0
Connecticut,0,0,0,0,0,0,0
"Delaware, USA",2,0,0,0,0,0,2
"Florida, USA",1377,294,4,528,7,407,2617
"Georgia, USA",2,0,0,2,0,0,4
Louisiana,0,0,0,0,0,0,0
Maine,0,0,0,0,0,0,0
"Maryland, USA",3,0,0,3,0,1,7
"Massachusetts, USA",79,4,0,30,0,5,118
Mississippi,0,0,0,0,0,0,0
"New Hampshire, USA",0,0,0,0,0,0,0
New Jersey,0,0,0,0,0,0,0
"New York, USA",0,0,0,15,0,0,15
"North Carolina, USA",1194,85,0,256,0,95,1630
"Rhode Island, USA",25,6,0,11,0,7,49
"South Carolina, USA",471,53,0,157,0,75,756
"Texas, USA",162,55,51,240,31,62,601
Virginia,0,0,0,0,0,0,0

In [24]:
# Sum misc columns into new column

EC_misc_waste["Miscellaneous Waste Items"] = EC_misc_waste.sum(axis=1)
EC_misc_waste

,Strapping Bands,Other Packaging,Other Trash,Fireworks,"Appliances (refrigerators, washers, etc.)",# of bags,Construction Materials,Tires,Toys,Diapers,Syringes,Tampons/Tampon Applicators,Hygiene,Glass Pieces,Miscellaneous Waste Items
State,,,,,,,,,,,,,,,
Alabama,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0
Connecticut,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0
"Delaware, USA",0,0,1,0,0,0.0,0,0,1,0,0,0,0,0,2.0
"Florida, USA",0,490,1458,0,1,10.0,20,0,610,1,0,1,217,2,2810.0
"Georgia, USA",0,2,2,0,0,0.0,0,0,0,0,0,0,2,0,6.0
Louisiana,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0
Maine,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0
"Maryland, USA",0,3,0,0,0,0.0,0,0,0,0,0,0,0,0,3.0
"Massachusetts, USA",0,8,71,0,0,0.0,0,0,11,0,0,0,18,0,108.0
Mississippi,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0
"New Hampshire, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0
New Jersey,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0
"New York, USA",0,2,2,0,0,0.0,0,0,4,0,0,0,0,0,8.0
"North Carolina, USA",0,166,877,157,0,64.0,190,0,280,2,0,0,103,8,1847.0
"Rhode Island, USA",0,5,93,0,0,0.0,0,0,4,0,0,0,3,0,105.0
"South Carolina, USA",0,100,500,0,0,0.0,0,0,170,0,0,0,75,0,845.0
"Texas, USA",21,22,153,7,7,208.0,50,5,68,4,5,5,34,361,950.0
Virginia,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0.0

In [25]:
# Merge all dataframes then delete unnecessary columns

EC_plastic_foam = pd.merge(EC_plastic_count, EC_foam_counts, on="State", how="left")
EC_fishing_smoking = pd.merge(EC_fishing_counts, EC_smoking_waste_counts, on="State", how="left")
EC_miscfood_misc = pd.merge(EC_misc_food_waste, EC_misc_waste, on="State", how="left")
EC_four = pd.merge(EC_plastic_foam, EC_fishing_smoking, on="State", how="left")
EC_total = pd.merge(EC_four, EC_miscfood_misc, on="State", how="left")

EC_grand_total = EC_total.drop(columns = ["Food Containers (Plastic)", "Bottle Caps (Plastic)", "Lids (Plastic)", 
                                                   "Straws, Stirrers", "Beverage Bottles (Plastic)", "Grocery Bags (Plastic)", "Other Plastic Bags", 
                                                  "Cups, Plates (Plastic)", "6-Pack Holders", "Other Plastic Bottles", "Condoms", "Plastic Pieces", 
                                                   "Food Containers (Foam)", "Cups, Plates (Foam)", "Other Plastic/Foam Packaging", "Foam Pieces", 
                                                   "Fishing Tools", "Fishing Nets", "Fishing Lines", "Fishing Gear", "Rope", "Cigarette Butts", 
                                                   "Tobacco Packs", "Cigar Tips", "Cigarette Lighters", "Food Wrappers", "Forks, Knives, Spoons", 
                                                   "Bottle Caps (Metal)", "Beverage Cans", "Paper Bags", "Cups, Plates (Paper)", "Strapping Bands", 
                                                   "Other Packaging", "Other Trash", "Fireworks", "Appliances (refrigerators, washers, etc.)", 
                                                   "# of bags", "Construction Materials", "Tires", "Toys", "Diapers", "Syringes", 
                                                   "Tampons/Tampon Applicators", "Hygiene", "Glass Pieces"])

EC_grand_total

,Plastic Waste,Foam Waste,Fisherman's Waste,Smoking Waste Items,Misc Food Waste Items,Miscellaneous Waste Items
State,,,,,,
Alabama,0,0,0,0,0,0.0
Connecticut,0,0,0,0,0,0.0
"Delaware, USA",2,0,2,20,2,2.0
"Florida, USA",10848,300,562,4566,2617,2810.0
"Georgia, USA",9,0,0,0,4,6.0
Louisiana,0,0,0,0,0,0.0
Maine,0,0,0,0,0,0.0
"Maryland, USA",14,0,2,44,7,3.0
"Massachusetts, USA",470,5,125,35,118,108.0
Mississippi,0,0,0,0,0,0.0
"New Hampshire, USA",3,0,0,0,0,0.0
New Jersey,0,0,0,0,0,0.0
"New York, USA",55,0,0,0,15,8.0
"North Carolina, USA",3828,282,239,2700,1630,1847.0
"Rhode Island, USA",138,4,15,157,49,105.0
"South Carolina, USA",2103,20,60,391,756,845.0
"Texas, USA",3931,2557,775,270,601,950.0
Virginia,0,0,0,0,0,0.0

In [26]:
# Saving new data table to CSV
EC_grand_total.to_csv("Resources/2015_EC_Litter.csv", index=True)