In [1]:
import pandas as pd

In [2]:
# Set up path to all the summary files. 

# East coast states 
maine = "Resources/Maine2017.csv"
new_hampshire = "Resources/NewHampshire2017.csv"
massachusetts = "Resources/Massachusetts2017.csv"
rhode_island = "Resources/RhodeIsland2017.csv"
connecticut = "Resources/Connecticut2017.csv"
new_jersey = "Resources/NewJersey2017.csv"
new_york = "Resources/NewYork2017.csv"
delaware = "Resources/Delaware2017.csv"
maryland = "Resources/Maryland2017.csv"
virginia = "Resources/Virginia2017.csv"
north_carolina = "Resources/NorthCarolina2017.csv"
south_carolina = "Resources/SouthCarolina2017.csv"
georgia = "Resources/Georgia2017.csv"
florida = "Resources/Florida2017.csv"
# Gulf states
alabama = "Resources/Alabama2017.csv"
mississippi = "Resources/Mississippi2017.csv"
louisiana = "Resources/Louisiana2017.csv"
texas = "Resources/Texas2017.csv"

In [3]:
# Read all the summary files. 

# East coast States
maine_pd = pd.read_csv(maine)
new_hampshire_pd = pd.read_csv(new_hampshire)
massachusetts_pd = pd.read_csv(massachusetts)
rhode_island_pd = pd.read_csv(rhode_island)
connecticut_pd = pd.read_csv(connecticut)
new_jersey_pd = pd.read_csv(new_jersey)
new_york_pd = pd.read_csv(new_york)
delaware_pd = pd.read_csv(delaware)
maryland_pd = pd.read_csv(maryland)
virginia_pd = pd.read_csv(virginia)
north_carolina_pd = pd.read_csv(north_carolina)
south_carolina_pd = pd.read_csv(south_carolina)
georgia_pd = pd.read_csv(georgia)
florida_pd = pd.read_csv(florida)
# Gulf states
alabama_pd = pd.read_csv(alabama)
mississippi_pd = pd.read_csv(mississippi)
louisiana_pd = pd.read_csv(louisiana)
texas_pd = pd.read_csv(texas)

In [4]:
# Combine all dataframes into one file.

east_states = [maine_pd, new_hampshire_pd, massachusetts_pd, rhode_island_pd, connecticut_pd, new_jersey_pd, 
               new_york_pd, delaware_pd, maryland_pd, virginia_pd, north_carolina_pd, south_carolina_pd, 
               georgia_pd, florida_pd, alabama_pd, mississippi_pd, louisiana_pd, texas_pd]
east_coast = pd.concat(east_states)
east_coast.head()

,Cleanup ID,Zone,State,Country,GPS,Cleanup Type,Cleanup Date,Group Name,Adults,Children,...,Other Trash (Clean Swell),Condoms,Diapers,Syringes,Tampons/Tampon Applicators,Personal Hygiene (Clean Swell),Foam Pieces,Glass Pieces,Plastic Pieces,Total Items Collected
0,15410,"Cumberland County, ME, USA","Maine, USA",United States,"43.64885, -70.26556","Land (beach, shoreline and inland)",2017-01-29,NaN,1.0,0.0,...,4,0,0,0,0,1,0,0,130,205.0
1,15634,"Cumberland County, ME, USA","Maine, USA",NaN,"43.69593, -70.23673","Land (beach, shoreline and inland)",2017-02-05,NaN,1.0,0.0,...,1,0,0,0,0,0,0,0,9,48.0
2,18958,"York County, ME, USA","Maine, USA",United States,"43.50917, -70.8746","Land (beach, shoreline and inland)",2017-05-30,Trashengines Widows March,1.0,0.0,...,3,0,0,0,0,11,0,0,14,142.0
3,19347,"Cumberland County, ME, USA","Maine, USA",United States,"43.56193, -70.21863","Land (beach, shoreline and inland)",2017-06-11,NaN,2.0,0.0,...,13,0,0,0,0,2,0,0,49,117.0
4,19391,"York County, ME, USA","Maine, USA",United States,"43.1328, -70.80106","Land (beach, shoreline and inland)",2017-06-12,NaN,1.0,0.0,...,0,0,0,0,0,0,0,0,0,4.0

In [5]:
# Delete unnecessary columns

EC_dropped = east_coast.drop(columns = ['Cleanup ID', 'Zone', 'Country', 'Cleanup Date', 
                                                'Group Name', 'Adults', 'Children', 'People'])
EC_dropped.head()

,State,GPS,Cleanup Type,Pounds,Miles,# of bags,Cigarette Butts,"Food Wrappers (candy, chips, etc.)",Take Out/Away Containers (Plastic),Take Out/Away Containers (Foam),...,Other Trash (Clean Swell),Condoms,Diapers,Syringes,Tampons/Tampon Applicators,Personal Hygiene (Clean Swell),Foam Pieces,Glass Pieces,Plastic Pieces,Total Items Collected
0,"Maine, USA","43.64885, -70.26556","Land (beach, shoreline and inland)",7.20,0.0436,0.0,60,0,0,0,...,4,0,0,0,0,1,0,0,130,205.0
1,"Maine, USA","43.69593, -70.23673","Land (beach, shoreline and inland)",3.34,0.4652,0.0,1,3,1,0,...,1,0,0,0,0,0,0,0,9,48.0
2,"Maine, USA","43.50917, -70.8746","Land (beach, shoreline and inland)",19.87,0.0987,0.0,10,3,4,6,...,3,0,0,0,0,11,0,0,14,142.0
3,"Maine, USA","43.56193, -70.21863","Land (beach, shoreline and inland)",12.46,0.3521,0.0,3,19,1,1,...,13,0,0,0,0,2,0,0,49,117.0
4,"Maine, USA","43.1328, -70.80106","Land (beach, shoreline and inland)",1.60,0.0000,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4.0

In [6]:
# Rename long column names to simpler forms

EC_named = EC_dropped.rename(columns = {"Food Wrappers (candy, chips, etc.)" : "Food Wrappers", "Take Out/Away Containers (Plastic)" : "Food Containers (Plastic)",
                                                          "Take Out/Away Containers (Foam)" : "Food Containers (Foam)", "Fishing Buoys, Pots & Traps" : "Fishing Tools", 
                                                          "Fishing Net & Pieces" : "Fishing Nets", "Fishing Line (1 yard/meter = 1 piece)" : "Fishing Lines", 
                                                          "Rope (1 yard/meter = 1 piece)" : "Rope", "Fishing Gear (Clean Swell)" : "Fishing Gear", 
                                                          "Other Plastic Bottles (oil, bleach, etc.)" : "Other Plastic Bottles", "Tobacco Packaging/Wrap" : "Tobacco Packs",
                                                          "Other Packaging (Clean Swell)" : "Other Packaging", "Other Trash (Clean Swell)" : "Other Trash", 
                                                          "Personal Hygiene (Clean Swell)" : "Hygiene"})
EC_named.head()

,State,GPS,Cleanup Type,Pounds,Miles,# of bags,Cigarette Butts,Food Wrappers,Food Containers (Plastic),Food Containers (Foam),...,Other Trash,Condoms,Diapers,Syringes,Tampons/Tampon Applicators,Hygiene,Foam Pieces,Glass Pieces,Plastic Pieces,Total Items Collected
0,"Maine, USA","43.64885, -70.26556","Land (beach, shoreline and inland)",7.20,0.0436,0.0,60,0,0,0,...,4,0,0,0,0,1,0,0,130,205.0
1,"Maine, USA","43.69593, -70.23673","Land (beach, shoreline and inland)",3.34,0.4652,0.0,1,3,1,0,...,1,0,0,0,0,0,0,0,9,48.0
2,"Maine, USA","43.50917, -70.8746","Land (beach, shoreline and inland)",19.87,0.0987,0.0,10,3,4,6,...,3,0,0,0,0,11,0,0,14,142.0
3,"Maine, USA","43.56193, -70.21863","Land (beach, shoreline and inland)",12.46,0.3521,0.0,3,19,1,1,...,13,0,0,0,0,2,0,0,49,117.0
4,"Maine, USA","43.1328, -70.80106","Land (beach, shoreline and inland)",1.60,0.0000,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4.0

In [7]:
# Group plastic columns

EC_plastics = EC_named[["State", "Food Containers (Plastic)", "Bottle Caps (Plastic)", "Lids (Plastic)", "Straws, Stirrers", 
                                          "Beverage Bottles (Plastic)", "Grocery Bags (Plastic)", "Other Plastic Bags", 
                                          "Cups, Plates (Plastic)", "6-Pack Holders", "Other Plastic Bottles", 
                                          "Condoms", "Plastic Pieces"]]
EC_plastics.head()

,State,Food Containers (Plastic),Bottle Caps (Plastic),Lids (Plastic),"Straws, Stirrers",Beverage Bottles (Plastic),Grocery Bags (Plastic),Other Plastic Bags,"Cups, Plates (Plastic)",6-Pack Holders,Other Plastic Bottles,Condoms,Plastic Pieces
0,"Maine, USA",0,2,0,0,0,0,0,0,0,0,0,130
1,"Maine, USA",1,1,2,3,10,5,0,5,0,0,0,9
2,"Maine, USA",4,7,0,0,25,3,0,0,0,0,0,14
3,"Maine, USA",1,0,0,3,3,1,0,0,0,0,0,49
4,"Maine, USA",0,0,0,0,1,0,0,0,0,0,0,0

In [8]:
# Group Plastic pollution by state

EC_plastic_group = EC_plastics.groupby(["State"])
EC_plastic_count = EC_plastic_group.sum()
EC_plastic_count

,Food Containers (Plastic),Bottle Caps (Plastic),Lids (Plastic),"Straws, Stirrers",Beverage Bottles (Plastic),Grocery Bags (Plastic),Other Plastic Bags,"Cups, Plates (Plastic)",6-Pack Holders,Other Plastic Bottles,Condoms,Plastic Pieces
State,,,,,,,,,,,,
"Alabama, USA",1634,6155,1997,3138,6563,2101,1263,1312,236,521,80,10165
"Connecticut, USA",1322,7929,1613,3876,10611,1936,2527,1522,74,2509,130,13706
"Delaware, USA",607,4813,1020,1953,2948,1067,1678,761,115,267,51,6648
"Florida, USA",10900,85440,16383,32225,37826,17541,8421,13671,886,1729,520,159996
"Georgia, USA",945,2546,1104,1403,10684,3454,2338,971,109,410,246,2224
"Louisiana, USA",727,5312,1214,2504,6063,1152,1035,824,224,544,56,7257
"Maine, USA",281,1136,334,444,1564,297,707,240,38,305,21,4711
"Maryland, USA",480,7057,809,4037,10533,1086,1179,704,27,127,35,10132
"Massachusetts, USA",9321,7796,2024,5643,19418,3742,4104,2138,181,9339,249,13115
"Mississippi, USA",2641,1119,5483,5241,19958,5222,6795,3159,316,4026,329,32914
"New Hampshire, USA",128,846,181,386,881,168,396,196,15,213,22,4409
"New Jersey, USA",1083,15977,2151,20309,10250,4809,4059,1194,229,1194,188,29142
"New York, USA",3074,20500,3912,11464,11312,7948,7688,4408,443,1135,349,37456
"North Carolina, USA",1350,5929,1888,3037,12154,4365,1578,1534,182,508,60,10804
"Rhode Island, USA",1154,8553,1847,4560,7388,2883,3247,2091,221,458,168,19321
"South Carolina, USA",519,3672,915,1804,5954,1507,961,565,69,191,76,7510
"Texas, USA",4618,36713,6855,10667,16480,5539,4641,3766,569,1395,323,56434
"Virginia, USA",2900,8137,2798,4250,16797,11734,10232,2542,187,557,130,12932

In [9]:
# Group by foam columns

EC_foam_group = EC_named[["State", "Food Containers (Foam)", "Cups, Plates (Foam)", 
                                            "Other Plastic/Foam Packaging", "Foam Pieces"]]
EC_foam_group

,State,Food Containers (Foam),"Cups, Plates (Foam)",Other Plastic/Foam Packaging,Foam Pieces
0,"Maine, USA",0,0,0,0
1,"Maine, USA",0,0,0,0
2,"Maine, USA",6,0,0,0
3,"Maine, USA",1,0,0,0
4,"Maine, USA",0,0,0,0
5,"Maine, USA",0,0,0,0
6,"Maine, USA",0,0,0,0
7,"Maine, USA",0,0,0,0
8,"Maine, USA",0,0,0,0
9,"Maine, USA",0,0,0,0
10,"Maine, USA",0,0,0,0
11,"Maine, USA",0,0,0,0
12,"Maine, USA",0,0,0,0
13,"Maine, USA",0,0,0,0
14,"Maine, USA",0,0,0,0
15,"Maine, USA",0,0,0,0
16,"Maine, USA",0,0,0,0
17,"Maine, USA",0,0,0,0
18,"Maine, USA",0,0,0,0
19,"Maine, USA",0,0,0,0
20,"Maine, USA",0,0,0,0
21,"Maine, USA",0,0,0,0
22,"Maine, USA",94,0,0,0
23,"Maine, USA",1,0,0,0
24,"Maine, USA",0,0,0,0
25,"Maine, USA",1,0,0,0
26,"Maine, USA",1,0,0,0
27,"Maine, USA",0,0,0,0
28,"Maine, USA",0,0,0,0
29,"Maine, USA",0,0,0,0
...,...,...,...,...,...
369,"Texas, USA",0,0,0,0
370,"Texas, USA",0,0,0,0
371,"Texas, USA",5,0,0,0
372,"Texas, USA",0,0,0,0
373,"Texas, USA",0,0,0,0
374,"Texas, USA",0,0,0,0
375,"Texas, USA",0,0,0,0
376,"Texas, USA",0,0,0,0
377,"Texas, USA",0,0,0,0
378,"Texas, USA",0,0,0,0
379,"Texas, USA",0,0,0,0
380,"Texas, USA",5,0,0,0
381,"Texas, USA",5,0,0,0
382,"Texas, USA",0,0,0,0
383,"Texas, USA",0,0,0,0
384,"Texas, USA",0,0,0,0
385,"Texas, USA",0,0,0,0
386,"Texas, USA",0,0,0,0
387,"Texas, USA",0,0,0,0
388,"Texas, USA",0,0,0,0
389,"Texas, USA",5,0,0,0
390,"Texas, USA",0,0,0,0
391,"Texas, USA",0,0,0,0
392,"Texas, USA",10,0,0,0
393,"Texas, USA",0,0,0,0
394,"Texas, USA",0,0,0,0
395,"Texas, USA",0,0,0,0
396,"Texas, USA",0,0,2,0
397,"Texas, USA",68,166,67,521
398,NaN,3896,3551,4141,20187

In [10]:
# Group Foam pollution by state 

EC_foam_group = EC_foam_group.groupby(["State"])
EC_foam_counts = EC_foam_group.sum()
EC_foam_counts

,Food Containers (Foam),"Cups, Plates (Foam)",Other Plastic/Foam Packaging,Foam Pieces
State,,,,
"Alabama, USA",1221,1697,1842,7101
"Connecticut, USA",1451,2290,1989,737854
"Delaware, USA",220,350,1267,1840
"Florida, USA",7239,5027,8966,29486
"Georgia, USA",1017,1596,1937,3574
"Louisiana, USA",450,864,954,1673
"Maine, USA",331,353,1041,2969
"Maryland, USA",440,1877,1455,20057
"Massachusetts, USA",2897,3118,8609,319280
"Mississippi, USA",3376,4302,6404,22662
"New Hampshire, USA",72,269,697,10311
"New Jersey, USA",807,2019,4665,9136
"New York, USA",2274,2939,7253,16482
"North Carolina, USA",1738,1183,1397,5941
"Rhode Island, USA",780,1597,3666,9146
"South Carolina, USA",478,510,1880,7436
"Texas, USA",3896,3551,4141,20187
"Virginia, USA",4348,5172,5986,7830

In [11]:
# Group by fishing tools trash

EC_fishing = EC_named[["State", "Fishing Tools", "Fishing Nets", "Fishing Lines", "Fishing Gear", "Rope"]]
EC_fishing

,State,Fishing Tools,Fishing Nets,Fishing Lines,Fishing Gear,Rope
0,"Maine, USA",0,0,0,7,0
1,"Maine, USA",0,0,0,3,0
2,"Maine, USA",0,0,0,7,0
3,"Maine, USA",0,0,0,17,0
4,"Maine, USA",0,0,0,1,0
5,"Maine, USA",0,0,0,21,0
6,"Maine, USA",0,0,0,0,0
7,"Maine, USA",0,0,0,0,0
8,"Maine, USA",0,0,0,0,0
9,"Maine, USA",0,0,0,0,0
10,"Maine, USA",0,0,0,0,0
11,"Maine, USA",0,0,0,0,0
12,"Maine, USA",0,0,0,3,0
13,"Maine, USA",0,0,0,19,0
14,"Maine, USA",0,0,0,0,0
15,"Maine, USA",0,0,0,5,0
16,"Maine, USA",0,0,0,0,0
17,"Maine, USA",0,0,0,0,0
18,"Maine, USA",0,0,0,0,0
19,"Maine, USA",0,0,0,0,0
20,"Maine, USA",0,0,0,0,0
21,"Maine, USA",0,0,0,0,0
22,"Maine, USA",0,0,0,14,0
23,"Maine, USA",0,0,0,0,0
24,"Maine, USA",0,0,0,2,0
25,"Maine, USA",0,0,0,9,0
26,"Maine, USA",0,0,0,9,0
27,"Maine, USA",0,0,0,0,0
28,"Maine, USA",0,0,0,0,0
29,"Maine, USA",0,0,0,0,0
...,...,...,...,...,...,...
369,"Texas, USA",0,0,0,0,0
370,"Texas, USA",0,0,0,0,0
371,"Texas, USA",0,0,0,0,0
372,"Texas, USA",0,0,0,0,0
373,"Texas, USA",0,0,0,0,0
374,"Texas, USA",0,0,0,0,0
375,"Texas, USA",0,0,0,0,0
376,"Texas, USA",0,0,0,0,0
377,"Texas, USA",0,0,0,0,0
378,"Texas, USA",0,0,0,0,0
379,"Texas, USA",0,0,0,0,0
380,"Texas, USA",0,0,0,0,0
381,"Texas, USA",0,0,0,0,0
382,"Texas, USA",0,0,0,0,0
383,"Texas, USA",0,0,0,0,0
384,"Texas, USA",0,0,0,0,0
385,"Texas, USA",0,0,0,0,0
386,"Texas, USA",0,0,0,0,0
387,"Texas, USA",0,0,0,0,0
388,"Texas, USA",0,0,0,0,0
389,"Texas, USA",0,0,0,0,0
390,"Texas, USA",0,0,0,0,0
391,"Texas, USA",0,0,0,0,0
392,"Texas, USA",0,0,0,0,0
393,"Texas, USA",0,0,0,0,0
394,"Texas, USA",0,0,0,0,0
395,"Texas, USA",0,0,0,0,0
396,"Texas, USA",0,0,0,0,0
397,"Texas, USA",4,12,65,0,26
398,NaN,788,1672,5579,2229,5856

In [12]:
# Group fishing tools trash by state

EC_fishing_group = EC_fishing.groupby(["State"])
EC_fishing_counts = EC_fishing_group.sum()
EC_fishing_counts

,Fishing Tools,Fishing Nets,Fishing Lines,Fishing Gear,Rope
State,,,,,
"Alabama, USA",205,377,618,9,568
"Connecticut, USA",425,204,918,40,458
"Delaware, USA",123,336,451,136,448
"Florida, USA",1063,1871,3163,5612,3412
"Georgia, USA",75,86,1217,14,21
"Louisiana, USA",214,386,618,109,663
"Maine, USA",816,422,316,117,2038
"Maryland, USA",52,392,644,109,156
"Massachusetts, USA",769,1402,1225,219,2836
"Mississippi, USA",460,1124,4405,8,2110
"New Hampshire, USA",641,432,191,0,1306
"New Jersey, USA",271,186,554,22,2573
"New York, USA",435,726,2057,124,1870
"North Carolina, USA",277,252,595,198,490
"Rhode Island, USA",454,655,3847,71,2161
"South Carolina, USA",83,153,2987,107,365
"Texas, USA",788,1672,5579,2229,5856
"Virginia, USA",333,304,984,180,446

In [13]:
# Group by smoking waste

EC_smoking_waste = EC_named[["State", "Cigarette Butts", "Tobacco Packs", 
                                               "Cigar Tips", "Cigarette Lighters"]]
EC_smoking_waste

,State,Cigarette Butts,Tobacco Packs,Cigar Tips,Cigarette Lighters
0,"Maine, USA",60,0,0,0
1,"Maine, USA",1,0,0,0
2,"Maine, USA",10,0,0,0
3,"Maine, USA",3,0,0,0
4,"Maine, USA",0,0,0,0
5,"Maine, USA",6,0,0,0
6,"Maine, USA",6,0,1,0
7,"Maine, USA",0,0,0,0
8,"Maine, USA",0,0,0,0
9,"Maine, USA",0,0,0,0
10,"Maine, USA",0,0,0,0
11,"Maine, USA",0,0,0,0
12,"Maine, USA",6,0,0,0
13,"Maine, USA",322,0,0,0
14,"Maine, USA",0,0,0,0
15,"Maine, USA",60,0,0,0
16,"Maine, USA",1,0,0,0
17,"Maine, USA",1,0,0,0
18,"Maine, USA",1,0,0,0
19,"Maine, USA",1,0,0,0
20,"Maine, USA",0,0,0,0
21,"Maine, USA",99,0,0,0
22,"Maine, USA",665,0,0,0
23,"Maine, USA",18,0,0,0
24,"Maine, USA",11,0,0,0
25,"Maine, USA",24,0,0,0
26,"Maine, USA",24,0,0,0
27,"Maine, USA",0,0,0,0
28,"Maine, USA",0,0,0,0
29,"Maine, USA",0,0,0,0
...,...,...,...,...,...
369,"Texas, USA",0,0,0,0
370,"Texas, USA",0,0,0,0
371,"Texas, USA",0,0,0,0
372,"Texas, USA",0,0,0,0
373,"Texas, USA",1,0,0,0
374,"Texas, USA",10,0,0,0
375,"Texas, USA",15,0,0,0
376,"Texas, USA",0,0,0,0
377,"Texas, USA",0,0,0,0
378,"Texas, USA",0,0,0,0
379,"Texas, USA",0,0,0,0
380,"Texas, USA",0,0,0,0
381,"Texas, USA",5,0,0,0
382,"Texas, USA",1,0,0,0
383,"Texas, USA",0,0,0,0
384,"Texas, USA",0,0,0,0
385,"Texas, USA",1,0,0,0
386,"Texas, USA",0,0,0,0
387,"Texas, USA",1,0,0,0
388,"Texas, USA",5,0,0,0
389,"Texas, USA",5,0,0,0
390,"Texas, USA",0,0,0,0
391,"Texas, USA",0,0,0,0
392,"Texas, USA",0,0,0,0
393,"Texas, USA",0,0,0,0
394,"Texas, USA",0,0,0,0
395,"Texas, USA",1,0,0,0
396,"Texas, USA",0,1,0,0
397,"Texas, USA",2094,95,75,27
398,NaN,38305,1247,2166,828

In [14]:
# Group smoking waste by state

EC_smoking_waste_group = EC_smoking_waste.groupby(["State"])
EC_smoking_waste_counts = EC_smoking_waste_group.sum()
EC_smoking_waste_counts

,Cigarette Butts,Tobacco Packs,Cigar Tips,Cigarette Lighters
State,,,,
"Alabama, USA",18396,1415,1492,292
"Connecticut, USA",33574,734,634,214
"Delaware, USA",16296,656,665,153
"Florida, USA",111828,3096,7074,1800
"Georgia, USA",8913,890,396,121
"Louisiana, USA",4380,729,258,265
"Maine, USA",17442,133,115,78
"Maryland, USA",5469,331,1147,201
"Massachusetts, USA",31302,1695,965,348
"Mississippi, USA",48301,2773,3552,777
"New Hampshire, USA",16533,95,140,57
"New Jersey, USA",27789,1431,4094,573
"New York, USA",34919,1317,2810,731
"North Carolina, USA",43182,945,790,224
"Rhode Island, USA",34105,1228,1004,326
"South Carolina, USA",17598,379,504,424
"Texas, USA",38305,1247,2166,828
"Virginia, USA",28196,1835,1977,419

In [15]:
# Group by food miscellaneous

EC_food_mess = EC_named[["State", "Food Wrappers", "Forks, Knives, Spoons", "Bottle Caps (Metal)", 
                                   "Beverage Cans", "Paper Bags", "Cups, Plates (Paper)"]]
EC_food_mess

,State,Food Wrappers,"Forks, Knives, Spoons",Bottle Caps (Metal),Beverage Cans,Paper Bags,"Cups, Plates (Paper)"
0,"Maine, USA",0,0,0,1,0,0
1,"Maine, USA",3,0,0,2,0,0
2,"Maine, USA",3,3,0,10,0,0
3,"Maine, USA",19,1,0,1,0,0
4,"Maine, USA",0,0,0,0,0,0
5,"Maine, USA",1,0,0,0,0,0
6,"Maine, USA",4,0,3,0,0,0
7,"Maine, USA",1,1,0,0,0,0
8,"Maine, USA",3,0,0,0,0,0
9,"Maine, USA",1,0,0,0,0,0
10,"Maine, USA",2,1,0,0,0,0
11,"Maine, USA",2,1,0,0,0,0
12,"Maine, USA",3,1,0,4,0,0
13,"Maine, USA",25,0,0,1,0,0
14,"Maine, USA",0,0,0,0,0,0
15,"Maine, USA",30,1,0,7,0,0
16,"Maine, USA",0,0,0,0,0,0
17,"Maine, USA",0,0,0,0,0,0
18,"Maine, USA",0,0,0,0,0,0
19,"Maine, USA",0,0,0,0,0,0
20,"Maine, USA",0,0,0,0,0,0
21,"Maine, USA",6,0,0,0,0,0
22,"Maine, USA",41,2,0,13,0,0
23,"Maine, USA",5,0,0,2,0,0
24,"Maine, USA",4,0,0,0,0,0
25,"Maine, USA",4,0,0,0,0,0
26,"Maine, USA",4,0,0,0,0,0
27,"Maine, USA",0,0,0,0,0,0
28,"Maine, USA",0,0,0,0,0,0
29,"Maine, USA",0,0,0,0,0,0
...,...,...,...,...,...,...,...
369,"Texas, USA",0,0,0,0,0,0
370,"Texas, USA",0,0,0,0,0,0
371,"Texas, USA",5,0,0,0,0,0
372,"Texas, USA",0,0,0,10,0,0
373,"Texas, USA",0,0,0,0,0,0
374,"Texas, USA",10,0,0,0,0,10
375,"Texas, USA",15,0,0,0,0,0
376,"Texas, USA",0,0,0,0,0,0
377,"Texas, USA",0,0,0,5,0,0
378,"Texas, USA",0,0,0,0,0,0
379,"Texas, USA",0,0,0,5,5,0
380,"Texas, USA",0,0,0,5,5,0
381,"Texas, USA",0,0,0,0,0,0
382,"Texas, USA",0,0,0,0,0,0
383,"Texas, USA",0,0,0,5,0,0
384,"Texas, USA",0,0,0,5,0,0
385,"Texas, USA",0,0,0,0,0,0
386,"Texas, USA",0,0,0,0,0,0
387,"Texas, USA",0,0,0,0,0,0
388,"Texas, USA",20,0,0,0,0,0
389,"Texas, USA",5,0,0,5,0,0
390,"Texas, USA",0,0,0,100,0,0
391,"Texas, USA",0,0,0,0,0,0
392,"Texas, USA",10,0,0,10,0,0
393,"Texas, USA",0,0,0,0,0,0
394,"Texas, USA",0,0,0,0,0,0
395,"Texas, USA",0,0,0,0,0,0
396,"Texas, USA",17,1,0,6,2,6
397,"Texas, USA",542,149,4963,346,222,127
398,NaN,15941,4992,10587,9088,2072,2556

In [16]:
# Group food miscellaneous by state

EC_food_waste = EC_food_mess.groupby(["State"])
EC_misc_food_waste = EC_food_waste.sum()
EC_misc_food_waste

,Food Wrappers,"Forks, Knives, Spoons",Bottle Caps (Metal),Beverage Cans,Paper Bags,"Cups, Plates (Paper)"
State,,,,,,
"Alabama, USA",6684,978,2252,5494,519,940
"Connecticut, USA",11048,1293,4105,4083,991,997
"Delaware, USA",4945,535,766,2022,513,637
"Florida, USA",46003,11752,12054,21759,2766,3359
"Georgia, USA",601,1102,716,6643,765,969
"Louisiana, USA",3696,638,732,2515,379,532
"Maine, USA",2467,123,281,795,231,237
"Maryland, USA",4310,587,528,1427,280,601
"Massachusetts, USA",10564,3924,2528,9620,778,2046
"Mississippi, USA",12520,1403,4095,6883,3284,2945
"New Hampshire, USA",1112,135,239,1163,151,142
"New Jersey, USA",24806,2503,3930,4013,1387,1507
"New York, USA",19224,3547,7514,6847,3067,3044
"North Carolina, USA",9980,2301,1150,7942,364,1067
"Rhode Island, USA",12176,1457,2857,4777,1473,1406
"South Carolina, USA",4571,754,437,2667,183,286
"Texas, USA",15941,4992,10587,9088,2072,2556
"Virginia, USA",17664,991,8502,7761,873,1693

In [17]:
# Group by miscellaneous

EC_random_mess = EC_named[["State", "Strapping Bands", "Other Packaging", "Other Trash", 
                                     "Fireworks", "Appliances (refrigerators, washers, etc.)", "# of bags",
                                     "Construction Materials", "Tires", "Toys", "Diapers", "Syringes", 
                                     "Tampons/Tampon Applicators", "Hygiene", "Glass Pieces"]]
EC_random_mess

,State,Strapping Bands,Other Packaging,Other Trash,Fireworks,"Appliances (refrigerators, washers, etc.)",# of bags,Construction Materials,Tires,Toys,Diapers,Syringes,Tampons/Tampon Applicators,Hygiene,Glass Pieces
0,"Maine, USA",0,0,4,0,0,0.0,0,0,0,0,0,0,1,0
1,"Maine, USA",0,1,1,0,0,0.0,0,0,0,0,0,0,0,0
2,"Maine, USA",0,6,3,0,0,0.0,0,0,6,0,0,0,11,0
3,"Maine, USA",0,3,13,0,0,0.0,0,0,0,0,0,0,2,0
4,"Maine, USA",0,0,0,0,0,0.0,0,0,1,0,0,0,0,0
5,"Maine, USA",0,1,12,0,0,0.0,0,0,1,0,0,0,4,0
6,"Maine, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
7,"Maine, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
8,"Maine, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
9,"Maine, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
10,"Maine, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
11,"Maine, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
12,"Maine, USA",0,1,0,0,0,0.0,0,0,1,0,0,0,0,0
13,"Maine, USA",0,11,20,0,0,0.0,0,0,0,0,0,0,12,0
14,"Maine, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
15,"Maine, USA",0,7,75,0,0,0.0,0,0,1,0,0,0,5,0
16,"Maine, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
17,"Maine, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
18,"Maine, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
19,"Maine, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
20,"Maine, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
21,"Maine, USA",0,7,2,0,0,0.0,0,0,0,0,0,0,0,0
22,"Maine, USA",0,5,40,0,0,0.0,0,0,0,0,0,0,4,0
23,"Maine, USA",0,3,4,0,0,0.0,0,0,0,0,0,0,0,0
24,"Maine, USA",0,0,22,0,0,0.0,0,0,0,0,0,0,0,0
25,"Maine, USA",0,11,8,0,0,0.0,0,0,0,0,0,0,6,0
26,"Maine, USA",0,11,8,0,0,0.0,0,0,0,0,0,0,6,0
27,"Maine, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
28,"Maine, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
29,"Maine, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,"Texas, USA",0,0,0,0,0,0.0,0,1,0,0,0,0,0,0
370,"Texas, USA",0,0,0,0,0,0.0,0,1,0,0,0,0,0,0
371,"Texas, USA",0,0,0,0,0,0.0,0,3,0,0,0,0,0,0
372,"Texas, USA",0,0,0,0,0,0.0,0,7,0,0,0,0,0,0
373,"Texas, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
374,"Texas, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
375,"Texas, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
376,"Texas, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
377,"Texas, USA",0,0,0,0,0,0.0,0,10,0,0,0,0,0,0
378,"Texas, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
379,"Texas, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
380,"Texas, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
381,"Texas, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
382,"Texas, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
383,"Texas, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
384,"Texas, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
385,"Texas, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
386,"Texas, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
387,"Texas, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
388,"Texas, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
389,"Texas, USA",0,0,0,0,5,0.0,0,0,0,0,0,0,0,0
390,"Texas, USA",0,0,0,0,1,0.0,0,4,0,0,0,0,0,0
391,"Texas, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
392,"Texas, USA",0,0,0,0,0,0.0,10,0,0,0,0,0,0,0
393,"Texas, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
394,"Texas, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
395,"Texas, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
396,"Texas, USA",0,0,0,0,0,2.0,0,0,0,0,0,0,0,0
397,"Texas, USA",37,0,0,4,7,200.0,336,36,0,16,2,2,0,387
398,NaN,1342,1617,5019,1060,118,NaN,2192,803,512,386,206,410,638,10777

In [18]:
# Group miscellaneous by state

EC_random_trash = EC_random_mess.groupby(["State"])
EC_misc_waste = EC_random_trash.sum()
EC_misc_waste

,Strapping Bands,Other Packaging,Other Trash,Fireworks,"Appliances (refrigerators, washers, etc.)",# of bags,Construction Materials,Tires,Toys,Diapers,Syringes,Tampons/Tampon Applicators,Hygiene,Glass Pieces
State,,,,,,,,,,,,,,
"Alabama, USA",453,27,55,234,36,1547.0,2109,355,3,117,36,117,5,3043
"Connecticut, USA",389,135,956,111,38,1111.0,694,147,264,143,69,156,48,4512
"Delaware, USA",377,120,124,397,9,590.0,898,61,254,41,19,260,135,1422
"Florida, USA",2034,7421,21758,2032,157,5206.0,6390,732,3460,441,310,456,3227,7863
"Georgia, USA",165,45,298,24,29,5738.0,2080,780,488,153,21,38,20,3073
"Louisiana, USA",157,293,1198,32,17,762.0,648,94,57,78,25,32,102,882
"Maine, USA",590,67,215,126,7,328.0,476,21,30,37,22,61,51,1215
"Maryland, USA",83,213,815,26,1,1018.0,148,172,211,42,127,33,174,2675
"Massachusetts, USA",950,140,278,420,50,2295.0,1091,1196,62,219,205,670,24,5273
"Mississippi, USA",938,13,57,2012,319,1361.0,4318,626,10,118,205,179,9,13130
"New Hampshire, USA",606,3,7,184,7,227.0,524,119,20,10,18,14,3,883
"New Jersey, USA",485,148,666,408,16,2311.0,1380,147,1161,72,238,1815,37,3915
"New York, USA",1085,120,658,1172,118,3162.0,2016,205,137,286,139,1398,152,13946
"North Carolina, USA",831,473,2789,173,328,1887.0,1355,297,582,109,34,64,150,2323
"Rhode Island, USA",735,43,218,332,50,1125.0,904,96,65,255,113,312,31,13850
"South Carolina, USA",162,212,620,249,13,1372.0,1924,130,456,43,13,86,70,1462
"Texas, USA",1342,1617,5019,1060,118,8259.0,2192,803,512,386,206,410,638,10777
"Virginia, USA",622,584,2083,59,46,5215.0,1808,747,1650,129,30,108,219,7464

In [19]:
# Sum plastic columns into new column

EC_plastic_count["Plastic Waste"] = EC_plastic_count.sum(axis=1)
EC_plastic_count

,Food Containers (Plastic),Bottle Caps (Plastic),Lids (Plastic),"Straws, Stirrers",Beverage Bottles (Plastic),Grocery Bags (Plastic),Other Plastic Bags,"Cups, Plates (Plastic)",6-Pack Holders,Other Plastic Bottles,Condoms,Plastic Pieces,Plastic Waste
State,,,,,,,,,,,,,
"Alabama, USA",1634,6155,1997,3138,6563,2101,1263,1312,236,521,80,10165,35165
"Connecticut, USA",1322,7929,1613,3876,10611,1936,2527,1522,74,2509,130,13706,47755
"Delaware, USA",607,4813,1020,1953,2948,1067,1678,761,115,267,51,6648,21928
"Florida, USA",10900,85440,16383,32225,37826,17541,8421,13671,886,1729,520,159996,385538
"Georgia, USA",945,2546,1104,1403,10684,3454,2338,971,109,410,246,2224,26434
"Louisiana, USA",727,5312,1214,2504,6063,1152,1035,824,224,544,56,7257,26912
"Maine, USA",281,1136,334,444,1564,297,707,240,38,305,21,4711,10078
"Maryland, USA",480,7057,809,4037,10533,1086,1179,704,27,127,35,10132,36206
"Massachusetts, USA",9321,7796,2024,5643,19418,3742,4104,2138,181,9339,249,13115,77070
"Mississippi, USA",2641,1119,5483,5241,19958,5222,6795,3159,316,4026,329,32914,87203
"New Hampshire, USA",128,846,181,386,881,168,396,196,15,213,22,4409,7841
"New Jersey, USA",1083,15977,2151,20309,10250,4809,4059,1194,229,1194,188,29142,90585
"New York, USA",3074,20500,3912,11464,11312,7948,7688,4408,443,1135,349,37456,109689
"North Carolina, USA",1350,5929,1888,3037,12154,4365,1578,1534,182,508,60,10804,43389
"Rhode Island, USA",1154,8553,1847,4560,7388,2883,3247,2091,221,458,168,19321,51891
"South Carolina, USA",519,3672,915,1804,5954,1507,961,565,69,191,76,7510,23743
"Texas, USA",4618,36713,6855,10667,16480,5539,4641,3766,569,1395,323,56434,148000
"Virginia, USA",2900,8137,2798,4250,16797,11734,10232,2542,187,557,130,12932,73196

In [20]:
# Sum foam columns into new column

EC_foam_counts["Foam Waste"] = EC_foam_counts.sum(axis=1)
EC_foam_counts

,Food Containers (Foam),"Cups, Plates (Foam)",Other Plastic/Foam Packaging,Foam Pieces,Foam Waste
State,,,,,
"Alabama, USA",1221,1697,1842,7101,11861
"Connecticut, USA",1451,2290,1989,737854,743584
"Delaware, USA",220,350,1267,1840,3677
"Florida, USA",7239,5027,8966,29486,50718
"Georgia, USA",1017,1596,1937,3574,8124
"Louisiana, USA",450,864,954,1673,3941
"Maine, USA",331,353,1041,2969,4694
"Maryland, USA",440,1877,1455,20057,23829
"Massachusetts, USA",2897,3118,8609,319280,333904
"Mississippi, USA",3376,4302,6404,22662,36744
"New Hampshire, USA",72,269,697,10311,11349
"New Jersey, USA",807,2019,4665,9136,16627
"New York, USA",2274,2939,7253,16482,28948
"North Carolina, USA",1738,1183,1397,5941,10259
"Rhode Island, USA",780,1597,3666,9146,15189
"South Carolina, USA",478,510,1880,7436,10304
"Texas, USA",3896,3551,4141,20187,31775
"Virginia, USA",4348,5172,5986,7830,23336

In [21]:
# Sum fishing gear columns into new column

EC_fishing_counts["Fisherman's Waste"] = EC_fishing_counts.sum(axis=1)
EC_fishing_counts

,Fishing Tools,Fishing Nets,Fishing Lines,Fishing Gear,Rope,Fisherman's Waste
State,,,,,,
"Alabama, USA",205,377,618,9,568,1777
"Connecticut, USA",425,204,918,40,458,2045
"Delaware, USA",123,336,451,136,448,1494
"Florida, USA",1063,1871,3163,5612,3412,15121
"Georgia, USA",75,86,1217,14,21,1413
"Louisiana, USA",214,386,618,109,663,1990
"Maine, USA",816,422,316,117,2038,3709
"Maryland, USA",52,392,644,109,156,1353
"Massachusetts, USA",769,1402,1225,219,2836,6451
"Mississippi, USA",460,1124,4405,8,2110,8107
"New Hampshire, USA",641,432,191,0,1306,2570
"New Jersey, USA",271,186,554,22,2573,3606
"New York, USA",435,726,2057,124,1870,5212
"North Carolina, USA",277,252,595,198,490,1812
"Rhode Island, USA",454,655,3847,71,2161,7188
"South Carolina, USA",83,153,2987,107,365,3695
"Texas, USA",788,1672,5579,2229,5856,16124
"Virginia, USA",333,304,984,180,446,2247

In [22]:
# Sum smoking waste columns into new column

EC_smoking_waste_counts["Smoking Waste Items"] = EC_smoking_waste_counts.sum(axis=1)
EC_smoking_waste_counts

,Cigarette Butts,Tobacco Packs,Cigar Tips,Cigarette Lighters,Smoking Waste Items
State,,,,,
"Alabama, USA",18396,1415,1492,292,21595
"Connecticut, USA",33574,734,634,214,35156
"Delaware, USA",16296,656,665,153,17770
"Florida, USA",111828,3096,7074,1800,123798
"Georgia, USA",8913,890,396,121,10320
"Louisiana, USA",4380,729,258,265,5632
"Maine, USA",17442,133,115,78,17768
"Maryland, USA",5469,331,1147,201,7148
"Massachusetts, USA",31302,1695,965,348,34310
"Mississippi, USA",48301,2773,3552,777,55403
"New Hampshire, USA",16533,95,140,57,16825
"New Jersey, USA",27789,1431,4094,573,33887
"New York, USA",34919,1317,2810,731,39777
"North Carolina, USA",43182,945,790,224,45141
"Rhode Island, USA",34105,1228,1004,326,36663
"South Carolina, USA",17598,379,504,424,18905
"Texas, USA",38305,1247,2166,828,42546
"Virginia, USA",28196,1835,1977,419,32427

In [23]:
# Sum food misc columns into new column

EC_misc_food_waste["Misc Food Waste Items"] = EC_misc_food_waste.sum(axis=1)
EC_misc_food_waste

,Food Wrappers,"Forks, Knives, Spoons",Bottle Caps (Metal),Beverage Cans,Paper Bags,"Cups, Plates (Paper)",Misc Food Waste Items
State,,,,,,,
"Alabama, USA",6684,978,2252,5494,519,940,16867
"Connecticut, USA",11048,1293,4105,4083,991,997,22517
"Delaware, USA",4945,535,766,2022,513,637,9418
"Florida, USA",46003,11752,12054,21759,2766,3359,97693
"Georgia, USA",601,1102,716,6643,765,969,10796
"Louisiana, USA",3696,638,732,2515,379,532,8492
"Maine, USA",2467,123,281,795,231,237,4134
"Maryland, USA",4310,587,528,1427,280,601,7733
"Massachusetts, USA",10564,3924,2528,9620,778,2046,29460
"Mississippi, USA",12520,1403,4095,6883,3284,2945,31130
"New Hampshire, USA",1112,135,239,1163,151,142,2942
"New Jersey, USA",24806,2503,3930,4013,1387,1507,38146
"New York, USA",19224,3547,7514,6847,3067,3044,43243
"North Carolina, USA",9980,2301,1150,7942,364,1067,22804
"Rhode Island, USA",12176,1457,2857,4777,1473,1406,24146
"South Carolina, USA",4571,754,437,2667,183,286,8898
"Texas, USA",15941,4992,10587,9088,2072,2556,45236
"Virginia, USA",17664,991,8502,7761,873,1693,37484

In [24]:
# Sum misc columns into new column

EC_misc_waste["Miscellaneous Waste Items"] = EC_misc_waste.sum(axis=1)
EC_misc_waste

,Strapping Bands,Other Packaging,Other Trash,Fireworks,"Appliances (refrigerators, washers, etc.)",# of bags,Construction Materials,Tires,Toys,Diapers,Syringes,Tampons/Tampon Applicators,Hygiene,Glass Pieces,Miscellaneous Waste Items
State,,,,,,,,,,,,,,,
"Alabama, USA",453,27,55,234,36,1547.0,2109,355,3,117,36,117,5,3043,8137.0
"Connecticut, USA",389,135,956,111,38,1111.0,694,147,264,143,69,156,48,4512,8773.0
"Delaware, USA",377,120,124,397,9,590.0,898,61,254,41,19,260,135,1422,4707.0
"Florida, USA",2034,7421,21758,2032,157,5206.0,6390,732,3460,441,310,456,3227,7863,61487.0
"Georgia, USA",165,45,298,24,29,5738.0,2080,780,488,153,21,38,20,3073,12952.0
"Louisiana, USA",157,293,1198,32,17,762.0,648,94,57,78,25,32,102,882,4377.0
"Maine, USA",590,67,215,126,7,328.0,476,21,30,37,22,61,51,1215,3246.0
"Maryland, USA",83,213,815,26,1,1018.0,148,172,211,42,127,33,174,2675,5738.0
"Massachusetts, USA",950,140,278,420,50,2295.0,1091,1196,62,219,205,670,24,5273,12873.0
"Mississippi, USA",938,13,57,2012,319,1361.0,4318,626,10,118,205,179,9,13130,23295.0
"New Hampshire, USA",606,3,7,184,7,227.0,524,119,20,10,18,14,3,883,2625.0
"New Jersey, USA",485,148,666,408,16,2311.0,1380,147,1161,72,238,1815,37,3915,12799.0
"New York, USA",1085,120,658,1172,118,3162.0,2016,205,137,286,139,1398,152,13946,24594.0
"North Carolina, USA",831,473,2789,173,328,1887.0,1355,297,582,109,34,64,150,2323,11395.0
"Rhode Island, USA",735,43,218,332,50,1125.0,904,96,65,255,113,312,31,13850,18129.0
"South Carolina, USA",162,212,620,249,13,1372.0,1924,130,456,43,13,86,70,1462,6812.0
"Texas, USA",1342,1617,5019,1060,118,8259.0,2192,803,512,386,206,410,638,10777,33339.0
"Virginia, USA",622,584,2083,59,46,5215.0,1808,747,1650,129,30,108,219,7464,20764.0

In [25]:
# Merge all dataframes then delete unnecessary columns

EC_plastic_foam = pd.merge(EC_plastic_count, EC_foam_counts, on="State", how="left")
EC_fishing_smoking = pd.merge(EC_fishing_counts, EC_smoking_waste_counts, on="State", how="left")
EC_miscfood_misc = pd.merge(EC_misc_food_waste, EC_misc_waste, on="State", how="left")
EC_four = pd.merge(EC_plastic_foam, EC_fishing_smoking, on="State", how="left")
EC_total = pd.merge(EC_four, EC_miscfood_misc, on="State", how="left")

EC_grand_total = EC_total.drop(columns = ["Food Containers (Plastic)", "Bottle Caps (Plastic)", "Lids (Plastic)", 
                                                   "Straws, Stirrers", "Beverage Bottles (Plastic)", "Grocery Bags (Plastic)", "Other Plastic Bags", 
                                                  "Cups, Plates (Plastic)", "6-Pack Holders", "Other Plastic Bottles", "Condoms", "Plastic Pieces", 
                                                   "Food Containers (Foam)", "Cups, Plates (Foam)", "Other Plastic/Foam Packaging", "Foam Pieces", 
                                                   "Fishing Tools", "Fishing Nets", "Fishing Lines", "Fishing Gear", "Rope", "Cigarette Butts", 
                                                   "Tobacco Packs", "Cigar Tips", "Cigarette Lighters", "Food Wrappers", "Forks, Knives, Spoons", 
                                                   "Bottle Caps (Metal)", "Beverage Cans", "Paper Bags", "Cups, Plates (Paper)", "Strapping Bands", 
                                                   "Other Packaging", "Other Trash", "Fireworks", "Appliances (refrigerators, washers, etc.)", 
                                                   "# of bags", "Construction Materials", "Tires", "Toys", "Diapers", "Syringes", 
                                                   "Tampons/Tampon Applicators", "Hygiene", "Glass Pieces"])

EC_grand_total

,Plastic Waste,Foam Waste,Fisherman's Waste,Smoking Waste Items,Misc Food Waste Items,Miscellaneous Waste Items
State,,,,,,
"Alabama, USA",35165,11861,1777,21595,16867,8137.0
"Connecticut, USA",47755,743584,2045,35156,22517,8773.0
"Delaware, USA",21928,3677,1494,17770,9418,4707.0
"Florida, USA",385538,50718,15121,123798,97693,61487.0
"Georgia, USA",26434,8124,1413,10320,10796,12952.0
"Louisiana, USA",26912,3941,1990,5632,8492,4377.0
"Maine, USA",10078,4694,3709,17768,4134,3246.0
"Maryland, USA",36206,23829,1353,7148,7733,5738.0
"Massachusetts, USA",77070,333904,6451,34310,29460,12873.0
"Mississippi, USA",87203,36744,8107,55403,31130,23295.0
"New Hampshire, USA",7841,11349,2570,16825,2942,2625.0
"New Jersey, USA",90585,16627,3606,33887,38146,12799.0
"New York, USA",109689,28948,5212,39777,43243,24594.0
"North Carolina, USA",43389,10259,1812,45141,22804,11395.0
"Rhode Island, USA",51891,15189,7188,36663,24146,18129.0
"South Carolina, USA",23743,10304,3695,18905,8898,6812.0
"Texas, USA",148000,31775,16124,42546,45236,33339.0
"Virginia, USA",73196,23336,2247,32427,37484,20764.0

In [26]:
# Saving new data table to CSV
EC_grand_total.to_csv("Resources/2017_EC_Litter.csv", index=True)