In [1]:
import pandas as pd

In [2]:
# Creating links to sources

alaska = "Resources/Alaska2017.csv"
california = "Resources/California2017.csv"
hawaii = "Resources/Hawaii2017.csv"
oregon = "Resources/Oregon2017.csv"
washington = "Resources/Washington2017.csv"

In [3]:
alaska_pd = pd.read_csv(alaska)
california_pd = pd.read_csv(california)
hawaii_pd = pd.read_csv(hawaii)
oregon_pd = pd.read_csv(oregon)
washington_pd = pd.read_csv(washington)

In [4]:
WC_states = [alaska_pd, california_pd, hawaii_pd, oregon_pd, washington_pd]
WC = pd.concat(WC_states)
WC.head()

,Cleanup ID,Zone,State,Country,GPS,Cleanup Type,Cleanup Date,Group Name,Adults,Children,...,Other Trash (Clean Swell),Condoms,Diapers,Syringes,Tampons/Tampon Applicators,Personal Hygiene (Clean Swell),Foam Pieces,Glass Pieces,Plastic Pieces,Total Items Collected
0,19420,"Kodiak Island, AK, USA","Alaska, USA",United States,"57.82306, -152.39701","Land (beach, shoreline and inland)",2017-05-30,Dry Spruce,6.0,0.0,...,53,0,0,0,0,8,0,0,70,357.0
1,23436,"Prince of Wales-Hyder Census Area, AK, USA","Alaska, USA",United States,"55.420908577918, -133.10068488121","Land (beach, shoreline and inland)",2017-09-16,"Craig, Alaska Debris Busters!",9.0,0.0,...,0,0,0,0,2,0,19,14,761,1060.0
2,27836,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.638317641379, -151.54631137848","Land (beach, shoreline and inland)",2017-09-15,CACS Coast Walk,7.0,2.0,...,0,2,1,0,0,0,45,57,7,389.0
3,27838,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.631180262719, -151.4936542511","Land (beach, shoreline and inland)",2017-09-19,CACS Coast Walk,9.0,24.0,...,0,0,0,1,0,0,36,80,153,2284.0
4,27842,"Kenai Peninsula Borough, AK, USA","Alaska, USA",United States,"59.583892092644, -151.27126693726","Land (beach, shoreline and inland)",2017-08-22,CACS Coast Walk,9.0,23.0,...,0,0,0,0,0,0,51,0,5,110.0

In [5]:
WC_edit = WC.drop(columns=['Cleanup ID', 'Zone', 'Country', 'Cleanup Date', 'Group Name', 'Adults', 'Children', 'People'])
WC_edit

,State,GPS,Cleanup Type,Pounds,Miles,# of bags,Cigarette Butts,"Food Wrappers (candy, chips, etc.)",Take Out/Away Containers (Plastic),Take Out/Away Containers (Foam),...,Other Trash (Clean Swell),Condoms,Diapers,Syringes,Tampons/Tampon Applicators,Personal Hygiene (Clean Swell),Foam Pieces,Glass Pieces,Plastic Pieces,Total Items Collected
0,"Alaska, USA","57.82306, -152.39701","Land (beach, shoreline and inland)",27.80,0.0678,0.0,0,16,0,12,...,53,0,0,0,0,8,0,0,70,357.0
1,"Alaska, USA","55.420908577918, -133.10068488121","Land (beach, shoreline and inland)",120.00,1.0000,7.0,7,32,1,0,...,0,0,0,0,2,0,19,14,761,1060.0
2,"Alaska, USA","59.638317641379, -151.54631137848","Land (beach, shoreline and inland)",50.00,0.2500,0.0,89,54,0,0,...,0,2,1,0,0,0,45,57,7,389.0
3,"Alaska, USA","59.631180262719, -151.4936542511","Land (beach, shoreline and inland)",82.00,1.0000,8.0,290,99,2,7,...,0,0,0,1,0,0,36,80,153,2284.0
4,"Alaska, USA","59.583892092644, -151.27126693726","Land (beach, shoreline and inland)",57.00,0.2500,0.0,2,4,0,5,...,0,0,0,0,0,0,51,0,5,110.0
5,"Alaska, USA","59.637645187175, -151.54326438904","Land (beach, shoreline and inland)",47.00,0.2500,0.0,31,39,4,0,...,0,1,0,0,0,0,657,340,89,1801.0
6,"Alaska, USA","59.609520205675, -151.43915176392","Land (beach, shoreline and inland)",4.00,0.2500,1.0,264,47,0,2,...,0,0,0,0,0,0,30,3,30,615.0
7,"Alaska, USA","59.576069456494, -151.26577377319","Land (beach, shoreline and inland)",71.00,0.5000,4.0,3,17,0,0,...,0,0,0,0,1,0,639,61,109,1035.0
8,"Alaska, USA","59.608608353878, -151.42713546753","Land (beach, shoreline and inland)",73.00,0.2500,0.0,62,55,3,2,...,0,0,0,0,0,0,204,24,96,658.0
9,"Alaska, USA","59.604548141954, -151.43121242523","Land (beach, shoreline and inland)",135.00,0.2500,0.0,151,88,9,0,...,0,0,0,0,0,0,193,20,243,1068.0
10,"Alaska, USA","59.60111720622, -151.4098405838","Land (beach, shoreline and inland)",28.00,0.2500,0.0,89,16,1,0,...,0,0,0,0,1,0,62,4,75,412.0
11,"Alaska, USA","59.678228592924, -151.72041893005","Land (beach, shoreline and inland)",80.00,2.0000,2.0,0,0,0,0,...,0,0,0,0,1,0,23,1,26,176.0
12,"Alaska, USA","59.602202983254, -151.41300559044","Land (beach, shoreline and inland)",80.00,0.5000,6.0,59,16,1,0,...,0,0,0,0,1,0,62,4,75,382.0
13,"Alaska, USA","59.602268128761, -151.41421794891","Land (beach, shoreline and inland)",15.16,0.5000,1.0,11,7,1,0,...,0,0,0,0,0,0,4,3,172,217.0
14,"Alaska, USA","59.629574685813, -151.19676589966","Land (beach, shoreline and inland)",213.00,1.0000,8.0,4,25,2,19,...,0,1,0,0,1,0,205,0,380,931.0
15,"Alaska, USA","59.637992261995, -151.49028539658","Land (beach, shoreline and inland)",4.97,0.7500,1.0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,8.0
16,"Alaska, USA","59.633913906192, -151.51865243912","Land (beach, shoreline and inland)",4.17,2.0000,1.0,6,1,0,0,...,0,0,0,0,0,0,3,13,8,61.0
17,"Alaska, USA","59.639120230374, -151.54738426208","Land (beach, shoreline and inland)",244.00,0.7500,10.0,190,152,11,5,...,0,0,0,0,1,0,1424,300,408,4297.0
18,"Alaska, USA","59.691312334884, -151.76239013672","Land (beach, shoreline and inland)",15.00,2.5000,1.0,0,2,0,0,...,0,0,0,1,0,0,55,0,12,135.0
19,"Alaska, USA","59.630268998762, -151.49253845215","Land (beach, shoreline and inland)",7.00,5.0000,1.0,10,14,2,0,...,0,0,0,0,0,0,31,6,28,163.0
20,"Alaska, USA","59.4457732237, -151.51657104492","Land (beach, shoreline and inland)",0.00,1.0000,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
21,"Alaska, USA","59.683688004477, -151.35040283203","Land (beach, shoreline and inland)",16.00,2.5000,3.0,0,0,0,0,...,0,0,0,0,0,0,4,3,5,22.0
22,"Alaska, USA","59.685420951053, -151.33666992188","Land (beach, shoreline and inland)",36.00,3.0000,3.0,0,1,0,0,...,0,0,0,0,0,0,12,2,4,55.0
23,"Alaska, USA","59.67086132466, -151.70471191406","Land (beach, shoreline and inland)",5.00,2.0000,1.0,23,0,0,0,...,0,0,0,0,0,0,5,16,31,110.0
24,"Alaska, USA","59.67086132466, -151.70471191406","Land (beach, shoreline and inland)",7.00,1.0000,1.0,26,0,0,0,...,0,0,0,0,0,0,4,1,15,90.0
25,"Alaska, USA","59.67086132466, -151.70471191406","Land (beach, shoreline and inland)",2.00,0.1000,1.0,0,7,0,0,...,0,0,0,0,0,0,3,1,18,44.0
26,"Alaska, USA","59.67086132466, -151.70471191406","Land (beach, shoreline and inland)",6.00,1.0000,1.0,42,1,1,0,...,0,0,0,0,0,0,0,62,21,158.0
27,"Alaska, USA","59.67086132466, -151.70471191406","Land (beach, shoreline and inland)",9.00,1.0000,2.0,6,23,0,0,...,0,0,0,0,0,0,5,1,27,71.0
28,"Alaska, USA","59.613601524745, -151.18698120117","Land (beach, shoreline and inland)",7.00,2.0000,1.0,5,6,0,3,...,0,0,0,1,0,0,205,2,37,262.0
29,"Alaska, USA","59.613601524745, -151.18698120117","Land (beach, shoreline and inland)",7.00,2.0000,1.0,9,8,1,0,...,0,0,0,0,0,0,395,4,14,522.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,"Washington, USA","47.712382078637, -122.37943947315","Land (beach, shoreline and inland)",143.00,1.0000,15.0,268,60,2,0,...,0,0,0,1,0,0,18,395,150,1252.0
288,"Washington, USA","47.763286715263, -122.38568365574","Land (beach, shoreline and inland)",154.00,1.0000,7.0,54,25,0,0,...,0,0,0,0,0,0,4,42,2,148.0
289,"Washington, USA","47.40722, -122.33084","Land (beach, shoreline and inland)",0.45,0.0000,0.0,2,0,0,0,...,3,0,0,0,0,0,0,0,8,13.0
290,"Washington, USA","47.40723, -122.33085","Land (beach, shoreline and inland)",1.60,0.0000,0.0,1,0,5,0,...,9,0,0,0,0,0,0,0,5,22.0
291,"Washington, USA","47.620208862182, -122.36223042011","Land (beach, shoreline and inland)",473.00,0.7500,23.0,1016,345,34,22,...,0,5,5,16,16,0,662,91,770,4694.0
292,"Washington, USA","47.70058, -122.53201","Land (beach, shoreline and inland)",1.00,0.0085,0.0,0,0,0,0,...,2,0,0,0,0,0,0,0,5,8.0
293,"Washington, USA","47.40728, -122.33075","Land (beach, shoreline and inland)",1.39,0.0000,0.0,0,0,4,0,...,0,0,0,0,0,0,0,0,5,18.0
294,"Washington, USA","47.4072, -122.33084","Land (beach, shoreline and inland)",0.52,0.0000,0.0,1,0,0,0,...,4,0,0,0,0,0,0,0,3,8.0
295,"Washington, USA","47.57132, -122.40805","Land (beach, shoreline and inland)",0.25,0.0000,0.0,10,4,0,0,...,0,0,0,0,0,0,0,0,6,21.0
296,"Washington, USA","47.2165, -124.20412","Land (beach, shoreline and inland)",2.43,0.0000,0.0,3,0,0,0,...,19,0,0,0,0,0,0,0,8,33.0
297,"Washington, USA","47.21651, -124.20416","Land (beach, shoreline and inland)",4.09,0.0000,0.0,2,0,0,0,...,15,0,0,0,0,0,0,0,14,63.0
298,"Washington, USA","47.21644, -124.20408","Land (beach, shoreline and inland)",2.13,0.0000,0.0,0,0,0,0,...,4,0,0,0,0,0,0,0,23,33.0
299,"Washington, USA","47.158197415867, -122.6744556427","Land (beach, shoreline and inland)",0.25,0.4000,1.0,0,0,0,0,...,0,0,0,0,0,0,2,1,0,6.0
300,"Washington, USA","47.388629215201, -122.3738014698","Land (beach, shoreline and inland)",4.00,0.2000,1.0,0,9,0,0,...,0,0,0,0,1,0,0,1,0,116.0
301,"Washington, USA","48.894792198728, -122.78290271759","Land (beach, shoreline and inland)",25.00,0.8000,1.0,0,0,0,2,...,0,0,0,0,1,0,0,0,0,60.0
302,"Washington, USA","48.292754356042, -122.7258682251","Land (beach, shoreline and inland)",5.00,0.2000,1.0,4,4,0,0,...,0,0,0,1,0,0,26,0,2,96.0
303,"Washington, USA","47.4072, -122.3309","Land (beach, shoreline and inland)",1.62,0.0043,0.0,4,0,1,0,...,0,0,0,0,0,1,0,0,4,20.0
304,"Washington, USA","48.450923299292, -122.96359777451","Land (beach, shoreline and inland)",1.00,0.2500,1.0,0,3,0,0,...,0,0,0,0,0,0,4,1,9,29.0
305,"Washington, USA","48.520250012702, -123.01039159298","Land (beach, shoreline and inland)",16.00,0.5000,2.0,400,17,0,0,...,0,0,0,0,0,0,0,0,37,521.0
306,"Washington, USA","48.520171843326, -123.01051497459","Land (beach, shoreline and inland)",21.00,0.5000,2.0,400,35,0,0,...,0,0,0,0,2,0,5,0,27,613.0
307,"Washington, USA","46.710878865182, -117.21519470215","Land (beach, shoreline and inland)",140.00,0.5000,10.0,17,85,0,0,...,0,6,2,0,0,0,83,20,1261,2096.0
308,"Washington, USA","46.732969596776, -117.18768596649","Land (beach, shoreline and inland)",11.00,1.0000,1.0,11,15,1,0,...,0,1,1,0,2,0,59,0,293,510.0
309,"Washington, USA","46.73309151888, -117.18410253525","Land (beach, shoreline and inland)",64.00,1.0000,4.0,59,107,0,0,...,0,1,1,0,2,0,188,104,745,1699.0
310,"Washington, USA","46.733806938558, -117.17990756035","Land (beach, shoreline and inland)",101.00,2.5000,14.0,277,113,26,1,...,0,1,0,0,1,0,59,24,430,1517.0
311,"Washington, USA","46.738253444127, -117.16878175735","Land (beach, shoreline and inland)",136.00,3.0000,2.0,20,66,1,2,...,0,1,0,0,2,0,10,0,110,470.0
312,"Washington, USA","47.59702, -122.51531","Land (beach, shoreline and inland)",15.18,0.6759,0.0,0,5,10,3,...,24,0,0,0,0,2,0,0,16,103.0
313,"Washington, USA","47.59702, -122.51531","Land (beach, shoreline and inland)",15.18,0.6759,0.0,0,5,10,3,...,24,0,0,0,0,2,0,0,16,103.0
314,"Washington, USA","47.59702, -122.51531","Land (beach, shoreline and inland)",15.18,0.6759,0.0,0,5,10,3,...,24,0,0,0,0,2,0,0,16,103.0
315,"Washington, USA","47.59702, -122.51531","Land (beach, shoreline and inland)",15.18,0.6759,0.0,0,5,10,3,...,24,0,0,0,0,2,0,0,16,103.0
316,NaN,NaN,NaN,NaN,NaN,NaN,13708,4834,760,279,...,3485,28,54,42,52,213,8499,3332,11979,NaN

In [6]:
WC_renamed = WC_edit.rename(columns = {"Food Wrappers (candy, chips, etc.)" : "Food Wrappers", 
                                       "Take Out/Away Containers (Plastic)" : "Food Containers (Plastic)", 
                                       "Take Out/Away Containers (Foam)" : "Food Containers (Foam)", 
                                       "Fishing Buoys, Pots & Traps" : "Fishing Tools", "Fishing Net & Pieces" : "Fishing Nets", 
                                       "Fishing Line (1 yard/meter = 1 piece)" : "Fishing Lines", "Rope (1 yard/meter = 1 piece)" : "Rope", 
                                       "Fishing Gear (Clean Swell)" : "Fishing Gear", "Other Plastic Bottles (oil, bleach, etc.)" : "Other Plastic Bottles", 
                                       "Tobacco Packaging/Wrap" : "Tobacco Packs", "Other Packaging (Clean Swell)" : "Other Packaging", 
                                       "Other Trash (Clean Swell)" : "Other Trash", "Personal Hygiene (Clean Swell)" : "Hygiene"})
WC_renamed

,State,GPS,Cleanup Type,Pounds,Miles,# of bags,Cigarette Butts,Food Wrappers,Food Containers (Plastic),Food Containers (Foam),...,Other Trash,Condoms,Diapers,Syringes,Tampons/Tampon Applicators,Hygiene,Foam Pieces,Glass Pieces,Plastic Pieces,Total Items Collected
0,"Alaska, USA","57.82306, -152.39701","Land (beach, shoreline and inland)",27.80,0.0678,0.0,0,16,0,12,...,53,0,0,0,0,8,0,0,70,357.0
1,"Alaska, USA","55.420908577918, -133.10068488121","Land (beach, shoreline and inland)",120.00,1.0000,7.0,7,32,1,0,...,0,0,0,0,2,0,19,14,761,1060.0
2,"Alaska, USA","59.638317641379, -151.54631137848","Land (beach, shoreline and inland)",50.00,0.2500,0.0,89,54,0,0,...,0,2,1,0,0,0,45,57,7,389.0
3,"Alaska, USA","59.631180262719, -151.4936542511","Land (beach, shoreline and inland)",82.00,1.0000,8.0,290,99,2,7,...,0,0,0,1,0,0,36,80,153,2284.0
4,"Alaska, USA","59.583892092644, -151.27126693726","Land (beach, shoreline and inland)",57.00,0.2500,0.0,2,4,0,5,...,0,0,0,0,0,0,51,0,5,110.0
5,"Alaska, USA","59.637645187175, -151.54326438904","Land (beach, shoreline and inland)",47.00,0.2500,0.0,31,39,4,0,...,0,1,0,0,0,0,657,340,89,1801.0
6,"Alaska, USA","59.609520205675, -151.43915176392","Land (beach, shoreline and inland)",4.00,0.2500,1.0,264,47,0,2,...,0,0,0,0,0,0,30,3,30,615.0
7,"Alaska, USA","59.576069456494, -151.26577377319","Land (beach, shoreline and inland)",71.00,0.5000,4.0,3,17,0,0,...,0,0,0,0,1,0,639,61,109,1035.0
8,"Alaska, USA","59.608608353878, -151.42713546753","Land (beach, shoreline and inland)",73.00,0.2500,0.0,62,55,3,2,...,0,0,0,0,0,0,204,24,96,658.0
9,"Alaska, USA","59.604548141954, -151.43121242523","Land (beach, shoreline and inland)",135.00,0.2500,0.0,151,88,9,0,...,0,0,0,0,0,0,193,20,243,1068.0
10,"Alaska, USA","59.60111720622, -151.4098405838","Land (beach, shoreline and inland)",28.00,0.2500,0.0,89,16,1,0,...,0,0,0,0,1,0,62,4,75,412.0
11,"Alaska, USA","59.678228592924, -151.72041893005","Land (beach, shoreline and inland)",80.00,2.0000,2.0,0,0,0,0,...,0,0,0,0,1,0,23,1,26,176.0
12,"Alaska, USA","59.602202983254, -151.41300559044","Land (beach, shoreline and inland)",80.00,0.5000,6.0,59,16,1,0,...,0,0,0,0,1,0,62,4,75,382.0
13,"Alaska, USA","59.602268128761, -151.41421794891","Land (beach, shoreline and inland)",15.16,0.5000,1.0,11,7,1,0,...,0,0,0,0,0,0,4,3,172,217.0
14,"Alaska, USA","59.629574685813, -151.19676589966","Land (beach, shoreline and inland)",213.00,1.0000,8.0,4,25,2,19,...,0,1,0,0,1,0,205,0,380,931.0
15,"Alaska, USA","59.637992261995, -151.49028539658","Land (beach, shoreline and inland)",4.97,0.7500,1.0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,8.0
16,"Alaska, USA","59.633913906192, -151.51865243912","Land (beach, shoreline and inland)",4.17,2.0000,1.0,6,1,0,0,...,0,0,0,0,0,0,3,13,8,61.0
17,"Alaska, USA","59.639120230374, -151.54738426208","Land (beach, shoreline and inland)",244.00,0.7500,10.0,190,152,11,5,...,0,0,0,0,1,0,1424,300,408,4297.0
18,"Alaska, USA","59.691312334884, -151.76239013672","Land (beach, shoreline and inland)",15.00,2.5000,1.0,0,2,0,0,...,0,0,0,1,0,0,55,0,12,135.0
19,"Alaska, USA","59.630268998762, -151.49253845215","Land (beach, shoreline and inland)",7.00,5.0000,1.0,10,14,2,0,...,0,0,0,0,0,0,31,6,28,163.0
20,"Alaska, USA","59.4457732237, -151.51657104492","Land (beach, shoreline and inland)",0.00,1.0000,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
21,"Alaska, USA","59.683688004477, -151.35040283203","Land (beach, shoreline and inland)",16.00,2.5000,3.0,0,0,0,0,...,0,0,0,0,0,0,4,3,5,22.0
22,"Alaska, USA","59.685420951053, -151.33666992188","Land (beach, shoreline and inland)",36.00,3.0000,3.0,0,1,0,0,...,0,0,0,0,0,0,12,2,4,55.0
23,"Alaska, USA","59.67086132466, -151.70471191406","Land (beach, shoreline and inland)",5.00,2.0000,1.0,23,0,0,0,...,0,0,0,0,0,0,5,16,31,110.0
24,"Alaska, USA","59.67086132466, -151.70471191406","Land (beach, shoreline and inland)",7.00,1.0000,1.0,26,0,0,0,...,0,0,0,0,0,0,4,1,15,90.0
25,"Alaska, USA","59.67086132466, -151.70471191406","Land (beach, shoreline and inland)",2.00,0.1000,1.0,0,7,0,0,...,0,0,0,0,0,0,3,1,18,44.0
26,"Alaska, USA","59.67086132466, -151.70471191406","Land (beach, shoreline and inland)",6.00,1.0000,1.0,42,1,1,0,...,0,0,0,0,0,0,0,62,21,158.0
27,"Alaska, USA","59.67086132466, -151.70471191406","Land (beach, shoreline and inland)",9.00,1.0000,2.0,6,23,0,0,...,0,0,0,0,0,0,5,1,27,71.0
28,"Alaska, USA","59.613601524745, -151.18698120117","Land (beach, shoreline and inland)",7.00,2.0000,1.0,5,6,0,3,...,0,0,0,1,0,0,205,2,37,262.0
29,"Alaska, USA","59.613601524745, -151.18698120117","Land (beach, shoreline and inland)",7.00,2.0000,1.0,9,8,1,0,...,0,0,0,0,0,0,395,4,14,522.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,"Washington, USA","47.712382078637, -122.37943947315","Land (beach, shoreline and inland)",143.00,1.0000,15.0,268,60,2,0,...,0,0,0,1,0,0,18,395,150,1252.0
288,"Washington, USA","47.763286715263, -122.38568365574","Land (beach, shoreline and inland)",154.00,1.0000,7.0,54,25,0,0,...,0,0,0,0,0,0,4,42,2,148.0
289,"Washington, USA","47.40722, -122.33084","Land (beach, shoreline and inland)",0.45,0.0000,0.0,2,0,0,0,...,3,0,0,0,0,0,0,0,8,13.0
290,"Washington, USA","47.40723, -122.33085","Land (beach, shoreline and inland)",1.60,0.0000,0.0,1,0,5,0,...,9,0,0,0,0,0,0,0,5,22.0
291,"Washington, USA","47.620208862182, -122.36223042011","Land (beach, shoreline and inland)",473.00,0.7500,23.0,1016,345,34,22,...,0,5,5,16,16,0,662,91,770,4694.0
292,"Washington, USA","47.70058, -122.53201","Land (beach, shoreline and inland)",1.00,0.0085,0.0,0,0,0,0,...,2,0,0,0,0,0,0,0,5,8.0
293,"Washington, USA","47.40728, -122.33075","Land (beach, shoreline and inland)",1.39,0.0000,0.0,0,0,4,0,...,0,0,0,0,0,0,0,0,5,18.0
294,"Washington, USA","47.4072, -122.33084","Land (beach, shoreline and inland)",0.52,0.0000,0.0,1,0,0,0,...,4,0,0,0,0,0,0,0,3,8.0
295,"Washington, USA","47.57132, -122.40805","Land (beach, shoreline and inland)",0.25,0.0000,0.0,10,4,0,0,...,0,0,0,0,0,0,0,0,6,21.0
296,"Washington, USA","47.2165, -124.20412","Land (beach, shoreline and inland)",2.43,0.0000,0.0,3,0,0,0,...,19,0,0,0,0,0,0,0,8,33.0
297,"Washington, USA","47.21651, -124.20416","Land (beach, shoreline and inland)",4.09,0.0000,0.0,2,0,0,0,...,15,0,0,0,0,0,0,0,14,63.0
298,"Washington, USA","47.21644, -124.20408","Land (beach, shoreline and inland)",2.13,0.0000,0.0,0,0,0,0,...,4,0,0,0,0,0,0,0,23,33.0
299,"Washington, USA","47.158197415867, -122.6744556427","Land (beach, shoreline and inland)",0.25,0.4000,1.0,0,0,0,0,...,0,0,0,0,0,0,2,1,0,6.0
300,"Washington, USA","47.388629215201, -122.3738014698","Land (beach, shoreline and inland)",4.00,0.2000,1.0,0,9,0,0,...,0,0,0,0,1,0,0,1,0,116.0
301,"Washington, USA","48.894792198728, -122.78290271759","Land (beach, shoreline and inland)",25.00,0.8000,1.0,0,0,0,2,...,0,0,0,0,1,0,0,0,0,60.0
302,"Washington, USA","48.292754356042, -122.7258682251","Land (beach, shoreline and inland)",5.00,0.2000,1.0,4,4,0,0,...,0,0,0,1,0,0,26,0,2,96.0
303,"Washington, USA","47.4072, -122.3309","Land (beach, shoreline and inland)",1.62,0.0043,0.0,4,0,1,0,...,0,0,0,0,0,1,0,0,4,20.0
304,"Washington, USA","48.450923299292, -122.96359777451","Land (beach, shoreline and inland)",1.00,0.2500,1.0,0,3,0,0,...,0,0,0,0,0,0,4,1,9,29.0
305,"Washington, USA","48.520250012702, -123.01039159298","Land (beach, shoreline and inland)",16.00,0.5000,2.0,400,17,0,0,...,0,0,0,0,0,0,0,0,37,521.0
306,"Washington, USA","48.520171843326, -123.01051497459","Land (beach, shoreline and inland)",21.00,0.5000,2.0,400,35,0,0,...,0,0,0,0,2,0,5,0,27,613.0
307,"Washington, USA","46.710878865182, -117.21519470215","Land (beach, shoreline and inland)",140.00,0.5000,10.0,17,85,0,0,...,0,6,2,0,0,0,83,20,1261,2096.0
308,"Washington, USA","46.732969596776, -117.18768596649","Land (beach, shoreline and inland)",11.00,1.0000,1.0,11,15,1,0,...,0,1,1,0,2,0,59,0,293,510.0
309,"Washington, USA","46.73309151888, -117.18410253525","Land (beach, shoreline and inland)",64.00,1.0000,4.0,59,107,0,0,...,0,1,1,0,2,0,188,104,745,1699.0
310,"Washington, USA","46.733806938558, -117.17990756035","Land (beach, shoreline and inland)",101.00,2.5000,14.0,277,113,26,1,...,0,1,0,0,1,0,59,24,430,1517.0
311,"Washington, USA","46.738253444127, -117.16878175735","Land (beach, shoreline and inland)",136.00,3.0000,2.0,20,66,1,2,...,0,1,0,0,2,0,10,0,110,470.0
312,"Washington, USA","47.59702, -122.51531","Land (beach, shoreline and inland)",15.18,0.6759,0.0,0,5,10,3,...,24,0,0,0,0,2,0,0,16,103.0
313,"Washington, USA","47.59702, -122.51531","Land (beach, shoreline and inland)",15.18,0.6759,0.0,0,5,10,3,...,24,0,0,0,0,2,0,0,16,103.0
314,"Washington, USA","47.59702, -122.51531","Land (beach, shoreline and inland)",15.18,0.6759,0.0,0,5,10,3,...,24,0,0,0,0,2,0,0,16,103.0
315,"Washington, USA","47.59702, -122.51531","Land (beach, shoreline and inland)",15.18,0.6759,0.0,0,5,10,3,...,24,0,0,0,0,2,0,0,16,103.0
316,NaN,NaN,NaN,NaN,NaN,NaN,13708,4834,760,279,...,3485,28,54,42,52,213,8499,3332,11979,NaN

In [7]:
# Group all our plastic items and then call them into a data frame together based by State
plastic_group = WC_renamed[["State", "Food Containers (Plastic)", "Bottle Caps (Plastic)", "Lids (Plastic)", "Straws, Stirrers",
                                          "Beverage Bottles (Plastic)", "Grocery Bags (Plastic)", "Other Plastic Bags",
                                          "Cups, Plates (Plastic)", "6-Pack Holders", "Other Plastic Bottles", "Condoms", "Plastic Pieces"]]
plastic_group.head()

,State,Food Containers (Plastic),Bottle Caps (Plastic),Lids (Plastic),"Straws, Stirrers",Beverage Bottles (Plastic),Grocery Bags (Plastic),Other Plastic Bags,"Cups, Plates (Plastic)",6-Pack Holders,Other Plastic Bottles,Condoms,Plastic Pieces
0,"Alaska, USA",0,32,10,13,35,10,0,6,0,0,0,70
1,"Alaska, USA",1,26,4,9,12,10,10,2,1,1,0,761
2,"Alaska, USA",0,3,3,6,5,4,2,1,0,0,2,7
3,"Alaska, USA",2,14,10,5,16,37,67,11,0,6,0,153
4,"Alaska, USA",0,1,1,0,1,0,0,1,0,0,0,5

In [8]:
plastic_grouping = plastic_group.groupby(["State"])
WC_plastic_count = plastic_grouping.sum()
WC_plastic_count.head()

,Food Containers (Plastic),Bottle Caps (Plastic),Lids (Plastic),"Straws, Stirrers",Beverage Bottles (Plastic),Grocery Bags (Plastic),Other Plastic Bags,"Cups, Plates (Plastic)",6-Pack Holders,Other Plastic Bottles,Condoms,Plastic Pieces
State,,,,,,,,,,,,
"Alaska, USA",79,489,147,117,316,154,249,110,6,36,8,3387
"California, USA",17811,68356,21315,32851,30003,17447,18600,13812,1492,3494,1355,238345
"Hawaii, USA",1615,7124,1815,1728,1792,964,905,1107,92,681,49,51595
"Oregon, USA",1053,3087,666,830,911,527,428,266,81,125,19,12214
"Washington, USA",760,2220,876,1116,1892,934,783,711,57,100,28,11979

In [9]:
# Create a Subtotal Column for Plastics collected in the data frame
WC_plastic_count["Plastic Waste"]  = WC_plastic_count.sum(axis=1)
WC_plastic_count

,Food Containers (Plastic),Bottle Caps (Plastic),Lids (Plastic),"Straws, Stirrers",Beverage Bottles (Plastic),Grocery Bags (Plastic),Other Plastic Bags,"Cups, Plates (Plastic)",6-Pack Holders,Other Plastic Bottles,Condoms,Plastic Pieces,Plastic Waste
State,,,,,,,,,,,,,
"Alaska, USA",79,489,147,117,316,154,249,110,6,36,8,3387,5098
"California, USA",17811,68356,21315,32851,30003,17447,18600,13812,1492,3494,1355,238345,464881
"Hawaii, USA",1615,7124,1815,1728,1792,964,905,1107,92,681,49,51595,69467
"Oregon, USA",1053,3087,666,830,911,527,428,266,81,125,19,12214,20207
"Washington, USA",760,2220,876,1116,1892,934,783,711,57,100,28,11979,21456

In [10]:
# Before grouping all the foam together, call forward all foam items
WC_group = WC_renamed[["State", "Food Containers (Foam)", "Cups, Plates (Foam)", "Other Plastic/Foam Packaging", "Foam Pieces"]]
WC_group

,State,Food Containers (Foam),"Cups, Plates (Foam)",Other Plastic/Foam Packaging,Foam Pieces
0,"Alaska, USA",12,0,0,0
1,"Alaska, USA",0,0,17,19
2,"Alaska, USA",0,0,14,45
3,"Alaska, USA",7,0,55,36
4,"Alaska, USA",5,1,13,51
5,"Alaska, USA",0,2,30,657
6,"Alaska, USA",2,0,19,30
7,"Alaska, USA",0,0,66,639
8,"Alaska, USA",2,11,11,204
9,"Alaska, USA",0,6,46,193
10,"Alaska, USA",0,0,11,62
11,"Alaska, USA",0,1,19,23
12,"Alaska, USA",0,0,11,62
13,"Alaska, USA",0,0,0,4
14,"Alaska, USA",19,0,19,205
15,"Alaska, USA",0,0,0,0
16,"Alaska, USA",0,0,1,3
17,"Alaska, USA",5,6,207,1424
18,"Alaska, USA",0,0,17,55
19,"Alaska, USA",0,0,7,31
20,"Alaska, USA",0,0,0,0
21,"Alaska, USA",0,0,0,4
22,"Alaska, USA",0,0,0,12
23,"Alaska, USA",0,0,0,5
24,"Alaska, USA",0,0,0,4
25,"Alaska, USA",0,0,0,3
26,"Alaska, USA",0,0,1,0
27,"Alaska, USA",0,0,0,5
28,"Alaska, USA",3,0,2,205
29,"Alaska, USA",0,0,48,395
...,...,...,...,...,...
287,"Washington, USA",0,9,5,18
288,"Washington, USA",0,0,0,4
289,"Washington, USA",0,0,0,0
290,"Washington, USA",0,0,0,0
291,"Washington, USA",22,24,114,662
292,"Washington, USA",0,0,0,0
293,"Washington, USA",0,0,0,0
294,"Washington, USA",0,0,0,0
295,"Washington, USA",0,0,0,0
296,"Washington, USA",0,0,0,0
297,"Washington, USA",0,0,0,0
298,"Washington, USA",0,0,0,0
299,"Washington, USA",0,0,2,2
300,"Washington, USA",0,3,69,0
301,"Washington, USA",2,0,8,0
302,"Washington, USA",0,2,30,26
303,"Washington, USA",0,0,0,0
304,"Washington, USA",0,0,0,4
305,"Washington, USA",0,0,1,0
306,"Washington, USA",0,0,0,5
307,"Washington, USA",0,13,128,83
308,"Washington, USA",0,0,44,59
309,"Washington, USA",0,5,157,188
310,"Washington, USA",1,17,74,59
311,"Washington, USA",2,4,50,10
312,"Washington, USA",3,0,0,0
313,"Washington, USA",3,0,0,0
314,"Washington, USA",3,0,0,0
315,"Washington, USA",3,0,0,0
316,NaN,279,163,2417,8499

In [11]:
# Grouping foam pieces together
foam_group = WC_group.groupby(["State"])
WC_foam_counts = foam_group.sum()
WC_foam_counts

,Food Containers (Foam),"Cups, Plates (Foam)",Other Plastic/Foam Packaging,Foam Pieces
State,,,,
"Alaska, USA",57,62,704,6497
"California, USA",13381,9433,18643,126065
"Hawaii, USA",644,424,2083,4817
"Oregon, USA",422,293,1093,5115
"Washington, USA",279,163,2417,8499

In [12]:
# Create a Subtotal Column for Foam Items collected in the data frame
WC_foam_counts["Foam Waste"]  = WC_foam_counts.sum(axis=1)
WC_foam_counts

,Food Containers (Foam),"Cups, Plates (Foam)",Other Plastic/Foam Packaging,Foam Pieces,Foam Waste
State,,,,,
"Alaska, USA",57,62,704,6497,7320
"California, USA",13381,9433,18643,126065,167522
"Hawaii, USA",644,424,2083,4817,7968
"Oregon, USA",422,293,1093,5115,6923
"Washington, USA",279,163,2417,8499,11358

In [13]:
# Repeating the same process, now we'll group the fishing 
WC_fishing = WC_renamed[["State", "Fishing Tools", "Fishing Nets", "Fishing Lines", "Fishing Gear", "Rope"]]
WC_fishing

,State,Fishing Tools,Fishing Nets,Fishing Lines,Fishing Gear,Rope
0,"Alaska, USA",0,0,0,18,0
1,"Alaska, USA",1,9,14,0,28
2,"Alaska, USA",0,0,0,0,4
3,"Alaska, USA",0,1,2,0,31
4,"Alaska, USA",0,0,0,0,1
5,"Alaska, USA",0,3,9,0,0
6,"Alaska, USA",0,0,191,0,3
7,"Alaska, USA",7,0,1,0,32
8,"Alaska, USA",0,2,2,0,15
9,"Alaska, USA",1,5,1,0,6
10,"Alaska, USA",1,1,77,0,21
11,"Alaska, USA",5,0,0,0,15
12,"Alaska, USA",1,1,77,0,21
13,"Alaska, USA",0,1,0,0,1
14,"Alaska, USA",6,2,4,0,38
15,"Alaska, USA",0,0,0,0,0
16,"Alaska, USA",1,0,1,0,2
17,"Alaska, USA",6,4,15,0,44
18,"Alaska, USA",1,1,0,0,12
19,"Alaska, USA",0,0,0,0,0
20,"Alaska, USA",0,0,0,0,0
21,"Alaska, USA",0,0,0,0,0
22,"Alaska, USA",0,14,0,0,3
23,"Alaska, USA",0,0,0,0,8
24,"Alaska, USA",1,1,1,0,9
25,"Alaska, USA",0,0,0,0,0
26,"Alaska, USA",0,0,0,0,0
27,"Alaska, USA",0,0,0,0,0
28,"Alaska, USA",0,0,0,0,0
29,"Alaska, USA",0,0,0,0,4
...,...,...,...,...,...,...
287,"Washington, USA",2,0,0,0,0
288,"Washington, USA",0,1,0,0,0
289,"Washington, USA",0,0,0,0,0
290,"Washington, USA",0,0,0,0,0
291,"Washington, USA",18,14,114,0,122
292,"Washington, USA",0,0,0,0,0
293,"Washington, USA",0,0,0,0,0
294,"Washington, USA",0,0,0,0,0
295,"Washington, USA",0,0,0,0,0
296,"Washington, USA",0,0,0,0,0
297,"Washington, USA",0,0,0,1,0
298,"Washington, USA",0,0,0,2,0
299,"Washington, USA",0,0,0,0,0
300,"Washington, USA",4,1,1,0,2
301,"Washington, USA",2,1,0,0,6
302,"Washington, USA",1,3,1,0,0
303,"Washington, USA",0,0,0,2,0
304,"Washington, USA",0,0,1,0,1
305,"Washington, USA",1,3,0,0,5
306,"Washington, USA",2,5,1,0,40
307,"Washington, USA",4,2,9,0,13
308,"Washington, USA",0,1,7,0,2
309,"Washington, USA",1,0,6,0,8
310,"Washington, USA",0,4,2,0,11
311,"Washington, USA",0,1,10,0,13
312,"Washington, USA",0,0,0,7,0
313,"Washington, USA",0,0,0,7,0
314,"Washington, USA",0,0,0,7,0
315,"Washington, USA",0,0,0,7,0
316,NaN,121,138,346,310,949

In [14]:
# Grouping Foam Pieces together
fishing_group = WC_fishing.groupby(["State"])
WC_fishing_counts = fishing_group.sum()
WC_fishing_counts

,Fishing Tools,Fishing Nets,Fishing Lines,Fishing Gear,Rope
State,,,,,
"Alaska, USA",33,66,428,20,312
"California, USA",1574,1927,6247,1726,2980
"Hawaii, USA",901,2424,822,1370,2092
"Oregon, USA",42,200,151,237,639
"Washington, USA",121,138,346,310,949

In [15]:
# Create a Subtotal Column for Plastics collected in the data frame
WC_fishing_counts["Fisherman's Waste"]  = WC_fishing_counts.sum(axis=1)
WC_fishing_counts

,Fishing Tools,Fishing Nets,Fishing Lines,Fishing Gear,Rope,Fisherman's Waste
State,,,,,,
"Alaska, USA",33,66,428,20,312,859
"California, USA",1574,1927,6247,1726,2980,14454
"Hawaii, USA",901,2424,822,1370,2092,7609
"Oregon, USA",42,200,151,237,639,1269
"Washington, USA",121,138,346,310,949,1864

In [16]:
# Same process with Misc
random_mess = WC_renamed[["State", "Strapping Bands", "Other Packaging", "Other Trash", "Fireworks", 
                          "Appliances (refrigerators, washers, etc.)", "# of bags", "Construction Materials", "Tires", 
                          "Toys", "Diapers", "Syringes", "Tampons/Tampon Applicators", "Hygiene", "Glass Pieces"]]
random_mess

,State,Strapping Bands,Other Packaging,Other Trash,Fireworks,"Appliances (refrigerators, washers, etc.)",# of bags,Construction Materials,Tires,Toys,Diapers,Syringes,Tampons/Tampon Applicators,Hygiene,Glass Pieces
0,"Alaska, USA",0,50,53,0,0,0.0,0,0,4,0,0,0,8,0
1,"Alaska, USA",2,0,0,14,0,7.0,18,0,0,0,0,2,0,14
2,"Alaska, USA",1,0,0,0,0,0.0,59,0,0,1,0,0,0,57
3,"Alaska, USA",4,0,0,2,0,8.0,1228,3,0,0,1,0,0,80
4,"Alaska, USA",1,0,0,0,0,0.0,18,0,0,0,0,0,0,0
5,"Alaska, USA",4,0,0,15,2,0.0,433,0,0,0,0,0,0,340
6,"Alaska, USA",0,0,0,0,0,1.0,0,0,0,0,0,0,0,3
7,"Alaska, USA",1,0,0,1,0,4.0,18,1,0,0,0,1,0,61
8,"Alaska, USA",2,0,0,3,0,0.0,59,0,1,0,0,0,0,24
9,"Alaska, USA",4,0,0,0,1,0.0,48,0,0,0,0,0,0,20
10,"Alaska, USA",0,0,0,0,0,0.0,4,0,0,0,0,1,0,4
11,"Alaska, USA",2,0,0,0,0,2.0,2,0,0,0,0,1,0,1
12,"Alaska, USA",0,0,0,0,0,6.0,4,0,0,0,0,1,0,4
13,"Alaska, USA",3,0,0,0,0,1.0,0,0,0,0,0,0,0,3
14,"Alaska, USA",3,0,0,0,0,8.0,37,0,2,0,0,1,0,0
15,"Alaska, USA",0,0,0,0,0,1.0,0,1,0,0,0,0,0,1
16,"Alaska, USA",0,0,0,0,0,1.0,8,0,0,0,0,0,0,13
17,"Alaska, USA",12,0,0,1,5,10.0,1144,2,0,0,0,1,0,300
18,"Alaska, USA",1,0,0,0,0,1.0,5,0,0,0,1,0,0,0
19,"Alaska, USA",0,0,0,0,0,1.0,2,0,0,0,0,0,0,6
20,"Alaska, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
21,"Alaska, USA",0,0,0,0,0,3.0,0,0,0,0,0,0,0,3
22,"Alaska, USA",0,0,0,0,0,3.0,0,0,0,0,0,0,0,2
23,"Alaska, USA",0,0,0,1,0,1.0,15,0,0,0,0,0,0,16
24,"Alaska, USA",1,0,0,0,0,1.0,15,0,0,0,0,0,0,1
25,"Alaska, USA",0,0,0,0,0,1.0,0,0,0,0,0,0,0,1
26,"Alaska, USA",2,0,0,0,1,1.0,5,0,0,0,0,0,0,62
27,"Alaska, USA",1,0,0,0,1,2.0,0,0,0,0,0,0,0,1
28,"Alaska, USA",0,0,0,0,0,1.0,0,0,0,0,1,0,0,2
29,"Alaska, USA",0,0,0,0,0,1.0,17,0,0,0,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,"Washington, USA",4,0,0,4,1,15.0,3,0,1,0,1,0,0,395
288,"Washington, USA",0,0,0,0,0,7.0,2,0,0,0,0,0,0,42
289,"Washington, USA",0,0,3,0,0,0.0,0,0,0,0,0,0,0,0
290,"Washington, USA",0,2,9,0,0,0.0,0,0,0,0,0,0,0,0
291,"Washington, USA",30,0,0,0,2,23.0,180,0,12,5,16,16,0,91
292,"Washington, USA",0,0,2,0,0,0.0,0,0,0,0,0,0,0,0
293,"Washington, USA",0,7,0,0,0,0.0,0,0,1,0,0,0,0,0
294,"Washington, USA",0,0,4,0,0,0.0,0,0,0,0,0,0,0,0
295,"Washington, USA",0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
296,"Washington, USA",0,0,19,0,0,0.0,0,0,0,0,0,0,0,0
297,"Washington, USA",0,8,15,0,0,0.0,0,0,0,0,0,0,0,0
298,"Washington, USA",0,4,4,0,0,0.0,0,0,0,0,0,0,0,0
299,"Washington, USA",0,0,0,0,0,1.0,0,0,0,0,0,0,0,1
300,"Washington, USA",0,0,0,0,0,1.0,0,0,0,0,0,1,0,1
301,"Washington, USA",0,0,0,0,0,1.0,0,0,4,0,0,1,0,0
302,"Washington, USA",0,0,0,1,0,1.0,0,0,1,0,1,0,0,0
303,"Washington, USA",0,4,0,0,0,0.0,0,0,0,0,0,0,1,0
304,"Washington, USA",0,0,0,0,0,1.0,0,0,0,0,0,0,0,1
305,"Washington, USA",0,0,0,0,1,2.0,0,0,0,0,0,0,0,0
306,"Washington, USA",0,0,0,0,0,2.0,0,0,0,0,0,2,0,0
307,"Washington, USA",6,0,0,0,2,10.0,96,10,2,2,0,0,0,20
308,"Washington, USA",5,0,0,0,0,1.0,23,0,0,1,0,2,0,0
309,"Washington, USA",19,0,0,5,0,4.0,81,0,12,1,0,2,0,104
310,"Washington, USA",10,0,0,1,0,14.0,26,1,3,0,0,1,0,24
311,"Washington, USA",4,0,0,0,1,2.0,22,2,1,0,0,2,0,0
312,"Washington, USA",0,0,24,0,0,0.0,0,0,5,0,0,0,2,0
313,"Washington, USA",0,0,24,0,0,0.0,0,0,5,0,0,0,2,0
314,"Washington, USA",0,0,24,0,0,0.0,0,0,5,0,0,0,2,0
315,"Washington, USA",0,0,24,0,0,0.0,0,0,5,0,0,0,2,0
316,NaN,194,322,3485,803,10,NaN,1182,48,239,54,42,52,213,3332

In [17]:
random_trash = random_mess.groupby(["State"])
WC_misc_waste = random_trash.sum()
WC_misc_waste

,Strapping Bands,Other Packaging,Other Trash,Fireworks,"Appliances (refrigerators, washers, etc.)",# of bags,Construction Materials,Tires,Toys,Diapers,Syringes,Tampons/Tampon Applicators,Hygiene,Glass Pieces
State,,,,,,,,,,,,,,
"Alaska, USA",51,53,64,41,11,97.0,3294,12,8,5,4,9,8,1080
"California, USA",4956,4816,22680,1803,898,9640.0,9083,1453,3044,1256,1115,1683,2484,57027
"Hawaii, USA",474,740,3661,103,54,462.0,738,80,219,97,42,97,500,5407
"Oregon, USA",369,106,494,267,4,9.0,321,62,81,34,16,28,60,1359
"Washington, USA",194,322,3485,803,10,387.0,1182,48,239,54,42,52,213,3332

In [18]:
# Create a Subtotal Column for Miscellaneous items collected in the data frame
WC_misc_waste["Miscellaneous Waste Items"] = WC_misc_waste.sum(axis=1)
WC_misc_waste

,Strapping Bands,Other Packaging,Other Trash,Fireworks,"Appliances (refrigerators, washers, etc.)",# of bags,Construction Materials,Tires,Toys,Diapers,Syringes,Tampons/Tampon Applicators,Hygiene,Glass Pieces,Miscellaneous Waste Items
State,,,,,,,,,,,,,,,
"Alaska, USA",51,53,64,41,11,97.0,3294,12,8,5,4,9,8,1080,4737.0
"California, USA",4956,4816,22680,1803,898,9640.0,9083,1453,3044,1256,1115,1683,2484,57027,121938.0
"Hawaii, USA",474,740,3661,103,54,462.0,738,80,219,97,42,97,500,5407,12674.0
"Oregon, USA",369,106,494,267,4,9.0,321,62,81,34,16,28,60,1359,3210.0
"Washington, USA",194,322,3485,803,10,387.0,1182,48,239,54,42,52,213,3332,10363.0

In [19]:
WC_smoking_waste = WC_renamed[["State", "Cigarette Butts", "Tobacco Packs", "Cigar Tips", "Cigarette Lighters", ]]
WC_smoking_waste

,State,Cigarette Butts,Tobacco Packs,Cigar Tips,Cigarette Lighters
0,"Alaska, USA",0,0,0,0
1,"Alaska, USA",7,2,2,0
2,"Alaska, USA",89,9,0,0
3,"Alaska, USA",290,6,0,0
4,"Alaska, USA",2,0,2,0
5,"Alaska, USA",31,3,13,1
6,"Alaska, USA",264,2,0,0
7,"Alaska, USA",3,0,0,1
8,"Alaska, USA",62,1,4,0
9,"Alaska, USA",151,6,1,1
10,"Alaska, USA",89,0,0,0
11,"Alaska, USA",0,0,0,1
12,"Alaska, USA",59,0,0,0
13,"Alaska, USA",11,0,0,0
14,"Alaska, USA",4,0,2,6
15,"Alaska, USA",0,0,0,0
16,"Alaska, USA",6,1,0,1
17,"Alaska, USA",190,6,2,6
18,"Alaska, USA",0,0,0,1
19,"Alaska, USA",10,3,0,0
20,"Alaska, USA",0,0,0,0
21,"Alaska, USA",0,0,0,0
22,"Alaska, USA",0,0,0,0
23,"Alaska, USA",23,0,0,0
24,"Alaska, USA",26,1,0,0
25,"Alaska, USA",0,0,0,0
26,"Alaska, USA",42,2,0,1
27,"Alaska, USA",6,0,0,1
28,"Alaska, USA",5,0,0,0
29,"Alaska, USA",9,0,0,0
...,...,...,...,...,...
287,"Washington, USA",268,8,1,0
288,"Washington, USA",54,0,0,0
289,"Washington, USA",2,0,0,0
290,"Washington, USA",1,0,0,0
291,"Washington, USA",1016,20,21,18
292,"Washington, USA",0,0,0,0
293,"Washington, USA",0,0,0,0
294,"Washington, USA",1,0,0,0
295,"Washington, USA",10,0,0,0
296,"Washington, USA",3,0,0,0
297,"Washington, USA",2,0,0,0
298,"Washington, USA",0,0,0,0
299,"Washington, USA",0,0,0,0
300,"Washington, USA",0,3,0,0
301,"Washington, USA",0,0,0,0
302,"Washington, USA",4,0,2,0
303,"Washington, USA",4,0,0,0
304,"Washington, USA",0,0,1,0
305,"Washington, USA",400,0,8,1
306,"Washington, USA",400,0,3,3
307,"Washington, USA",17,18,1,0
308,"Washington, USA",11,1,0,0
309,"Washington, USA",59,11,1,1
310,"Washington, USA",277,11,23,3
311,"Washington, USA",20,12,0,0
312,"Washington, USA",0,0,0,0
313,"Washington, USA",0,0,0,0
314,"Washington, USA",0,0,0,0
315,"Washington, USA",0,0,0,0
316,NaN,13708,299,176,122

In [20]:
smoking_waste_group = WC_smoking_waste.groupby(["State"])
WC_smoking_waste_counts = smoking_waste_group.sum()
WC_smoking_waste_counts

,Cigarette Butts,Tobacco Packs,Cigar Tips,Cigarette Lighters
State,,,,
"Alaska, USA",2018,45,40,29
"California, USA",217132,5970,9393,3111
"Hawaii, USA",35976,262,130,196
"Oregon, USA",6621,143,103,141
"Washington, USA",13708,299,176,122

In [21]:
# Create a Subtotal Column for Plastics collected in the data frame
WC_smoking_waste_counts["Smoking Waste Items"]  = WC_smoking_waste_counts.sum(axis=1)
WC_smoking_waste_counts

,Cigarette Butts,Tobacco Packs,Cigar Tips,Cigarette Lighters,Smoking Waste Items
State,,,,,
"Alaska, USA",2018,45,40,29,2132
"California, USA",217132,5970,9393,3111,235606
"Hawaii, USA",35976,262,130,196,36564
"Oregon, USA",6621,143,103,141,7008
"Washington, USA",13708,299,176,122,14305

In [22]:
food_mess = WC_renamed[["State", "Food Wrappers", "Forks, Knives, Spoons", "Bottle Caps (Metal)", "Beverage Cans", 
                        "Paper Bags", "Cups, Plates (Paper)"]]
food_mess

,State,Food Wrappers,"Forks, Knives, Spoons",Bottle Caps (Metal),Beverage Cans,Paper Bags,"Cups, Plates (Paper)"
0,"Alaska, USA",16,0,0,19,0,0
1,"Alaska, USA",32,3,11,21,0,1
2,"Alaska, USA",54,0,10,10,0,1
3,"Alaska, USA",99,6,34,29,31,16
4,"Alaska, USA",4,0,0,1,1,0
5,"Alaska, USA",39,1,26,26,8,4
6,"Alaska, USA",47,0,2,4,0,0
7,"Alaska, USA",17,3,0,5,0,4
8,"Alaska, USA",55,2,8,23,16,2
9,"Alaska, USA",88,15,11,26,15,17
10,"Alaska, USA",16,0,0,21,0,1
11,"Alaska, USA",0,0,0,10,0,1
12,"Alaska, USA",16,0,0,21,0,1
13,"Alaska, USA",7,1,0,7,0,0
14,"Alaska, USA",25,2,2,10,1,1
15,"Alaska, USA",1,0,0,3,0,0
16,"Alaska, USA",1,0,1,3,0,0
17,"Alaska, USA",152,11,27,42,15,17
18,"Alaska, USA",2,0,0,0,0,3
19,"Alaska, USA",14,2,3,25,0,11
20,"Alaska, USA",0,0,0,0,0,0
21,"Alaska, USA",0,0,0,3,0,0
22,"Alaska, USA",1,0,1,10,0,0
23,"Alaska, USA",0,0,0,2,0,0
24,"Alaska, USA",0,0,0,5,3,3
25,"Alaska, USA",7,0,2,0,6,1
26,"Alaska, USA",1,0,5,1,0,1
27,"Alaska, USA",23,0,1,1,0,0
28,"Alaska, USA",6,0,0,1,0,0
29,"Alaska, USA",8,0,2,1,1,0
...,...,...,...,...,...,...,...
287,"Washington, USA",60,12,55,94,8,10
288,"Washington, USA",25,1,4,1,0,0
289,"Washington, USA",0,0,0,0,0,0
290,"Washington, USA",0,0,0,0,0,0
291,"Washington, USA",345,36,42,159,70,53
292,"Washington, USA",0,0,0,0,0,0
293,"Washington, USA",0,1,0,0,0,0
294,"Washington, USA",0,0,0,0,0,0
295,"Washington, USA",4,0,0,0,0,0
296,"Washington, USA",0,0,0,0,0,0
297,"Washington, USA",0,0,0,11,0,0
298,"Washington, USA",0,0,0,0,0,0
299,"Washington, USA",0,0,0,0,0,0
300,"Washington, USA",9,0,0,1,0,0
301,"Washington, USA",0,0,0,21,0,3
302,"Washington, USA",4,0,1,0,0,2
303,"Washington, USA",0,1,0,0,0,0
304,"Washington, USA",3,0,0,0,0,1
305,"Washington, USA",17,0,0,2,0,0
306,"Washington, USA",35,0,1,0,0,0
307,"Washington, USA",85,0,7,104,6,3
308,"Washington, USA",15,0,1,8,1,3
309,"Washington, USA",107,2,2,27,4,7
310,"Washington, USA",113,10,8,48,28,47
311,"Washington, USA",66,0,4,49,4,0
312,"Washington, USA",5,2,0,3,0,0
313,"Washington, USA",5,2,0,3,0,0
314,"Washington, USA",5,2,0,3,0,0
315,"Washington, USA",5,2,0,3,0,0
316,NaN,4834,385,664,1916,299,375

In [23]:
food_waste = food_mess.groupby(["State"])
WC_misc_food_waste = food_waste.sum()
WC_misc_food_waste

,Food Wrappers,"Forks, Knives, Spoons",Bottle Caps (Metal),Beverage Cans,Paper Bags,"Cups, Plates (Paper)"
State,,,,,,
"Alaska, USA",1169,55,177,399,134,135
"California, USA",119390,13059,31088,18691,8797,11724
"Hawaii, USA",5999,1416,3660,1612,543,696
"Oregon, USA",2502,200,857,797,333,121
"Washington, USA",4834,385,664,1916,299,375

In [24]:
# Create a Subtotal Column for Plastics collected in the data frame
WC_misc_food_waste["Misc Food Waste Items"]  = WC_misc_food_waste.sum(axis=1)
WC_misc_food_waste

,Food Wrappers,"Forks, Knives, Spoons",Bottle Caps (Metal),Beverage Cans,Paper Bags,"Cups, Plates (Paper)",Misc Food Waste Items
State,,,,,,,
"Alaska, USA",1169,55,177,399,134,135,2069
"California, USA",119390,13059,31088,18691,8797,11724,202749
"Hawaii, USA",5999,1416,3660,1612,543,696,13926
"Oregon, USA",2502,200,857,797,333,121,4810
"Washington, USA",4834,385,664,1916,299,375,8473

In [25]:
# Merge
WC_plastic_foam = pd.merge(WC_plastic_count, WC_foam_counts, on="State", how="left")
WC_fishing_smoking = pd.merge(WC_fishing_counts, WC_smoking_waste_counts, on="State", how="left")
WC_miscfood_misc = pd.merge(WC_misc_food_waste, WC_misc_waste, on="State", how="left")
WC_four = pd.merge(WC_plastic_foam, WC_fishing_smoking, on="State", how="left")
WC_total = pd.merge(WC_four, WC_miscfood_misc, on="State", how="left")
WC_grand_total = WC_total.drop(columns = ["Food Containers (Plastic)", "Bottle Caps (Plastic)", "Lids (Plastic)", 
                                                   "Straws, Stirrers", "Beverage Bottles (Plastic)", "Grocery Bags (Plastic)", "Other Plastic Bags", 
                                                  "Cups, Plates (Plastic)", "6-Pack Holders", "Other Plastic Bottles", "Condoms", "Plastic Pieces", 
                                                   "Food Containers (Foam)", "Cups, Plates (Foam)", "Other Plastic/Foam Packaging", "Foam Pieces", 
                                                   "Fishing Tools", "Fishing Nets", "Fishing Lines", "Fishing Gear", "Rope", "Cigarette Butts", 
                                                   "Tobacco Packs", "Cigar Tips", "Cigarette Lighters", "Food Wrappers", "Forks, Knives, Spoons", 
                                                   "Bottle Caps (Metal)", "Beverage Cans", "Paper Bags", "Cups, Plates (Paper)", "Strapping Bands", 
                                                   "Other Packaging", "Other Trash", "Fireworks", "Appliances (refrigerators, washers, etc.)", 
                                                   "# of bags", "Construction Materials", "Tires", "Toys", "Diapers", "Syringes", 
                                                   "Tampons/Tampon Applicators", "Hygiene", "Glass Pieces"])
WC_grand_total

,Plastic Waste,Foam Waste,Fisherman's Waste,Smoking Waste Items,Misc Food Waste Items,Miscellaneous Waste Items
State,,,,,,
"Alaska, USA",5098,7320,859,2132,2069,4737.0
"California, USA",464881,167522,14454,235606,202749,121938.0
"Hawaii, USA",69467,7968,7609,36564,13926,12674.0
"Oregon, USA",20207,6923,1269,7008,4810,3210.0
"Washington, USA",21456,11358,1864,14305,8473,10363.0

In [26]:
# Saving West Coast Data to CSV
WC_grand_total.to_csv("Resources/2017_WC_Litter.csv", index=True)

In [27]:
East_Coast_Waste = "Resources/2017_EC_Litter.csv"
West_Coast_Waste = "Resources/2017_WC_Litter.csv"

In [28]:
East_Coast_Waste = pd.read_csv(East_Coast_Waste)
West_Coast_Waste = pd.read_csv(West_Coast_Waste)

In [29]:
East_Coast_Waste.head()

,State,Plastic Waste,Foam Waste,Fisherman's Waste,Smoking Waste Items,Misc Food Waste Items,Miscellaneous Waste Items
0,"Alabama, USA",35165,11861,1777,21595,16867,8137.0
1,"Connecticut, USA",47755,743584,2045,35156,22517,8773.0
2,"Delaware, USA",21928,3677,1494,17770,9418,4707.0
3,"Florida, USA",385538,50718,15121,123798,97693,61487.0
4,"Georgia, USA",26434,8124,1413,10320,10796,12952.0

In [30]:
West_Coast_Waste.head()

,State,Plastic Waste,Foam Waste,Fisherman's Waste,Smoking Waste Items,Misc Food Waste Items,Miscellaneous Waste Items
0,"Alaska, USA",5098,7320,859,2132,2069,4737.0
1,"California, USA",464881,167522,14454,235606,202749,121938.0
2,"Hawaii, USA",69467,7968,7609,36564,13926,12674.0
3,"Oregon, USA",20207,6923,1269,7008,4810,3210.0
4,"Washington, USA",21456,11358,1864,14305,8473,10363.0

In [31]:
# Working on Merging both EC & WC Data
East_West_Litter = pd.concat([West_Coast_Waste, East_Coast_Waste], axis=0, join="outer")
East_West_Litter

,State,Plastic Waste,Foam Waste,Fisherman's Waste,Smoking Waste Items,Misc Food Waste Items,Miscellaneous Waste Items
0,"Alaska, USA",5098,7320,859,2132,2069,4737.0
1,"California, USA",464881,167522,14454,235606,202749,121938.0
2,"Hawaii, USA",69467,7968,7609,36564,13926,12674.0
3,"Oregon, USA",20207,6923,1269,7008,4810,3210.0
4,"Washington, USA",21456,11358,1864,14305,8473,10363.0
0,"Alabama, USA",35165,11861,1777,21595,16867,8137.0
1,"Connecticut, USA",47755,743584,2045,35156,22517,8773.0
2,"Delaware, USA",21928,3677,1494,17770,9418,4707.0
3,"Florida, USA",385538,50718,15121,123798,97693,61487.0
4,"Georgia, USA",26434,8124,1413,10320,10796,12952.0
5,"Louisiana, USA",26912,3941,1990,5632,8492,4377.0
6,"Maine, USA",10078,4694,3709,17768,4134,3246.0
7,"Maryland, USA",36206,23829,1353,7148,7733,5738.0
8,"Massachusetts, USA",77070,333904,6451,34310,29460,12873.0
9,"Mississippi, USA",87203,36744,8107,55403,31130,23295.0
10,"New Hampshire, USA",7841,11349,2570,16825,2942,2625.0
11,"New Jersey, USA",90585,16627,3606,33887,38146,12799.0
12,"New York, USA",109689,28948,5212,39777,43243,24594.0
13,"North Carolina, USA",43389,10259,1812,45141,22804,11395.0
14,"Rhode Island, USA",51891,15189,7188,36663,24146,18129.0
15,"South Carolina, USA",23743,10304,3695,18905,8898,6812.0
16,"Texas, USA",148000,31775,16124,42546,45236,33339.0
17,"Virginia, USA",73196,23336,2247,32427,37484,20764.0

In [32]:
Combo_Data = [West_Coast_Waste, East_Coast_Waste]

In [33]:
East_West_Litter = pd.concat(Combo_Data, keys=['West Coast', 'East Coast']).reset_index()
East_West_Litter

,level_0,level_1,State,Plastic Waste,Foam Waste,Fisherman's Waste,Smoking Waste Items,Misc Food Waste Items,Miscellaneous Waste Items
0,West Coast,0,"Alaska, USA",5098,7320,859,2132,2069,4737.0
1,West Coast,1,"California, USA",464881,167522,14454,235606,202749,121938.0
2,West Coast,2,"Hawaii, USA",69467,7968,7609,36564,13926,12674.0
3,West Coast,3,"Oregon, USA",20207,6923,1269,7008,4810,3210.0
4,West Coast,4,"Washington, USA",21456,11358,1864,14305,8473,10363.0
5,East Coast,0,"Alabama, USA",35165,11861,1777,21595,16867,8137.0
6,East Coast,1,"Connecticut, USA",47755,743584,2045,35156,22517,8773.0
7,East Coast,2,"Delaware, USA",21928,3677,1494,17770,9418,4707.0
8,East Coast,3,"Florida, USA",385538,50718,15121,123798,97693,61487.0
9,East Coast,4,"Georgia, USA",26434,8124,1413,10320,10796,12952.0
10,East Coast,5,"Louisiana, USA",26912,3941,1990,5632,8492,4377.0
11,East Coast,6,"Maine, USA",10078,4694,3709,17768,4134,3246.0
12,East Coast,7,"Maryland, USA",36206,23829,1353,7148,7733,5738.0
13,East Coast,8,"Massachusetts, USA",77070,333904,6451,34310,29460,12873.0
14,East Coast,9,"Mississippi, USA",87203,36744,8107,55403,31130,23295.0
15,East Coast,10,"New Hampshire, USA",7841,11349,2570,16825,2942,2625.0
16,East Coast,11,"New Jersey, USA",90585,16627,3606,33887,38146,12799.0
17,East Coast,12,"New York, USA",109689,28948,5212,39777,43243,24594.0
18,East Coast,13,"North Carolina, USA",43389,10259,1812,45141,22804,11395.0
19,East Coast,14,"Rhode Island, USA",51891,15189,7188,36663,24146,18129.0
20,East Coast,15,"South Carolina, USA",23743,10304,3695,18905,8898,6812.0
21,East Coast,16,"Texas, USA",148000,31775,16124,42546,45236,33339.0
22,East Coast,17,"Virginia, USA",73196,23336,2247,32427,37484,20764.0

In [34]:
East_West_Litter = East_West_Litter.drop(columns=['level_1'])
East_West_Litter

,level_0,State,Plastic Waste,Foam Waste,Fisherman's Waste,Smoking Waste Items,Misc Food Waste Items,Miscellaneous Waste Items
0,West Coast,"Alaska, USA",5098,7320,859,2132,2069,4737.0
1,West Coast,"California, USA",464881,167522,14454,235606,202749,121938.0
2,West Coast,"Hawaii, USA",69467,7968,7609,36564,13926,12674.0
3,West Coast,"Oregon, USA",20207,6923,1269,7008,4810,3210.0
4,West Coast,"Washington, USA",21456,11358,1864,14305,8473,10363.0
5,East Coast,"Alabama, USA",35165,11861,1777,21595,16867,8137.0
6,East Coast,"Connecticut, USA",47755,743584,2045,35156,22517,8773.0
7,East Coast,"Delaware, USA",21928,3677,1494,17770,9418,4707.0
8,East Coast,"Florida, USA",385538,50718,15121,123798,97693,61487.0
9,East Coast,"Georgia, USA",26434,8124,1413,10320,10796,12952.0
10,East Coast,"Louisiana, USA",26912,3941,1990,5632,8492,4377.0
11,East Coast,"Maine, USA",10078,4694,3709,17768,4134,3246.0
12,East Coast,"Maryland, USA",36206,23829,1353,7148,7733,5738.0
13,East Coast,"Massachusetts, USA",77070,333904,6451,34310,29460,12873.0
14,East Coast,"Mississippi, USA",87203,36744,8107,55403,31130,23295.0
15,East Coast,"New Hampshire, USA",7841,11349,2570,16825,2942,2625.0
16,East Coast,"New Jersey, USA",90585,16627,3606,33887,38146,12799.0
17,East Coast,"New York, USA",109689,28948,5212,39777,43243,24594.0
18,East Coast,"North Carolina, USA",43389,10259,1812,45141,22804,11395.0
19,East Coast,"Rhode Island, USA",51891,15189,7188,36663,24146,18129.0
20,East Coast,"South Carolina, USA",23743,10304,3695,18905,8898,6812.0
21,East Coast,"Texas, USA",148000,31775,16124,42546,45236,33339.0
22,East Coast,"Virginia, USA",73196,23336,2247,32427,37484,20764.0

In [35]:
# Rename 
East_West_Litter_fin = East_West_Litter.rename(columns = {"level_0" : "Coast"})
East_West_Litter_fin

,Coast,State,Plastic Waste,Foam Waste,Fisherman's Waste,Smoking Waste Items,Misc Food Waste Items,Miscellaneous Waste Items
0,West Coast,"Alaska, USA",5098,7320,859,2132,2069,4737.0
1,West Coast,"California, USA",464881,167522,14454,235606,202749,121938.0
2,West Coast,"Hawaii, USA",69467,7968,7609,36564,13926,12674.0
3,West Coast,"Oregon, USA",20207,6923,1269,7008,4810,3210.0
4,West Coast,"Washington, USA",21456,11358,1864,14305,8473,10363.0
5,East Coast,"Alabama, USA",35165,11861,1777,21595,16867,8137.0
6,East Coast,"Connecticut, USA",47755,743584,2045,35156,22517,8773.0
7,East Coast,"Delaware, USA",21928,3677,1494,17770,9418,4707.0
8,East Coast,"Florida, USA",385538,50718,15121,123798,97693,61487.0
9,East Coast,"Georgia, USA",26434,8124,1413,10320,10796,12952.0
10,East Coast,"Louisiana, USA",26912,3941,1990,5632,8492,4377.0
11,East Coast,"Maine, USA",10078,4694,3709,17768,4134,3246.0
12,East Coast,"Maryland, USA",36206,23829,1353,7148,7733,5738.0
13,East Coast,"Massachusetts, USA",77070,333904,6451,34310,29460,12873.0
14,East Coast,"Mississippi, USA",87203,36744,8107,55403,31130,23295.0
15,East Coast,"New Hampshire, USA",7841,11349,2570,16825,2942,2625.0
16,East Coast,"New Jersey, USA",90585,16627,3606,33887,38146,12799.0
17,East Coast,"New York, USA",109689,28948,5212,39777,43243,24594.0
18,East Coast,"North Carolina, USA",43389,10259,1812,45141,22804,11395.0
19,East Coast,"Rhode Island, USA",51891,15189,7188,36663,24146,18129.0
20,East Coast,"South Carolina, USA",23743,10304,3695,18905,8898,6812.0
21,East Coast,"Texas, USA",148000,31775,16124,42546,45236,33339.0
22,East Coast,"Virginia, USA",73196,23336,2247,32427,37484,20764.0

In [36]:
# Saving Overall Data together
East_West_Litter_fin.to_csv("2017_Bicoastal_Litter.csv", index=True)